pnc-photo {
    .cropped-frame {
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 100%;
        background: color($colors-secondary, grey95);
        overflow: hidden;
    }
}
