warning-text {
    text-align: center;
    color: color($colors, grey13);
    margin-bottom: 10px;

    .very-important {
        font-weight: bold;
    }

    .content {
        padding-top: 5px;
        white-space: pre-line;
    }
}
