<mat-expansion-panel [expanded]="true" [ngClass]="{'no-data' : professionalAssessments.length === 0}">
    <mat-expansion-panel-header [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        <label class="flex3"> {{ 'PROFESSIONAL_ASSESSMENT.LIST.HEADER.INTERVIEW_DATE' | translate }} </label>
        <label class="flex3"> {{ 'PROFESSIONAL_ASSESSMENT.LIST.HEADER.STATUS' | translate }} </label>
        <label class="flex3"> {{ 'PROFESSIONAL_ASSESSMENT.LIST.HEADER.REDACTOR' | translate }} </label>
        <label class="flex4"> {{ 'PROFESSIONAL_ASSESSMENT.LIST.HEADER.INTERVIEW_TYPE' | translate }} </label>
        <div class="button-placeholder">
            <!-- Occupe de l'espace pour s'aligner avec le bouton -->
        </div>
    </mat-expansion-panel-header>
    <no-data *ngIf="professionalAssessments.length === 0; else professionalAssessmentsDataBlock"></no-data>
    <ng-template #professionalAssessmentsDataBlock>
        <professional-assessment *ngFor="let professionalAssessment of professionalAssessments" [professionalAssessment]="professionalAssessment">
        </professional-assessment>
    </ng-template>
</mat-expansion-panel>
<div *ngIf="professionalAssessments.length > 0 && legend">
    <div class="information-message">{{professionalAssessments.length}} {{ 'PROFESSIONAL_ASSESSMENT.LIST.LEGEND' | translate }}</div>
</div>
