<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [pnc]="pnc">
            <ng-container slot="center">
                <span *ngIf="pnc">{{ 'GLOBAL.PROFESSIONAL_INTERVIEWS_ARCHIVES' | isMyPage: pnc | translate }}</span>
            </ng-container>
        </page-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver()"></edossier-spinner>
        <div class="global-container professional-interview-list-container" *ngIf="loadingIsOver()">
            <professional-interviews [professionalInterviews]="professionalInterviews" [legend]="false" (detailButtonClicked)="goToProfessionalInterviewDetail($event)">
            </professional-interviews>
        </div>
    </div>
</ion-content>
