logbook-details {

    .logbook-event-card {
        padding: 10px 20px;

        pnc-photo {
            margin: 20px;
        }


        .logbook-info-container {
            padding: 10px 20px 10px 10px;
            width: 100%;

            .logbook-info {
                display: flex;
                justify-content: space-between;
                height: 25px;

                .title {
                    flex: 2;

                    span {
                        font-size: 1.2em;
                        color: color($colors-secondary, blue77);
                    }
                }

                .creation-date-info {
                    color: color($colors, grey50);
                }

                .icons {
                    flex: 2;
                    justify-content: flex-end;
                    display: flex;

                    span.edospnc-important {
                        padding-top: 5px;
                    }
                }

                .edospnc-important::before {
                    color: color($colors-secondary, red80);
                    font-size: 24px;
                }

                .edospnc-pnc::before {
                    color: color($colors-secondary, blue77);
                    font-size: 50px;
                    position: relative;
                    top: -14px;
                }

                .category-label {
                    padding-top: 2px;

                    span {
                        height: 30px;
                        background-color: color($colors-secondary, grey70);
                        border-radius: 4px;
                        padding: 5px 10px;
                        font-weight: normal;
                    }
                }

                .redactor {
                    position: relative;
                    top: -4px;
                }
            }

            ion-label {
                font-weight: bold;
            }



            .logbook-info-content {
                p {
                    white-space: pre-line;
                }
            }

            .logbook-notified-pnc {
                ion-label {
                    margin-bottom: 4px;
                }
            }
        }
    }
}
