<ion-card class="logbook-event-card" [ngClass]="{'clickable':disabled,'disabled':disabled}">

    <ion-card-content no-padding class="pnc-info-panel">
        <div class="flex">
            <pnc-photo [pnc]="logbookEvent.redactor" [size]="50"></pnc-photo>
            <div class="logbook-info-container">
                <div>
                    <div class="logbook-info">
                        <div class="">
                            <span class="title value">{{ logbookEvent.title }}</span>
                        </div>
                        <div class="">
                            <span class="value" *ngIf="logbookEvent.important">!</span>
                            <span class="edospnc-pnc" *ngIf="logbookEvent.pncInitiator"></span>
                            <span class="category-label value">{{ logbookEvent.category.label }}</span>
                        </div>
                    </div>
                    <div class="logbook-info">
                        <div class="">
                            <span class="value">{{ logbookEvent?.redactor.lastName }} {{ logbookEvent?.redactor.firstName }}</span>
                        </div>
                        <div class="">
                            <span class="value">{{ 'LOGBOOK.DETAILS.CREATED_THE' | translate }} {{ logbookEvent.creationDate | date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                </div>
                <div class="logbook-info-content">
                    <p>{{ logbookEvent.content }}</p>
                </div>
                <div *ngIf="isManager()">
                    <ion-label>{{ 'LOGBOOK.DETAILS.NOTIFIED_PNCS' | translate }} :</ion-label>
                </div>
                <div *ngIf="isManager()" [ngClass]="{'no-value' : !logbookEvent.notifiedPncs[0] }">
                    <span *ngFor="let pnc of logbookEvent.notifiedPncs; index as i; last as l">{{pnc.lastName}} {{pnc.firstName}} ({{pnc.speciality}})
                        <span *ngIf="!l">;</span>
                    </span>
                </div>
            </div>
        </div>
    </ion-card-content>
</ion-card>
