offline-indicator {
    display: flex;

    div {
        width: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modified-offline {
        background: color($colors, blue80);
    }

    .up-to-date {
        background: color($colors, green70);
    }

    .out-dated {
        background: color($colors, orange60);
    }

    .long-dated {
        background: color($colors, red80);
    }
}
