<mat-expansion-panel *ngIf='eObs' class="mat-elevation-z">
    <mat-expansion-panel-header class="e-observation" [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        <label class="e-observation-date">{{eObs.rotationDate | date : 'dd/MM/yyyy' : 'UTC'}}</label>
        <label class="e-observation-type">{{eObs.type}}</label>
        <label class="e-observation-writer">
            {{eObs.redactor.matricule}} - {{eObs.redactor.lastName}}
            <!-- <button ion-fab mini>
    <span class="edospnc-memo"></span>
</button> -->
            <ion-icon name="edospnc-memo" class="edospnc-memo"></ion-icon>
        </label>
    </mat-expansion-panel-header>
</mat-expansion-panel>
