<ion-row>
    <ion-col col-2 class="label-bold">{{module?.date | date : 'dd/MM/yyyy' : 'UTC'}}</ion-col>
    <ion-col col-1 class="label-bold">{{'PROFESSIONAL_LEVEL.MODULE_TYPE.' + module?.moduleType | translateOrEmpty}}</ion-col>
    <ion-col col-3>{{module?.label}}</ion-col>
    <ion-col col-3><ion-badge class="score-badge" *ngFor="let score of module?.scores" >{{score?.score | scorePercent}} % ({{score?.evaluationCode}})</ion-badge></ion-col>
    <ion-col col-2><span [ngClass]="getModuleStatusPointCssClass()"></span>{{'PROFESSIONAL_LEVEL.MODULE_STATUS.' + module?.moduleResultStatus | translateOrEmpty}}</ion-col>
    <ion-col col-1></ion-col>
</ion-row>