<div class="module-card">
    <label class="module-date">{{module?.date | date : 'dd/MM/yyyy' : 'UTC'}}</label>
    <label class="module-type">{{'PROFESSIONAL_LEVEL.MODULE_TYPE.' + module?.moduleType | translateOrEmpty}}</label>
    <label class="module-label">{{module?.label}}</label>
    <div class="module-scores">
        <ion-badge class="score-badge" *ngFor="let score of module?.scores"><span *ngIf="(score?.score  | scorePercent) !== 100">{{score?.score | scorePercent}}% ({{score?.evaluationCode}})</span></ion-badge>
    </div>
    <div class="module-result">
        <span [ngClass]="getModuleStatusPointCssClass()"></span>{{'PROFESSIONAL_LEVEL.MODULE_STATUS.' + module?.moduleResultStatus | translateOrEmpty}}
    </div>
    <button class="module-detail" ion-fab mini (click)="goToModuleDetail(module)">
        <ion-icon name="paper"></ion-icon>
    </button>
</div>
