<ion-row>
    <ion-col col-2 class="label-bold">{{module?.endDate | date : 'dd/MM/yyyy' : 'UTC'}}</ion-col>
    <ion-col col-1 class="label-bold">{{'PROFESSIONAL_LEVEL.MODULE_TYPE.' + module?.moduleType | translate}}</ion-col>
    <ion-col col-3>{{module?.label}}</ion-col>
    <ion-col col-3>
        <ion-badge class="score-badge" *ngFor="let score of module?.scores"><span *ngIf="(score.score  | scorePercent) !== 100">{{score.score | scorePercent}} % ({{score.evaluation}})</span></ion-badge>
    </ion-col>
    <ion-col col-2><span [ngClass]="getModuleStatusPointCssClass()"></span>{{'PROFESSIONAL_LEVEL.MODULE_STATUS.' + module?.moduleResultStatus | translate}}</ion-col>
    <ion-col col-1><button class="niv3-button" ion-fab mini>
            <ion-icon name="paper" (click)="goToEvaluationSheetPage(module)"></ion-icon>
        </button></ion-col>
</ion-row>
