module-card {

    .module-card {
        width: 100%;
        height: 47px;
        display: flex;
        align-items: center;
        padding: 0 10px;

        & > * {
            color: color($colors, grey10);
        }

        .module-date {
            min-width: 120px;
        }

        .module-type {
            min-width: 90px;
        }

        .module-label {
            flex: 1;
        }

        .module-scores {
            @media (max-width: 800px) {
                min-width: 88px;
                max-width: 88px;
            }

            min-width: 250px;

            padding-left: 10px;
            margin: 2px;

            .score-badge {
                margin: 2px;
                background-color: color($colors, grey40);
                font-weight: normal;
                border-radius: 5px;
            }
        }

        .module-result {
            width: 150px;
            display: flex;
            align-items: center;
        }

        .module-detail {
            width: 30px;

            button {
                margin: 0;
                padding: 0;
                color: color($colors, white);
                background-color: color($colors, bluegrey);
                width: 30px;
                height: 30px;

                span:before {
                    font-size: 20px;
                }
            }

        }

    }
}
