<ion-header>
    <ion-toolbar>
        <page-header [showSettingsIcon]="false">
            <ng-container slot="center">{{ 'GLOBAL.APP_NAME' | translate }}</ng-container>
        </page-header>
    </ion-toolbar>
</ion-header>

<ion-content no-bounce>
    <!-- le fichier css n'est pas pris en compte sur IE et edge, c'est pourquoi on applique directement les styles sur les composants-->
    <div style="text-align: center; font-size: 1.8rem; margin-top: 100px">
        <ion-icon name="warning" style="color:#E53A40"></ion-icon>
        <div style="margin-top: 10px">{{ 'GLOBAL.APPLICATION_UNSUPPORTED.TITLE' | translate }}</div>
        <div style="margin: 10px 100px 10px 100px; font-weight: bold;">{{ 'GLOBAL.APPLICATION_UNSUPPORTED.MESSAGE' | translate }}
        </div>
        <div>{{ 'GLOBAL.APPLICATION_UNSUPPORTED.MENTION' | translate }}</div>
    </div>
</ion-content>
