:host {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 1.2em;

    .fix-recipient-content {
        margin: 10px;
        width: 100%;
    }

    .congratulation-letter-title {
        font-weight: bold;
        margin: 5px;
    }

    .congratulation-letter-title-label {
        margin: 5px;
    }

    .congratulation-letter-pnc {
        margin: 5px;
    }

    .congratulation-letter-new-recipient {
        margin-top: 20px;
        margin-bottom: 5px;
        font-weight: bold;
        color: var(--ion-color-primarylight);
    }


}
