<div *ngIf="editEvent; else pageBlock">
    <form [formGroup]="logbookEventForm">
        <ion-grid>
            <ion-row class="event-date-and-checkbox-row">
                <ion-item class="event-date">
                    <ion-label class="required">{{ 'LOGBOOK.EDIT.EVENT_DATE' | translate }}</ion-label>
                    <edospnc-datetime [ngModelOptions]="{standalone: true}" [(ngModel)]="logbookEvent.eventDate"
                        [displayIcon]="false">
                    </edospnc-datetime>
                </ion-item>
                <ion-item class="event-checkbox" item-end>
                    <ion-label item-end>{{ 'LOGBOOK.EDIT.PNC_ORIGIN' | translate }}</ion-label>
                    <ion-checkbox item-end [(ngModel)]="logbookEvent.pncInitiator" [checked]="pncInitiator"
                        formControlName="pncInitiator">
                    </ion-checkbox>
                </ion-item>
                <ion-item class="event-checkbox" item-end>
                    <ion-label>{{ 'LOGBOOK.EDIT.IMPORTANT' | translate }}</ion-label>
                    <ion-checkbox item-end [(ngModel)]="logbookEvent.important" [checked]="important"
                        formControlName="important">
                    </ion-checkbox>
                </ion-item>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="category">
                        <ion-label class="required" floating>{{ 'LOGBOOK.EDIT.CATEGORY' | translate }}</ion-label>
                        <ion-select interface="popover" [compareWith]="compareCategories"
                            [(ngModel)]="logbookEvent.category" formControlName="category">
                            <ion-option *ngFor="let category of logbookEventCategories" [value]="category">
                                {{category?.label}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="title-row">
                <ion-col col-12>
                    <ion-item>
                        <ion-label class="required" floating>{{ 'LOGBOOK.EDIT.EVENT_TITLE' | translate }}</ion-label>
                        <ion-input #eventTitle type="text" class="event-title" [(ngModel)]="logbookEvent.title"
                            formControlName="title" autocorrect="on" [maxlength]="titleMaxLength"></ion-input>
                    </ion-item>
                    <span class="event-length">{{eventTitle.value.length}}/{{titleMaxLength}}</span>
                </ion-col>
            </ion-row>
            <ion-row class="description-row">
                <ion-col col-12>
                    <ion-label class="required" floating>{{ 'LOGBOOK.EDIT.EVENT_DESCRIPTION' | translate }}</ion-label>
                    <text-editor name="eventContent" [mode]="TextEditorModeEnum.FULL"
                        [ngModelOptions]="{standalone: true}" [(ngModel)]="logbookEvent.content"
                        [parentForm]="logbookEventForm" [controlForm]="'content'"
                        [placeholder]="'LOGBOOK.EDIT.EVENT_DESCRIPTION' | translate">
                    </text-editor>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <document-manager [documents]="logbookEvent.attachmentFiles" [readonly]="false"></document-manager>
                </ion-col>
            </ion-row>
            <ion-row class="notification-row">
                <ion-col class="persons-to-notify">
                    <ion-label>{{ 'LOGBOOK.EDIT.PERSONS_TO_NOTIFY' | translate }} :</ion-label>
                    <ion-item class="event-checkbox">
                        <ion-label>
                            <span [ngClass]="{'no-value' : !pnc.pncInstructor }">{{ pnc.pncInstructor?.lastName }}
                                {{ pnc.pncInstructor?.firstName | titlecase}} </span> ({{ 'PNC_IDENTITY.REFERENT_INSTRUCTOR'
                        | translate }})</ion-label>

                        <ion-checkbox [disabled]="!pnc.pncInstructor"
                            (ionChange)="updatePncNotifiedList($event, pnc.pncInstructor)"
                            [checked]="isPncNotified(pnc.pncInstructor)"></ion-checkbox>
                    </ion-item>
                    <ion-item class="event-checkbox">
                        <ion-label>
                            <span [ngClass]="{'no-value' : !pnc.pncRds }">{{ pnc.pncRds?.lastName}}
                                {{ pnc.pncRds?.firstName | titlecase}} </span> ({{ 'PNC_IDENTITY.RDS' |
                        translate }})</ion-label>
                        <ion-checkbox [disabled]="!pnc.pncRds" (ionChange)="updatePncNotifiedList($event, pnc.pncRds)"
                            [checked]="isPncNotified(pnc.pncRds)"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col class="other-contacts">
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- Barre de boutons -->
        <div class="button-bar-right button-bar">
            <!-- Bouton Annuler -->
            <button ion-button color="primary" outline (click)="cancelLogbookEventCreationOrEdition()">
                {{ 'LOGBOOK.BUTTONS.CANCEL' | translate }}
            </button>
            <!-- Bouton enregistrer -->
            <button ion-button
                *ngIf="logbookEvent.mode === LogbookEventModeEnum.CREATION || logbookEvent.mode === LogbookEventModeEnum.LINKED_EVENT_CREATION"
                color="primary" (click)="confirmSaveLogbookEvent()" [disabled]="logbookEventForm.invalid">
                {{ 'LOGBOOK.BUTTONS.SAVE' | translate }}
            </button>
            <!-- Bouton mettre à jour-->
            <button ion-button #updateEvent *ngIf="logbookEvent.mode === LogbookEventModeEnum.EDITION" color="primary"
                (click)="confirmUpdateLogbookEvent()" [disabled]="logbookEventForm.invalid && !formHasBeenModified()">
                {{ 'LOGBOOK.BUTTONS.UPDATE' | translate }}
            </button>
        </div>
    </form>
</div>
<ng-template #pageBlock>

    <div class="flex">
        <div class="draw-ligne"></div>
        <div class="logbook-info-date">
            <span class="value">{{ 'LOGBOOK.DETAILS.EVENT_DATE' | translate }}
                {{ logbookEvent.eventDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="draw-ligne"></div>
    </div>
    <ion-card class="selectable logbook-event-card" [ngClass]="{'clickable':disabled,'disabled':disabled}">

        <ion-card-content no-padding class="pnc-info-panel">
            <div class="flex">
                <pnc-photo [pnc]="logbookEvent.redactor" [size]="50"></pnc-photo>
                <div class="logbook-info-container">
                    <div class="logbook-header">
                        <div class="left-logbook-info">
                            <div class="title">
                                <span class="value">{{ logbookEvent.title }}</span>
                            </div>
                            <div class="redactor">
                                <span>{{ logbookEvent?.redactor?.lastName }}
                                    {{ logbookEvent?.redactor?.firstName | titlecase }}
                                    <span class="event-type" *ngIf="logbookEvent.type != LogbookEventTypeEnum.EDOSPNC">
                                        ({{logbookEvent.type}})
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="right-logbook-info">
                            <div class="icons">
                                <div>
                                    <ion-icon name="md-eye-off" ios="md-eye-off" *ngIf="isHidden()">
                                    </ion-icon>
                                </div>
                                <div>
                                    <ion-icon class="edospnc-important" color="secondary"
                                        *ngIf="logbookEvent.important"></ion-icon>
                                </div>
                                <div>
                                    <ion-icon class="edospnc-pnc" color="primary" *ngIf="logbookEvent.pncInitiator">
                                    </ion-icon>
                                </div>
                                <div class="category-label">
                                    <span class="value">{{ logbookEvent.category.label }}</span>
                                </div>
                            </div>
                            <div>
                                <span class="creation-date-info">{{ 'LOGBOOK.DETAILS.CREATED_THE' | translate }}
                                    {{ logbookEvent.creationDate | date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="logbook-info-content">
                        <text-editor [mode]="TextEditorModeEnum.READ_ONLY" [ngModel]="logbookEvent.content">
                        </text-editor>
                    </div>
                    <div>
                        <document-manager [documents]="logbookEvent.attachmentFiles" [readonly]="true">
                        </document-manager>
                    </div>
                    <div class="logbook-notified-pnc"
                        *ngIf="isManager() && logbookEvent.type === LogbookEventTypeEnum.EDOSPNC">
                        <div>
                            <ion-label>{{ 'LOGBOOK.DETAILS.NOTIFIED_PNCS' | translate }} :</ion-label>
                        </div>
                        <div
                            [ngClass]="{'no-value' : !logbookEvent.notifiedPncs || logbookEvent.notifiedPncs.length === 0 }">
                            <span *ngFor="let pnc of logbookEvent.notifiedPncs; last as l">{{pnc.lastName}}
                                {{pnc.firstName | titlecase}}
                                <span
                                    *ngIf="pnc.isInstructor">({{ 'PNC_IDENTITY.REFERENT_INSTRUCTOR' | translate }})</span>
                                <span *ngIf="pnc.isRds">({{ 'PNC_IDENTITY.RDS' | translate }})</span>
                                <span *ngIf="!pnc.isInstructor && !pnc.isRds">({{pnc.speciality}}
                                    <span
                                        *ngIf="pnc.currentSpeciality && pnc.speciality !== pnc.currentSpeciality">/{{pnc.currentSpeciality}}</span>
                                </span>
                                <span *ngIf="!l">;</span>
                            </span>
                        </div>
                        <div *ngIf="logbookEvent.notifiedRecipients">
                            <span
                                *ngFor="let email of logbookEvent.notifiedRecipients; last as l">{{ email.emailAddress }}
                                <span *ngIf="!l">;</span>
                            </span>
                        </div>
                    </div>
                    <div class="information-message" *ngIf="showInformationMessage()">{{ 'LOGBOOK.DETAILS.EDITED_BY' | translate:{lastName:logbookEvent.lastUpdateAuthor.lastName, firstName:logbookEvent.lastUpdateAuthor.firstName,
                        date:getLastUpdateDate()} }}
                    </div>
                    <div class="logbook-button-bar button-bar" *ngIf="canEditEvent()">
                        <div class="cco-logbookEvent-visibility"
                            *ngIf="logbookEvent.type == LogbookEventTypeEnum.CCO || logbookEvent.type == LogbookEventTypeEnum.ISCV ">
                            <form [formGroup]="visibilityForm">
                                <ion-list radio-group [(ngModel)]="visibilitySelected"
                                    formControlName="visibilityControl">
                                    <ion-item *ngIf="getDisplayDate()">
                                        <ion-radio value="{{EventCcoVisibilityEnum.WILL_BE_DISPLAYED_ON}}"
                                            (ionSelect)="confirmHideOrDisplayEvent(EventCcoVisibilityEnum.WILL_BE_DISPLAYED_ON)">
                                        </ion-radio>
                                        <ion-label>
                                            {{ 'LOGBOOK.DETAILS.WILL_BE_DISPLAYED_ON' | translate:{date:getDisplayDate()} }}
                                        </ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-radio value="{{EventCcoVisibilityEnum.DISPLAYED}}"
                                            (ionSelect)="confirmHideOrDisplayEvent(EventCcoVisibilityEnum.DISPLAYED)">
                                        </ion-radio>
                                        <ion-label>{{ 'LOGBOOK.DETAILS.DISPLAYED' | translate }}</ion-label>
                                    </ion-item>
                                    <ion-item>
                                        <ion-radio value="{{EventCcoVisibilityEnum.HIDDEN}}"
                                            (ionSelect)="confirmHideOrDisplayEvent(EventCcoVisibilityEnum.HIDDEN)">
                                        </ion-radio>
                                        <ion-label>{{ 'LOGBOOK.DETAILS.HIDDEN' | translate }}</ion-label>
                                    </ion-item>
                                </ion-list>
                            </form>
                        </div>
                        <div class="button-bar-right ">
                            <!-- Bouton supprimer -->
                            <button ion-button color="primary" (click)="deleteLogbookEvent()">
                                {{ 'LOGBOOK.BUTTONS.DELETE' | translate }}
                            </button>
                            <!-- Bouton modifier -->
                            <button ion-button color="primary" *ngIf="canModifyEvent()" (click)="editLogbookEvent()">
                                {{ 'LOGBOOK.BUTTONS.MODIFY' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</ng-template>