logbook-event {

    $ion-textarea-row-margin:10px;

    ion-grid {
        display: flex;
    }

    .item-md.item-block .item-inner {
        border-bottom: initial;
    }

    .item-ios.item-block .item-inner {
        border-bottom: initial;
    }

    .event-date-and-checkbox-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        ion-item {
            width: auto;
        }

        .event-date {
            flex-grow: 4;

            ion-label {
                flex: initial;
            }
        }

        .event-checkbox {
            flex-grow: 1;
            text-align: end;
        }

        .item-md.item-block .item-inner {
            border-bottom: initial;
        }

        .item.item-ios .checkbox-ios {
            position: static;
            display: block;
            margin: 9px 15px 9px 4px;
        }

        .item-ios.item-block .item-inner {
            border-bottom: initial;
        }
    }

    .item.item-md .checkbox-md {
        position: static;
        display: block;
        margin: 9px 15px 9px 4px;
    }

    .col {
        padding: 0px;
    }

    .category {
        width: 255px;

        ion-select {
            padding-left: 5px;
        }
    }

    .title-row {
        margin-top: $ion-textarea-row-margin !important;
    }

    .event-title {
        display: flex;
        height: fit-content;
    }

    .event-length {
        width: 100%;
        font-size: smaller;
        align-content: flex-end;
        text-align: right;
    }

    .event-type{
        margin-left: 2px;
    }

    .description-row {

        display: inline;
    }

    .notification-row {

        margin-top: 20px;
        padding-left: 10px;
        padding-bottom: 50px;
        border-radius: 4px;
        border: 1px solid color($colors, grey50);
        width: 100%;
        font-size: 1.6rem;

        .persons-to-notify {
            flex: 4;

            ion-item {
                div.input-wrapper {
                    border-bottom: 1px solid color($colors, grey50);

                    .no-value:after {
                        padding: 0px 15px;
                    }
                }
            }
        }

        .other-contacts {
            flex: 5;
        }
    }
}

.popover-md .popover-content {
    width: 275px;
}

.popover-ios .popover-content {
    width: 275px;
}

