<div *ngIf="editEvent">
    <form novalidate [formGroup]="logbookEventForm">
        <ion-grid>
            <ion-row class="event-date-and-checkbox-row">
                <ion-col size="6">
                    <ion-item class="event-date" lines="none">
                        <ion-label class="required">{{ 'LOGBOOK.EDIT.EVENT_DATE' | translate }}</ion-label>
                        <edospnc-datetime [ngModelOptions]="{standalone: true}" [(ngModel)]="logbookEvent.eventDate" [edospncFormGroup]="logbookEventForm" edospncFormControlName="eventDate" [displayIcon]="false">
                        </edospnc-datetime>
                    </ion-item>
                </ion-col>
                <ion-col size="6" class="flex">
                    <ion-item class="event-checkbox" lines="none">
                        <ion-label>{{ 'LOGBOOK.EDIT.PNC_ORIGIN' | translate }}</ion-label>
                        <ion-checkbox slot="end" [(ngModel)]="logbookEvent.pncInitiator" [checked]="logbookEvent.pncInitiator" formControlName="pncInitiator">
                        </ion-checkbox>
                    </ion-item>
                    <ion-item class="event-checkbox" lines="none">
                        <ion-label>{{ 'LOGBOOK.EDIT.IMPORTANT' | translate }}</ion-label>
                        <ion-checkbox slot="end" [(ngModel)]="logbookEvent.important" [checked]="logbookEvent.important" formControlName="important">
                        </ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item class="category">
                        <ion-label class="required">{{ 'LOGBOOK.EDIT.CATEGORY' | translate }}
                        </ion-label>
                        <ion-select interface="popover" [compareWith]="compareCategories" [(ngModel)]="logbookEvent.category" formControlName="category">
                            <ion-select-option *ngFor="let category of logbookEventCategories" [value]="category">
                                {{category?.label}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="title-row">
                <ion-col size="12">
                    <ion-item>
                        <ion-label class="required" position="floating">{{ 'LOGBOOK.EDIT.EVENT_TITLE' | translate }}
                        </ion-label>
                        <ion-input #eventTitle type="text" class="event-title" [(ngModel)]="logbookEvent.title" formControlName="title" autocorrect="on" [maxlength]="titleMaxLength"></ion-input>
                        <span class="event-length">{{eventTitle.value ? eventTitle.value.length : 0}}/{{titleMaxLength}}</span>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="description-row">
                <ion-col size="12">
                    <ion-label class="required" position="floating">{{ 'LOGBOOK.EDIT.EVENT_DESCRIPTION' | translate }}
                    </ion-label>
                    <text-editor name="eventContent" [mode]="TextEditorModeEnum.FULL" [ngModelOptions]="{standalone: true}" [(ngModel)]="logbookEvent.content" [parentForm]="logbookEventForm" [controlForm]="'content'" [placeholder]="'LOGBOOK.EDIT.EVENT_DESCRIPTION' | translate" formControlName="content">
                    </text-editor>
                </ion-col>
            </ion-row>
            <ion-row class="attachment-row">
                <ion-col size="12">
                    <document-manager [documents]="logbookEvent.attachmentFiles" [readonly]="false"></document-manager>
                </ion-col>
            </ion-row>
            <ion-row class="notification-row">
                <ion-col class="persons-to-notify">
                    <ion-label>{{ 'LOGBOOK.EDIT.PERSONS_TO_NOTIFY' | translate }} :</ion-label>
                    <ion-item class="event-checkbox">
                        <ion-label>
                            <span [ngClass]="{'no-value' : !pnc.pncInstructor }">{{ pnc.pncInstructor?.lastName }}
                                {{ pnc.pncInstructor?.firstName | titlecase}} </span> ({{ 'PNC_IDENTITY.REFERENT_INSTRUCTOR'
                        | translate }})</ion-label>

                        <ion-checkbox slot="start" [disabled]="!pnc.pncInstructor" (ionChange)="updatePncNotifiedList($event, pnc.pncInstructor)" [checked]="isPncNotified(pnc.pncInstructor)"></ion-checkbox>
                    </ion-item>
                    <ion-item class="event-checkbox">
                        <ion-label>
                            <span [ngClass]="{'no-value' : !pnc.pncRds }">{{ pnc.pncRds?.lastName}}
                                {{ pnc.pncRds?.firstName | titlecase}} </span> ({{ 'PNC_IDENTITY.RDS' |
                        translate }})</ion-label>
                        <ion-checkbox slot="start" [disabled]="!pnc.pncRds" (ionChange)="updatePncNotifiedList($event, pnc.pncRds)" [checked]="isPncNotified(pnc.pncRds)"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col class="other-contacts">
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- Barre de boutons -->
        <div class="button-bar-right button-bar">
            <!-- Bouton Annuler -->
            <ion-button color="primary" fill="outline" (click)="cancelLogbookEventCreationOrEdition()">
                {{ 'LOGBOOK.BUTTONS.CANCEL' | translate }}
            </ion-button>
            <!-- Bouton enregistrer -->
            <ion-button *ngIf="mode === LogbookEventModeEnum.CREATION || mode === LogbookEventModeEnum.LINKED_EVENT_CREATION" color="primary" (click)="confirmSaveLogbookEvent()" [disabled]="logbookEventForm.invalid">
                {{ 'LOGBOOK.BUTTONS.SAVE' | translate }}
            </ion-button>
            <!-- Bouton mettre à jour-->
            <ion-button #updateEvent *ngIf="mode === LogbookEventModeEnum.EDITION" color="primary" (click)="confirmUpdateLogbookEvent()" [disabled]="logbookEventForm.invalid">
                {{ 'LOGBOOK.BUTTONS.UPDATE' | translate }}
            </ion-button>
        </div>
    </form>
</div>
