<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ 'WAYPOINT_CREATE.TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form novalidate [formGroup]="creationForm">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <!-- Contexte -->
                    <ion-item>
                        <ion-label floating class="required">{{ 'WAYPOINT_CREATE.FORM.CONTEXT' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="waypoint.context" formControlName="contextControl" name="context"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <!-- Action réalisée -->
                    <ion-item>
                        <ion-label floating class="required">{{ 'WAYPOINT_CREATE.FORM.ACTION_PERFORMED' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="waypoint.actionPerformed" formControlName="actionPerformedControl" name="actionPerformed"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <!-- Commentaire cadre -->
                    <ion-item>
                        <ion-label floating>{{ 'WAYPOINT_CREATE.FORM.MANAGER_COMMENT' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="waypoint.managerComment" formControlName="managerCommentControl" name="managerComment"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <!-- Commentaire PNC -->
                    <ion-item>
                        <ion-label floating>{{ 'WAYPOINT_CREATE.FORM.PNC_COMMENT' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="waypoint.pncComment" formControlName="pncCommentControl" name="pncComment"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- Barre de boutons -->
            <ion-row>
                <ion-col>
                    <!-- Bouton sauvegarder point d'étape en brouillon -->
                    <button ion-button (click)="saveWaypointDraft()" [disabled]="creationForm.invalid" *ngIf="waypointStatusProvider.isTransitionOk(waypoint.waypointStatus,WaypointStatus.DRAFT)">
                        {{ 'WAYPOINT_CREATE.BUTTONS.SAVE_DRAFT' | translate }}
                   </button>
                    <!-- Bouton supprimer point d'étape en brouillon -->
                    <button ion-button (click)="deleteWaypointDraft()" [disabled]="creationForm.invalid" *ngIf="waypointStatusProvider.isTransitionOk(waypoint.waypointStatus,WaypointStatus.DRAFT)" color="primary">
                        {{ 'WAYPOINT_CREATE.BUTTONS.DELETE_DRAFT' | translate }}
                    </button>
                    <!-- Bouton sauvegarder point d'étape -->
                    <button ion-button (click)="saveWaypointToRegisteredStatus()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && waypointStatusProvider.isTransitionOk(waypoint.waypointStatus,WaypointStatus.REGISTERED)">
                        {{ 'WAYPOINT_CREATE.BUTTONS.SAVE' | translate }}
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>

</ion-content>
