<ion-header>
    <ion-navbar>
        <page-header>
            <ng-container *ngIf="loadingIsOver()">
                {{ 'WAYPOINT_CREATE.TITLE' | translate }}
                <ion-badge class="{{waypoint.waypointStatus.toLowerCase()}}" *ngIf="waypoint.waypointStatus">
                    {{ 'GLOBAL.WAYPOINT_STATUS.'+waypoint.waypointStatus | translate }}
                </ion-badge>
            </ng-container>
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <form novalidate [formGroup]="creationForm">
            <ion-grid>
                <ion-row>
                    <ion-col col-12>
                        <!-- Contexte -->
                        <ion-item>
                            <ion-label floating class="required">{{ 'WAYPOINT_CREATE.FORM.CONTEXT' | translate }}</ion-label>
                            <ion-textarea [(ngModel)]="waypoint.context" formControlName="contextControl" name="context" [readonly]="readOnlyByUserConnected()" [ngClass]="{ 'ion-textarea-read-only' : readOnlyByUserConnected() }"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <!-- Action réalisée -->
                        <ion-item>
                            <ion-label floating [ngClass]="{'required' : !isDraft() || requiredOnEncounterDay }">{{ 'WAYPOINT_CREATE.FORM.ACTION_PERFORMED' | translate }}
                                <span *ngIf="requiredOnEncounterDay">{{ 'WAYPOINT_CREATE.FORM.REQUIRED_ON_ENCOUNTER_DAY' | translate }}</span>
                            </ion-label>
                            <ion-textarea [(ngModel)]="waypoint.actionPerformed" formControlName="actionPerformedControl" name="actionPerformed" [readonly]="readOnlyByUserConnected()" [ngClass]="{ 'ion-textarea-read-only' : readOnlyByUserConnected() }"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <!-- Commentaire cadre -->
                        <ion-item>
                            <ion-label floating>{{ 'WAYPOINT_CREATE.FORM.MANAGER_COMMENT' | translate }}</ion-label>
                            <ion-textarea [(ngModel)]="waypoint.managerComment" formControlName="managerCommentControl" name="managerComment" [readonly]="readOnlyByUserConnected()" [ngClass]="{ 'ion-textarea-read-only' : readOnlyByUserConnected() }"></ion-textarea>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <!-- Commentaire PNC -->
                        <ion-item>
                            <ion-label floating>{{ 'WAYPOINT_CREATE.FORM.PNC_COMMENT' | translate }}</ion-label>
                            <ion-textarea [(ngModel)]="waypoint.pncComment" formControlName="pncCommentControl" name="pncComment"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <!-- Date de rencontre -->
                        <ion-label stacked [ngClass]="{'required' : !isDraft() || requiredOnEncounterDay }">{{ 'WAYPOINT_CREATE.FORM.ENCOUNTER_DATE' | translate }}
                            <span *ngIf="requiredOnEncounterDay">{{ 'WAYPOINT_CREATE.FORM.REQUIRED_ON_ENCOUNTER_DAY' | translate }}</span>
                        </ion-label>
                        <ion-item>
                            <ion-label>
                                <ion-icon name="calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="waypoint.encounterDate" formControlName="encounterDateControl" [pickerOptions]="customDateTimeOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')" [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')"
                                [disabled]="readOnlyByUserConnected()" [max]="datepickerMaxDate"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <!-- Barre de boutons -->
                <ion-row>
                    <ion-col class="button-bar-right">
                        <!-- Bouton sauvegarder point d'étape en brouillon -->
                        <button ion-button color="blue60" (click)="saveWaypointDraft()" [disabled]="creationForm.invalid" *ngIf="waypointStatusProvider.isTransitionOk(waypoint.waypointStatus,WaypointStatus.DRAFT)">
                            <ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" margin-right></ion-icon> {{ 'WAYPOINT_CREATE.BUTTONS.SAVE_DRAFT' | translate }}
                        </button>
                        <!-- Bouton supprimer point d'étape en brouillon -->
                        <button ion-button color="red70" (click)="confirmDeleteWaypointDraft()" [disabled]="creationForm.invalid" *ngIf="waypoint.waypointStatus === WaypointStatus.DRAFT">
                            <ion-icon name="ios-trash-outline" ios="ios-trash-outline" margin-right></ion-icon> {{ 'WAYPOINT_CREATE.BUTTONS.DELETE_DRAFT' | translate }}
                        </button>
                        <!-- Bouton sauvegarder commentaire pnc -->
                        <button ion-button color="blue70" (click)="saveWaypointAndUpdatePncComment()" [disabled]="creationForm.invalid" *ngIf="canPncCommentBeModifiedByPnc()">
                            <ion-icon name="ios-download-outline" ios="ios-download-outline" margin-right></ion-icon> {{ 'WAYPOINT_CREATE.BUTTONS.SAVE' | translate }}
                        </button>
                        <!-- Bouton sauvegarder point d'étape -->
                        <button ion-button color="blue70" (click)="saveWaypointToRegisteredStatus()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && waypointStatusProvider.isTransitionOk(waypoint.waypointStatus,WaypointStatus.REGISTERED)">
                            <ion-icon name="ios-download-outline" ios="ios-download-outline" margin-right></ion-icon> {{ 'WAYPOINT_CREATE.BUTTONS.SAVE' | translate }}
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ng-template>
</ion-content>
