<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'PROFESSIONAL_LEVEL.NOT_VALIDATED_QUESTIONS.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="title-container">
        <h3>{{ stage.code }} - {{ stage.label }}</h3>
    </div>
    <professional-level-cursus *ngFor="let cursus of module.cursus" [cursus]="cursus"></professional-level-cursus>
</ion-content>
