not-validated-questions {
    .title-container {
        display: flex;
        justify-content: center;
        margin: 10px 0;

        h3 {
            display: inline;
            font-size: 1.2em;
            font-weight: bold;
            box-shadow: 0px 0px 5px #ccc;
            padding: 5px 20px;
            background: color($colors, grey95);
            border-radius: 5px;
        }
    }

    professional-level-cursus {
        display: block;
        margin-bottom: 10px;
    }
}
