<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            {{ 'PROFESSIONAL_LEVEL.NOT_VALIDATED_QUESTIONS.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="title-container">
        <h3>SMG - MDC Géné</h3>
    </div>
    <professional-level-cursus></professional-level-cursus>
    <professional-level-cursus></professional-level-cursus>
    <professional-level-cursus></professional-level-cursus>
</ion-content>
