<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header (refreshPage)="refreshPage()" [showRefreshIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc" slot="center">{{ 'GLOBAL.DEVELOPMENT_PROGRAM' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.DEVELOPMENT_PROGRAM_PAGE"></pnc-edossier-header>
</ion-header>

<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <!-- eObservations -->
            <div class="eobservation-block">
                <eobservation-list [eObservations]="eObservations" [pnc]="pnc" [eObservationDisplayMode]="EObservationDisplayModeEnum.DEVELOPMENT_PROGRAM" [allowCreation]="true"></eobservation-list>
            </div>
            <!-- Priorités -->
            <div class="career-objective-block" *ngIf="canViewCareerObjectives()">
                <career-objective-list [careerObjectives]="careerObjectives" (categorySelected)="filterCategory($event)"></career-objective-list>
            </div>
            <!-- Bilans professionnels -->
            <div class="professional-interview-block" *ngIf="canViewProfessionalInterviews()">
                <professional-interview-list [professionalInterviews]="professionalInterviews">
                </professional-interview-list>
            </div>
        </ng-template>
    </div>
</ion-content>
