eobs-item-description {
    background-color: color($colors, white);
    display: inline-block;
    text-align: justify;
    width: 100%;

    ion-col {
        display: flex;
        align-items: center;
    }

    button {
        background-color: color($colors, white);
    }

    .description-c {
        color: #71D18A;
    }

    .description-no {
        color: color($colors, grey50);
    }

    .description-level_1 {
        color: #E53A40;
    }

    .description-level_2 {
        color: #ff9b06;
    }

    .description-level_3 {
        color: #71D18A;
    }

    .description-level_4 {
        color: color($colors, blue70);
    }
}
