@import '../../../../../theme/colors.scss';

:host {
    background-color: var(--ion-color-white);
    display: inline-block;
    text-align: justify;
    width: 100%;

    ion-col {
        display: flex;
        align-items: center;
    }

    button {
        background-color: var(--ion-color-white);
    }

    .description-c {
        color: color($colors-secondary, green70);
    }

    .description-no {
        color: var(--ion-color-grey50);
    }

    .description-level_1 {
        color: color($colors-secondary, red80);
    }

    .description-level_2 {
        color: var(--ion-color-orange55);
    }

    .description-level_3 {
        color: color($colors-secondary, green70);
    }

    .description-level_4 {
        color: var(--ion-color-blue70);
    }
}