page-career-objective-list {

    .eobservation-block {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .career-objective-block,
    .professional-interview-block {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .eobservation-block h3 {
        color: color($colors, primary);
    }

    .career-objective-block h3 {
        color: color($colors, primary-light);
    }

    .professional-interview-block h3 {
        color: color($colors, primary-dark);
    }

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }

    button {
        width: 300px;

        ion-icon {
            margin-right: 10px;
        }

        label {
            color: color($colors, white);
        }
    }

    .eobservation-creation-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
        background: color($colors, white);
        border: 1px solid color($colors-secondary, grey75);

        .option-menu {
            display: none;
            margin-top: 5px;

            .item-inner {
                border: 0px;
            }
        }

        .info-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
                font-weight: bold;
            }
        }
    }

    .archives {

        span,
        a {
            color: color($colors-secondary, blue68);
        }

        a {
            text-decoration: underline;
        }

        .edospnc-archive:before {
            font-size: 26px;
            position: relative;
            top: 4px;
        }

        &.information-message:before {
            content: '';
        }
    }


}
