<ion-header>
    <ion-navbar>
        <page-header (refreshPage)="initPage()" [showRefreshIcon]="true" [pnc]="pnc">
            <span *ngIf='pnc'>{{ 'GLOBAL.DEVELOPMENT_PROGRAM' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>

        <div class="add-container eobservation-container" *ngIf="canCreateEObservation()">
            <div class="eobservation-info-container inline">
                <span>{{ 'EOBSERVATION.NEW_EOBSERVATION_HEADER.FONCTION' | translate }}</span>
                <br />
                <span>{{pnc.currentSpeciality}}</span>
            </div>
            <div class="eobservation-info-container inline">
                <span>{{ 'EOBSERVATION.NEW_EOBSERVATION_HEADER.TYPE' | translate }}</span>
                <br />
                <span>{{getEObsTypeForm()}}</span>
            </div>
            <div class="eobservation-info-container inline">
                <span>{{lastConsultedRotation.number}}</span>
                <br />
                <span>{{ lastConsultedRotation.departureDate | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="add-eobservation-container inline">
                <button (click)="createEObservation()" class="add-eobservation clickable">
                    <div class="button-content">
                        <ion-icon class="edospnc-plus" name="edospnc-plus"></ion-icon>
                        <label>{{ 'EOBSERVATION.NEW_EOBSERVATION_HEADER.NEW_BUTTON' | translate }}</label>
                    </div>
                </button>
            </div>
        </div>

        <div class="add-container">
            <button (click)="goToCareerObjectiveCreation()" class="add-button add-career-objective clickable">
                <div class="button-content">
                    <ion-icon name="ios-add-circle-outline" ios="ios-add-circle-outline"></ion-icon>
                    <label>{{ 'CAREER_OBJECTIVE_LIST.BUTTONS.ADD_CAREER_OBJECTIVE' | translate }}</label>
                </div>
            </button>
            <div class="information-message">
                {{ 'CAREER_OBJECTIVE_LIST.INFORMATION_MESSAGE' | translate }}
            </div>
        </div>
        <div class="career-objective-list-container">
            <div class="no-data-found" *ngIf="careerObjectiveList.length == 0">{{ 'CAREER_OBJECTIVE_LIST.NO_OBJECTIVES' | translate }}</div>
            <div *ngIf="careerObjectiveList.length > 0" class="career-objective-list">
                <career-objective-card *ngFor="let careerObjective of careerObjectiveList" [careerObjective]="careerObjective" [offlineAction]="careerObjective.offlineAction" (click)="openCareerObjective(careerObjective.techId)"></career-objective-card>
            </div>
        </div>
    </ng-template>
</ion-content>
