page-career-objective-list {

    .scroll-content {
        padding-top: 40px !important;
    }

    h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ion-content button {
        width: 300px;

        ion-icon {
            margin-right: 10px;
        }

        label {
            color: color($colors, white);
        }
    }
}
