page-career-objective-list {

    h3,
    [padding] h3:first-child {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 1.4em;
    }

    .eobs-title {
        color: #5f9aaa;
    }

    .career-objective-title {
        color: #3CAF90;
    }

    .professional-interview-title {
        color: #5d727A;
    }

    [padding] h3:first-child {
        margin-top: 15px;
    }

    .information-message {
        padding: 0px 10px;
    }

    .option-menu {
        display: none;
    }

    .archives {
        cursor: pointer;

        span,
        a {
            color: #5f9aaa;
        }

        a {
            text-decoration: underline;
        }

        .edospnc-archive:before {
            font-size: 26px;
            position: relative;
            top: 4px;
        }

        &.information-message:before {
            content: '';
        }
    }
}

// Pour s'aligner sur les cartes en dessous
.global-container {
    padding: 0px 10px;

    &.cartridge-container {
        padding: 20px 10px;
        margin: 10px;
        display: flex;
        justify-content: flex-end;
        border: 2px solid;
        border-radius: 5px;

        .info-container {
            flex-direction: column;
            display: flex;
            flex: 1;
            text-align: center;

            span {
                line-height: 27px;
            }

            &.career-objective-list-container {
                padding: 0px 10px;
                padding-bottom: 10px;
            }
        }

        .add-container {

            .add-button {
                color: color($colors, white);
                border-radius: 33px;
                width: 350px;

                .button-content {
                    padding: 10px 20px;

                    &.default {
                        font-weight: bold;
                    }
                }

                .edospnc-plus:before {
                    font-size: 1.2em;
                }

                label {
                    padding-left: 10px;
                    font-size: 1.2em;
                    color: color($colors, white);
                }
            }

            .option-menu {
                margin-top: 5px;

                .item-inner {
                    border: 0px;
                }
            }


        }
    }

    &.career-objective-creation-container {
        border-color: #5BC7A9;
        box-shadow: 0px 0px 4px #3CAF90;

        .add-container {
            .add-button {
                background: #3CAF90;
            }
        }
    }


    &.eobservation-creation-container {
        border-color: #5f9aaa;
        box-shadow: 0px 0px 4px #5f9aaa;

        .eobservation-info-container {
            label {
                color: #38393a;
            }

            span {
                color: #888;
            }
        }

        .add-button,
        .choice-button {
            background: #5f9aaa;
        }
    }

    &.eobservation-list-container,
    &.professional-interview-list-container {
        padding: 0px 10px;
        padding-bottom: 10px;
    }

    &.professional-interview-creation-container {
        border-color: #556775;
        box-shadow: 0px 0px 4px #556775;

        .professional-interview-info-container {
            label {
                color: #38393a;
            }

            span {
                color: #888;
            }
        }

        .add-button {
            background: #556775;
        }
    }


}
