@import '../../../../../theme/colors.scss';

table {
    width: 100%;
    font-size: 1.1em;
    margin-top: 5px;
    border-collapse: collapse;

    thead {
        background: var(--ion-color-white);
        border-bottom: 1px solid color($colors-secondary, grey75);
    }

    th,
    td {
        padding: 5px 10px;
        text-align: left;
        vertical-align: top;
        border-left: 1px solid color($colors-secondary, grey75);
        border-right: 1px solid color($colors-secondary, grey75);
    }

    th {
        color: var(--ion-color-primary);
        font-weight: normal;

        &.skill {
            width: 285px;
        }

        &.level {
            width: 100px;
        }
    }

    td {
        color: var(--ion-color-grey50);
    }

    td:first-child {
        text-transform: lowercase;
    }

    td:first-letter {
        text-transform: uppercase;
    }

    tr:nth-child(odd) {
        td {
            background: color($colors-secondary, grey95);
        }
    }

    tr:nth-child(even) {
        td {
            background: var(--ion-color-white);
        }
    }
}