abnormal-level {

    table {
        width: 100%;
        font-size: 1.1em;
        margin-top: 5px;
        box-shadow: 0px 0px 5px color($colors, grey70);
        border-collapse: collapse;

        thead {
            background: color($colors, white);
            border-bottom: 1px solid color($colors, grey75);
        }

        th,
        td {
            padding: 5px 10px;
            text-align: left;
            vertical-align: top;
            border-left: 1px solid color($colors, grey75);
            border-right: 1px solid color($colors, grey75);
        }

        th {
            color: color($colors, blue58);
            font-weight: normal;

            &.skill {
                width: 285px;
            }

            &.level {
                width: 100px;
            }
        }

        td {
            color: color($colors, grey50);
        }

        td:first-child {
            text-transform: lowercase;
        }

        td:first-letter {
            text-transform: uppercase;
        }

        tr:nth-child(odd) {
            td {
                background: color($colors, grey95);
            }
        }

        tr:nth-child(even) {
            td {
                background: color($colors, white);
            }
        }
    }
}
