<table>
    <thead>
        <tr>
            <th>{{ 'EOBSERVATION.ABNORMAL_LEVEL.SKILL' | translate }}</th>
            <th>{{ 'EOBSERVATION.ABNORMAL_LEVEL.ITEM' | translate }}</th>
            <th>{{ 'EOBSERVATION.ABNORMAL_LEVEL.LEVEL' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Relation client</td>
            <td>Contact client</td>
            <td>4</td>
        </tr>
        <tr>
            <td>Etre et agir, standards de service</td>
            <td>Etre disponible et à l'écoute, service 1</td>
            <td>5</td>
        </tr>
    </tbody>
</table>
