<ion-header>
    <ion-toolbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc" (refreshPage)="refreshPage()" [showRefreshIcon]="true">
            <ng-container slot="center"> {{ 'GLOBAL.LOGBOOK' | isMyPage: pnc | translate }}</ng-container>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.LOGBOOK_PAGE"></pnc-edossier-header>
</ion-header>

<ion-content>
    <ng-container *ngIf="isConnected(); else offlineBlock">
        <edossier-spinner *ngIf="!loadingIsOver; else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <div class="page-container">
                <div class="event-actions">
                    <div>
                        <p *ngIf="eventFilters.archived && !dataLoading">
                            <span class="archived-event-infos" *ngIf="pncLogbookEventsGroup.length > 0">{{'LOGBOOK.ARCHIVED_EVENTS' | translate}} </span> <br />
                            <a (click)="getRecentsLogbookEvent()">{{'LOGBOOK.RECENT_EVENTS' | translate}}</a>
                        </p>
                    </div>
                    <div class="button-bar" *ngIf="isEventCreationAvailable()">
                        <ion-button color="primary" (click)="goToLogbookCreation()" slot="start">
                            <ion-icon name="add"></ion-icon><span>{{ 'LOGBOOK.BUTTONS.ADD_LOG' | translate }}</span>
                        </ion-button>

                    </div>
                </div>
                <span *ngIf="pncLogbookEventsGroup && pncLogbookEventsGroup.length > 0; else noEventsBlock">
                    <ion-grid class="logbook-event-grid selectable">
                        <ion-row class="headers ion-align-items-center">
                            <ion-col class="arrow"></ion-col>
                            <ion-col class="column-date" columnName="eventDate">
                                {{ 'LOGBOOK.EVENT_DATE' | translate }}
                                <ion-icon *ngIf="isDesc(eventFilters.sortDirection)" (click)="sortByDirection('ASC', $event)" id="sortIcon" class="sort-icon" color="black" name="arrow-up"></ion-icon>
                                <ion-icon *ngIf="!isDesc(eventFilters.sortDirection)" (click)="sortByDirection('DESC', $event)" id="sortIcon" class="sort-icon" color="black" name="arrow-down"></ion-icon>
                            </ion-col>
                            <ion-col class="column-category" columnName="category">{{ 'LOGBOOK.CATEGORY' | translate }}</ion-col>
                            <ion-col class="column-specific"></ion-col>
                            <ion-col class="column-title" columnName="event">
                                {{ 'LOGBOOK.EVENT' | translate }}
                            </ion-col>
                            <ion-col class="column-origin" columnName="origin">
                                {{ 'LOGBOOK.ORIGIN' | translate }}
                            </ion-col>
                            <ion-col class="column-redactor" columnName="author">
                                {{ 'LOGBOOK.REDACTOR' | translate }}
                            </ion-col>
                            <ion-col class="actions" *ngIf="isManager()">
                                {{ 'LOGBOOK.ACTIONS' | translate }}
                            </ion-col>
                        </ion-row>
                        <ion-row class="grouped-event-row" *ngFor="let groupedEvent of pncLogbookEventsGroup">
                            <ion-grid class="child-event-grid">
                                <span *ngFor="let logbookEvent of groupedEvent.logbookEvents; let logbookEventIndex = index">
                                    <ion-row class="event-row ion-align-items-center" *ngIf="groupedEvent.expanded || logbookEventIndex === 0" (click)="goToLogbookEventDetails(logbookEvent.groupId)">
                                        <ion-col class="arrow">
                                            <div class="child-count clickable" *ngIf="logbookEvent.groupEventCount > 1 && logbookEventIndex === 0">
                                                <ion-icon color="primary" name="caret-down-outline" *ngIf="!groupedEvent.expanded" (click)="setGroupExpansionState(groupedEvent.groupId, true, $event)"></ion-icon>
                                                <ion-icon color="primary" name="caret-up-outline" *ngIf="groupedEvent.expanded" (click)="setGroupExpansionState(groupedEvent.groupId, false, $event)">
                                                </ion-icon>
                                                <span class="events-number" *ngIf="!groupedEvent.expanded">{{logbookEvent.groupEventCount}}</span>
                                            </div>
                                        </ion-col>
                                        <ion-col class="column-date">{{logbookEvent.eventDate | date:'dd/MM/yyyy' }}
                                        </ion-col>
                                        <ion-col class="column-category">
                                            <div class="category-label">{{logbookEvent.category?.label}}</div>
                                        </ion-col>
                                        <ion-col class="column-specific">
                                            <ion-icon name="eye-off" *ngIf="isHidden(logbookEvent)"></ion-icon>
                                            <ion-icon name="alert" *ngIf="logbookEvent.important"></ion-icon>
                                            <ion-icon name="attach" *ngIf="logbookEventHasAttachments(logbookEvent)"></ion-icon>
                                        </ion-col>
                                        <ion-col class="column-title">
                                            <span class="truncate-text">{{logbookEvent.title}}</span>
                                        </ion-col>
                                        <ion-col class="column-origin">
                                            <span *ngIf="logbookEvent.pncInitiator" class="edospnc-pnc">
                                            </span>
                                        </ion-col>
                                        <ion-col class="column-redactor">
                                            <span class="truncate-text">{{logbookEvent.redactor?.lastName}}
                                                {{logbookEvent.redactor?.firstName | titlecase}}
                                                <span class="event-type" *ngIf="logbookEvent.type != LogbookEventTypeEnum.EDOSPNC">
                                                    ({{logbookEvent.type}})</span>
                                            </span>
                                        </ion-col>
                                        <ion-col class="column-actions" *ngIf="isManager()">
                                            <div class="clickable" *ngIf="canEditEvent(logbookEvent, logbookEventIndex)" (click)="openActionsMenu($event, logbookEvent, logbookEventIndex)">
                                                <ion-icon name="ellipsis-vertical"></ion-icon>
                                            </div>
                                        </ion-col>
                                    </ion-row>
                                </span>
                            </ion-grid>
                        </ion-row>
                    </ion-grid>
                </span>
                <div class="info-bloc" *ngIf="!eventFilters.archived && !dataLoading">
                    <p>* {{'LOGBOOK.LAST_THREE_YEARS_EVENT' | translate}}</p>
                    <p class="information-message archives">
                        <span class="edospnc-archive"></span>
                        <a (click)="loadArchives()">{{ 'LOGBOOK.VIEW_ARCHIVES' | translate }}</a>
                    </p>
                </div>
                <ng-template #noEventsBlock>
                    <no-data></no-data>
                </ng-template>
            </div>
        </ng-template>
    </ng-container>
    <ion-infinite-scroll threshold="0" (ionInfinite)="loadMoreEvents($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ng-template #offlineBlock>
        <div class="no-data-splash">
            <ion-icon name="cloud-offline"></ion-icon>
            <span>{{ 'LOGBOOK.UNAIVALABLE_OFFLINE' | translate }}</span>
        </div>
    </ng-template>
</ion-content>
