log-book {

    .scroll-content {
        margin-bottom: 0px !important;
    }

    ion-button {
        // TODO : A supprimer avec Daisy
        @extend .button-md;
        @extend .button;
        background-color: color($colors, primary);
    }

    .edospnc-important:before, 
    .ion-ios-edospnc-important:before,
    .ion-md-edospnc-important:before, 
    .icon-edospnc-important:before {
        color: red;
        font-size: 18px;
    }

    .edospnc-pnc:before, .ion-ios-edospnc-pnc:before, .ion-ios-edospnc-pnc-outline:before, .ion-md-edospnc-pnc:before, .ion-md-edospnc-pnc-outline:before, .icon-edospnc-pnc:before {
        font-size: 40px;
    }
    .logbook-event-grid{

        ion-row:nth-child(even) {
            background: color($colors, white);
        }

        ion-row:nth-child(odd) {
            background: color($colors-secondary, grey95);
        }

        ion-row:first-child {
            background: color($colors, white) !important;
            border-bottom: 1px solid grey;
        }

        ion-row > ion-col {
            align-items: center;
        }
    }

    mat-table {

        mat-row:nth-child(even) {
            background: color($colors, white);
        }

        mat-row:nth-child(odd) {
            background: #F1F1F1;
        }

        .mat-header-row {
            border-bottom-color: color($colors-secondary, grey95);
        }

        .mat-row {
            display: flex;
            border-bottom: none;
        }

        .mat-column-child-events{
            flex: 0 0 20px !important;
        }

        .mat-column-title {
            min-width: 120px;
        }
        .mat-column-category{
            flex: 0 0 140px !important;
        }
        .mat-column-redactor {
            min-width: 100px;
            max-width: 200px;
        }
        .mat-column-actions {
            flex: 0 0 50px !important;
            text-align: center;
        }

        .mat-column-origin {
            flex: 0 0 75px !important;
            text-align: center;
        }
        .mat-column-date {
            flex: 0 0 80px !important;
        }
        .mat-column-specific {
            flex: 0 0 20px !important;
        }

        .child-dots {
            //display: flex;
            //flex-direction: column;
        }

        .invisible-arrow {
            visibility: hidden; 
        }

        .child-event {
            margin-top: 15px;
            margin-bottom: 15px;
            height: 100%;
            top:0px;
            ion-icon:not(:first-child) {
                visibility: hidden;
            }
        }

        .status-dot {
            background: color($colors, primary);
            color: color($colors, primary);
            margin-left: auto;
            margin-right: auto;
            height: 7px;
            width: 7px;
            min-height: 7px;
            min-width: 7px;
            border-radius: 100%;
            //padding-right: 5px;
            //padding-left: 5px;
        }

        .status-dot::after {
            content:"";
            border-radius: 100%;
            //position:absolute;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.6em;
            width:2px;
            height:2px;
            background:black;
            //z-index:-1;
        }
    }

    .item-label {
        display: inline-block;
        vertical-align: middle;
    }

    .button-bar {
        position: -webkit-sticky;
        position: sticky;
        bottom: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        button {
            align-self: flex-end;
        }
    }

    .important-label {
        min-width: 10px;
        color:red;
        font-size: 150%;
        font-weight: bold;
    }
    .category-label {
        flex: 1;
        background-color: color($colors, primary);
        color: color($colors, white);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        text-align: center;
    }

    table {
        width: 100%;
    }

    mat-table {
        width: 100%;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        background: color($colors, white);
    }
    
    .mat-table {
        overflow: auto;
    }
}

.popover-md.action-menu-popover .popover-content {
    transform: translate(-80%, 25%) !important;
}
