<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true"  [pnc]="pnc">
            {{ 'GLOBAL.LOGBOOK' | isMyPage: pnc | translate }}
        </page-header>
    </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <pnc-card-page-header *ngIf="pnc" [itemMember]="pnc"></pnc-card-page-header>
        <div *ngIf="isManager()">
            <button color="blueDaisy" (click)="goToLogbookCreation()" ion-button block>{{ 'LOGBOOK.BUTTONS.ADD_LOG' | translate }}</button>
        </div>
    </ng-template>
</ion-content>