log-book {

    ion-button {
        // TODO : A supprimer avec Daisy
        @extend .button-md;
        @extend .button;
        background-color: color($colors, primary);
    }

    .edospnc-important:before, 
    .ion-ios-edospnc-important:before, .ion-ios-edospnc-important-outline:before, 
    .ion-md-edospnc-important:before, .ion-md-edospnc-important-outline:before, 
    .icon-edospnc-important:before {
        color: red;
        font-size: 18px;
    }

    .logbook-event-grid{

        ion-row:nth-child(even) {
            background: color($colors, white);
        }

        ion-row:nth-child(odd) {
            background: color($colors-secondary, grey95);
        }

        ion-row:first-child {
            background: color($colors, white) !important;
            border-bottom: 1px solid grey;
        }

        ion-row > ion-col {
            align-items: center;
        }
    }

    mat-table {

        mat-row:nth-child(even) {
            background: color($colors, white);
        }

        mat-row:nth-child(odd) {
            background: #F1F1F1;
        }

        .mat-header-row {
            border-bottom-color: color($colors-secondary, grey95);
        }

        .mat-row {
            display: flex;
            border-bottom: none;
        }

        .mat-column-child-events{
            flex: 0 0 20px !important;
        }

        .mat-column-title {
            flex: 0 0 400px !important;
        }

        .mat-column-actions {
            flex: 0 0 60px !important;
            text-align: center;
        }

        .mat-column-origin {
            flex: 0 0 75px !important;
            text-align: center;
        }
        .mat-column-date {
            flex: 0 0 100px !important;
        }
        .mat-column-specific {
            flex: 0 0 20px !important;
        }
        .mat-sort-header-container {
            display:flex;
            justify-content:center;
          }
    }

    .item-label {
        display: inline-block;
        vertical-align: middle;
    }

    .button-bar {
        position: fixed;
        bottom: 40px;
        display: flex;
        align-items: flex-end;
        width: 90%;
        justify-content: flex-end;
        button {
            align-self: flex-end;
        }
    }

    .important-label {
        min-width: 10px;
        color:red;
        font-size: 150%;
        font-weight: bold;
    }

    .edospnc-pnc:before {
        font-size: 60px;
    }

    table {
        width: 100%;
    }

    mat-table {
        width: 100%;
    }

    .table-container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        background: color($colors, white);
    }
    
    .mat-table {
        overflow: auto;
        max-height: 500px;
    }
}

.popover-md.action-menu-popover .popover-content {
    transform: translate(-80%, 25%) !important;
}
