page-authentication {
    .form-auth {
        margin: 100px auto;
        min-width: 400px;
        width: 50%;
    }

    .button {
        margin-top: 20px;
    }

    .item-inner {
        border: none !important;
    }

    ion-spinner {
        margin: auto;
        margin-top: 20px;
    }
}
