page-authentication {
    .form-auth {
        // top: 50%;
        // left: 50%;
        // margin-left: -200px;
        margin: 100px auto;
        // position: absolute;
        min-width: 400px;
        width: 50%;
    }

    .item-inner {
        border: none !important;
    }
}
