<edospnc-expandable-block mini="true" *ngIf="eObservation?.type === 'E_ALT'" title=" {{ 'EOBSERVATION.DETAILS.BILAN_FLIGHT' | translate }}">
    <span class="bilan">
        <ng-container *ngIf="!editMode; else vacEditBlock">
            <radio-and-label disabled="true" conditionValue="{{eObservation?.vac}}" label="{{ 'EOBSERVATION.DETAILS.EVAL' | translate }}"></radio-and-label>
        </ng-container>
        <ng-template #vacEditBlock>
            <ion-item>
                <ion-label>{{ 'EOBSERVATION.DETAILS.EVAL' | translate }}</ion-label>
                <ion-checkbox [(ngModel)]="eObservation.vac" [checked]="eObservation.vac"></ion-checkbox>
            </ion-item>
        </ng-template>
    </span>
</edospnc-expandable-block>
