question-symbol{

    // font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-color: color($colors,white);
    border-radius: 50%;
    color: color($colors, blue55);
    display: inline-block;
    text-align: center;
    border: 1px solid color($colors, blue55);

}