:host {
    .container {
        display: flex;
        align-items: center;
        padding-right: 20px;

        ::ng-deep.mat-checkbox-checked {
            border-color: var(--ion-color-grey70) !important;
        }

        .mat-checkbox-checked {
            ::ng-deep.mat-checkbox-checkmark {
                border-color: var(--ion-color-blue55) !important;
                background-color: var(--ion-color-blue55) !important;
                color: red !important;
            }
        }

        label {
            padding-left: 10px;
        }
    }
}
