radio-and-label {
    .container {
        display: flex;
        align-items: center;
        padding-right: 20px;


        label {
            color: color($colors, primary);
            opacity: 1;
            padding-left: 5px;
        }

        .radio-md .radio-icon, .radio-md.radio-disabled, .item-md.item-radio-disabled  {
            border-color: color($colors, blue55) !important;
            opacity: 1;
            margin : 0px;
            .radio-inner {
                opacity: 1;
                background-color: color($colors, blue55) !important;
            }
        }

    }
}
