ion-col {
    .col {
        margin: 5px;
    }
}

.list {
    ion-item {

        ion-label {
            display: flex;
        }
    }
}

.history-title {
    color: var(--ion-color-primary);
}

.description {
    margin-left: 10px;

    .app-version-number {
        font-size: 1.1em;
        margin-bottom: 5px;
        display: block;
        flex: 1;
    }
}

.active {
    background: var(--ion-color-primary);
    color: white;
}

.circle {
    padding: 10px;
    font-size: 20px;
}

p {
    margin-top: 30px;
}

text-editor .ql-container.ql-snow {
    border: 0;
}

text-editor .ql-snow * {
    background: transparent;
}
