pnc-card {
    .pnc-info-panel {
        display: flex;

        .content {
            display: flex;
            flex-direction: column;

            ion-row {
                flex: 1;
            }

            .primary-info {
                font-size: 1.0em;
            }

            .icon-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                float: right;
                ion-icon {
                    font-size: 2em;
                }
            }
            .button-synchro {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                float: right;
                width: 30px;
                height: 30px;
            }

            .pnc-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                .pnc-relays {
                    span:after {
                        content: ', ';
                    }
                    span:last-child:after {
                        content: none;

                    }
                }

            }
        }


    }

}
