<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="false" [showRefreshIcon]="false">{{ 'GLOBAL.APP_NAME' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <h3>{{ 'IMPERSONATE.TITLE' | translate }}</h3>
    <ion-card>
        <ion-card-content>
            <form novalidate [formGroup]="autoCompleteForm">
                <mat-form-field>
                    <input #pncMatricule type="text" matInput placeholder="{{'IMPERSONATE.SEARCH_PNC' | translate}}" formControlName="pncMatriculeControl" (keyup)="searchAutoComplete(pncMatricule.value)" [matAutocomplete]="auto" [(ngModel)]="selectedPnc" autocomplete="off" />
                    <ion-icon name="backspace" class="clickable" (click)="clearPncSearch()"></ion-icon>
                </mat-form-field>
                <mat-autocomplete class="mat-autocomplete" #auto="matAutocomplete" [displayWith]="displayPnc" (optionSelected)="impersonateUser($event.option.value)">
                    <mat-option *ngFor="let pnc of pncList | async" [value]="pnc">
                        {{ pnc.lastName + ' ' + pnc.firstName + ' (' + pnc.matricule + ')'}}
                    </mat-option>
                </mat-autocomplete>
            </form>
            <button ion-button *ngIf="canGetMyIdentityBack()" (click)="getMyIdentityBack()">{{'IMPERSONATE.BUTTONS.GET_MY_IDENTITY_BACK' | translate}}</button>
        </ion-card-content>
    </ion-card>
</ion-content>
