page-impersonate {
    .container {
        display: flex;
        flex-direction: column;

        .mat-input-infix {
            width: 300px;

            display: flex;
            align-items: center;

            ion-icon {
                font-size: 1.5em;
            }
        }
    }
}
