<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'GLOBAL.DEVELOPMENT_PROGRAMME' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 margin-horizontal>{{ 'CAREER_OBJECTIVE_LIST.TITLE' | translate }}</h3>
  <button margin ion-button color="dark" (click)="goToCareerObjectiveCreation()">
    <ion-icon name="add"></ion-icon>
  </button>

  <ion-content class="card-content">
    <ion-card class="no-margin-left" *ngFor="let careerObjective of careerObjectiveList">
      <ion-card-content no-padding>
        <ion-grid>
          <ion-row>
            <ion-col col-11>
              {{careerObjective.title}}
            </ion-col>
            <ion-col col-1>
              <label class="career-objective-status {{careerObjective.careerObjectiveStatus.toLowerCase()}}" *ngIf="careerObjective.careerObjectiveStatus"
                float-right>
                {{ 'GLOBAL.CAREER_OBJECTIVE_STATUS.'+careerObjective.careerObjectiveStatus | translate }}
              </label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>{{ 'CAREER_OBJECTIVE_LIST.LIST.CREATION_DATE' | translate }}</ion-col>
            <ion-col>{{ 'CAREER_OBJECTIVE_LIST.LIST.REGISTRATION_DATE' | translate }}</ion-col>
            <ion-col>{{ 'CAREER_OBJECTIVE_LIST.LIST.NEXT_ENCOUNTER_DATE' | translate }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              {{careerObjective.creationDate == null ? "-" : careerObjective.creationDate | date: 'dd-MM-yyyy HH:mm:ss'}}
            </ion-col>
            <ion-col>
              {{careerObjective.registrationDate == null ? "-" : careerObjective.registrationDate | date: 'dd-MM-yyyy HH:mm:ss'}}
            </ion-col>
            <ion-col>
              {{careerObjective.nextEncounterDate == null ? "-" : careerObjective.nextEncounterDate | date: 'dd-MM-yyyy HH:mm:ss'}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>