<ion-header>
    <ion-navbar>
        <ion-title>{{ 'GLOBAL.DEVELOPMENT_PROGRAM' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 margin-horizontal>{{ 'CAREER_OBJECTIVE_LIST.TITLE' | translate }}</h3>

    <button (click)="goToCareerObjectiveCreation()" class="add-career-objective">
        <ion-icon name="add"></ion-icon>
        <label>{{ 'CAREER_OBJECTIVE_LIST.BUTTONS.ADD_CAREER_OBJECTIVE' | translate }}</label>
    </button>

    <ion-content class="career-objective-list-container">
        <ion-card class="career-objective-card clickable" *ngFor="let careerObjective of careerObjectiveList" (click)="openCareerObjective(careerObjective.techId)">
            <ion-card-content no-padding>
                <header>
                    <h4>{{careerObjective.title}}</h4>
                    <div class="status-area" float-right>
                        <ion-icon *ngIf="careerObjective.prioritized" name="star" color="danger" margin-right></ion-icon>
                        <ion-badge color="{{careerObjective.careerObjectiveStatus.toLowerCase()}}" *ngIf="careerObjective.careerObjectiveStatus">
                            {{ 'GLOBAL.CAREER_OBJECTIVE_STATUS.'+careerObjective.careerObjectiveStatus | translate }}
                        </ion-badge>
                    </div>
                </header>
                <ion-grid class="content">
                    <ion-row>
                        <ion-col>
                            <label>{{ 'CAREER_OBJECTIVE_LIST.LIST.CREATION_DATE' | translate }}</label>
                            <span class="value" [ngClass]="{'no-value' : !careerObjective.creationDate }">{{ careerObjective.creationDate | date: 'dd/MM/yyyy HH:mm'}}</span>
                        </ion-col>
                        <ion-col>
                            <label>{{ 'CAREER_OBJECTIVE_LIST.LIST.REGISTRATION_DATE' | translate }}</label>
                            <span class="value" [ngClass]="{'no-value' : !careerObjective.registrationDate }">{{careerObjective.registrationDate | date: 'dd/MM/yyyy HH:mm'}}</span>
                        </ion-col>
                        <ion-col>
                            <label>{{ 'CAREER_OBJECTIVE_LIST.LIST.NEXT_ENCOUNTER_DATE' | translate }}</label>
                            <span class="value" [ngClass]="{'no-value' : !careerObjective.nextEncounterDate }">{{careerObjective.nextEncounterDate | date: 'dd/MM/yyyy'}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ion-content>
