page-career-objective-list {
    .career-objective-list-container {
        height: 80%;
        margin: 0;
        padding: 0;

        .career-objective-card {
            padding: 10px;
            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                h4 {
                    font-size: 1.3em;
                    font-weight: bold;
                }
            }

            .content {
                ion-row {
                    ion-col {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }

            }
        }
    }
}
