page-career-objective-list {
    // Pour s'aligner sur les cartes en dessous
    .add-career-objective-container {
        padding: 0 10px;

        .add-career-objective {
            background: color($colors, green60);
            width: 100%;
            height: 90px;

            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            ion-icon {
                color: color($colors, grey90);
                font-size: 3em;
            }

            label {
                color: color($colors, white);
            }
        }
    }

    .career-objective-list-container {
        .no-objectives {
            text-align: center;
            font-size: 1.5em;
            margin-top: 100px;
            color: color($colors, grey50);
        }

        .career-objective-list {

            .career-objective-card {
                display: flex;

                ion-card-content {
                    padding: 10px;
                    width: 100%;

                    header {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            padding-right: 10px;
                            font-size: 1.3em;
                            font-weight: bold;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        .status-area {
                            display: flex;
                            align-items: center;

                            .icon-container {
                                width: 35px;
                                ion-icon {
                                    font-size: 2em;
                                }
                            }
                        }
                    }

                    .content {
                        ion-row {
                            ion-col {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                            }
                        }

                    }
                }
            }
        }
    }
}
