e-observations {

    mat-expansion-panel {
        box-shadow: none !important;

        &.mat-expanded:not(.no-data) {
            box-shadow: none !important;
        }

        mat-expansion-panel-header {
            display: flex;
            align-items: center;
            background-color: color($colors, primary);
            border-radius: 5px;

            & > .mat-expansion-indicator {
                display: flex;
                transition: all linear 200ms;
            }

            &.mat-expansion-panel-header {
                padding: 6px 20px 6px 10px;
            }

            &.mat-expanded:hover,
            &.mat-expanded:focus {
                background-color: color($colors, primary) !important;
            }

            .mat-content {
                align-items: center;
            }

            &.header label {
                font-weight: 700;
                font-size: 1.2em;
                color: color($colors, white);
            }

            .e-obs-date {
                flex: 3;
            }

            .e-obs-type {
                flex: 3;
            }

            .e-obs-writer {
                flex: 4;
            }

            .button-placeholder {
                width: 70px;
            }

            &.header .mat-expansion-indicator {
                color: color($colors, white);
            }

        }

        .mat-expansion-panel-body {
            padding: 0;
            margin: 0;
        }

    }

    .information-message {
        margin-top: 10px;
    }
}
