mat-expansion-panel {
    box-shadow: none !important;

    &.mat-expanded:not(.no-data) {
        box-shadow: none !important;
    }

    mat-expansion-panel-header {
        display: flex;
        align-items: center;
        background-color: var(--ion-color-primarydark);
        border-radius: 5px;
        color: var(--ion-color-white);

        & > .mat-expansion-indicator {
            display: flex;
            transition: all linear 200ms;
        }

        &.mat-expansion-panel-header {
            padding: 6px 20px 6px 10px;
        }

        &.mat-expanded:hover,
        &.mat-expanded:focus {
            background-color: var(--ion-color-primarydark) !important;
        }

        .mat-content {
            align-items: center;
        }

        &.header label {
            color: var(--ion-color-white);
            font-weight: 700;
            font-size: 1.2em;
        }

        .e-obs-date {
            flex: 3;
        }

        .e-obs-type {
            flex: 3;
        }

        .e-obs-writer {
            flex: 4;
        }

        .button-placeholder {
            width: 70px;
        }

    }

    .mat-expansion-panel-body {
        padding: 0;
        margin: 0;
    }

}

.information-message {
    margin-top: 10px;
}
