<ion-header>
  <ion-navbar>
      <page-header [showSettingsIcon]="true" [pnc]="eObservation?.pnc">
          <span > {{ 'EOBSERVATION.DETAILS.TITLE' | translate }}</span>
      </page-header>
  </ion-navbar>
</ion-header>


<ion-content padding>
<pnc-card *ngIf="eObservation?.pnc" [itemMember]="createCrewMemberObjectFromPnc(eObservation?.pnc)" [disabled]="true"></pnc-card>

<mat-expansion-panel>
    <mat-expansion-panel-header class="block-header-label" [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        {{ 'EOBSERVATION.DETAILS.ROTATION_SUBTITLE' | translate }}
    </mat-expansion-panel-header>
    <div *ngIf="eObservation?.eObservationFlights === null  || eObservation?.eObservationFlights === 0; else eObservationFlightsBlock">
        <no-data></no-data>
    </div>
    <ng-template #eObservationFlightsBlock>
        <div  class="rotation-info">
          <ion-grid><ion-row><ion-col col-1 class="rotation-number">{{eObservation?.rotationNumber}}</ion-col>
            <ion-col col-2>{{eObservation?.rotationDate | date: 'dd/MM/yyyy' : 'UTC'}} </ion-col>
            <ion-col col-3><span ><ion-radio disabled="true" checked="{{eObservation?.rotationDegraded}}" value="{{eObservation?.rotationDegraded}}"></ion-radio>
              <label>{{ 'EOBSERVATION.DETAILS.DEGRADED_CONDITIONS' | translate }}</label></span></ion-col>
            <ion-col col-6 ></ion-col>
          </ion-row></ion-grid>
        </div> 
        <ion-grid class="rotation-grid">
            <ion-row class="flight-header">
                <ion-col col-1>{{ 'EOBSERVATION.DETAILS.FLIGHT_NUMBER' | translate }}</ion-col>
                <ion-col col-2>{{ 'EOBSERVATION.DETAILS.FLIGHT_DATE' | translate }}</ion-col>
                <ion-col col-3>{{ 'EOBSERVATION.DETAILS.STOP_STATION' | translate }}</ion-col>
                <ion-col col-1>{{ 'EOBSERVATION.DETAILS.AIRCRAFT_TYPE' | translate }}</ion-col>
                <ion-col col-2>{{ 'EOBSERVATION.DETAILS.VERSION' | translate }}</ion-col>
                <ion-col col-2>{{ 'EOBSERVATION.DETAILS.OCCUPANCY_RATE' | translate }}</ion-col>
                <ion-col col-1>{{ 'EOBSERVATION.DETAILS.WORKSTATION' | translate }}</ion-col>
            </ion-row>
            <ion-row *ngFor="let eObservationFlight of eObservation?.eobservationFlights">
                <ion-col col-1>{{eObservationFlight?.flightNumber}}</ion-col>
                <ion-col col-2><span *ngIf="eObservationFlight?.flightDate">{{eObservationFlight?.flightDate | date: 'dd/MM/yyyy' : 'UTC'}}</span></ion-col>
                <ion-col col-3>{{eObservationFlight?.departureStation}} / {{eObservationFlight?.arrivalStation}}</ion-col>
                <ion-col col-1>{{eObservationFlight?.aircraftType}}</ion-col>
                <ion-col col-2>{{eObservationFlight?.exploitationVersion}}</ion-col>
                <ion-col col-2>{{eObservationFlight?.occupancyRate}}</ion-col>
                <ion-col col-1>{{eObservationFlight?.workStation}}</ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>
</mat-expansion-panel>

<mat-expansion-panel *ngFor="let eObservationTheme of itemsSortedByTheme">
  <mat-expansion-panel-header class="block-header-label" [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="false">
      {{eObservationTheme.referentialTheme.label}}
  </mat-expansion-panel-header>
  <div *ngIf="eObservationTheme.eObservationItems === null || eObservationTheme.eObservationItems.length === 0; else eObservationItemsBlock">
      <no-data></no-data>
  </div>
  <ng-template #eObservationItemsBlock>
      <ion-grid>
          <ion-row *ngFor="let eObservationItem of eObservationTheme.eObservationItems">
              <ion-col col-11 class="itemLabel"> {{eObservationItem.refItemLevel.item.label}}</ion-col>
              <ion-col col-1 class="symbol"> <color-number-dot [numberText]="getLevelLabel(eObservationItem.refItemLevel.level)"></color-number-dot><question-symbol></question-symbol>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ng-template>
</mat-expansion-panel>

<!--ion-grid class="exercise-list">
  <ion-row *ngFor="let exercise of evaluationSheet?.exercises" [ngClass]="{'title':exercise?.title, 'exercise':!exercise?.title}">
      <ion-col col-8>{{ exercise.label }}</ion-col>
      <ng-container *ngIf="!exercise?.title">
          <ion-col col-1 [innerHTML]="exercise?.e1 | replaceByPoint"></ion-col>
          <ion-col col-1 [innerHTML]="exercise?.e2 | replaceByPoint"></ion-col>
          <ion-col col-1 [innerHTML]="exercise?.fc | replaceByPoint"></ion-col>
          <ion-col col-1 [innerHTML]="(!exercise?.e1 && !exercise?.e2 && !exercise?.fc) | replaceByPoint"></ion-col>
      </ng-container>
  </ion-row>
</ion-grid-->
</ion-content>
