page-eobservation-details {

    $border-grid: 1px solid color($colors-secondary, grey75);
    $block-border-radius: 5px;

    ion-grid.rotation-grid {
        .flight-header {
            color: color($colors-secondary, blue55);
        }

        ion-row {
            ion-col:first-child {
                padding-left: 24px;
            }
        }

        ion-row:first-child {
            border-top: $border-grid;
            border-bottom: $border-grid;
        }

        ion-col {
            border-right: $border-grid;
        }

        ion-row:nth-child(even) {
            background: color($colors-secondary, grey95);
        }

        ion-col:last-child {
            border: initial;
        }
    }

    .speciality-grid {
        padding: 0px;
        margin-bottom: 16px;
        box-sizing: border-box;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        border-radius: $block-border-radius;
        background: color($colors, white);

        .grid {
            padding: initial;
        }
    }

    .speciality-header {
        height: 32px;
        padding-right: 24px;
        padding-left: 24px;
        background: color($colors-secondary, blue55);
        color: color($colors, white);
        font-size: 18px !important;
        border-radius: $block-border-radius;
        display: flex;
        align-items: center;
    }

    .speciality-label {
        padding-left: 24px;
        background: color($colors, white);

        ion-col {
            background: color($colors, white);
        }

        .assignment {
            padding-right: 15px;
        }
    }

    .button-bar {
        margin-top: 10px;
    }

    .information-message {
        text-align: left;
    }

    .item-inner {
        border: none !important;
    }
}
