$block-border-radius: 5px;

.speciality-line {
    margin-left: 24px;
    display: flex;
    width: 100%;

    .label {
        padding-right: 10px;
        color: var(--ion-color-blue55);
        font-weight: bold;
        width: 50%;
    }

    .value {
        padding: 10px;
        width: 50%;
        font-weight: normal;
    }
}

.button-bar {
    margin-top: 10px;
}

.information-message {
    text-align: left;
}

.item-inner {
    border: none !important;
}
