page-eobservation-details {

    .tooltipContent {
        background: color($colors, white);
        color: color($colors, primary);
    }

    .rotation-number {
        color: color($colors, blue55);
    }

    .rotation-info {
        display: flex;
        justify-content: flex-start;
    }

    .degraded-rotation {
        display: flex;
        justify-content: space-evenly;
    }

    ion-grid.rotation-grid {
        .flight-header {
            color: color($colors, blue55);
        }
        ion-col {
            border: 1px solid color($colors, grey75);
        }
        ion-row:nth-child(even) {
            background: color($colors, grey90);
        }
    }

    .state-block {
        height: 48px;
        padding: 24px;
        display: flex;
        justify-content: space-between;
        background: color($colors, bluegrey3);
        color : color($colors, white);
        border-radius: 5px;
        align-items: center;
    }

    .speciality-grid {
        padding: 0px;
        margin-bottom : 16px;
    }

    .speciality-header {
        height: 48px;
        padding: 24px;
        background: color($colors, blue55);
        color: color($colors, white);
        font-size: 18px !important;
        border-radius: 5px;
        display: flex;
        align-items: center;
    }

    .speciality-label {
        padding-left: 24px;
        border-right: 2px solid color($colors, grey75);
        border-left: 2px solid color($colors, grey75);
        border-bottom: 2px solid color($colors, grey75);
        background: color($colors, white);

        ion-col {
            background: color($colors, white);
        }

        .assignment {
            padding-right: 15px;
        }
    }


}