page-eobservation-details {

    .mat-expansion-panel {
        margin-bottom: 16px;
        margin-top: 0px;
        border-radius: 5px;
    }

    mat-expansion-panel-header {
        background: color($colors, blue55);
        color: color($colors, white);
        font-size: 18px !important;
        border-radius: 5px;

        &.mat-expanded:hover,
        &.mat-expanded:focus,
        &.mat-expanded {
            background: color($colors, blue55)  !important;
            color: color($colors, white);
            height: 32px;
        }

    }

    .mat-expansion-panel-body {
        padding: 0px 0px 0px 0px;

        ion-grid {
            padding: 0px;
            ion-col.itemLabel{
                text-align: justify;
            }

            ion-col.symbol{
                display: flex;
                justify-content: space-evenly;
            }
        }
        
    }

    .tooltipContent {
        background: color($colors, white);
        color: color($colors, primary);
    }

    ion-row:nth-child(even) {
        background: color($colors, grey90);
    }

    .itemLabel:nth-child(even) {
        border-right: 2px solid color($colors, white);
    }
    .itemLabel:nth-child(odd) {
        border-right: 2px solid color($colors, grey75);
    }

    .rotation-number {
        color: color($colors, blue55);
    }

    .rotation-info {
        display: flex;
        justify-content: flex-start;
    }

    .degraded-rotation {
        display: flex;
        justify-content: space-evenly;
    }

    ion-grid.rotation-grid {
        .flight-header {
            color: color($colors, blue55);
        }
        ion-col {
            border: 1px solid color($colors, grey75);
        }
    }
}