@import '../../../../../theme/colors.scss';

::ng-deep mat-expansion-panel {
    border-radius: 5px;

    mat-expansion-panel-header {
        color: var(--ion-color-white);
        font-weight: bold !important;
        background: var(--ion-color-primarylight);
        border-radius: 5px;

        &>.mat-expansion-indicator {
            display: flex;
            transition: all linear 200ms;
        }

        &.mat-expansion-panel-header {
            padding: 8px 10px;
        }

        &.mat-expanded:hover,
        &.mat-expanded:focus,
        &.mat-expanded {
            background: var(--ion-color-primarylight) !important;
            border-radius: 5px;
        }
    }

    .mat-expansion-panel-body {
        margin: 0;
        padding: 0;

        ul.question-list {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                padding: 5px;

                &:not(:last-child) {
                    border-bottom: 1px solid var(--ion-color-grey70);
                }
            }

            li:last-child {
                border-radius: 0 0 5px 5px;
            }

            li:nth-child(odd) {
                background: color($colors-secondary, grey95);
            }
        }
    }
}