logbook-edit {

    .item-md.item-block .item-inner {
        border-bottom: initial;
    }

    .item-ios.item-block .item-inner {
        border-bottom: initial;
    }

    .horizontal-items-in-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        ion-item {
            width: auto;
        }

        .event-date {
            flex-grow: 4;
            ion-label {
                flex: initial;
            }
        }
        .event-checkbox {
            flex-grow: 1;
            text-align: end;
        }

        .item.item-md .checkbox-md {
            position: static;
            display: block;
            margin: 9px 15px 9px 4px;
        }
        .item-md.item-block .item-inner {
            border-bottom: initial;
        }
        .item.item-ios .checkbox-ios {
            position: static;
            display: block;
            margin: 9px 15px 9px 4px;
        }
        .item-ios.item-block .item-inner {
            border-bottom: initial;
        }
    }

    .col {
        padding: 0px;
    }
    .category {
        width: 255px;

        ion-select {
            padding-left: 5px;
        }
    }

    ion-textarea.big-textarea {
        min-height: 210px !important;
        padding: 0 !important;
        margin: 0 !important;
        textarea {
            min-height: 190px !important;
            padding: 5px !important;
        }
    }

}

.popover-md .popover-content {
    width: 255px;
}

.popover-ios .popover-content {
    width: 255px;
}
