h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    margin: 0;
    padding: 16px 0;
    color: var(--ion-color-secondary);

    .reinit-button {
        --box-shadow: none;

        ion-label {
            color: var(--ion-color-primary);
        }
    }
}

.pnc-autocomplete {
    border-bottom: 1px solid var(--ion-color-grey72);
}

.function-workrate-taf-container {
    justify-content: space-between;
}

.filter-container {
    margin-bottom: 16px;

    ion-checkbox {
        margin-left: 10px;
    }

    .sector {
        padding: 0px 5px;
    }

    .taf {
        display: flex;
        align-items: flex-end;
        margin-left: 10px;

        ion-checkbox {
            margin-left: 23px;
        }
    }

    .work-rate {
        margin-left: 5px;
    }

    .checkbox-container {
        padding-bottom: 2px;

        ion-label {
            display: flex !important;
            align-items: center;
        }

        ion-item {
            height: 45px;
            width: 100%;
        }

        .prioritized,
        .at-least-one-career-objective {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            border-radius: 100%;
            height: 25px;
            width: 25px;
            border: 3px solid;
        }

        .prioritized {
            color: var(--ion-color-secondary);
            border-color: var(--ion-color-secondary);
        }

        .at-least-one-career-objective {
            color: var(--ion-color-primary);
            border-color: var(--ion-color-primary);
        }

        .prioritized:before,
        .at-least-one-career-objective:before {
            font-size: 1.5em;
        }
    }

}

.button-container {
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: var(--ion-color-primary-contrast);
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 2;

    .search-button {
        ion-label {
            color: var(--ion-color-white);
        }
    }
}

::ng-deep pnc-autocomplete {
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
}

// Checkbox
::ng-deep div.checkbox-container {
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;
    }
}

::ng-deep mat-expansion-panel {
    background: var(--ion-color-white);
    margin: 15px 0 !important;

    .mat-expansion-panel-header.mat-expanded:focus,
    .mat-expansion-panel-header.mat-expanded:hover {
        background: var(--ion-color-primary);
    }

    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    mat-expansion-panel-header {
        background: var(--ion-color-primary);

        &.filter-header {
            color: var(--ion-color-white);
            margin-bottom: 10px;
            padding: 0 15px 0 5px;
        }

    }
}

.assignment-block {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    & > div {
        flex: 1;
    }

    & > div:not(:first-child) {
        margin-left: 5px;
    }

}


mat-select{
    padding: 10px; 
} 
  
ion-select {
    padding: 0px 8px 0px !important;
}

.vertical-radio-group {
    display: flex;
    flex-direction: column;
}

::ng-deep {  
   
    /* Target the radio button when checked */
.mat-mdc-radio-button.mat-accent.mat-mdc-radio-checked .mdc-radio__outer-circle {
    border-color: #ab004d !important;
  }
  
  .mat-mdc-radio-button.mat-accent.mat-mdc-radio-checked .mdc-radio__inner-circle {
    border-color: #ab004d !important;
  }
  
  /* Target the radio button when unchecked */
  .mat-mdc-radio-button.mat-accent .mdc-radio__outer-circle {
    border-color: rgba(171, 0, 77, 0.54) !important; /* Use an alpha channel for unchecked state */
  }
  
  /* Target the ripple effect */
  .mat-mdc-radio-button.mat-accent .mat-ripple-element {
    background-color: rgba(171, 0, 77, 0.12) !important;
  }
  
  /* Ensure the color doesn't change on hover or focus */
  .mat-mdc-radio-button.mat-accent:hover .mdc-radio__outer-circle,
  .mat-mdc-radio-button.mat-accent.cdk-focused .mdc-radio__outer-circle {
    border-color: #ab004d !important;
  } 
  }

/* SCSS Styles */
.custom-radio {
    display: inline-block;
    position: relative;
    width: 16px;   /* Adjust the size as needed */
    height: 16px;
    margin-right: 8px;   /* Spacing between the radio and the text */
    border: 2px solid #ab004d;   /* Circle border color */
    border-radius: 50%;   /* Make it circular */
    vertical-align: middle;
    transition: border-color 0.2s ease;
  }
  
  .custom-radio::after {
    content: '';
    position: absolute;
    top: 50%;  
    left: 50%;  
    width: 8px;   /* Inner circle size (half of outer circle) */
    height: 8px;
    background-color: transparent; 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s ease;
  }
  
  .custom-radio.checked {
    border-color: #ab004d;   /* Change border color when checked */
  }
  
  .custom-radio.checked::after {
    background-color: #ab004d;   /* Fill inner circle when checked */
  }
     
  /* Optional: Style the mat-option on hover */
  mat-option:hover .custom-radio {
    border-color: #ab004d;   /* Change border color on hover */
  }
  
   