<form #form="ngForm" *ngIf="searchForm" novalidate [formGroup]="searchForm">
    <div class="pnc-search elevation-2">
        <div class="header clickable" (click)="toggleFilter()" [ngClass]="{'opened' : showFilter}">
            <h3>{{ 'PNC_SEARCH.CRITERIA.FILTERS' | translate }}</h3>
            <span [ngClass]="inactiveFiltersLabelClass() ">* Filtres inactifs hors connexion</span>
            <ion-icon name="arrow-dropdown"></ion-icon>
        </div>
        <div class="content flex" [ngClass]="{'opened' : showFilter}">

            <div class="input-container flex flex9 column">
                <div class="flex">
                    <div class="flex6 ion-padding-top">
                        <!-- PNC -->
                        <pnc-autocomplete (onSelectPnc)="openPncHomePage($event)" [ngModelOptions]="{standalone: true}">
                        </pnc-autocomplete>
                    </div>
                    <div class="flex flex5 align-self-center">
                        <ion-button (click)="initForm()" class="clear-pnc-button" [disabled]="clearButtonIsDisabled()"
                            color="primary" fill="outline">
                            <ion-icon name="trash"></ion-icon>
                            {{ 'PNC_SEARCH.REINIT_FILTERS' | translate }}
                        </ion-button>
                    </div>
                    <div class="flex flex1 align-self-center">
                        <ion-button (click)="search()" class="search-pnc-button" color="primary">
                            <ion-icon name="refresh"></ion-icon>
                        </ion-button>
                    </div>
                </div>

                <div class="flex select-list">
                    <!-- Division -->
                    <div class="flex1">
                        <ion-label position="floating">{{ 'PNC_SEARCH.CRITERIA.DIVISION' | translate }}
                        </ion-label>
                        <ion-select interface="popover" [compareWith]="compareFn" formControlName="divisionControl"
                            [disabled]="areFiltersDisabled()"
                            [placeholder]="('PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate )">
                            <ion-select-option *ngIf="!divisionList || divisionList.length != 1" [value]="valueAll">
                                {{ 'PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate }}
                            </ion-select-option>
                            <ion-select-option *ngFor="let division of divisionList" [value]="division.code">
                                {{division.code}}
                                <ng-container *ngIf="division.longCode"> - {{division.longCode}}
                                </ng-container>
                            </ion-select-option>
                        </ion-select>
                    </div>
                    <!-- Secteur -->
                    <div class="flex1">
                        <ion-label position="floating">{{ 'PNC_SEARCH.CRITERIA.SECTOR' | translate }}
                        </ion-label>
                        <ion-select interface="popover" [compareWith]="compareFn" formControlName="sectorControl"
                            [disabled]="areFiltersDisabled()"
                            [placeholder]="('PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate )">
                            <ion-select-option *ngIf="!sectorList || sectorList.length != 1" [value]="valueAll">
                                {{ 'PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate }}
                            </ion-select-option>
                            <ion-select-option *ngFor="let sector of sectorList" [value]="sector.code">
                                {{sector.code}}</ion-select-option>
                        </ion-select>
                    </div>
                    <!-- Ginq -->
                    <div class="flex1">
                        <ion-label position="floating">{{ 'PNC_SEARCH.CRITERIA.GINQ' | translate }}
                        </ion-label>
                        <ion-select interface="popover" [compareWith]="compareFn" formControlName="ginqControl"
                            [disabled]="areFiltersDisabled()"
                            [placeholder]="('PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate )">
                            <ion-select-option *ngIf="!ginqList || ginqList.length != 1" [value]="valueAll">
                                {{ 'PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate }}
                            </ion-select-option>
                            <ion-select-option *ngFor="let ginq of ginqList" [value]="ginq.code">
                                {{ginq.code}}</ion-select-option>
                        </ion-select>
                    </div>
                    <!-- Grade -->
                    <div class="flex1">
                        <ion-label position="floating">
                            {{ 'PNC_SEARCH.CRITERIA.SPECIALITY' | translate }}</ion-label>
                        <ion-select interface="popover" [compareWith]="compareFn" formControlName="specialityControl"
                            [disabled]="areFiltersDisabled()"
                            [placeholder]="('PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate )">
                            <ion-select-option *ngIf="!specialityList || specialityList.length != 1" [value]="valueAll">
                                {{ 'PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate }}
                            </ion-select-option>
                            <ion-select-option *ngFor="let specialityKey of specialityList" [value]="specialityKey">
                                {{specialityKey}}</ion-select-option>
                        </ion-select>
                    </div>
                    <!-- Spécialisation avion -->
                    <div class="flex1">
                        <ion-label position="floating">
                            {{ 'PNC_SEARCH.CRITERIA.AIRCRAFT_SKILL' | translate }}</ion-label>
                        <ion-select interface="popover" [compareWith]="compareFn" formControlName="aircraftSkillControl"
                            [disabled]="areFiltersDisabled()"
                            [placeholder]="('PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate )">
                            <ion-select-option *ngIf="!aircraftSkillList || aircraftSkillList.length != 1"
                                [value]="valueAll">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate }}
                            </ion-select-option>
                            <ion-select-option *ngFor="let aircraftSkillKey of aircraftSkillList"
                                [value]="aircraftSkillKey">{{aircraftSkillKey}}</ion-select-option>
                        </ion-select>
                    </div>
                    <!-- Relais -->
                    <div class="flex1">
                        <ion-label position="floating">{{ 'PNC_SEARCH.CRITERIA.RELAY' | translate }}
                        </ion-label>
                        <ion-select interface="popover" [compareWith]="compareFn" formControlName="relayControl"
                            [disabled]="areFiltersDisabled()"
                            [placeholder]="('PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate )">
                            <ion-select-option *ngIf="!relayList || relayList.length != 1" [value]="valueAll">
                                {{ 'PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate }}
                            </ion-select-option>
                            <ion-select-option *ngFor="let relay of relayList" [value]="relay.code">
                                {{relay.code}}
                                <ng-container *ngIf="relay.label"> - {{relay.label}}</ng-container>
                            </ion-select-option>
                        </ion-select>
                    </div>
                </div>
                <div class="checkbox-jdb-container">
                    <ion-item lines="none">
                        <ion-label>{{ 'PNC_SEARCH.CRITERIA.LOGBOOK_EVENTS' | translate }}:</ion-label>
                    </ion-item>
                    <!-- Des évènements masqués volontairement -->
                    <ion-item lines="none">
                        <ion-label>{{ 'PNC_SEARCH.CRITERIA.HIDDEN_EVENTS' | translate }}</ion-label>
                        <ion-checkbox slot="start" [(ngModel)]="defaultHiddenEvents"
                            formControlName="hasHiddenEventsControl">
                        </ion-checkbox>
                    </ion-item>
                    <!-- Des évènements masqués par défaut-->
                    <ion-item lines="none">
                        <ion-label>{{ 'PNC_SEARCH.CRITERIA.DEFAULT_HIDDEN_EVENTS' | translate }}</ion-label>
                        <ion-checkbox slot="start" [(ngModel)]="HiddenEvents"
                            formControlName="hasDefaultHiddenEventsControl">
                        </ion-checkbox>
                    </ion-item>
                </div>

            </div>

            <div class="checkbox-container flex flex3 column justify-end">
                <!-- Prioritaire -->
                <ion-item lines="none">
                    <ion-label>{{ 'PNC_SEARCH.CRITERIA.PRIORITIZED' | translate }} <span
                            class="edospnc-flag prioritized"></span></ion-label>
                    <ion-checkbox slot="start" [(ngModel)]="prioritized" [disabled]="noPriority || areFiltersDisabled()"
                        formControlName="prioritizedControl"></ion-checkbox>
                </ion-item>
                <!-- En cours -->
                <ion-item lines="none">
                    <ion-label>{{ 'PNC_SEARCH.CRITERIA.PRIORITY_IN_PROGRESS' | translate }}<span
                            class="edospnc-flag at-least-one-priority"></span></ion-label>
                    <ion-checkbox slot="start" [(ngModel)]="priority" [disabled]="noPriority || areFiltersDisabled()"
                        formControlName="hasAtLeastOnePriorityInProgressControl"></ion-checkbox>
                </ion-item>
                <!-- Pas de priorité -->
                <ion-item lines="none">
                    <ion-label>{{ 'PNC_SEARCH.CRITERIA.NO_PRIORITY' | translate }}</ion-label>
                    <ion-checkbox slot="start" [(ngModel)]="noPriority"
                        [disabled]="prioritized || priority || areFiltersDisabled()"
                        formControlName="hasNoPriorityControl">
                    </ion-checkbox>
                </ion-item>
            </div>
        </div>
    </div>
</form>