$padding-left-ion-select: 5px;
$margin-top-autocomplete: 15px;
$top-autocomplete-field: 18px;

pnc-search-filter {

    .pnc-search-card {

        margin: 0 0 20px 0;
        border-radius: 4px;
        width: 100%;

        ion-card-header {
            height: 50px;
            display: flex;
            justify-content: space-between;
        }

        ion-card-header {
            ion-icon {
                transform: rotate(180deg);
            }
        }

        ion-card-header.opened {
            ion-icon {
                transform: rotate(0deg);
            }
        }

        .auto-complete-spinner {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;

            &.spinner-ios {
                top: 2.4em;
                right: 2.4em;
            }

        }

        ion-card-content {
            max-height: 0;
            transition: max-height 500ms;
        }

        ion-card-content.opened {
            max-height: 220px;
            transition: max-height 500ms;
        }

        .select-text {
            padding-left: $padding-left-ion-select;
        }

        ion-row {
            flex: 1;
        }

        .card-content {
            padding: 0;
        }

        .header-container {
            display: flex;
            align-items: center;
        }

        .clear-pnc {
            width: 100%;
        }
        .button-md {
            margin-top: $margin-top-autocomplete;

        }

        .button-ios {
            margin-top: $top-autocomplete-field;
        }
        .small-width-devices {
            .row {
                align-items: initial;
                ion-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
            .clear-pnc-form {
                margin: 0;
                margin-top: 45px;
                height: 40px;
                width: 100%;
            }

            .clear-button {
                display: flex;
                align-content: center;
                align-items: baseline;
                margin: auto;
                padding: auto;
            }
            form {
                .label-ios {
                    margin: 0;
                }
            }
        }


        .search-pnc {
            width: 100%;
        }

        .hide-label {
            font-size: smaller;
            opacity: 0;
            transition: visibility 0s linear 2000ms,
                opacity 2000ms;
        }

        .show-label {
            font-size: smaller;
            transition: visibility 0s linear 0s,
                opacity 2000ms;
        }

        ion-row.filters-row {
            ion-col {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }

        form {
            .label-inactive-filters {
                color: color($colors, grey20);
                font-weight: bold;
                display: flex;
                flex-direction: column;
                justify-content: right;
                align-items: right;
                text-align: right;
            }

            .label-md {
                margin: 0;
            }
        }

        // Checkbox
        .checkbox-container {
            padding-bottom: 2px;

            .item-checkbox {
                &.item-block {
                    min-height: 20%;
                    align-self: flex-end !important;
                }

                .label {
                    margin: 0;
                    display: flex;
                    align-items: center;

                    .prioritized,
                    .at-least-one-priority {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-left: 10px;
                        border-radius: 100%;
                        height: 25px;
                        width: 25px;
                        border: 3px solid;
                    }

                    .prioritized {
                        color: color($colors, secondary);
                        border-color: color($colors, secondary);
                    }

                    .at-least-one-priority {
                        color: color($colors, primary);
                        border-color: color($colors, primary);
                    }

                    .prioritized:before,
                    .at-least-one-priority:before {
                        font-size: 1.5em;
                    }
                }

                .checkbox {
                    margin-right: 3px;
                    padding-right: 3px;
                    margin-left: 0px;
                    padding-left: 0px;
                }
            }
        }
    }

}



.list ion-item {
    ion-label {
        padding-left: $padding-left-ion-select;
    }
}

.popover-md .popover-content {
    overflow: auto !important;
}