.notification-card-container {
    background: var(--ion-color-grey90);
    color: var(--ion-color-grey10);
    border-radius: 4px;
    height: 70px;

    .checkbox-container {
        display: flex;
        width: 40px;
        height: 100%;
        justify-content: center;
        align-items: center;
        float: left
    }

    .notification-content {
        float: left;
        padding: 13px 16px 13px 0;
        width: calc(100% - 40px);

        .notification-infos {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;

            .concerned-pnc-infos {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .metadata-container {
                display: flex;
                justify-content: space-between;
                min-width: 280px;
                margin-left: 10px;

                ion-badge {
                    width: 180px;
                    background: transparent;
                    color: var(--ion-color-primary);
                    border: 1px solid var(--ion-color-primary);
                }
            }

        }

        .notification-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

    }
}

.unread {
    background: var(--ion-color-white);

    .notification-title {
        font-weight: bold;
        color: var(--ion-color-primary);
    }

    ion-badge {
        background: var(--ion-color-white);
    }
}
