.notification-card-container {
    background: var(--ion-color-white);
    color: var(--ion-color-grey10);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
        0 2px 2px 0 rgba(0, 0, 0, .14),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    height: 70px;

    .checkbox-container {
        display: flex;
        width: 40px;
        height: 100%;
        justify-content: center;
        align-items: center;
        float: left
    }

    .notification-content {
        float: left;
        padding: 13px 16px 13px 0;
        width: calc(100% - 40px);

        .notification-infos {
            display: flex;
            justify-content: space-between;
            margin-bottom: 5px;

            .concerned-pnc-infos {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .metadata-container {
                display: flex;
                justify-content: space-between;
                min-width: 210px;
                margin-left: 10px;

                ion-badge {
                    width: 120px;
                    background: var(--ion-color-grey40);
                }
            }

        }

        .notification-title {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

    }
}

.unread {
    .notification-title {
        font-weight: bold;
        color: var(--ion-color-primary-shade);
    }

    .logbook {
        background: var(--ion-color-blue70) !important;
    }

    .eobs {
        background: var(--ion-color-warning-tint) !important;
    }

    .congratulation_letter {
        background: var(--ion-color-secondary-tint) !important;
    }

    .career_objective {
        background: var(--ion-color-success-tint) !important;
    }

    .waypoint {
        background: var(--ion-color-success-tint) !important;
    }

    .professional_interview {
        background: var(--ion-color-tertiary-tint) !important;
    }

    .hr_document {
        background: var(--ion-color-green50-tint) !important;
    }
}
