<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="false">
            {{ 'ADMIN.PROFILE_MANAGEMENT.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-col>
                    <ion-item *ngFor="let userProfile of userProfiles">
                        <label>{{ userProfile.name }}</label>
                        <button ion-fab mini icon-only item-end (click)="goToPermissionManagement(userProfile.name)">
                            <ion-icon name="unlock" ios="md-unlock"></ion-icon>
                        </button>
                    </ion-item>
                </ion-col>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>{{ 'ADMIN.PERMISSION_MANAGEMENT.HEADER.PERMISSION_HEADER' | translate }}
                            </ion-label>
                            <ion-label item-right>
                                {{ 'ADMIN.PERMISSION_MANAGEMENT.HEADER.AUTORISATION_HEADER' | translate }}</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item *ngFor="let permission of allPermissions">
                                <ion-label left> {{ permission.name }} </ion-label>
                                <ion-checkbox [(ngModel)]="permission.checked" [checked]="permission.checked" item-right
                                    secondary>
                                </ion-checkbox>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <button ion-button (click)="updatePermissions()">
                    {{ 'ADMIN.PERMISSION_MANAGEMENT.BUTTON.UPDATE' | translate }}
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>