<ion-header>
    <ion-navbar>
        <ion-title>{{ 'ADMIN.PROFILE_MANAGEMENT.TITLE' | translate }}</ion-title>
    </ion-navbar>
    <tab-nav [mode]="TabNavModeEnum.ADMIN"></tab-nav>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <!-- Header du tableau -->
            <ion-col>
                <ion-item>
                    <ion-label class="tab-header">{{ 'ADMIN.PROFILE_MANAGEMENT.HEADER.PROFILE_HEADER' | translate }}
                    </ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label class="tab-header">
                        {{ 'ADMIN.PROFILE_MANAGEMENT.HEADER.PERMISSION_HEADER' | translate }}
                        <span *ngIf="selectedProfile != null;"> - </span> {{ selectedProfile }}
                    </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <!-- Liste des profils -->
            <ion-col>
                <edossier-spinner *ngIf="userProfiles == undefined; else ProfileListBlock "></edossier-spinner>
                <ng-template #ProfileListBlock>

                    <ion-item class="profil-list" *ngFor="let userProfile of userProfiles" (click)="goToPermissionManagement(userProfile.name)">
                        <div class="input-group">
                            <input type="radio" name="profileName" id="{{userProfile.name}}" />
                            <label for="{{userProfile.name}}">{{ userProfile.name }}</label>
                        </div>
                    </ion-item>
                </ng-template>
            </ion-col>
            <!-- Permissions d'un profil -->
            <ion-col>
                <ion-label *ngIf="allPermissions == null; else permissionListBlock">
                    {{ 'ADMIN.PROFILE_MANAGEMENT.LABEL' | translate }}</ion-label>
                <ng-template #permissionListBlock>
                    <ion-list>
                        <ion-item *ngFor="let permission of allPermissions">
                            <ion-label left> {{ permission.name }} </ion-label>
                            <ion-checkbox [(ngModel)]="permission.checked" [checked]="permission.checked" item-right secondary>
                            </ion-checkbox>
                        </ion-item>
                    </ion-list>
                    <button ion-button (click)="updatePermissions()">
                        {{ 'ADMIN.PROFILE_MANAGEMENT.BUTTON.UPDATE' | translate }}
                    </button>
                </ng-template>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
