tab-header {
    font-family: Excellence;
    width: 100%;
    display: flex;
    justify-content: center;
    background: color($colors, white);

    .tab-list {
        display: flex;
        overflow-x: auto;
        background: color($colors, white);
        color: color($colors, grey50);
        flex-wrap: nowrap;

        .tab {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            padding: 15px 0;
            margin: 0 30px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            border-bottom: 3px solid transparent;

            &.active,
            &:hover {
                color: color($colors, primary);
                border-bottom: 3px solid color($colors, primary);
            }

            ion-icon {
                margin-right: 10px;
            }
        }

        // Pour éviter l'absence de margin-right sur un overflow-x
        .placeholder-margin {
            flex: 0 0 1px;
        }
    }
}
