:host {
    font-family: ExcellenceBold;
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--ion-color-white);

    .tab-list {
        display: flex;
        overflow-x: auto;
        background: var(--ion-color-white);
        color: var(--ion-color-primary);
        flex-wrap: nowrap;

        .tab {
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            padding: 15px 0 15px 0;
            margin: 0 30px;
            font-size: 1.2em;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: bold;
            border-bottom: 2px solid transparent;

            &.active {
                color: var(--ion-color-secondary);
                border-bottom: 2px solid var(--ion-color-secondary);
            }

            ion-icon {
                margin-right: 10px;
            }

        }

        @media(max-width:1400px) {
            &:after {
                content: '.';
                display: block;
                width: 40px;
            }

            &:before {
                content: '>';
                display: flex;
                align-items: center;
                height: 49px;
                padding: 0 5px;
                background: var(--ion-color-white);
                position: absolute;
                right: 0px;
                font-size: 2em;

                color: var(--ion-color-primary);
            }
        }

    }
}
