:host {

    ::ng-deep {
        .eobservation-block h3 {
            color: var(--ion-color-primarydark);
        }

        .career-objective-block h3 {
            color: var(--ion-color-primarylight);
        }

        .professional-interview-block h3 {
            color: var(--ion-color-primary);
        }

        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .redactions-title {
        color: var(--ion-color-primarydark);
    }

    nav.tabs {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid var(--ion-color-grey75);
        margin-bottom: 8px;

        button {
            color: var(--ion-color-grey40);
            font-size: 1.2em;
            background: none;
            margin: 0 20px;
            padding: 20px 0 10px 0;
            border-bottom: 3px solid transparent;
        }

        button.active {
            border-bottom: 2px solid var(--ion-color-primarylight);
        }
    }

}
