<ion-header>
    <ion-navbar>
        <page-header (refreshPage)="refreshPage()" [showRefreshIcon]="true" [pnc]="pnc">
            <ng-container *ngIf="careerObjectiveLoadingIsOver()">
                <ng-container *ngIf="isCreationMode(); else editTitleBlock">
                    {{ 'CAREER_OBJECTIVE_CREATE.CREATE_TITLE' | translate }}
                </ng-container>
                <ng-template #editTitleBlock>
                    {{ 'CAREER_OBJECTIVE_CREATE.EDIT_TITLE' | translate }}
                    <ion-badge class="{{careerObjective.careerObjectiveStatus.toLowerCase()}}" *ngIf="careerObjective.careerObjectiveStatus">
                        {{ 'GLOBAL.CAREER_OBJECTIVE_STATUS.'+careerObjective.careerObjectiveStatus | translate }}
                    </ion-badge>
                </ng-template>
            </ng-container>
        </page-header>
    </ion-navbar>
    <pnc-header [pnc]="pnc"></pnc-header>
</ion-header>

<ion-content padding no-bounce>
    <form novalidate [formGroup]="creationForm">

        <edossier-spinner *ngIf="!careerObjectiveLoadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <div class="objective-container">
                <ion-scroll class="objective-form">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-12>
                                <!-- Titre -->
                                <ion-item>
                                    <ion-label floating class="required">{{ 'CAREER_OBJECTIVE_CREATE.FORM.TITLE' | translate }}</ion-label>
                                    <ion-input type="text" [(ngModel)]="careerObjective.title" formControlName="titleControl" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()" autocorrect="on"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <!-- Contexte -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.CONTEXT' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.context" formControlName="contextControl" name="context" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()" autocorrect="on"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <!-- Plan d'action -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.ACTION_PLAN' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.actionPlan" formControlName="actionPlanControl" name="actionPlan" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()" autocorrect="on"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <!-- Commentaire cadre -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.MANAGER_COMMENT' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.managerComment" formControlName="managerCommentControl" name="managerComment" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()" autocorrect="on"></ion-textarea>
                                </ion-item>
                            </ion-col>
                            <ion-col col-6>
                                <!-- Commentaire PNC -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.PNC_COMMENT' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.pncComment" formControlName="pncCommentControl" name="pncComment" autocorrect="on"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <!-- Initiateur -->
                                <ion-label stacked class="required">{{ 'CAREER_OBJECTIVE_CREATE.FORM.INITIATOR' | translate }}</ion-label>
                                <ion-list radio-group [(ngModel)]="careerObjective.initiator" formControlName="initiatorControl">
                                    <ion-item>
                                        <ion-label>{{ 'GLOBAL.PNC_ROLE.MANAGER' | translate }}</ion-label>
                                        <ion-radio [disabled]="readOnlyByUserConnected()" value="MANAGER"></ion-radio>
                                    </ion-item>

                                    <ion-item>
                                        <ion-label>{{ 'GLOBAL.PNC_ROLE.PNC' | translate }}</ion-label>
                                        <ion-radio [disabled]="readOnlyByUserConnected()" value="PNC"></ion-radio>
                                    </ion-item>
                                </ion-list>
                                <!-- Prioritaire -->
                                <ion-item>
                                    <ion-label>{{ 'CAREER_OBJECTIVE_CREATE.FORM.PRIORITIZED' | translate }}</ion-label>
                                    <ion-checkbox [disabled]="readOnlyByUserConnected()" [(ngModel)]="careerObjective.prioritized" [checked]="careerObjective.prioritized" formControlName="prioritizedControl"></ion-checkbox>
                                </ion-item>
                            </ion-col>
                            <ion-col col-6>
                                <!-- Prochaine rencontre -->
                                <ion-label stacked>{{ 'CAREER_OBJECTIVE_CREATE.FORM.NEXT_ENCOUNTER_DATE' | translate }}</ion-label>
                                <edospnc-datetime [disabled]="readOnlyByUserConnected()" [(ngModel)]="careerObjective.nextEncounterDate" [edospncFormGroup]="creationForm" edospncFormControlName="nextEncounterDateControl" [pickerOptions]="nextEncounterDateTimeOptions" [ngModelOptions]="{standalone: true}">
                                </edospnc-datetime>
                                <!-- Date de rencontre -->
                                <ion-label stacked [ngClass]="{'required' : requiredOnEncounterDay  || isEncounterDateRequired() }">{{ 'CAREER_OBJECTIVE_CREATE.FORM.ENCOUNTER_DATE' | translate }}
                                    <span *ngIf="requiredOnEncounterDay">{{ 'CAREER_OBJECTIVE_CREATE.FORM.REQUIRED_ON_ENCOUNTER_DAY' | translate }}</span>
                                </ion-label>
                                <edospnc-datetime [disabled]="readOnlyByUserConnected()" [(ngModel)]="careerObjective.encounterDate" [edospncFormGroup]="creationForm" edospncFormControlName="encounterDateControl" [pickerOptions]="encounterDateTimeOptions" [ngModelOptions]="{standalone: true}">
                                </edospnc-datetime>
                            </ion-col>
                        </ion-row>
                        <ion-row class="details">
                            <ion-col>
                                <div class="information-message align-left" *ngIf="careerObjective.creationAuthor">
                                    {{ 'CAREER_OBJECTIVE_CREATE.DETAILS.CREATED_BY' | translate }} <span class="lastname">{{careerObjective.creationAuthor.lastName}}</span> <span class="firstname">{{careerObjective.creationAuthor.firstName}}</span>
                                </div>
                                <div class="information-message align-left" *ngIf="careerObjective.lastUpdateAuthor && careerObjective.creationDate !== careerObjective.lastUpdateDate">
                                    {{ 'CAREER_OBJECTIVE_CREATE.DETAILS.UPDATED_BY' | translate }} <span class="lastname">{{careerObjective.lastUpdateAuthor.lastName}}</span> <span class="firstname">{{careerObjective.lastUpdateAuthor.firstName}}</span> {{ 'CAREER_OBJECTIVE_CREATE.DETAILS.DATE_LABEL' | translate:{date:getLastUpdateDate()} }}
                                </div>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-scroll>

                <!-- Bouton création point d'étape -->
                <ion-scroll class="waypoint-list">
                    <edossier-spinner *ngIf="!waypointsLoadingIsOver(); else waypointsBlock"></edossier-spinner>
                    <ng-template #waypointsBlock>
                        <!--liste des point d'étape-->
                        <h3>{{ 'CAREER_OBJECTIVE_CREATE.WAYPOINT_LIST_TITLE' | translate }}</h3>
                        <button (click)="goToWaypointCreate()" class="add-waypoint clickable" *ngIf="careerObjective.careerObjectiveStatus === CareerObjectiveStatus.REGISTERED">
                            <ion-icon name="ios-add-circle-outline" ios="ios-add-circle-outline"></ion-icon>
                        </button>
                        <ion-card class="waypoint clickable" *ngFor="let waypoint of waypointList" (click)="openWaypoint(waypoint.techId)">
                            <offline-indicator [object]="waypoint" type="WAYPOINT"></offline-indicator>
                            <ion-card-content>
                                <!--Si une date de rencontre existe, on l'affiche, sinon on affiche la date de création -->
                                <header>
                                    <ion-icon name="create" ios="md-create" *ngIf="waypoint.waypointStatus === WaypointStatus.DRAFT" float-right></ion-icon>
                                    <div class="value" *ngIf="waypoint.encounterDate; else lastUpdateDateBlock">
                                        {{ waypoint.encounterDate | date: 'dd/MM/yyyy'}}
                                    </div>
                                    <ng-template #lastUpdateDateBlock>
                                        <div class="value">{{ waypoint.lastUpdateDate | date: 'dd/MM/yyyy'}}</div>
                                    </ng-template>
                                </header>
                                <h4>{{ waypoint.actionPerformed }}</h4>
                            </ion-card-content>
                        </ion-card>
                    </ng-template>
                </ion-scroll>
            </div>


            <!-- Barre de boutons -->
            <div class="button-bar-right button-bar">
                <!-- Bouton sauvegarder objectif en brouillon -->
                <button ion-button color="blue60" (click)="saveCareerObjectiveDraft()" [disabled]="creationForm.invalid" *ngIf="isDraftAndCanBeModified()">
                    <ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE_DRAFT' | translate }}
                </button>
                <!-- Bouton supprimer objectif en brouillon -->
                <button ion-button color="red70" (click)="confirmDeleteCareerObjective()" *ngIf="isDraftAndCanBeDeleted()">
                    <ion-icon name="ios-trash-outline" ios="ios-trash-outline" margin-right></ion-icon>{{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.DELETE_DRAFT' | translate }}
                </button>
                <!-- Bouton supprimer objectif -->
                <button ion-button color="red70" (click)="confirmDeleteCareerObjective()" *ngIf="canBeDeleted()">
                    <ion-icon name="ios-trash-outline" ios="ios-trash-outline" margin-right></ion-icon>{{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.DELETE' | translate }}
                </button>
                <!-- Bouton sauvegarder objectif -->
                <button ion-button color="blue70" (click)="saveCareerObjectiveToRegisteredStatus()" [disabled]="creationForm.invalid" *ngIf="securityService.isManager() && careerObjectiveStatusService.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.REGISTERED)">
                    <ion-icon name="ios-download-outline" ios="ios-download-outline" margin-right></ion-icon>
                    <span *ngIf="!careerObjective.careerObjectiveStatus || careerObjective.careerObjectiveStatus === CareerObjectiveStatus.DRAFT">{{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SEND' | translate }}</span>
                    <span *ngIf="careerObjective.careerObjectiveStatus === CareerObjectiveStatus.REGISTERED">{{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.UPDATE' | translate }}</span>
                </button>
                <!-- Bouton sauvegarder commentaire pnc -->
                <button ion-button color="blue70" (click)="saveCareerObjectiveAndUpdatePncComment()" [disabled]="creationForm.invalid" *ngIf="canPncCommentBeModifiedByPnc()">
                    <ion-icon name="ios-download-outline" ios="ios-download-outline" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE' | translate }}
                </button>
                <!-- Bouton valider objectif -->
                <button ion-button color="green50" (click)="saveCareerObjectiveToValidatedStatus()" [disabled]="creationForm.invalid" *ngIf="securityService.isManager() && careerObjectiveStatusService.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.VALIDATED)">
                    <ion-icon name="md-checkmark" ios="md-checkmark" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.VALIDATE' | translate }}
                </button>
                <!-- bouton abandonner objectif  -->
                <button ion-button color="grey20" (click)="saveCareerObjectiveToAbandonedStatus()" [disabled]="creationForm.invalid" *ngIf="securityService.isManager() && careerObjectiveStatusService.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.ABANDONED)">
                    <ion-icon name="ios-log-out" ios="ios-log-out" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.ABANDON' | translate }}
                </button>
                <!-- bouton annuler statut validé d'un objectif  -->
                <button ion-button color="blue70" (click)="cancelCareerObjectiveValidation()" [disabled]="creationForm.invalid" *ngIf="securityService.isManager() && careerObjective.careerObjectiveStatus === CareerObjectiveStatus.VALIDATED">
                    <ion-icon name="ios-close-circle-outline" ios="ios-close-circle-outline" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.CANCEL_VALIDATION' | translate }}
                </button>
                <!-- bouton annuler statut abandonné d'un objectif  -->
                <button ion-button color="blue70" (click)="resumeAbandonedCareerObjective()" [disabled]="creationForm.invalid" *ngIf="securityService.isManager() && careerObjective.careerObjectiveStatus === CareerObjectiveStatus.ABANDONED">
                    <ion-icon name="ios-log-in" ios="ios-log-in" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.RESUME' | translate }}
                </button>
                <!-- Bouton sauvegarder objectif en brouillon et notifie mon instructeur -->
                <button ion-button color="blue70" (click)="confirmCreateInstructorRequest()" [disabled]="creationForm.invalid" *ngIf=" isDraftAndCanBeModified() && !securityService.isManager()">
                    <ion-icon name="ios-chatbubbles-outline" ios="ios-chatbubbles-outline" margin-right></ion-icon> {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.CREATE_INSTRUCTOR_REQUEST' | translate }}
                </button>
            </div>
        </ng-template>
    </form>
</ion-content>
