.flight-card {
    font-size: 1.3em;
    color: var(--ion-color-secondary);
    //max-width: 1200px;
    height: 70px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        padding: 10px 20px;
    }

    .flight-number {
        display: flex;
        align-items: center;

        ion-icon {
            background: var(--ion-color-secondary);
            color: var(--ion-color-white);
            margin-right: 10px;
        }
    }
}
ion-card {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background: var(--ion-color-white);
    .card-content-md {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
edospnc-expandable-block {
    .flight-informations-content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px 0px;
    }
    .label-value {
        display: flex;
        flex-direction: column;
        .label{
            // color: var(--ion-color-secondary);
            color: var(--ion-color-primarylight);
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }
        .value {
            text-align: center;
            font-weight: normal;
        }
    }
}