<ion-header>
        <ion-toolbar>
            <ion-back-button color="white" slot="start"></ion-back-button>
            <page-header  [showSettingsIcon]="true" [pnc]="pnc">
                <span *ngIf="pnc">{{ 'GLOBAL.BUSINESS_INDICATORS' | isMyPage: pnc | translate }}</span>
            </page-header>
        </ion-toolbar>
        <pnc-edossier-header [activeTab]="TabHeaderEnum.BUSINESS_INDICATORS_PAGE"></pnc-edossier-header>

    </ion-header>
    <ion-content>
        <div class="page-container">
            <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
            <ng-template #pageBlock>
                    <ion-card>
                        <ion-card-content  class="average mat-elevation-z8">
                            <div class="flight-card" *ngIf="flightDetailsCard && flightDetailsCard.flightCard">
                                <div class="flight-number">
                                    <ion-icon name="airplane" class="round-icon"></ion-icon>
                                    <span class="value">{{'GLOBAL.AF_COMPANY' | translate}}{{ flightDetailsCard.flightCard.flightNumber }}</span>
                                </div>
                                <span class="value suffix-tu">{{ flightDetailsCard.flightCard.plannedDepartureDate | date : 'dd/MM/yyyy HH:mm' :'UTC'}}</span>
                                <span class="value">{{ flightDetailsCard.flightCard.departureStation }} - {{ flightDetailsCard.flightCard.arrivalStation }}</span>
                                <span class="value">{{ 'BUSINESS_INDICATORS.ESCORE' | translate }} - {{ flightDetailsCard.flightCard.escore }}</span>
                                <span class="value">{{ 'BUSINESS_INDICATORS.FLIGHT_ACTIONS' | translate }} - {{ flightDetailsCard.flightCard.flightActionsTotalNumber }}</span>
                            </div>
                        </ion-card-content>
                    </ion-card>

                    <edospnc-expandable-block mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.FLIGHT_INFORMATIONS' | translate}}" [emptyCondition]="!flightDetailsCard && flightDetailsCard.flightInformations">
                        <div class="flight-informations-content">
                            <span class="label-value">
                                <span class="label">
                                    {{ 'BUSINESS_INDICATORS.AIRCRAFT_TYPE' | translate}}
                                </span>
                                <span class="value">
                                    {{ flightDetailsCard.flightInformations.aircraftType }}
                                </span>
                            </span>
                            <span class="label-value">
                                <span class="label">
                                    {{ 'BUSINESS_INDICATORS.EXPLOITATION_VERSION' | translate}}
                                </span>
                                <span class="value">
                                    {{ flightDetailsCard.flightInformations.exploitationVersion }}
                                </span>
                            </span>
                            <span class="label-value">
                                <span class="label">
                                    {{ 'BUSINESS_INDICATORS.PAX_VERSION' | translate}}
                                </span>
                                <span class="value">
                                    {{ flightDetailsCard.flightInformations.paxVersion }}
                                </span>
                            </span>
                            <span class="label-value">
                                <span class="label">
                                    {{ 'BUSINESS_INDICATORS.PEQ' | translate}}
                                </span>
                                <span class="value">
                                    {{ flightDetailsCard.flightInformations.peq }}
                                </span>
                            </span>
                        </div>
                    </edospnc-expandable-block>
            </ng-template>
        </div>
    </ion-content>