page-professional-level {

    .professional-level-header {
        display: flex;
        align-items: center;
        padding: 3px 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: color($colors, blue60);

        & > label {
            font-size: 18px;
            font-weight: bold;
            color: color($colors, white);
        }

        .stage-date {
            width: 120px;
        }

        .stage-code {
            width: 90px;
        }

        .stage-label {
            flex: 1;
        }

        .stage-result {
            width: 82px;
        }

        .help-tooltip {
            width: 100px;
            display: flex;
            justify-content: flex-end;
            font-size: 2em;
            color: color($colors, white);
        }
    }

    .professional-level-footer {
        padding-left: 20px;
        padding-bottom: 10px;
        box-shadow: 1px 1px 10px color($colors, grey50);

        h5 {
            margin-top: 5px;
            margin-bottom: 5px;
            font-size: 1.5rem;
            font-weight: bold;
        }

        div {
            display: inline;
        }

    }

    .sub-title-legend {
        color: color($colors, blue60);
        font-weight: bold;
    }

}
