<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            {{ 'PROFESSIONAL_LEVEL.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div class="professional-level-headers">
            <ion-grid>
                <ion-row class="professional-level-row">
                    <ion-col col-2>
                        {{ 'PROFESSIONAL_LEVEL.HEADER.DATE' | translate }}
                    </ion-col>
                    <ion-col col-1>
                        {{ 'PROFESSIONAL_LEVEL.HEADER.CODE' | translate }}
                    </ion-col>
                    <ion-col col-3>
                        {{ 'PROFESSIONAL_LEVEL.HEADER.LABEL' | translate }}
                    </ion-col>
                    <ion-col col-3>
                    </ion-col>
                    <ion-col col-2>
                        {{ 'PROFESSIONAL_LEVEL.HEADER.RESULT' | translate }}
                    </ion-col>
                    <ion-col col-1>
                        <ion-icon name="help" class="round-icon" tooltip="{{ 'PROFESSIONAL_LEVEL.HEADER.HELP' | translate }}" mobileEvent="click" positionV="bottom"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <professional-level-stage *ngIf="professionalLevel && professionalLevel.stages && professionalLevel.stages.length > 0; else noStagesBlock" [stages]="professionalLevel.stages" [matricule]="pnc.matricule"></professional-level-stage>
        <ng-template #noStagesBlock>
            <no-data></no-data>
        </ng-template>
    </ng-template>
</ion-content>
