page-professional-level {

    .professional-level-headers {
        margin-bottom: 5px;
        padding: 0px 28px 0px 24px;
        border-radius: 5px;
        background-color: color($colors, blue60);
        color: color($colors, white);
        font-weight: bolder;
        font-size: 18px;
        height: auto;
        padding-left: 0px;

        .grid {
            padding: 0px;         
        }
    }

    .professional-level-row {
        align-items: center;

        .grid {
            padding: 0px;         
        }
    }

    .card-content-md {
        padding: 0px;
    }

    ion-icon.round-icon {
        color: color($colors, blue60);
        float: right;
    }

    .col {
        padding : 5px 5px 5px 10px;
    }

    .resultTitle{
        vertical-align: -webkit-baseline-middle;
    }

}
