<mat-expansion-panel *ngIf="eObservation" [disabled]="!canOpen()">
    <mat-expansion-panel-header class="e-observation elevation-1" [expandedHeight]="matPanelHeaderHeight"
        [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        <label class="e-observation-date">{{eObservation.rotationDate | date : 'dd/MM/yyyy' : 'UTC'}}</label>
        <label class="e-observation-type">{{ getEObservationTypeLabel(eObservation.type) }}
            {{getDetailOptionType()}}</label>
        <label class="e-observation-writer">
            <span *ngIf="eObservation.redactor?.lastName">{{eObservation.redactor.lastName}} <span
                    class="firstname">{{eObservation.redactor.firstName}}</span></span>
        </label>
        <div class="e-observation-detail">
            <ion-fab-button size="small" (click)="goToEObservationDetail($event)" color="primarydark">
                <span class="edospnc-memo"></span>
            </ion-fab-button>
        </div>
        <div class="expansion-button-placeholder" *ngIf="!canOpen()">
            <!-- espace réservé au bouton d'ouverture qui disparait quand aucun écart de notation n'est présent -->
        </div>
    </mat-expansion-panel-header>
    <abnormal-level [abnormalEObservationItems]="abnormalEObservationItems"></abnormal-level>
</mat-expansion-panel>