color-status-point {
    height: $colorPointSize;
    width: $colorPointSize;
    $colorPointSize: 12px;

    .status-dot {
        height: $colorPointSize;
        width: $colorPointSize;
        border-radius: 100%;
        margin-right: 5px;
        display: inline-flex;
    }

    .green {
        background: #71D18A;
    }

    .yellow {
        background: #F5D359;
    }

    .orange {
        background: #EF9E67;
    }

    .red {
        background: #D6457C;
    }

    .grey {
        background: #D8D8D8;
    }

}
