.progress-outer {
    width: 100%;
    text-align: center;
    background-color: var(--ion-color-grey95);
    color: var(--ion-color-grey10);
    border: 1px solid #dcdcdc;
    margin-top: 10px;
}

.progress-inner {
    min-width: 30px;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    color: var(--ion-color-white);
    background-color: var(--ion-color-primary);
}
