eobs-appreciation{

    .pcbGrid{
        ion-row:nth-child(odd) {
            background: color($colors, grey90);
        }

        ion-row:nth-child(even) {
            background: color($colors, white);
        }

        .list-md .item-block .item-inner,.list-md .item-block .item-inner  {
            border-bottom: initial;
        }

        .pcbSkills{
            padding-left: 24px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;

            .skillsLabel {
                display: flex;
                flex: 1;
                width:auto;
            }
    
            .skillsValue {
                flex: 2;
                margin: initial;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width:auto;

                .list-md {
                    margin: initial;
                }
            }

        }


        radio-and-label {
            .container {
                padding-bottom: 5px;
            }
        }
    }

    .pcbStrongPoints{
        display: flex;
        align-items: center;
        height: 100%;
        ion-list {
            display: flex;
            align-items: space-around;
            flex-direction: column;
            margin: initial;

            checkbox-and-label {
                .container {
                    padding-bottom: 5px;
                }
            }
        }

    }

    .pcbSubtitle {
        ion-col:first-child {
            border-right: solid color($colors, grey75) 1px;
        }
    }

    .pcbGrid {
        ion-col:first-child {
            border-right: solid color($colors, grey75) 1px;
        }
    }

    .subThemeLabel {
        width: 100%;
        padding-left: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: color($colors, blue55);
        border-top: solid color($colors, grey75) 1px;
        border-bottom: solid color($colors, grey75) 1px;
    }
}