eobs-appreciation {

    .pcb-grid {
        ion-row:nth-child(odd) {
            background: #F1F1F1;
        }

        ion-row:nth-child(even) {
            background: color($colors, white);
        }

        .list-md .item-block .item-inner,
        .list-md .item-block .item-inner {
            border-bottom: initial;
        }

        .pcb-skills {
            padding-left: 24px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;

            .skills-label {
                display: flex;
                flex: 1;
                width: auto;
            }

            .skills-value {
                flex: 2;
                margin: initial;
                padding-left: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                width: auto;

                .list-md {
                    margin: initial;
                }
            }

        }


        radio-and-label {
            .container {
                padding-bottom: 5px;
            }
        }
    }

    .pcb-strong-points {
        display: flex;
        align-items: center;
        height: 100%;

        ion-list {
            display: flex;
            align-items: space-around;
            flex-direction: column;
            margin: initial;

            checkbox-and-label {
                .container {
                    padding-bottom: 5px;
                }
            }
        }

    }

    .pcb-subtitle {
        ion-col:first-child {
            border-right: solid #ededed 1px;
        }
    }

    .pcb-grid {
        ion-col:first-child {
            border-right: solid #ededed 1px;
        }
    }

    .sub-theme-label {
        width: 100%;
        padding-left: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: color($colors, blue55);
        border-top: solid #ededed 1px;
        border-bottom: solid #ededed 1px;
    }
}
