<edospnc-expandable-block mini="true" title="{{theme.referentialTheme.label}}" [emptyCondition]="isEmptyGrid()">
<ion-row class="pcbSubtitle">
    <ion-col  class="subThemeLabel">{{ 'EOBSERVATION.DETAILS.SKILLS' | translate }}</ion-col>
    <ion-col  class="subThemeLabel">{{ 'EOBSERVATION.DETAILS.STRONG_POINTS' | translate }}</ion-col>
</ion-row>
<ion-grid class="pcbGrid">
    <ion-row *ngFor="let subTheme of theme.subThemes">
        <!-- Aptitues Conforme / Améliorable -->
        <ion-col>
            <span class="pcbSkills" *ngIf="subTheme.eObservationItems && subTheme.eObservationItems.length === 1">
                <span class="skillsLabel">
                    {{subTheme.referentialTheme.label}} :
                </span>
                <span  class="skillsValue">
                    <ion-list lines="none">
                        <radio-and-label disabled="true"
                        [conditionValue]="subTheme.eObservationItems[0].refItemLevel.level === 'CONFORME'" 
                        label="{{ 'EOBSERVATION.DETAILS.CONFORM' | translate }}">
                        </radio-and-label>
                        <radio-and-label disabled="true"
                        [conditionValue]="subTheme.eObservationItems[0].refItemLevel.level === 'AMELIORABLE'" 
                        label="{{ 'EOBSERVATION.DETAILS.IMPROVABLE' | translate }}">
                        </radio-and-label>
                    </ion-list>
                </span>
            </span>
        </ion-col>
        <!-- Points forts -->
        <ion-col>
            <span class="pcbStrongPoints" >
                <ion-list lines="none">
                    <span *ngFor="let eObservationItem of theme.eObservationItems">
                        <div *ngIf="eObservationItem?.refItemLevel?.item?.theme?.parent?.label === subTheme?.referentialTheme?.label">
                                <checkbox-and-label disabled="true"
                                [conditionValue]="eObservationItem?.refItemLevel?.level === 'POINT_FORT'" 
                                label="{{eObservationItem?.refItemLevel?.item?.label}}"></checkbox-and-label>
                        </div>
                    </span>
                </ion-list>
            </span>
        </ion-col>
    </ion-row>
</ion-grid>
</edospnc-expandable-block>