.pcb-grid {
    .line:nth-child(odd) {
        background: var(--ion-color-grey95);
    }

    .line:nth-child(even) {
        background: var(--ion-color-white);
    }

    .pcb-skills {
        padding-left: 24px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;

        .skills-label {
            display: flex;
            flex: 1;
            width: auto;
        }

        .skills-value {
            flex: 1;
            margin: initial;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            width: auto;
        }

    }


    radio-and-label {
        .container {
            padding-bottom: 5px;
        }
    }
}

.skills-value-list {
    display: flex;
    align-items: space-around;
    flex-direction: column;
    margin: initial;

    checkbox-and-label {
        .container {
            padding-bottom: 5px;
        }
    }
}

.pcb-strong-points {
    display: flex;
    align-items: center;
    height: 100%;
}

.pcb-grid {
    .line .column-50:first-child {
        border-right: solid var(--ion-color-grey75) 1px;
    }
}
.line {
    padding-left: 24px;
}

.sub-theme-label {
    width: 100%;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--ion-color-blue55);
    border-top: solid var(--ion-color-grey75) 1px;
    border-bottom: solid var(--ion-color-grey75) 1px;
}
