.page-container {
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .objective-container {
        display: flex;
        flex: 1;

        .objective-form {
            flex: 3;

            .details {
                margin-top: 10px;
            }
        }

        .waypoint-list {
            flex: 1;

            h3 {
                text-align: center !important;
            }

            ion-button {
                margin: 0 10px;

                ion-icon {
                    font-size: 2em;
                }
            }

            .waypoint {
                display: flex;
                --background: var(--ion-color-white);

                ion-card-content {
                    width: 100%;

                    h4 {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        line-height: 18px;
                        max-height: 54px;
                        white-space: pre-line;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }

                    ion-icon {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}
