statutory-certificate-data {

    ion-grid.grid {
        border-radius: 5px;
        margin-bottom: 15px;
        padding: 0;
        box-shadow: 0px 0px 5px #d5d9de;
        background: color($colors, white);

        .title {
            background: color($colors, primary-light);
            color: color($colors, white);

            &:first-child {
                border-radius: 5px 5px 0 0;
            }
        }

        .col {
            padding-left: 15px;
        }

        .odd {
            background: #F1F1F1;
        }

        ion-row:nth-child(even) {
            background: #F1F1F1;
        }

        .statutory-certificate-data {
            color: #8B7D72;
        }

        .statutory-certificate-header {
            font-size: 1em;
            background-color: transparent !important;
            color: color($colors, primary-light);
        }

        .statutory-data-tab {
            .col {
                border-bottom: 1px solid #ededed;
                border-right: 1px solid #ededed;
            }

            .statutory-certificate-data {
                .col {
                    border-right: 1px solid #ededed;
                }
            }
        }

        .no-data-found {
            font-size: 1.1em;
            margin: 5px;
            padding: 0px;
        }
    }
}
