<ion-grid>
    <ion-row>
        <ion-col col-10 class="leg">
            <span>{{ leg.company }}{{ leg.number }}</span>
            <span>{{ leg.departureDate | date : 'dd/MM/yyyy HH:mm' }}</span>
            <span>{{ leg.departureStation }} - {{ leg.arrivalStation }}</span>
            <span>{{ leg.aircraftType }}</span>
        </ion-col>
        <ion-col col-2>
            <download-button [synchroInProgress]="synchroInProgress" (onDownload)="downloadAllFlightPncsEdossier(leg)"></download-button>
        </ion-col>
    </ion-row>
</ion-grid>
