flight-card {
    .button-synchro {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        float: right;
        width: 30px;
        height: 30px;
    }
    .leg {
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        cursor: pointer;

        span {
            display: flex;
            align-items: center;
        }
    }

    .leg:not(:first-child) {
        border-top: 2px solid color($colors, grey90);
    }

    ion-grid {
        padding: 0;
    }
}
