flight-card {
    .button-synchro {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        float: right;
        width: 30px;
        height: 30px;
    }

    .leg {
        height: 60px;
        display: flex;
        cursor: pointer;
        padding: 0;

        .leg-infos {
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
        }
    }

    .leg:not(:first-child) {
        border-top: 2px solid color($colors, grey90);
    }

    ion-grid {
        padding: 0;
    }

    .grid {
        padding: 0px;
    }
}
