<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="false" [showRefreshIcon]="false">
            {{ 'SETTINGS.LEGAL_TERMS.LABEL' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <h2>Objet du traitement (finalité et base légale):</h2>
    <p>
        Conformément à la réglementation applicable en matière de protection des données à caractère personnel, notamment les dispositions de la loi «informatique et libertés» du 6 janvier 1978 modifiée et du Règlement Général sur la Protection des Données (Règlement UE 2016/679) ou «RGPD», Air France, en qualité de responsable de traitement, vous informe que les informations recueillies dans eDOSSIER PNC font l'objet d'un traitement de données à caractère personnel.
    </p>
    <p>
        Ces données sont collectées et traitées pour restituer avec transparence l’exhaustivité des données d’activité et échéances règlementaires d’un PNC afin:
    </p>
    <ul>
        <li>de donner au PNC la transparence sur son dossier professionnel</li>
        <li>de donner aux managers PNC le contexte professionnel du PNC pour mieux l’accompagner au quotidien</li>
    </ul>
    <p>
        La base légale du traitement est l’intérêt légitime d’Air France de donner les moyens à l’encadrement PNC de renforcer l’efficacité et la performance au quotidien des personnels navigants et de contribuer à la sécurité des vols et à la sûreté (cf. article 6.1.f du Règlement Général sur la Protection des Données ou RGPD).
    </p>

    <h2>Durée de conservation des données:</h2>
    Les données sont conservées:
    <ul>
        <li>10 ans pour les formations et résultats de stages</li>
        <li>99 ans pour le dossier professionnel complet d’un PNC</li>
    </ul>

    <h2>Destinataires des données:</h2>
    <p>
        Les données sont destinées à la Direction PNC, aux cadres PNC, aux PNC ainsi qu’aux sous-traitants auxquels AIR FRANCE fait appel pour la mise en œuvre du traitement.
    </p>

    <h2>Droits des personnes:</h2>
    <p>
        Conformément à la réglementation applicable en matière de protection des données à caractère personnel, vous disposez d’un droit d’accès, de rectification, d’effacement, d’opposition et de limitation du traitement et de portabilité des données vous concernant.
        Par ailleurs, vous disposez du droit de définir des directives relatives à la conservation, à l’effacement et à la communication de vos données à caractère personnel post mortem.
    </p>
    <p>
        Pour exercer ces droits ou pour toute question sur le traitement de vos données à caractère personnel dans ce dispositif, vous pouvez adresser votre demande à votre RRH dont le contact est disponible dans les e-services RH dans l’onglet Organisation > Mes contacts utiles.
    </p>
    <p>
        Air France a désigné un Délégué à la Protection des Données, qui peut être contacté par e-mail à <strong>mail.data.protection@airfrance.fr</strong>. Vous pouvez également introduire une réclamation auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) ou de toute autre autorité compétente.
    </p>
</ion-content>
