<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            {{ 'GLOBAL.LOGBOOK' | isMyPage: pnc | translate }}
        </page-header>
    </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
    <logbook-event-create *ngIf="createLinkedEvent" [groupId]="groupId" #logbookEventCreate></logbook-event-create>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template  #pageBlock>
        <div [ngClass]="{'opaque' : createLinkedEvent}" >
            <div class="logbook-info-box selectable" *ngFor="let logbookEvent of logbookEvents">
                <div class="flex">
                    <div class="draw-ligne"></div>
                    <div class="logbook-info-date">
                        <span class="value">{{ 'LOGBOOK.DETAILS.EVENT_DATE' | translate }} {{ logbookEvent.eventDate | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="draw-ligne"></div>
                </div>
                <logbook-event-details [logbookEvent]="logbookEvent"></logbook-event-details>
            </div>
        </div>
    </ng-template>
</ion-content>
