page-logbook-event-details {

    .draw-ligne {
        margin: 22px 10px;
        border-top: 1px solid color($colors-secondary, grey70);
        flex: 2;
    }

    .logbook-info-date {
        flex: 1;
        text-align: center;
        position: relative;
        top: 14px;

        span {
            white-space: nowrap;
        }

    }
}
