page-logbook-event-details {
    .button-bar {
        position: -webkit-sticky;
        bottom: 50px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        button {
            align-self: flex-end;
            font-size: 15px;

            .ion-md-add:before,
            .ion-ios-add:before {
                font-size: 18px;
                vertical-align: middle;
            }
        }
    }
}
