<div class="container">
    <div class="summary-item">
        <label class="large-device">
            <ng-container *ngIf="!isCCLC(businessIndicatorSummary.population); else escoreAverageCcLcLabel">
                {{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ESCORE_AVERAGE_CCP_CC_MC' | translate }}
            </ng-container>
            <ng-template #escoreAverageCcLcLabel>
                {{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ESCORE_AVERAGE_CC_LC' | translate }}
            </ng-template>
        </label>
        <label class="small-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ESCORE_AVERAGE_SHORT_LABEL' | translate
            }}</label>
        <div>
            <img class="file-icon" src="assets/imgs/business-indicators/e-score.svg" />
            <span *ngIf="businessIndicatorSummary.escoreAverage === -1 else displayValueEscoreAverage"
                class="no-data"></span>
            <ng-template #displayValueEscoreAverage>
                <span class="summary-value">
                    {{ businessIndicatorSummary?.escoreAverage | number : '1.0-1' }}</span>
            </ng-template>
        </div>
    </div>

    <div class="summary-item" *ngIf="isDefined(businessIndicatorSummary?.flyingBlueAverage)">
        <label class="large-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.FLYING_BLUE_AVERAGE' | translate
            }}</label>
        <label class="small-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.FLYING_BLUE_AVERAGE_SHORT_LABEL' |
            translate }}</label>
        <div>
            <img class="file-icon" src="assets/imgs/business-indicators/flying-blue-card-colored.svg" />
            <span *ngIf="businessIndicatorSummary?.flyingBlueAverage === -1 else displayValueFlyingBlueAverage"
                class="no-data"></span>
            <ng-template #displayValueFlyingBlueAverage>
                <span class="summary-value">{{ businessIndicatorSummary?.flyingBlueAverage | number : '1.0-1' }}</span>
            </ng-template>

        </div>
    </div>

    <div class="summary-item" *ngIf="isDefined(businessIndicatorSummary?.ercAverage)">
        <label class="large-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ERC_AVERAGE' | translate }}</label>
        <label class="small-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ERC_AVERAGE_SHORT_LABEL' | translate
            }}</label>
        <div>
            <img class="file-icon" src="assets/imgs/business-indicators/erc-colored.svg" />
            <span *ngIf="businessIndicatorSummary?.ercAverage === -1 else displayValueErcAverage"
                class="no-data"></span>
            <ng-template #displayValueErcAverage>
                <span class="summary-value">{{ businessIndicatorSummary?.ercAverage | number : '1.0-1' }}</span>
            </ng-template>

        </div>
    </div>

    <div class="summary-item" *ngIf="isDefined(businessIndicatorSummary?.upgradeSum)">
        <label class="large-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.UPGRADE_SUM' | translate }}</label>
        <label class="small-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.UPGRADE_SUM_SHORT_LABEL' | translate
            }}</label>
        <div>
            <img class="file-icon" src="assets/imgs/business-indicators/upgrade.svg" />
            <span *ngIf="businessIndicatorSummary?.upgradeSum === -1 else DisplayValueUpgradeSum" class="no-data">
            </span>
            <ng-template #DisplayValueUpgradeSum>
                <span class="summary-value">{{ businessIndicatorSummary?.upgradeSum }}</span>
            </ng-template>
        </div>
    </div>

    <div class="summary-item" *ngIf="isDefined(businessIndicatorSummary?.onTimeShuttleDepartureRatio)">
        <label class="large-device">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ON_TIME_SHUTTLE_DEPARTURE_RATIO' |
            translate }}</label>
        <label class="small-device">{{
            'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ON_TIME_SHUTTLE_DEPARTURE_RATIO_SHORT_LABEL' | translate }}</label>
        <div>
            <img class="file-icon" src="assets/imgs/business-indicators/shuttle-departure.svg" />
            <span
                *ngIf="businessIndicatorSummary?.onTimeShuttleDepartureRatio === -1 else DisplayValueOnTimeShuttleDepartureRatio"
                class="no-data">
            </span>
            <ng-template #DisplayValueOnTimeShuttleDepartureRatio>
                <span class="summary-value">{{ businessIndicatorSummary?.onTimeShuttleDepartureRatio | percent : '1.0-1'
                    }}</span>
            </ng-template>
        </div>
    </div>
</div>