<ng-container *ngIf="congratulationLetters && congratulationLetters.length == 0; else listBlock">
    <div class="no-data-found" *ngIf="isMode(CongratulationLetterModeEnum.RECEIVED)">{{ 'CONGRATULATION_LETTERS.NO_RECEIVED_LETTERS' | translate }}</div>
    <div class="no-data-found" *ngIf="isMode(CongratulationLetterModeEnum.WRITTEN)">{{ 'CONGRATULATION_LETTERS.NO_WRITTEN_LETTERS' | translate }}</div>
</ng-container>

<ng-template #listBlock>
    <div class="header elevation-2">
        <label class="flight">{{ 'CONGRATULATION_LETTERS.HEADER.FLIGHT' | translate }}</label>
        <label class="type">{{ 'CONGRATULATION_LETTERS.HEADER.TYPE' | translate }}</label>
        <label class="redactor" *ngIf="isMode(CongratulationLetterModeEnum.RECEIVED)">{{ 'CONGRATULATION_LETTERS.HEADER.WRITER' | translate }}</label>
        <div class="button-placeholder">
            <!-- Bloc pour les boutons redirigeant vers le détail d'une lettre -->
        </div>
        <div class="action-placeholder" *ngIf="isManager() && isConnected()">
            <!-- Bloc pour le bouton d'actions -->
        </div>
    </div>

    <div class="congratulation-letter-list">
        <congratulation-letter-card *ngFor="let congratulationLetter of congratulationLetters" [congratulationLetter]="congratulationLetter" [mode]="mode" [pnc]="pnc"></congratulation-letter-card>
    </div>
</ng-template>
