congratulation-letter-list {
    .header {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: color($colors, blue81);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
            0 2px 2px 0 rgba(0, 0, 0, .14),
            0 1px 5px 0 rgba(0, 0, 0, .12);

        & > label {
            font-size: 1.1em;
            color: color($colors, white);
        }

        .creation-date {
            flex: 1;
        }

        .flight {
            flex: 1;
        }

        .type {
            flex: 1;
        }

        .writer {
            flex: 2;
        }

    }
}
