congratulation-letter-list {
    flex: 1;
    display: flex;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        height: 40px;
        padding: 5px 10px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: #4cc3cc;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
            0 2px 2px 0 rgba(0, 0, 0, .14),
            0 1px 5px 0 rgba(0, 0, 0, .12);

        & > label {
            font-size: 1.2em;
            font-weight: bold;
            color: color($colors, white);
        }

        .creation-date {
            flex: 1;
        }

        .flight {
            flex: 1;
        }

        .type {
            flex: 1;
        }

        .redactor {
            flex: 2;
        }

        .button-placeholder {
            width: 30px;
        }

    }

    .congratulation-letter-list {
        flex: 1;
        overflow-y: auto;
    }

    nav.tabs {
        margin-bottom: 8px;
    }
}
