<div class="header">
    <label class="creation-date">{{ 'CONGRATULATION_LETTERS.HEADER.CREATION_DATE' | translate }}</label>
    <label class="flight">{{ 'CONGRATULATION_LETTERS.HEADER.FLIGHT' | translate }}</label>
    <label class="type">{{ 'CONGRATULATION_LETTERS.HEADER.TYPE' | translate }}</label>
    <label class="writer" *ngIf="isMode(CongratulationLetterModeEnum.RECEIVED)">{{ 'CONGRATULATION_LETTERS.HEADER.WRITER' | translate }}</label>
</div>
<congratulation-letter-card *ngFor="let congratulationLetter of congratulationLetters" [congratulationLetter]="congratulationLetter" [mode]="mode"></congratulation-letter-card>
