rotation-card {
    .rotation {
        font-weight: bold;

        ion-card-header {
            height: 60px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }

        ion-card-content {
            max-height: 0;
        }

        ion-card-content.opened {
            max-height: initial;
        }

        .card-content {
            padding: 0;
        }

        .header-container {
            display: flex;
            align-items: center;

            .spinner-invisible {
                visibility: hidden;
            }
        }
    }

}
