rotation-card {
    .rotation {
        font-weight: bold;

        ion-card-header {
            height: 60px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }

        ion-card-content {
            max-height: 0;
            transition: max-height 500ms;
        }

        ion-card-content.opened {
            max-height: 600px;
            transition: max-height 500ms;
            padding: auto;
        }

        .card-content {
            padding: 0;
        }

        .leg {
            margin: 0 10px;
            display: flex;
            justify-content: space-between;
            height: 50px;
            cursor: pointer;

            span {
                display: flex;
                align-items: center;
            }
        }

        .leg:not(:first-child) {
            border-top: 2px solid color($colors, grey90);
        }
        .header-container {
            display: flex;
            align-items: center;
            ion-icon {
                font-size: 2em;
            }

            .spinner-invisible {

                visibility: hidden;
            }
        }



        .button-synchro {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            float: right;
            width: 30px;
            height: 30px;
        }
    }

}
