<ion-card class="rotation">
    <ion-card-header class="header-container" (click)="toggleRotation(rotation)">
        <span>{{ rotation.departureDate | date : 'dd/MM/yyyy' }}</span>
        <span>
        <ion-spinner *ngIf="rotation.loading" color="white"></ion-spinner>
        <ion-spinner class="spinner-invisible" *ngIf="!rotation.loading" ></ion-spinner>
        </span>
        <span>{{ rotation.number }}</span>
        <span>
            <download-button [synchroInProgress]="synchroInProgress" (onDownload)="downloadRotationPncsEdossier($event)" ></download-button>
        </span>
    </ion-card-header>
    <ion-card-content [ngClass]="{'opened' : rotation.opened}">
        <div class="leg" *ngFor="let leg of rotation.legs" (click)="goToFlightCrewListPage(leg)">
            <span>{{ leg.company }}{{ leg.number }}</span>
            <span>{{ leg.departureDate | date : 'dd/MM/yyyy HH:mm' }}</span>
            <span>{{ leg.departureStation }} - {{ leg.arrivalStation }}</span>
            <span>{{ leg.aircraftType }}</span>
        </div>
    </ion-card-content>
</ion-card>
