exit-symbol{
    width: 1.8em;
    height: 1.8em;
    background-color: color($colors,white);
    border-radius: 50%;
    color: color($colors, blue55);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid color($colors, blue55);
}