<ion-header>
    <ion-toolbar>
        <page-header>
            {{'MY_BOARD.TITLE' | translate}}
        </page-header>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-container">
        <div *ngIf="!canDisplayNotifications() else onlineBlock">{{ 'MY_BOARD.UNAVAILABLE_OFFLINE' | translate }}</div>
        <ng-template #onlineBlock>
            <edossier-spinner *ngIf="isLoading; else pageBlock"></edossier-spinner>
            <ng-template #pageBlock>
                <ng-container *ngIf="pncNotifications && pncNotifications.length > 0; else noDataBlock">
                    <ion-infinite-scroll (ionInfinite)="loadPreviousPage($event)" position="top" *ngIf="previousPageNumber >= 0">
                        <ion-infinite-scroll-content>
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                    <my-board-notifications-list [notificationList]="pncNotifications" (notificationClicked)="openNotification($event)"></my-board-notifications-list>
                    <ion-infinite-scroll (ionInfinite)="loadNextPage($event)">
                        <ion-infinite-scroll-content>
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </ng-container>

                <ng-template #noDataBlock>
                    <div class="no-data-splash">
                        <ion-icon name="speedometer"></ion-icon>
                        <span>{{ 'MY_BOARD.NO_NOTIFICATIONS' | translate }}</span>
                    </div>
                </ng-template>
            </ng-template>
        </ng-template>
    </div>
</ion-content>
