[slot="start"] {
    display: flex;
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--ion-color-grey75);
    margin-bottom: 8px;

    button {
        color: var(--ion-color-grey40);
        font-size: 1.2em;
        background: none;
        margin: 0 20px;
        padding: 20px 0 10px 0;
        border-bottom: 3px solid transparent;
    }

    button.active {
        border-bottom: 2px solid var(--ion-color-primarylight);
    }
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 300px;
    padding: 8px;
    background: var(--ion-color-white);
    box-shadow: 3px 0px 4px -2px rgba(51, 51, 51, 0.75);
}

.page-container {
    height: 100%;
}

.edospnc-filter-sharp {
    transform: scale(0.8);
}

.button-bar-container {
    background: var(--ion-color-grey98);
    width: 100%;

    .button-bar {
        max-width: 1200px;
        padding: 10px 20px;
        margin: auto;
        align-items: center;

        .left-data-container {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;

            .select-all-container {
                display: flex;
                align-items: center;

                ion-checkbox {
                    margin-left: 10px;
                    margin-right: 8px;
                }
            }

            .total-notifications,
            .total-selected-notifications {
                margin-left: 20px;
            }
        }

        .button-bar-right {
            flex: 1;
            align-self: flex-end;
        }
    }

}
