mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 300px;
    padding: 8px;
    background: var(--ion-color-white);
    box-shadow: 3px 0px 4px -2px rgba(51, 51, 51, 0.75);
}

.page-container {
    height: 100%;
}


.edospnc-filter-sharp {
    transform: scale(0.8);
}
