<ion-header>
    <ion-toolbar>
        <page-header>
            <span [hidden]="!connectivityService.isConnected()" slot="start">
                <ion-fab-button (click)="toggleFiltersMenu()" size="small" color="primarydark">
                    <ion-icon name="filter-sharp"></ion-icon>
                </ion-fab-button>

                {{ 'PNC_SEARCH.CRITERIA.FILTER' | translate }} ({{enabledFiltersCount}})
            </span>
            <ng-container slot="center">
                <ng-container *ngIf="isAlternantSearch(); else alternantSearchTitle">
                    {{ 'GLOBAL.ALTERNANT_TEAM' | translate }}</ng-container>
                <ng-template #alternantSearchTitle>{{ 'GLOBAL.PNC_TEAM' | translate }}</ng-template>
            </ng-container>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.ALTERNANT_SEARCH"></pnc-edossier-header>

    <div class="button-bar-container">
        <div class="actions-bloc">
            <div class="button-bar">
                <div class="mail-actions" *ngIf="!isLoading">
                    <ion-button (click)="enableMailSend()" *ngIf="(!activateSendMail)  else activeSendMailOptions">
                        {{'PNC_SEARCH.MAIL' | translate}}
                        <ion-icon class="mail-icon" name="mail"></ion-icon>
                    </ion-button>
                    <ng-template #activeSendMailOptions>

                        <ion-button *ngIf="showMailSendingButton()" (click)="showMailingModal()">
                            {{'PNC_SEARCH.SEND_MAIL' | translate}}
                            <ion-icon name="send" slot="end"></ion-icon>
                        </ion-button>

                        <ion-button fill="outline" (click)="cancelMailSend()">
                            {{'PNC_SEARCH.CANCEL' | translate}}
                            <ion-icon name="trash" slot="end"></ion-icon>
                        </ion-button>

                        <ion-item lines="none" class="select-all">
                            <ion-label> {{'PNC_SEARCH.SELECT_ALL' | translate}} </ion-label>
                            <ion-checkbox [(ngModel)]="isAllSelected" (click)="selectAllPnc()"></ion-checkbox>
                        </ion-item>

                        <p *ngIf="activateSendMail" class="total-selected" [ngPlural]="this.selectPncRecipients.size">
                            <ng-template ngPluralCase="0">{{'PNC_SEARCH.TOTAL_SELECTED_SINGULAR' | translate:{total: this.selectPncRecipients.size} }}</ng-template>
                            <ng-template ngPluralCase="1">{{'PNC_SEARCH.TOTAL_SELECTED_SINGULAR' | translate:{total: this.selectPncRecipients.size} }}</ng-template>
                            <ng-template ngPluralCase="other">{{'PNC_SEARCH.TOTAL_SELECTED_PLURAL' | translate:{total: this.selectPncRecipients.size} }}</ng-template>
                        </p>
                    </ng-template>
                    <p class="total-results" *ngIf="!isLoading">
                        {{ 'PNC_SEARCH.TOTAL' | translate:{total :totalPncs} }}
                    </p>
                </div>
            </div>
            <div>
                <sort-list [disableSort]="activateSendMail" [value]="filters.sortColumn" [direction]="filters.sortDirection" [options]="sortOptions" (sortChange)="sortCrewList($event)"></sort-list>
            </div>
        </div>
    </div>
</ion-header>

<ion-content forceOverscroll="true" scroll-y="false">
    <mat-sidenav-container>
        <mat-sidenav [(opened)]="isMenuOpened" [autoFocus]="false">
            <pnc-search-filter [hidden]="!connectivityService.isConnected()" [searchMode]="searchMode" (searchLaunched)="searchByFilters($event)" (searchReinitialized)="reinitializeSearch($event)" (pncSelected)="openPncHomePage($event)" (enabledFiltersCountChanged)="setEnabledFiltersCount($event)"></pnc-search-filter>
        </mat-sidenav>
        <mat-sidenav-content infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="isLoading" (scrolled)="loadNextPage()">
            <div class="page-container">
                <div class="filtered-pnc-list-container">
                    <edossier-spinner *ngIf="isLoading; else pageBlock"></edossier-spinner>
                    <ng-template #pageBlock>
                        <div *ngIf="hasPncs(); else noDataBlock">
                            <pnc-card *ngFor="let pnc of filteredPncs" [itemMember]="pnc" [isSendMailActive]="activateSendMail" [isAllSelected]="isAllSelected" (unSelectPncAsRecipient)="removeRecipient($event)" (selectPncAsRecipient)="addRecipient($event)" (click)="openPncHomePage(pnc)"></pnc-card>
                            <div class="spinner-container" *ngIf="!isSearchOver()">
                                <edossier-spinner *ngIf="searchInProgress"></edossier-spinner>
                            </div>
                            <div *ngIf="isSearchOver()" class="search-end-message">{{ 'PNC_SEARCH.SEARCH_END' | translate }}</div>
                        </div>
                        <ng-template #noDataBlock>
                            <div class="no-data-splash">
                                <ion-icon name="people"></ion-icon>
                                <span>{{ 'PNC_SEARCH.NO_PNC_FOUND' | translate }}</span>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ion-content>
