[slot="start"] {
    display: flex;
    align-items: center;
}

ion-content {
    --keyboard-offset: 0px !important;
}

mat-sidenav-container,
.page-container,
.filtered-pnc-list-container {
    height: 100%;
}

mat-sidenav {
    width: 332px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    background: var(--ion-color-white);
    box-shadow: 3px 0px 4px -2px rgba(51, 51, 51, 0.75);
}

::ng-deep .mat-drawer-inner-container {
    overflow: unset !important;
}

::ng-deep .item-native {
    padding-left: 0px;
}

.button-bar-container {
    background: var(--ion-color-white);
    width: 100% !important;
    padding: 10px 10px;

    .actions-bloc {
        max-width: 1150px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mail-actions {
            display: flex;
            flex-direction: row;

            .mail-icon {
                margin-left: 2px;
            }

            .total-selected {
                margin-left: 10px;
            }

            .total-results {
                margin-left: 20px;
            }

            .select-all {
                font-size: inherit !important;

                ion-checkbox {
                    --size: 13px;
                }

                ion-label {
                    margin-right: 3px;
                }
            }
        }


    }


}

.spinner-container {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-end-message {
    text-align: center;
    font-size: 1.3em;
    padding: 20px;
}
