<ion-header>
    <ion-toolbar>
        <page-header (refreshPage)="initPage()" [showRefreshIcon]="true">
            <span slot="start">
                <ion-fab-button (click)="toggleFiltersMenu()" size="small" color="primarydark">
                    <span class="edospnc-filter-sharp"></span>
                </ion-fab-button>
                {{ 'PNC_SEARCH.CRITERIA.FILTER' | translate }}
            </span>
            <ng-container slot="center">
                <ng-container *ngIf="isAlternantSearch(); else alternantSearchTitle">{{ 'GLOBAL.ALTERNANT_TEAM' | translate }}</ng-container>
                <ng-template #alternantSearchTitle>{{ 'GLOBAL.PNC_TEAM' | translate }}</ng-template>
            </ng-container>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.ALTERNANT_SEARCH"></pnc-edossier-header>
</ion-header>

<ion-content>
    <mat-sidenav-container>
        <mat-sidenav [(opened)]="isMenuOpened" mode="side">
            <pnc-search-filter [filters]="filters" [searchMode]="searchMode" (filtersChanged)="launchSearch()" (pncSelected)="openPncHomePage($event)"></pnc-search-filter>
        </mat-sidenav>
            <mat-sidenav-content infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="isLoading" (scrolled)="loadNextPage()">
            <div class="page-container">
                <div class="filtered-pnc-list-container">
                    <edossier-spinner *ngIf="isLoading; else pageBlock"></edossier-spinner>
                    <ng-template #pageBlock>
                        <div *ngIf="hasPncs(); else noDataBlock">
                            <pnc-card *ngFor="let pnc of filteredPncs" [itemMember]="pnc" (click)="openPncHomePage(pnc)">
                            </pnc-card>
                        </div>
                        <ng-template #noDataBlock>
                            <div class="no-data-splash">
                                <ion-icon name="contacts"></ion-icon>
                                <span>{{ 'PNC_SEARCH.NO_PNC_FOUND' | translate }}</span>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ion-content>
