<ion-header>
    <ion-toolbar>
        <page-header (refreshPage)="initPage()" [showRefreshIcon]="true">
            <ng-container *ngIf="isAlternantSearch(); else alternantSearchTitle">{{ 'GLOBAL.ALTERNANT_TEAM' | translate }}</ng-container>
            <ng-template #alternantSearchTitle>{{ 'GLOBAL.PNC_TEAM' | translate }}</ng-template>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.ALTERNANT_SEARCH"></pnc-edossier-header>
    <pnc-search-filter [searchMode]="searchMode" (filterChange)="searchPncs()" (pncSelected)="openPncHomePage($event)"></pnc-search-filter>
</ion-header>

<ion-content no-bounce>
    <div class="page-container">
        <div class="filtered-pnc-list-container">
            <edossier-spinner *ngIf="searchInProgress"></edossier-spinner>

            <div *ngIf="!searchInProgress">
                <div *ngIf="filteredPncs && filteredPncs.length == 0" class="no-data-found">
                    {{ 'PNC_SEARCH.NO_PNC_FOUND' | translate }}
                </div>
                <pnc-card *ngFor="let pnc of filteredPncs" [itemMember]="pnc" (click)="openPncHomePage(pnc)">
                </pnc-card>
            </div>

            <strong *ngIf="lastPageReached()" class="no-data-found">{{ 'PNC_SEARCH.END_OF_SEARCH' | translate }}</strong>
            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>
