page-impersonate {
    .container {
        display: flex;
        flex-direction: column;

        ion-card-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            pnc-autocomplete {
                width: 300px;

                display: flex;
                align-items: center;

                ion-icon {
                    font-size: 1.5em;
                }
            }


            .value {
                margin-left: 10px;
                font-size: 1.2em;
                font-weight: bold;
            }
        }

    }
}
