<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="false" [showRefreshIcon]="false">
            <ng-container slot="center">
                {{ 'GLOBAL.APP_NAME' | translate }}
            </ng-container>
        </page-header>
    </ion-toolbar>
</ion-header>

<ion-content no-bounce>
    <div class="page-container">
        <h3>{{ 'IMPERSONATE.TITLE' | translate }}</h3>
        <div class="container">
            <ion-card>
                <ion-card-content>
                    <pnc-autocomplete [(ngModel)]="selectedPnc" (onSelectPnc)="impersonateUser($event)" [ngModelOptions]="{standalone: true}"></pnc-autocomplete>
                    <div class="impersonated-user" *ngIf="isImpersonatedUserComplete()">
                        <label>{{ 'IMPERSONATE.IMPERSONATED_USER' | translate }}</label>
                        <span class="value">{{ sessionService.impersonatedUser.lastName + ' ' + sessionService.impersonatedUser.firstName + ' (' + sessionService.impersonatedUser.matricule + ')'}}</span>
                    </div>
                    <ion-button *ngIf="canGetMyIdentityBack()" (click)="getMyIdentityBack()">
                        {{'IMPERSONATE.BUTTONS.GET_MY_IDENTITY_BACK' | translate}}</ion-button>
                </ion-card-content>
            </ion-card>
            <edossier-spinner *ngIf="impersonatingInProgress" class="margin-top-10"></edossier-spinner>
        </div>
    </div>
</ion-content>
