<div class="app-version-alert-wrapper" [ngClass]="{'displayed': displayed}">
    <div class="alert">
        <div class="header">
            <ion-icon ios="md-alert" name="md-alert"></ion-icon>
            <label>{{ 'GLOBAL.APP_VERSION.LABELS.TITLE' | translate:{ version: appVersion.number} }}</label>
            <div class="close-button">
                <button (click)="dismissMessage()">
                    <ion-icon name="close"></ion-icon>
                </button>
            </div>
        </div>
        <p class="release-date">date :{{ appVersion.release_date }}</p>
        <p class="content">texte: {{ appVersion.changelog }}</p>
    </div>
</div>
