<ion-card class="flight-crew-card" [ngClass]="{'clickable':!disabled,'disabled':disabled}">

    <ion-card-content no-padding class="pnc-info-panel">
        <offline-indicator [object]="pnc" type="PNC"></offline-indicator>
        <div class="pnc-container">
            <div class="main-info">
                <pnc-photo [pnc]="pnc" [size]="80" [handleCall]="false"></pnc-photo>
                <div class="identity">
                    <span class="value speciality" [ngClass]="{'no-value' : !formatedSpeciality }"> {{ formatedSpeciality }}</span>
                    <span class="value lastname">{{ pnc.lastName }}</span>
                    <span class="value firstname">{{ pnc.firstName }}</span>
                    <span class="value">{{pnc.matricule}}</span>
                </div>
            </div>
            <div class="secondary-info">
                <div class="left-panel">
                    <!-- Div / Secteur / Ginq -->
                    <div class="pnc-info">
                        <label>Division / Secteur / Ginq</label>
                        <span class="value">{{ pnc.assignment.division }} / {{ pnc.assignment.sector }} / {{ pnc.assignment.ginq }}</span>
                    </div>
                    <!-- Relais-->
                    <div class="pnc-info">
                        <label>{{ 'FLIGHT_CREW_LIST.LIST.RELAYS' | translate }}</label>
                        <div class="value pnc-relays" [ngClass]="{'no-value' : pnc.relays.length === 0 }">
                            <span *ngFor="let relay of pnc.relays">
                                {{ relay.code }}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="right-panel">
                    <!-- Spécialisation avion -->
                    <div class="pnc-info" *ngIf="!isCrewMember">
                        <label>{{ 'PNC_SEARCH.CRITERIA.AIRCRAFT_SKILL' | translate }}</label>
                        <div class="value pnc-Array-item" [ngClass]="{'no-value' :  (!pnc.aircraftSkills || pnc.aircraftSkills.length === 0) }">
                            <span *ngFor="let aircraftSkill of pnc.aircraftSkills">
                                {{ aircraftSkill.aircraftType }}
                            </span>
                        </div>
                    </div>
                    <!-- rythme de travail-->
                    <div class="pnc-info" *ngIf="!isCrewMember">
                        <label>{{ 'PNC_SEARCH.CRITERIA.WORK_RATE' | translate }}</label>
                        <span class="value" [ngClass]="{'no-value' : !pnc.workRate }">{{ pnc.workRate }}</span>
                    </div>
                    <!-- Dernière rencontre en vol -->
                    <div class="pnc-info" *ngIf="isCrewMember">
                        <label>{{ 'FLIGHT_CREW_LIST.LIST.LAST_IN_FLIGHT_ENCOUNTER_DATE' | translate }}</label>
                        <span class="value">{{ 'GLOBAL.COMING_SOON' | translate }}</span>
                    </div>
                    <!-- Dernière rencontre en sol -->
                    <div class="pnc-info" *ngIf="isCrewMember">
                        <label>{{ 'FLIGHT_CREW_LIST.LIST.LAST_ON_GROUND_ENCOUNTER_DATE' | translate }}</label>
                        <span class="value">{{ 'GLOBAL.COMING_SOON' | translate }}</span>
                    </div>

                </div>
            </div>
            <div class="flag-panel">
                <download-button [synchroInProgress]="synchroInProgress" (onDownload)="downloadPncEdossier(pnc.matricule)"></download-button>
                <!-- Prioritaire -->
                <ion-icon *ngIf="pnc.prioritized" name="flag" ios="md-flag" color="red80"></ion-icon>
                <!-- Particularite -->
                <span class="value">{{crewMember?.particularity }}</span>
            </div>
        </div>
    </ion-card-content>
</ion-card>
