pnc-card {

    .card-md {
        width: initial;
        margin: initial;
        margin-bottom: 16px;
        border-radius: 4px !important;
    }

    .card-ios {
        width: initial;
        margin: initial;
        margin-bottom: 16px;
    }

    .disabled {
        background: color($colors, grey90);
    }

    .pnc-info-panel {
        display: flex;

        .pnc-container {
            display: flex;
            width: 100%;
            padding: 10px;

            .main-info {
                flex: 5;
                display: flex;

                pnc-photo {
                    align-self: center;
                }

                .identity {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    span {
                        display: block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .speciality {
                        flex: 1;
                        font-size: 1.5em;
                    }

                    .lastname {
                        font-size: 1.2em;
                    }
                }
            }

            .secondary-info {
                flex: 10;
                display: flex;

                .left-panel {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                .right-panel {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                .pnc-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .flag-panel {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                font-size: 1.5em;

                .fab {
                    margin: 0;
                }
            }

            .sub-flag-panel {
                word-spacing: 0.4em;
            }
        }
    }
}
