pnc-card {

    .card-md {
        width: initial;
        margin: initial;
        margin-bottom: 16px;
        border-radius: 4px !important;
    }

    .card-ios {
        width: initial;
        margin: initial;
        margin-bottom: 16px;
    }

    .disabled {
        background: color($colors-secondary, grey95);
    }

    .pnc-info-panel {
        display: flex;

        .pnc-container {
            display: flex;
            width: 100%;
            padding: 10px;

            .main-info {
                flex: 5;
                display: flex;

                pnc-photo {
                    align-self: center;
                }

                .identity {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    span {
                        display: block;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }

                    .speciality {
                        flex: 1;
                        font-size: 1.5em;
                    }

                    .lastname,
                    .firstname {
                        font-size: 1.2em;
                        color: color($colors, primary);
                    }

                    .matricule {
                        color: color($colors, grey20);
                    }
                }
            }

            .secondary-info {
                flex: 10;
                display: flex;

                .left-panel {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                .right-panel {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }

                .pnc-info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .flag-panel {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                font-size: 1.5em;

                .fab {
                    margin: 0;
                }
            }

            .sub-flag-panel {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                & > span {
                    margin-left: 10px;
                }

                .prioritized {
                    color: color($colors, secondary);

                    &:after {
                        content: ' ';
                        position: absolute;
                        margin-left: -37px;
                        border-radius: 100%;
                        border: 3px solid color($colors, secondary);
                        height: 30px;
                        width: 30px;
                    }
                }

                .at-least-one-priority {
                    color: color($colors, primary);

                    &:after {
                        content: ' ';
                        position: absolute;
                        margin-left: -37px;
                        border-radius: 100%;
                        border: 3px solid color($colors, primary);
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            .particularity {

                span {
                    color: color($colors, grey50);
                    margin-top: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    border: 3px solid color($colors, grey50);
                    height: 35px;
                    width: 35px;
                }
            }
        }
    }
}
