<ion-card class="app-version-card clickable elevation-1">
    <ion-card-content class="ion-no-padding">
        <span class="value app-version-release-date">{{appVersion.releaseDate | date : 'dd/MM/yyyy' : 'UTC'}}</span>
        <span class="value app-version-number">{{ appVersion.number }}</span>
        <div class="value app-version-icone">
            <ion-fab-button size="small" color="primary" class="detail-button"
                (click)="goToAppVersionUpdate(appVersion)">
                <ion-icon name="create"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" color="primary" class="detail-button"
                (click)="confirmDeleteAppVersion(appVersion)">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
            <ion-fab-button size="small" color="primary" class="detail-button" (click)="displayOverview(appVersion)">
                <ion-icon ios="ios-search" md="md-search"></ion-icon>
            </ion-fab-button>
        </div>
    </ion-card-content>
</ion-card>