@import '../../../../../../../theme/colors.scss';

.app-version-card {
    display: flex;
    border-radius: 5px !important;
    color: var(--ion-color-white);
    text-align: left;
    cursor: pointer;
    margin: 5px 0px;
    width: 100%;

    ion-card-content {
        width: 100%;
        padding-left: 5px;
        display: flex;
        align-items: center;
        height: 40px;
        font-size: 15px;

        .value {
            font-weight: normal;
            color: var(--ion-color-primarylight);
        }

        .app-version-release-date {
            min-width: 300px;
        }

        .app-version-number {
            flex: 1;
            padding-right: 10px;
        }

        .app-version-icone {
            min-width: 110px;
            display: flex;
            justify-content: flex-end;
            padding: 3px 10px;
        }

        button.detail-button {
            background: var(--ion-color-primarylight);
            color: var(--ion-color-white);
            width: 30px;
            height: 30px;
            box-shadow: none;
        }
    }
}