<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="false">
            {{ 'ADMIN.APP_VERSION_MANAGEMENT.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>

    <ion-grid>
        <!-- Formulaire de création de version -->
        <ion-row nowrap>
            <ion-col col-3>
                <ion-item>
                    <ion-label floating>{{ 'ADMIN.APP_VERSION_MANAGEMENT.LABEL.PLACEHOLDER_NUM' | translate }}</ion-label>
                    <ion-input type="text" name="number" [(ngModel)]="number" required></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-7>
                <ion-item>
                    <ion-label floating>{{ 'ADMIN.APP_VERSION_MANAGEMENT.LABEL.PLACEHOLDER_CHANGELOG' | translate }}</ion-label>
                    <ion-textarea type="text" min-rows="1" max-rows="10" name="changelog" [(ngModel)]="changelog" class="md-textarea form-control"></ion-textarea>
                </ion-item>
            </ion-col>
            <ion-col class="submitButton" col-2>
                <ion-item>
                    <button ion-button color="blue60" class="changelogButton" (click)="createChangelog(number,changelog)">
                        <ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" margin-right></ion-icon> {{ 'ADMIN.APP_VERSION_MANAGEMENT.BUTTON.ADD_VERSION' | translate }}
                    </button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row nowrap>

            <table>
                <!-- Header du tableau -->
                <thead>
                    <th class="tab_header" col-3>{{ 'ADMIN.APP_VERSION_MANAGEMENT.HEADER.NUMBER' | translate }}</th>
                    <th class="tab_header" col-7>{{ 'ADMIN.APP_VERSION_MANAGEMENT.HEADER.CHANGELOG' | translate }}</th>
                    <th class="tab_header action" col-2>{{ 'ADMIN.APP_VERSION_MANAGEMENT.HEADER.ACTION' | translate }}</th>
                </thead>
                <!-- Liste des versions -->
                <edossier-spinner *ngIf="appVersions == undefined; else AppVersionListBlock "></edossier-spinner>
                <ng-template #AppVersionListBlock>
                    <tbody>
                        <tr *ngFor=" let appVersion of appVersions">
                            <td>{{ appVersion.number }}</td>
                            <td>{{ appVersion.changelog }}</td>
                            <td class="action">
                                <ion-icon name="more"></ion-icon>
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
        </ion-row>
    </ion-grid>
</ion-content>
