<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'CONGRATULATION_LETTERS.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
    <edossier-spinner *ngIf="!pageLoadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div class="selectable">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'CONGRATULATION_LETTER_DETAIL.HEADER.FLIGHT' | translate }}</th>
                        <th>{{ 'CONGRATULATION_LETTER_DETAIL.HEADER.LETTER_TYPE' | translate }}</th>
                        <th *ngIf="!isWrittenLetter()">{{ 'CONGRATULATION_LETTER_DETAIL.HEADER.WRITER' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="suffix-tu">{{ 'CONGRATULATION_LETTERS.VALUE.FLIGHT' | translate:{airline:congratulationLetter.flight.airline, flightNumber:congratulationLetter.flight.number, flightDate:getFormatedFlightDate(congratulationLetter.flight)} }}</td>
                        <td>
                            <ng-container *ngIf="congratulationLetter.collective; else individualLabel">{{ 'CONGRATULATION_LETTER_DETAIL.TYPE.COLLECTIVE' | translate }}</ng-container>
                            <ng-template #individualLabel>{{ 'CONGRATULATION_LETTER_DETAIL.TYPE.INDIVIDUAL' | translate }}</ng-template>
                        </td>
                        <td *ngIf="!isWrittenLetter()">
                            <ng-container *ngIf="congratulationLetter.redactorType === CongratulationLetterRedactorTypeEnum.PNC; else notPncRedactorBlock">
                                <span class="last-name">{{ congratulationLetter.redactor?.lastName }}</span> <span class="first-name">{{ congratulationLetter.redactor?.firstName }}</span> <span class="current-speciality">({{ congratulationLetter.redactorSpeciality }})</span>
                            </ng-container>
                            <ng-template #notPncRedactorBlock>
                                {{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.'+congratulationLetter.redactorType | translate }}
                            </ng-template>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="verbatim-container">
                <label><span class="edospnc-speechBubble"></span>{{ 'CONGRATULATION_LETTER_DETAIL.VERBATIM' | translate }}</label>
                <p class="verbatim">{{ congratulationLetter.verbatim }}</p>
                <div>
                    <document-manager [documents]="congratulationLetter.documents" [readonly]="true"></document-manager>
                </div>
            </div>
            <div class="information-message align-left" *ngIf="congratulationLetter.creationAuthor">
                {{ 'CONGRATULATION_LETTER_CREATE.CREATED_BY' | translate }} <span class="lastname">{{congratulationLetter.creationAuthor.lastName}}</span> <span class="firstname">{{congratulationLetter.creationAuthor.firstName}}</span>
            </div>

            <div class="information-message align-left" *ngIf="congratulationLetter.lastUpdateAuthor">
                {{ 'CONGRATULATION_LETTER_CREATE.UPDATED_BY' | translate }} <span class="lastname">{{congratulationLetter.lastUpdateAuthor.lastName}}</span> <span class="firstname">{{congratulationLetter.lastUpdateAuthor.firstName}}</span> {{ 'CONGRATULATION_LETTER_CREATE.DATE_LABEL' | translate:{date:getLastUpdateDate()} }}
            </div>
        </div>
    </ng-template>
</ion-content>
