congratulation-letter-detail {

    table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0px 0px 5px #d5d9de;
        border-radius: 5px;

        th {
            background: color($colors, blue81);
            color: color($colors, white);
            font-weight: normal;
            text-align: left;

            &:first-child {
                border-top-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
            }
        }

        td {
            background: color($colors, white);

            &:first-child {
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-bottom-right-radius: 5px;
            }

        }

        th,
        td {
            padding: 5px 10px;
        }

        th:not(:first-child),
        td:not(:first-child) {
            border-left: 1px solid #ededed;
        }
    }

    .verbatim-container {
        margin-top: 20px;
        padding: 20px;
        box-shadow: 0px 0px 5px #d5d9de;
        background: color($colors, white);
        border-radius: 3px;

        label {
            display: flex;
            align-items: center;
            color: #38393a;
            font-size: 1.1em;

            span {
                color: color($colors, blue81);
                margin-right: 10px;
            }
        }

        .verbatim {
            margin: 10px 0 0 0;
            padding: 10px;
            border-radius: 3px;
            background: #F1F1F1;
            border: 1px solid #d5d9de;
            white-space: pre-line;
        }
    }

}
