<div class="header-container">
    <div class="card-container selectable" *ngIf="pnc">
        <offline-indicator [object]="pnc" type="PNC"></offline-indicator>
        <pnc-photo [pnc]="pnc" [size]="70"></pnc-photo>
        <div class="pnc-info-container">
            <div class="pnc-name">{{ pnc.firstName }}&nbsp;{{ pnc.lastName }}</div>
            <div class="pnc-speciality" [ngClass]="{'no-value' : !getFormatedSpeciality() }">
                {{ getFormatedSpeciality() }}</div>
            <div class="pnc-matricule">{{ pnc.matricule }}<span *ngIf="pnc.acars"> - {{pnc.acars}}</span></div>
            <div class="work-rate-container small-size">
                <div class="work-rate">{{ pnc.workRate }}%</div>
                <span class="pnc-taf">TAF&nbsp;:</span>&nbsp;{{ getTafValue() }}
            </div>
        </div>
        <div class="full-size">
            <div class="work-rate-container">
                <work-rate-circle workRate="{{pnc.workRate}}" diameter="70" strokeWidth="6"></work-rate-circle>
            </div>
            <span class="pnc-taf">TAF&nbsp;:</span>&nbsp;{{ getTafValue() }}
        </div>
        <div class="data-container">
            <ion-icon name="airplane"></ion-icon>
            <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.aircraftSkillsLabel || !pnc.aircraftSkillsLabel[0] }">
                <span *ngFor="let label of pnc.aircraftSkillsLabel; index as i; last as l">{{label}}<span *ngIf="!l">,
                    </span></span>
            </div>
        </div>
        <div class="data-container">
            <ion-icon ios="md-chatboxes" name="md-chatboxes"></ion-icon>
            <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.relays[0] }">
                <span *ngFor="let relay of pnc.relays; index as i; last as l">{{relay.code}}<span *ngIf="!l">,</span></span>
            </div>
        </div>
        <div class="data-container">
            <ion-icon ios="md-pin" name="md-pin"></ion-icon>
            <div class="pnc-info-data">
                <div>
                    <span [ngClass]="{'no-value' : !pnc?.assignment?.division }">{{ pnc?.assignment?.division }}/</span>
                    <span [ngClass]="{'no-value' : !pnc?.assignment?.sector }">{{ pnc?.assignment?.sector }}/</span>
                    <span [ngClass]="{'no-value' : !pnc?.assignment?.ginq }">{{ pnc?.assignment?.ginq }}</span>
                </div>
                <div>
                    <span [ngClass]="{'no-value' : !pnc?.groupPlanning }">{{ pnc?.groupPlanning }}</span>
                </div>
            </div>
        </div>
        <div class="pnc-instructor" *ngIf="!pnc.manager">
            <ion-icon ios="md-school" name="md-school"></ion-icon>
            <div class="pnc-info-data">
                <span [ngClass]="{'no-value' : !pnc?.pncInstructor }"><span class="firstname">{{pnc?.pncInstructor?.firstName}}</span>&nbsp;<span class="lastname">{{pnc?.pncInstructor?.lastName}}</span></span>
            </div>
        </div>
        <div class="button-container">
            <download-button [synchroInProgress]="synchroInProgress" (onDownload)="downloadPncEdossier(pnc.matricule)">
            </download-button>
        </div>
    </div>
</div>
