<div class="header-container">
    <div class="card-container selectable" *ngIf="pnc">
        <offline-indicator [object]="pnc" type="PNC"></offline-indicator>
        <div class="photo-container">
            <ion-fab-button *ngIf="showSendMailButton" class="mail-container" size="small" color="secondary" (click)="sendMailToPnc()">
                <ion-icon class="mail-icon" name="mail-outline"></ion-icon>
            </ion-fab-button>
            <pnc-photo [pnc]="pnc" [size]="70"></pnc-photo>
        </div>
        <div class="pnc-info-container">
            <div class="pnc-name"><span class="lastname">{{ pnc.lastName }}</span>&nbsp;<span class="firstname">{{ pnc.firstName }}</span></div>
            <div class="pnc-speciality" [ngClass]="{'no-value' : !getFormatedSpeciality() }">
                {{ getFormatedSpeciality() }}
            </div>

            <div class="pnc-matricule">{{ pnc.matricule }}<span *ngIf="pnc.acars"> - {{pnc.acars}}</span></div>
            <div class="work-rate-container small-size">
                <div class="work-rate">
                    {{ pnc.workRate }}%
                    <span class="pnc-taf" *ngIf="pnc.taf">({{ 'PNC_IDENTITY.TAF' | translate }})</span>
                </div>
            </div>
        </div>
        <div class="full-size">
            <div class="work-rate-container">
                <work-rate-circle workRate="{{pnc.workRate}}" diameter="70" strokeWidth="6" [isTaf]="pnc.taf"></work-rate-circle>
            </div>
        </div>
        <div class="data-container">
            <ion-icon name="airplane"></ion-icon>
            <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.aircraftSkillsLabel || !pnc.aircraftSkillsLabel[0] }">
                <span *ngFor="let label of pnc.aircraftSkillsLabel; index as i; last as l">{{label}}<span *ngIf="!l">,
                    </span></span>
            </div>
        </div>
        <div class="data-container">
            <ion-icon name="chatbox"></ion-icon>
            <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.relays[0] }">
                <span *ngFor="let relay of pnc.relays; index as i; last as l">{{relay.code}}<span *ngIf="!l">,</span></span>
            </div>
        </div>
        <div class="data-container">
            <ion-icon name="location-sharp"></ion-icon>
            <div class="pnc-info-data">
                <span> {{getFormattedAffectationInfo(pnc)}}</span>
            </div>
        </div>
        <div class="pnc-instructor" *ngIf="!pnc.manager">
            <ion-icon name="school"></ion-icon>
            <div class="pnc-info-data">
                <a *ngIf="pnc?.pncInstructor" href="mailto:{{getInstructorMail()}}" title="{{ 'GLOBAL.SEND_MAIL' | translate }}">
                    <span class="lastname">{{pnc?.pncInstructor?.lastName}}</span>&nbsp;<span class="firstname">{{pnc?.pncInstructor?.firstName}}</span>
                    <ion-icon name="mail-outline"></ion-icon>
                </a>
                <span *ngIf="!pnc?.pncInstructor" class="no-value"></span>
            </div>
        </div>
        <div class="button-container">
            <download-button [synchroInProgress]="synchroInProgress" (onDownload)="downloadPncEdossier(pnc.matricule)">
            </download-button>
        </div>
    </div>
</div>
