page-pnc-home {

    .grid {
        height: 100%;
        .row {
            &:last-of-type {
                flex: 1;
            }
        }
    }

    .pnc-info-panel {
        img {
            width: 100px;
            border-radius: 100%;
        }

        .content {
            display: flex;
            flex-direction: column;

            ion-row {
                flex: 1;
            }

            .primary-info {
                font-size: 1.4em;
            }

            .pnc-info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .go-to-edossier {
        margin-right: 10px;
        display: flex;

        button {
            margin-top: 43px;
        }

        .item-block {
            width: auto;
            background-color: transparent;
        }
    }

    #nav-tile-grid {

        button {
            height: 100%;
            width: 100%;
            margin: 0;
            font-size: 3.5vw;
        }

        .development-program {
            background: color($colors, orange60);
        }
    }
}
