page-pnc-home {

    .grid {
        height: 100%;
    }

    .pnc-info-panel {
        display: flex;
        img {
            width: 100px;
            border-radius: 100%;
        }

        .content {
            display: flex;
            flex-direction: column;

            ion-row {
                flex: 1;
            }

            .primary-info {
                font-size: 1.4em;
            }

            .pnc-info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .download-edossier {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }

    #nav-tile-grid {
        flex: 1;
        button {
            height: inherit;
            font-size: 2.5vw;
            width: 100%;
            height: 100%;
        }

        .development-program {
            background: color($colors, orange60);
        }
    }

    .button-parent {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 10px;
    }
}
