eobs-rotation-info {

    .rotation-info {

        .rotation-number {
            color: #7cc3cc;
        }

        display: flex;
        justify-content: flex-start;

        ion-row:first-child {
            display: flex;
            align-items: center;

            ion-col:first-child {
                padding-left: 24px;
            }
        }
    }
}
