@import '../../../../../theme/colors.scss';

$border-grid: 1px solid color($colors-secondary, grey75);
$block-border-radius: 5px;

ion-grid.rotation-grid {
    .flight-header {
        color: color($colors-secondary, blue55);
    }

    ion-row {
        ion-col:first-child {
            padding-left: 24px;
        }
    }

    ion-row:first-child {
        border-top: $border-grid;
        border-bottom: $border-grid;
    }

    ion-col {
        border-right: $border-grid;
    }

    ion-row:nth-child(even) {
        background: color($colors-secondary, grey95);
    }

    ion-col:last-child {
        border: initial;
    }
}


.rotation-info {

    .rotation-number {
        color: color($colors-secondary, blue55);
    }

    display: flex;
    justify-content: flex-start;

    ion-row:first-child {
        display: flex;
        align-items: center;

        ion-col:first-child {
            padding-left: 24px;
        }
    }
}