<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'GLOBAL.BUSINESS_INDICATORS' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.BUSINESS_INDICATORS_PAGE"></pnc-edossier-header>
</ion-header>
<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <span *ngIf="isConnected(); else notConnectedBlock">
                <h3 class="summary-title">{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.TITLE' | translate }}</h3>
                <ion-card class="summary">
                    <ion-card-content>
                        <div class="summary-item">
                            <label>
                                <ng-container *ngIf="!isPncCcLc(); else escoreAverageCcLcLabel">
                                    {{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ESCORE_AVERAGE_CCP_CC_MC' | translate }}
                                </ng-container>
                                <ng-template #escoreAverageCcLcLabel>
                                    {{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ESCORE_AVERAGE_CC_LC' | translate }}
                                </ng-template>
                            </label>
                            <div>
                                <img class="file-icon" src="assets/imgs/business-indicators/e-score.svg" />
                                <span
                                    class="summary-value">{{ businessIndicatorSummary?.escoreAverage | number : '1.0-1' }}</span>
                            </div>
                        </div>
                        <div class="summary-item" *ngIf="isDefined(businessIndicatorSummary?.flyingBlueAndERCAverage)">
                            <label>{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.FLYING_BLUE_ERC_AVERAGE' | translate }}</label>
                            <div>
                                <img class="file-icon" src="assets/imgs/business-indicators/fb-erc.svg" />
                                <span
                                    class="summary-value">{{ businessIndicatorSummary?.flyingBlueAndERCAverage | number : '1.0-1' }}</span>
                            </div>
                        </div>
                        <div class="summary-item" *ngIf="isDefined(businessIndicatorSummary?.upgradeSum)">
                            <label>{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.UPGRADE_SUM' | translate }}</label>
                            <div>
                                <img class="file-icon" src="assets/imgs/business-indicators/upgrade.svg" />
                                <span class="summary-value">{{ businessIndicatorSummary?.upgradeSum }}</span>
                            </div>
                        </div>
                        <div class="summary-item"
                            *ngIf="isDefined(businessIndicatorSummary?.onTimeShuttleDepartureRatio)">
                            <label>{{ 'BUSINESS_INDICATORS.LIST.PAST_SUMMARY.ON_TIME_SHUTTLE_DEPARTURE_RATIO' | translate }}</label>
                            <div>
                                <img class="file-icon" src="assets/imgs/business-indicators/shuttle-departure.svg" />
                                <span
                                    class="summary-value">{{ businessIndicatorSummary?.onTimeShuttleDepartureRatio | percent : '1.0-1' }}</span>
                            </div>
                        </div>
                    </ion-card-content>
                </ion-card>

                <h3 class="flight-list-title">
                    {{ 'BUSINESS_INDICATORS.LIST.FLIGHT_CARD_12_LAST_MONTHS' | translate }}
                    <ion-icon name="help-circle" (click)="showLegend($event)" class="clickable"> </ion-icon>
                </h3>
                <div class="mat-elevation-z8 test">
                    <table mat-table matSort matSortActive="flightDate" matSortDirection="desc"
                        (matSortChange)="sortBusinessIndicators($event)" [dataSource]="dataSource"
                        class="flight-cards-table mat-elevation-z8">
                        <ng-container matColumnDef="flightNumber">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                {{ 'BUSINESS_INDICATORS.LIST.FLIGHT_NUMBER' | translate }}</th>
                            <td mat-cell *matCellDef="let businessIndicator">
                                {{ 'GLOBAL.AF_COMPANY' | translate }}{{ businessIndicator.flight.number }}</td>
                        </ng-container>
                        <ng-container matColumnDef="flightDate">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                {{ 'BUSINESS_INDICATORS.LIST.LEG_DATE' | translate }}</th>
                            <td mat-cell *matCellDef="let businessIndicator" class="suffix-tu">
                                {{ getPlannedDepartureDate(businessIndicator) | date : 'dd/MM/yyyy HH:mm':'UTC' }}</td>
                        </ng-container>
                        <ng-container matColumnDef="stations">
                            <th mat-header-cell *matHeaderCellDef>{{ 'BUSINESS_INDICATORS.LIST.STATIONS' | translate }}
                            </th>
                            <td mat-cell *matCellDef="let businessIndicator">
                                {{ businessIndicator.flight.departureStation }} -
                                {{ businessIndicator.flight.arrivalStation }}</td>
                        </ng-container>
                        <ng-container matColumnDef="aboardFunction">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                {{ 'BUSINESS_INDICATORS.LIST.ABOARD_FUNCTION' | translate }}</th>
                            <td mat-cell *matCellDef="let businessIndicator"> {{ businessIndicator.aboardSpeciality }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="eScore">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                {{ 'BUSINESS_INDICATORS.LIST.ESCORE' | translate }}</th>
                            <td mat-cell *matCellDef="let businessIndicator" class="escore">
                                <span *ngIf="!businessIndicator.escore" class="no-data"></span>
                                <span
                                    *ngIf="businessIndicator.escore">{{ businessIndicator.escore | number :'1.0-1' }}</span>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="flightActionsNumber">
                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                {{ 'BUSINESS_INDICATORS.LIST.FLIGHT_ACTIONS_NUMBER' | translate }}</th>
                            <td mat-cell *matCellDef="let businessIndicator" class="flight-actions-number">
                                <span *ngIf="isCcLc(businessIndicator)" class="not-available"></span>
                                <span *ngIf="!isCcLc(businessIndicator)">
                                    <span *ngIf="!businessIndicator.flightActionsTotalNumber" class="no-data"></span>
                                    <span
                                        *ngIf="businessIndicator.flightActionsTotalNumber">{{ businessIndicator.flightActionsTotalNumber }}</span>
                                </span>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="businessIndicatorColumns"></tr>
                        <tr mat-row *matRowDef="let businessIndicator; columns: businessIndicatorColumns;"
                            (click)="goToBusinessIndicatorDetail(businessIndicator)"></tr>
                    </table>
                    <mat-paginator MatPaginatorIntl="red" [pageSize]="getPageSize()" [length]="getTotalElements()"
                        (page)="handlePage($event)" showFirstLastButtons></mat-paginator>
                </div>
            </span>
            <ng-template #notConnectedBlock>
                {{ 'GLOBAL.UNAIVALABLE_OFFLINE' | translate }}
            </ng-template>
        </ng-template>
    </div>
</ion-content>