h3 {
    color: var(--ion-color-primary);
}

.flight-list-title {
    margin-top: 30px;
}

.summary {
    background: var(--ion-color-white);
    margin: 0;
    font-size: 1.1em;

    ion-card-content {
        display: flex;
        justify-content: space-around;

        .summary-item {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;

            label {
                margin-bottom: 10px;
            }

            div {
                display: flex;
                align-items: center;

                img {
                    width: auto;
                    height: 55px;
                    margin-right: 15px;
                }

                .summary-value {
                    margin-left: 15px;
                    font-weight: bold;
                    font-size: 2em;
                    color: var(--ion-color-primary);
                }
            }
        }
    }
}

.no-data {
    visibility: hidden;

    &:after {
        content: '-';
        visibility: visible;
    }
}


.flight-cards-table {
    width: 100%;

    tr.mat-row:nth-child(odd) {
        background: var(--ion-color-grey95);
    }

    .flight-actions-number {
        text-align: center;
        width: 180px;
    }

    .mat-header-cell {
        font-weight: bold;
    }

    td {
        cursor: pointer;
    }

    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type,
    th.mat-header-cell:first-of-type {
        padding-left: 24px;
    }

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        border-bottom: none
    }
}

::ng-deep .mat-icon-button {
    background-color: transparent;
}
