h3 {
    color: var(--ion-color-primary);
}

.flight-list-title {
    margin-top: 30px;
    display: flex;
    align-items: center;

    ion-icon {
        margin-left: 10px;
        font-size: 1.6em;
    }
}

mat-sidenav-container {
    height: 100%;
}

mat-sidenav {
    width: 300px;
    padding: 8px;
    background: var(--ion-color-white);
    box-shadow: 3px 0px 4px -2px rgba(51, 51, 51, 0.75);
}

.no-data:after {
    content: '-';
}

.not-available:after {
    content: 'NA';
}

.summary-title-bloc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back-button-bloc {
    display: flex;
    justify-content: flex-end;
}

.back-to-six-month-summary-button {
    display: flex;
    justify-content: flex-end;
}

.flight-cards-table {
    width: 100%;

    tr.mat-row:nth-child(odd) {
        background: var(--ion-color-grey95);
    }

    ::ng-deep .mat-column-eScore {
        & > div {
            display: flex;
            justify-content: center;
        }
    }

    .escore {
        text-align: center;
    }

    .flight-actions-number {
        text-align: center;
        width: 180px;
    }

    .mat-header-cell {
        font-weight: bold;
    }

    td {
        cursor: pointer;
    }

    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type,
    th.mat-header-cell:first-of-type {
        padding-left: 24px;
    }

    td.mat-cell,
    td.mat-footer-cell,
    th.mat-header-cell {
        border-bottom: none
    }
}

::ng-deep .mat-icon-button {
    background-color: transparent;
}
