<ion-header>
    <ion-toolbar>
        <page-header [showSettingsIcon]="false">{{ 'AUTHENT.AUTHENTICATION' | translate }}</page-header>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="page-container">
        <form #form="ngForm" class="row justify-content-center form-auth" [formGroup]="loginForm"
            (ngSubmit)="sendAuthent()">
            <ion-item>
                <ion-label position="floating">{{ 'AUTHENT.LOGIN' | translate }}</ion-label>
                <ion-input formControlName="login" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'AUTHENT.PASSWORD' | translate }}</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-button type="submit" [hidden]="!hideSpinner" expand="block" [disabled]="loginForm.invalid">
                {{ 'AUTHENT.VALIDATE' | translate }}</ion-button>
            <ion-spinner text-center [hidden]="hideSpinner"></ion-spinner>
        </form>
        <div class="error-message" *ngIf="errorMsg">{{ errorMsg }}</div>
    </div>
</ion-content>