.blue-navbar {
    ion-icon {
        color: white !important;
    }

    ion-title {
        img {
            margin-top: 7px;
            height: 15px;
        }
    }
}

ion-content {
    text-align: center;
}
