.selection-dot {
    background-color: color($colors, blue81);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: auto;
}

.evaluation-sheet {
    .scroll-content {
        max-width: none;
        margin: auto;
        margin-top: 56px;
        margin-bottom: 56px;
        margin-left: 50px;
        margin-right: 54px;
    }

    ion-card {

        &.card-md,
        &.card-ios {
            margin: 0;
        }

        &.title-bloc {
            margin: auto;
            text-align: center;
            width: max-content;
            height: 45px;
            padding: 10px 17px;
            margin-bottom: 20px;

            span {
                font-size: 22px;
                font-weight: 400;
                margin-left: 30px;

                &.first-text {
                    color: color($colors, grey12);
                    letter-spacing: 0.8px;
                    margin-left: 0px;
                }

                &.date {
                    color: color($colors, blue81);
                    letter-spacing: -0.74px;
                }

                &.result {
                    color: color($colors, white);
                    letter-spacing: 0.13px;
                    padding: 0px 6px;
                    border-radius: 5px;
                }

                &.failed {
                    background-color: color($colors, red15);
                }

                &.success {
                    background-color: color($colors, green40);
                }

                &.successWithFC {
                    background-color: color($colors, orange80);
                }

            }
        }

        &.score-bloc {
            width: 100%;
            height: 100%;
            padding-left: 30px;
            padding-top: 10px;
            padding-bottom: 3px;

            .score-bloc-title {
                font-weight: bold;
                font-size: 20px;
                letter-spacing: 0.51px;
            }

            .score-bloc-value {
                font-size: 22px;
                margin-left: 20px;
                letter-spacing: -0.45px;
            }

            .score-bloc-eval {
                font-weight: bold;
                font-size: 22px;
                letter-spacing: -0.45px;
            }

            .score-bloc-comment {
                font-weight: 300;
                letter-spacing: -0.22px;
            }

            .edospnc-speechBubble:before {
                color: color($colors, blue81);
                font-size: 58px;
                padding: 10px;
            }

        }
    }

    ion-grid {
        padding: 0px;

        ion-row.title-row,
        ion-row.ss-title-row,
        ion-row.data-row {
            ion-col {
                text-align: center;

                &:first-child {
                    text-align: left;

                    span {
                        padding-left: 20px;
                    }
                }
            }
        }

        &.title-display {
            ion-row {
                &.title-row {
                    background-color: color($colors, blue81);
                    margin: 10px 0px;
                    color: color($colors, white);
                }
            }
        }

        &.data-display {

            .odd {
                background-color: color($colors, grey95);
            }

            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 1px 5px 0 rgba(0, 0, 0, 0.12);

            ion-row {
                &.ss-title-row {
                    background-color: color($colors, blue77);
                    text-transform: uppercase;
                    color: color($colors, white);
                    font-weight: bold;
                }

                ion-col {
                    &:not(:first-child) {
                        border-left: 1px solid color($colors, blue68);
                    }
                }
            }
        }
    }

}
