    <div class="container">
        <p class='title'> {{modalTitle}} </p>
        <p *ngIf="modalType === secretQuestionType.answerToQuestion" class='title'>
            {{questionToAnswer}}
        </p>
        <p class='error-text'>{{errorText}}</p>
        <div *ngIf="modalType === secretQuestionType.newQuestion">
            <form novalidate [formGroup]="newQuestionForm">
                <ion-item>
                    <ion-label position="floating">{{ 'SECRET_QUESTION.LABEL.NEW_QUESTION' | translate }}</ion-label>
                    <ion-input formControlName="questionControl"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{ 'SECRET_QUESTION.LABEL.NEW_ANSWER' | translate }}</ion-label>
                    <ion-input formControlName="answerControl"></ion-input>
                </ion-item>
                <ion-button class="validate-question" 
                    (click)="sendData()" 
                    [disabled]="!newQuestionForm.valid">
                        {{ 'SECRET_QUESTION.VALIDATE' | translate }}
                </ion-button>
            </form>    
        </div>
        <div *ngIf="modalType === secretQuestionType.answerToQuestion">
            <form novalidate [formGroup]="answerQuestionForm">
                <ion-item>
                    <ion-label position="floating">{{ 'SECRET_QUESTION.LABEL.ANSWER_TO_QUESTION' | translate }}</ion-label>
                    <ion-input formControlName="answerControl"></ion-input>
                </ion-item>
                <ion-button class="validate-question" 
                    (click)="sendData()" 
                    [disabled]="!answerQuestionForm.valid">
                        {{ 'SECRET_QUESTION.VALIDATE' | translate }}
                </ion-button>
            </form>    
        </div>
    </div>   
