$containerWidth : 600;
$containerHeight : 510;
$containerPadding : 30;

$chosenNumberWidth: 130;
$chosenNumberHeight: 130;

$pinNumberWidth: 76;
$pinNumberHeight: 76;

secret-question {

    .title {
        color: $colorDark;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .error-text {
        text-align: center;
        color: color($colors, red80);
    }

    .container {
        position: absolute;
        width: $containerWidth+px;
        height: $containerHeight+px;
        color: $colorBright;
        left: calc(50% - #{$containerWidth/2}px);
        top: calc(50% - #{$containerHeight/2}px);
        padding: $containerPadding+px;
    }

    .validate-question {
        background: color($colors, green70);
        width: 100%;
        margin-top: 30px;

        &:hover:not(.disable-hover) {
            background-color: #5BC7A9;
        }
    }


}
