$containerWidth : 600;
$containerHeight : 510;
$containerPadding : 30;

$chosenNumberWidth: 130;
$chosenNumberHeight: 130;

$pinNumberWidth: 76;
$pinNumberHeight: 76;

.title {
    color: var(--ion-color-grey10);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.error-text {
    text-align: center;
    color: var(--ion-color-danger);
}

.container {
    position: absolute;
    width: $containerWidth+px;
    height: $containerHeight+px;
    color: var(--ion-color-grey95);
    left: calc(50% - #{$containerWidth/2}px);
    top: calc(50% - #{$containerHeight/2}px);
    padding: $containerPadding+px;
}

.validate-question {
    width: 100%;
    margin-top: 30px;
}
