.scroll-content {
    padding-top: 40px !important;
}

.aircraft-skills-informations {
    text-align: left;
    font-size: 1.5em;
    color: var(--ion-color-grey60);
    padding-bottom: 35px;
}

.plane-qualif {
    float: right;
    padding-right: 15px;
}

.card-md {
    margin: 0px;
    width: 100%;
}

::ng-deep no-data .no-data-found {
    font-size: 1em;
    padding: 5px;
}
