page-statutory-certificate {

    .scroll-content {
        padding-top: 40px !important;
    }

    .aircraft-skills-informations {
        text-align: left;
        font-size: 1.5em;
        color: color($colors-secondary, grey60);
        padding-bottom: 35px;
    }

    .plane-qualif {
        float: right;
        padding-right: 15px;
    }

    .important-date {
        color: color($colors-secondary, red80);
    }

    .card-md {
        margin: 0px;
        width: 100%;
    }
}
