<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf='pnc'>{{ 'STATUTORY_CERTIFICATE.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <pnc-card *ngIf="pnc" [itemMember]="pnc" [isCrewMember]="false"></pnc-card>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div margin-top *ngIf="statutoryCertificate?.aircraftSkills" class="aircraft-skills-informations">
            <span *ngFor="let aircraftSkill of statutoryCertificate.aircraftSkills | reverse" class="plane-qualif">
                {{ aircraftSkill }}
            </span>
        </div>
        <generality-skills [displayType]='StatutoryCertificateDisplayTypeEnum.LIST' [generalitySkillsData]="statutoryCertificate?.generalitySkills" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.GENERALITY_SKILLS' | translate"></generality-skills>
        <plane-skills [displayType]='StatutoryCertificateDisplayTypeEnum.TAB' [planeSkillsData]="statutoryCertificate?.planeSkills" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.PLANE_SKILLS' | translate"></plane-skills>
        <familiarization-flight [displayType]='StatutoryCertificateDisplayTypeEnum.LIST' [familiarizationFlightData]="statutoryCertificate?.familiarizationFlights" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.FAMILIARIZATION_FLIGHT' | translate"></familiarization-flight>
        <mastering-qualification [displayType]='StatutoryCertificateDisplayTypeEnum.LIST' [masteringQualificationsData]="statutoryCertificate?.masteringQualifications" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.MASTERING_QUALIFICATION' | translate"></mastering-qualification>
        <medical-aptitudes [displayType]='StatutoryCertificateDisplayTypeEnum.LIST' [medicalAptitudesData]="statutoryCertificate?.medicalAptitudes" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.MEDICAL_APTITUDES' | translate"></medical-aptitudes>
        <pnc-languages [displayType]='StatutoryCertificateDisplayTypeEnum.LIST' [languagesData]="statutoryCertificate?.languages" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.LANGUAGES' | translate"></pnc-languages>
    </ng-template>
</ion-content>
