page-statutory-certificate {
    .fonction-informations {
        text-align: left;
        font-size: 1.5em;
        color: color($colors, grey60);
        padding-bottom: 16px;
    }

    .mat-expansion-panel {
        margin-bottom: 16px;
        margin-top: 0px;
        border-radius: 5px;
    }

    mat-expansion-panel-header {
        background-color: color($colors, blue75);
        color: color($colors, white);
        font-size: 18px !important;
        border-radius: 5px;

        &.mat-expanded:hover,
        &.mat-expanded:focus {
            background-color: color($colors, blue75) !important;
            height: 48px;
        }
    }

    .mat-expansion-panel-body {

        padding: 0px;

        ion-card.card-md,
        ion-card.card-ios {
            margin: 0px;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .plane-qualif {
        float: right;
        padding-right: 15px;
    }

    .important-date {
        color: color($colors, red80);
    }
}
