<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf='pnc'>{{ 'STATUTORY_CERTIFICATE.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div margin-top>
            <div class="fonction-informations">
                <span [ngClass]="{'no-value' : !formatedSpeciality }">
                    {{ formatedSpeciality }}
                </span>
                <span *ngIf="statutoryCertificate">
                    <span *ngFor="let aircraftSkill of statutoryCertificate.aircraftSkills | reverse" class="plane-qualif">
                        {{ aircraftSkill }}
                    </span>
                </span>
            </div>
        </div>
        <generality-skills [displayType]='statutoryCertificateDisplayTypeEnum.LIST' [generalitySkillsData]="statutoryCertificate?.generalitySkills" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.GENERALITY_SKILLS' | translate"></generality-skills>
        <plane-skills [displayType]='statutoryCertificateDisplayTypeEnum.TAB' [planeSkillsData]="statutoryCertificate?.planeSkills" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.PLANE_SKILLS' | translate"></plane-skills>
        <familiarization-flight [displayType]='statutoryCertificateDisplayTypeEnum.LIST' [familiarizationFlightData]="statutoryCertificate?.familiarizationFlights" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.FAMILIARIZATION_FLIGHT' | translate"></familiarization-flight>
        <mastering-qualification [displayType]='statutoryCertificateDisplayTypeEnum.LIST' [masteringQualificationsData]="statutoryCertificate?.masteringQualifications" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.MASTERING_QUALIFICATION' | translate"></mastering-qualification>
        <medical-aptitudes [displayType]='statutoryCertificateDisplayTypeEnum.LIST' [medicalAptitudesData]="statutoryCertificate?.medicalAptitudes" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.MEDICAL_APTITUDES' | translate"></medical-aptitudes>
        <pnc-languages [displayType]='statutoryCertificateDisplayTypeEnum.LIST' [languagesData]="statutoryCertificate?.languages" [title]="'STATUTORY_CERTIFICATE.CATEGORIES.LANGUAGES' | translate"></pnc-languages>
    </ng-template>
</ion-content>
