page-logbook-details {

    .draw-ligne {
        margin: 20px 10px;
        border-top: 1px solid color($colors, secondary);
        flex: 2;
    }

    .logbook-info-date {
        flex: 1;
        text-align: center;
        position: relative;
        top: 14px;

    }
}
