logbook-event-details {

    .draw-ligne {
        margin: 22px 10px;
        border-top: 1px solid color($colors-secondary, grey70);
        flex: 5;
    }

    .logbook-info-date {
        flex: 2;
        text-align: center;
        position: relative;
        top: 12px;

        span {
            white-space: nowrap;
        }

    }

    .logbook-event-card {
        padding: 10px 20px;

        pnc-photo {
            margin: 20px;
        }

        .logbook-info-container {
            padding: 10px 20px 10px 10px;
            width: 100%;

            .logbook-header {
                display: flex;

                .left-logbook-info {
                    flex: 3;

                    .title {
                        margin: 6px 0px;

                        span {
                            font-size: 1.2em;
                            color: color($colors-secondary, blue77);
                        }
                    }
                }

                .right-logbook-info {
                    flex: 1;

                    .creation-date-info {
                        display: flex;
                        justify-content: flex-end;
                        color: color($colors, grey50);
                    }

                    .icons {
                        flex: 2;
                        justify-content: flex-end;
                        display: flex;
                        margin: 8px 0px;
                        height: 25px;

                        span.edospnc-important {
                            padding-top: 5px;
                        }
                    }

                    .ion-md-eye-off:before {
                        font-size: 20px;
                        padding-right: 10px;
                        color: color($colors-secondary, grey40);
                    }

                    .edospnc-important:before,
                    .ion-ios-edospnc-important:before,
                    .ion-md-edospnc-important:before,
                    .icon-edospnc-important:before {
                        font-size: 18px;
                        padding-right: 10px;
                    }

                    .edospnc-pnc:before,
                    .ion-ios-edospnc-pnc:before,
                    .ion-ios-edospnc-pnc-outline:before,
                    .ion-md-edospnc-pnc:before,
                    .ion-md-edospnc-pnc-outline:before,
                    .icon-edospnc-pnc:before {
                        font-size: 20px;
                        padding-right: 10px;
                    }

                    .category-label {

                        span {
                            height: 30px;
                            background-color: color($colors-secondary, grey70);
                            border-radius: 4px;
                            padding: 5px 10px;
                            font-weight: normal;
                            white-space: nowrap;
                        }
                    }


                }
            }


            .logbook-info-content {
                margin-top: 15px;

                p {
                    white-space: pre-line;
                }

                text-editor .ql-editor{
                    border:0;
                    padding :0px;
                    min-height: 35px;
                }
            }

            .logbook-notified-pnc {
                ion-label {
                    margin-bottom: 4px;
                    font-weight: bold;
                }
            }
        }
    }

    .information-message {
        text-align: left;
        margin-top: 15px;
    }

    .button-bar-container{

        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between; 
        align-items: baseline;
        padding-left: 71px;

        .logbook-button-bar {

            button {
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.29;
                letter-spacing: 0.7px;
                text-align: center;
                background-color: transparent;
                color: color($colors-secondary, grey10);
                box-shadow: none;
            }
        }

        .visibility-for-large-container{
            height: 100%;

            ion-list{
                display: flex;

                .item-block {
                    border: 0;
                    height: auto;
                }
            }
        }

        .visibility-for-small-container{

            ion-list{
                margin-bottom: 5px;
                .item-block {
                    border: 0;
                }
            }
        }

        .item-block {
            min-height: 0em;
            height: 30px;
            font-size: 1.4rem;
            flex-direction: row-reverse;
            width: auto;
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.29;
            letter-spacing: 0.7px;
        }
    }    

    text-editor .ql-toolbar.ql-snow{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border:1px solid color($colors, grey50);
    }

    text-editor .ql-container.ql-snow{
        border:0;
    }

    text-editor .ql-editor{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border:1px solid color($colors, grey50);
        margin-top: -1px;
    }

}



