<ion-card class="selectable logbook-event-card" [ngClass]="{'clickable':disabled,'disabled':disabled}">

    <ion-card-content no-padding class="pnc-info-panel">
        <div class="flex">
            <pnc-photo [pnc]="logbookEvent.redactor" [size]="50"></pnc-photo>
            <div class="logbook-info-container">
                <div>
                    <div class="logbook-info">
                        <div class="title">
                            <span class="value">{{ logbookEvent.title }}</span>
                        </div>
                        <div class="icons">
                            <div>
                                <span class="edospnc-important" *ngIf="logbookEvent.important"></span>
                            </div>
                            <div>
                                <span class="edospnc-pnc" *ngIf="logbookEvent.pncInitiator"></span>
                            </div>
                            <div class="category-label">
                                <span class="value">{{ logbookEvent.category.label }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="logbook-info">
                        <div class="redactor">
                            <span>{{ logbookEvent?.redactor.lastName }} {{ logbookEvent?.redactor.firstName | titlecase }}</span>
                        </div>
                        <div>
                            <span class="creation-date-info">{{ 'LOGBOOK.DETAILS.CREATED_THE' | translate }} {{ logbookEvent.creationDate | date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                </div>
                <div class="logbook-info-content">
                    <p>{{ logbookEvent.content }}</p>
                </div>
                <div class="logbook-notified-pnc" *ngIf="isManager()">
                    <div>
                        <ion-label>{{ 'LOGBOOK.DETAILS.NOTIFIED_PNCS' | translate }} :</ion-label>
                    </div>
                    <div [ngClass]="{'no-value' : !logbookEvent.notifiedPncs[0] }">
                        <span *ngFor="let pnc of logbookEvent.notifiedPncs; last as l">{{pnc.lastName}} {{pnc.firstName | titlecase}} ({{pnc.speciality}}<span *ngIf="pnc.currentSpeciality && pnc.speciality !== pnc.currentSpeciality">/{{pnc.currentSpeciality}}</span>)
                            <span *ngIf="!l">;</span>
                        </span>
                    </div>
                    <div *ngIf="logbookEvent.notifiedRecipients">
                        <span *ngFor="let email of logbookEvent.notifiedRecipients; last as l">{{ email.emailAddress }}
                            <span *ngIf="!l">;</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ion-card-content>
</ion-card>
