logbook-event-details {

    .logbook-event-card {
        padding: 10px 20px;

        pnc-photo {
            margin: 20px;
        }

        .logbook-info-container {
            padding: 10px 20px 10px 10px;
            width: 100%;

            .logbook-head {
                display: flex;

                .left-logbook-info {
                    flex: 3;

                    .title {

                        span {
                            font-size: 1.2em;
                            color: color($colors-secondary, blue77);
                        }
                    }
                }

                .right-logbook-info {
                    flex: 1;

                    .creation-date-info {
                        display: flex;
                        justify-content: flex-end;
                        color: color($colors, grey50);
                    }

                    .icons {
                        flex: 2;
                        justify-content: flex-end;
                        display: flex;
                        margin: 8px 0px;
                        height: 25px;

                        span.edospnc-important {
                            padding-top: 5px;
                        }
                    }


                    .edospnc-important:before,
                    .ion-ios-edospnc-important:before,
                    .ion-md-edospnc-important:before,
                    .icon-edospnc-important:before {
                        font-size: 18px;
                        position: relative;
                        top: 2px;
                        padding-right: 10px;
                    }

                    .edospnc-pnc:before,
                    .ion-ios-edospnc-pnc:before,
                    .ion-ios-edospnc-pnc-outline:before,
                    .ion-md-edospnc-pnc:before,
                    .ion-md-edospnc-pnc-outline:before,
                    .icon-edospnc-pnc:before {
                        font-size: 40px;
                        position: relative;
                        top: -8px;
                    }

                    .category-label {

                        span {
                            height: 30px;
                            background-color: color($colors-secondary, grey70);
                            border-radius: 4px;
                            padding: 5px 10px;
                            font-weight: normal;
                            white-space: nowrap;
                        }
                    }


                }

                ion-label {
                    font-weight: bold;
                }
            }


            .logbook-info-content {
                margin-top: 10px;

                p {
                    white-space: pre-line;
                }
            }

            .logbook-notified-pnc {
                ion-label {
                    margin-bottom: 4px;
                }
            }
        }
    }
}
