<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="professionalInterview?.pnc">
            <span> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.TITLE' | translate }} </span>
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>

        <form novalidate [formGroup]="professionalInterviewDetailForm">

            <div class="state-block date-block-justify">
                <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.INTERVIEW_DATE' | translate}} :
                </span>
                <span>
                    <ion-item *ngIf="editionMode">
                        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="annualProfessionalInterviewDateString" formControlName="annualProfessionalInterviewDateControl" [pickerOptions]="annualProfessionalInterviewOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')" [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')" [max]="datepickerMaxDate" [monthNames]="monthsNames">
                        </ion-datetime>
                        <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <label *ngIf="!editionMode">{{professionalInterview.annualProfessionalInterviewDate | date:'dd/MM/yyyy' : 'UTC'}}</label>
                </span>
            </div>


            <pnc-card-page-header *ngIf="pnc" [itemMember]="pnc">
            </pnc-card-page-header>

            <div class="speciality-grid">
                <ion-grid>
                    <ion-row class="speciality-header">
                        <ion-col class="speciality" col-2>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.SPECIALITY' | translate }}</ion-col>
                        <ion-col col-10>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.EOBS_PNC_ASSIGNMENT' | translate }}</ion-col>
                    </ion-row>
                    <ion-row class="speciality-label">
                        <ion-col col-2>{{professionalInterview.pncAtInterviewDate?.speciality}}</ion-col>
                        <ion-col col-10>
                            <span class="assignment" *ngIf="professionalInterview.pncAtInterviewDate?.division">{{ 'PNC_HOME.INFO_PANEL.DIVISION' | translate }} : {{professionalInterview.pncAtInterviewDate?.division}}</span>
                            <span class="assignment" *ngIf="professionalInterview.pncAtInterviewDate?.sector">{{ 'PNC_HOME.INFO_PANEL.SECTOR' | translate }} : {{professionalInterview.pncAtInterviewDate?.sector}}</span>
                            <span class="assignment" *ngIf="professionalInterview.pncAtInterviewDate?.ginq">{{ 'PNC_HOME.INFO_PANEL.GINQ' | translate }} : {{professionalInterview.pncAtInterviewDate?.ginq}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <edospnc-expandable-block class="comment" *ngFor="let interviewTheme of professionalInterview.professionalInterviewThemes, index as i" mini="true" [title]="interviewTheme.label">
                <div *ngFor="let item of interviewTheme.professionalInterviewItems, index as j">
                    <p *ngIf="!editionMode; else editItemValueBlock">{{item.value}}</p>
                    <ng-template #editItemValueBlock>
                        <ion-textarea [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocorrect="on"></ion-textarea>
                    </ng-template>
                </div>
            </edospnc-expandable-block>

            <div class="state-block" *ngIf="!editionMode">
                <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.STATE.LABEL' | translate }} :
                    <color-status-point [colorClass]="getColorStatusPoint()">
                    </color-status-point>
                    <span class="state-value">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.STATE.' + professionalInterview?.state | translateOrEmpty }}</span>
                </span>
                <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.UPDATE_DATE' | translate }} :
                    <span *ngIf="professionalInterview?.lastUpdateDate">{{professionalInterview?.lastUpdateDate | date: 'dd/MM/yyyy' : 'UTC'}}
                    </span>
                </span>
                <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.REDACTOR' | translate }} :
                    <span *ngIf="professionalInterview.instructor?.lastName">{{professionalInterview.instructor.lastName}} <span class="firstname">{{professionalInterview.instructor.firstName}}</span></span>
                </span>
            </div>

            <!-- Barre de boutons -->
            <div class="button-bar-right button-bar">
                <!-- Bouton sauvegarder objectif en brouillon -->
                <button ion-button color="blue60" (click)="saveProfessionalInterviewDraft()" [disabled]="professionalInterviewDetailForm.invalid" *ngIf="canBeSavedAsDraft()">
                    <ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.BUTTONS.SAVE_DRAFT' | translate }}
                </button>
                <!-- Bouton supprimer bilan professionnel en brouillon -->
                <button ion-button color="red70" (click)="confirmDeleteProfessionalInterviewDraft()" *ngIf="canBeDeleted()">
                    <ion-icon name="ios-trash-outline" ios="ios-trash-outline" margin-right></ion-icon>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.DELETE_DRAFT' | translate }}
                </button>
            </div>
        </form>
    </ng-template>

</ion-content>
