page-professional-interview-details {

    $border-grid: 1px solid color($colors, grey75);
    $block-border-radius: 5px;

    .rotation-number {
        color: color($colors, blue55);
    }

    .rotation-info {
        display: flex;
        justify-content: flex-start;

        ion-row:first-child {
            display: flex;
            align-items: center;

            ion-col:first-child {
                padding-left: 24px;
            }
        }
    }

    ion-grid.rotation-grid {
        .flight-header {
            color: color($colors, blue55);
        }

        ion-row {
            ion-col:first-child {
                padding-left: 24px;
            }
        }

        ion-row:first-child {
            border-top: $border-grid;
            border-bottom: $border-grid;
        }

        ion-col {
            border-right: $border-grid;
        }

        ion-row:nth-child(even) {
            background: color($colors, grey90);
        }

        ion-col:last-child {
            border: initial;
        }
    }

    .mat-expansion-panel-body .ng-star-inserted:first-child .sub-title-block {
        margin-top: 0px;
    }

    .state-block,
    .comment-block,
    .sub-title-block {
        height: 32px;
        padding-right: 24px;
        padding-left: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: color($colors, bluegrey3);
        color: color($colors, white);
        border-radius: $block-border-radius;

        &.comment-block {
            margin-bottom: 16px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            background: color($colors, blue77);
        }

        &.sub-title-block {
            background: color($colors, blue77);
            margin: 10px -15px 10px -15px;
            font-size: 17px;
        }

        span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 5px;
            padding-left: 5px;
        }

        .state-value {
            padding-left: 10px;
        }

        color-status-point {
            padding-right: 5px;
            padding-left: 5px;
        }
    }

    .date-block-justify {
        justify-content: center;

        .item-md.item-block .item-inner {
            padding-right: 0px;
            border-bottom: 0px;

            .input-wrapper {
                height: 25px;
                background-color: white;
                align-items: center;
                align-content: center;
                margin-top: 9px;
                padding: 0px 8px 0px 9px;
                border-radius: 5px;
            }

            .label-md {
                margin: 13px 0px 13px 10px;
            }

            .datetime-md {
                padding: 0px;
            }

            .datetime-text {
                background: color($colors, white);
                padding: 5px;
                font-size: 14px;
                border-radius: 5px;
            }
        }


    }

    .speciality-grid {
        padding: 0px;
        margin-bottom: 16px;
        box-sizing: border-box;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
        border-radius: $block-border-radius;
        background: color($colors, white);

        .grid {
            padding: initial;
        }
    }

    .speciality-header {
        height: 32px;
        padding-right: 24px;
        padding-left: 24px;
        background: color($colors, blue55);
        color: color($colors, white);
        font-size: 18px !important;
        border-radius: $block-border-radius;
        display: flex;
        align-items: center;
    }

    .speciality-label {
        padding-left: 24px;
        background: color($colors, white);

        ion-col {
            background: color($colors, white);
        }

        .assignment {
            padding-right: 15px;
        }
    }



    .comment {

        textarea {
            resize: none;
        }

        .mat-expansion-panel-body {
            padding: 15px;

            label {
                font-size: 17px;
                margin: 15px 0px 10px 0px;
                display: flex;
                align-items: center;
                color: color($colors, grey10);

                span {
                    font-weight: normal;
                    color: color($colors, blue55);
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }


            label.required:after {
                content: '*';
                padding-left: 5px;
                color: color($colors, red80);
            }

            div.ng-star-inserted div.ng-star-inserted:first-child label:first-child {
                margin-top: 0px;
            }

            ion-textarea {
                padding: 10px;
                border-radius: 3px;
                background: color($colors, grey95);
                border: 1px solid color($colors, grey70);
                white-space: pre-line;
                margin: 0 !important;
                min-height: 210px !important;

                textarea {
                    min-height: 190px !important;
                    padding: 5px !important;
                }
            }
        }
    }

    .expandable-comment-block {
        .mat-expansion-panel {
            margin-bottom: 0px;

        }
    }

    .button-bar {
        margin-top: 10px;
    }
}
