<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="professionalInterview?.pnc">
            <span> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.TITLE' | translate }} </span>
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>

        <form novalidate [formGroup]="professionalInterviewDetailForm">
            <ion-grid>
                <ion-row class="speciality-header">
                    <ion-col class="speciality" col-2>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.INTERVIEW_DATE' | translate }}</ion-col>
                    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="professionalInterview.annualProfessionalInterview" formControlName="annualProfessionalInterviewControl" [pickerOptions]="annualProfessionalInterviewOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')" [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')" [max]="datepickerMaxDate" [monthNames]="monthsNames"></ion-datetime>
                </ion-row>
            </ion-grid>

            <pnc-card-page-header *ngIf="pnc" [itemMember]="pnc">
            </pnc-card-page-header>

            <div class="speciality-grid">
                <ion-grid>
                    <ion-row class="speciality-header">
                        <ion-col class="speciality" col-2>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.SPECIALITY' | translate }}</ion-col>
                        <ion-col col-10>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.EOBS_PNC_ASSIGNMENT' | translate }}</ion-col>
                    </ion-row>
                    <ion-row class="speciality-label">
                        <ion-col col-2>{{professionalInterview?.pncSpeciality}}</ion-col>
                        <ion-col col-10>
                            <span class="assignment" *ngIf="professionalInterview?.pncDivision">{{ 'PNC_HOME.INFO_PANEL.DIVISION' | translate }} : {{professionalInterview?.pncDivision}}</span>
                            <span class="assignment" *ngIf="professionalInterview?.pncSector">{{ 'PNC_HOME.INFO_PANEL.SECTOR' | translate }} : {{professionalInterview?.pncSector}}</span>
                            <span class="assignment" *ngIf="professionalInterview?.pncGinq">{{ 'PNC_HOME.INFO_PANEL.GINQ' | translate }} : {{professionalInterview?.pncGinq}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>

            <edospnc-expandable-block mini="true" [title]=" 'PROFESSIONAL_INTERVIEW.DETAILS.NOTICED_SKILLS' | translate ">
                <ion-textarea formControlName="noticedSkillsControl"></ion-textarea>
            </edospnc-expandable-block>

            <edospnc-expandable-block mini="true" [title]="'PROFESSIONAL_INTERVIEW.DETAILS.PROFESSIONAL_DEVELOPMENT_DESIRE' | translate">
                <ion-textarea formControlName="professionalDevDesireControl"></ion-textarea>
            </edospnc-expandable-block>

            <edospnc-expandable-block mini="true" [title]=" 'PROFESSIONAL_INTERVIEW.DETAILS.SUMMARY' | translate ">
                <ion-textarea formControlName="summaryControl"></ion-textarea>
            </edospnc-expandable-block>

            <div class="state-block">
                <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.STATE.LABEL' | translate }}
                    <color-status-point [colorClass]="getColorStatusPoint()">
                    </color-status-point>
                    <span class="state-value">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.STATE.' + professionalInterview?.state | translateOrEmpty }}</span>
                </span>
                <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.UPDATE_DATE' | translate }}
                    <span *ngIf="professionalInterview?.redactionDate">{{professionalInterview?.redactionDate | date: 'dd/MM/yyyy' : 'UTC'}}
                    </span>
                </span>
            </div>
        </form>
    </ng-template>

</ion-content>
