<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="professionalInterview?.pnc">
            <span *ngIf="professionalInterview?.type === ProfessionalInterviewTypeEnum.BILAN"> {{ 'PROFESSIONAL_INTERVIEW.TITLE_BILAN_PRO' | translate }} </span>
            <span *ngIf="professionalInterview?.type === ProfessionalInterviewTypeEnum.EPP"> {{ 'PROFESSIONAL_INTERVIEW.TITLE_EPP' | translate }} </span>
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div class="selectable">
            <div class="state-block date-block-justify">
                <span class="date-label">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.INTERVIEW_DATE' | translate }} : </span>
                <span>
                    <ion-item *ngIf="editionMode">
                        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [(ngModel)]="annualProfessionalInterviewDateString" [pickerOptions]="annualProfessionalInterviewOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')" [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')" [max]="datepickerMaxDate" [monthNames]="monthsNames">
                        </ion-datetime>
                        <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                        </ion-label>
                    </ion-item>
                    <label *ngIf="!editionMode" class="date-display">{{professionalInterview.annualProfessionalInterviewDate | date:'dd/MM/yyyy' : 'UTC'}}</label>
                </span>
            </div>

            <pnc-card-page-header *ngIf="pnc" [itemMember]="pnc"></pnc-card-page-header>

            <div class="speciality-grid">
                <ion-grid>
                    <ion-row class="speciality-header">
                        <ion-col class="speciality" col-2>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.SPECIALITY' | translate }}</ion-col>
                        <ion-col col-10 *ngIf="professionalInterview.type === ProfessionalInterviewTypeEnum.BILAN">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.PNC_ASSIGNMENT_BILAN_PRO' | translate }}</ion-col>
                        <ion-col col-10 *ngIf="professionalInterview.type === ProfessionalInterviewTypeEnum.EPP">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.PNC_ASSIGNMENT_EPP' | translate }}</ion-col>
                    </ion-row>
                    <ion-row class="speciality-label">
                        <ion-col col-2>{{professionalInterview.pncAtInterviewDate?.speciality}}</ion-col>
                        <ion-col col-10>
                            <span class="assignment" *ngIf="professionalInterview.pncAtInterviewDate?.division">{{ 'PNC_HOME.INFO_PANEL.DIVISION' | translate }} : {{professionalInterview.pncAtInterviewDate?.division}}</span>
                            <span class="assignment" *ngIf="professionalInterview.pncAtInterviewDate?.sector">{{ 'PNC_HOME.INFO_PANEL.SECTOR' | translate }} : {{professionalInterview.pncAtInterviewDate?.sector}}</span>
                            <span class="assignment" *ngIf="professionalInterview.pncAtInterviewDate?.ginq">{{ 'PNC_HOME.INFO_PANEL.GINQ' | translate }} : {{professionalInterview.pncAtInterviewDate?.ginq}}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div *ngFor="let interviewTheme of professionalInterview.professionalInterviewThemes">
                <edospnc-expandable-block class="comment" [ngClass]="{'expandable-comment-block': isPncComment(interviewTheme) || isInstructorComment(interviewTheme) }" mini="true" [title]="getThemeLabel(interviewTheme)">

                    <div *ngFor="let subTheme of interviewTheme.subThemes">
                        <div class="sub-title-block">
                            <span>{{subTheme.label}}</span>
                        </div>
                        <div *ngFor="let item of subTheme.professionalInterviewItems">
                            <label *ngIf="item.label" class="required"><span class="edospnc-speechBubble"></span> {{item.label}} :</label>
                            <p *ngIf="!editionMode; else editBlock">{{item.value}}</p>
                            <ng-template #editBlock>
                                <ion-textarea [(ngModel)]="item.value" autocorrect="on"></ion-textarea>
                            </ng-template>
                        </div>
                    </div>
                    <div *ngFor="let item of interviewTheme.professionalInterviewItems">
                        <label *ngIf="item.label" class="no-margin-top required"><span class="edospnc-speechBubble"></span> {{item.label}} :</label>
                        <p *ngIf="!editionMode; else editBlock">{{item.value}}</p>
                        <ng-template #editBlock>
                            <ion-textarea [(ngModel)]="item.value" autocorrect="on"></ion-textarea>
                        </ng-template>
                    </div>
                </edospnc-expandable-block>
                <div class="comment-block" *ngIf="isPncComment(interviewTheme)">
                    <span *ngIf="professionalInterview?.pncSignatureDate">{{professionalInterview?.pncSignatureDate | date: 'dd/MM/yyyy' : 'UTC'}}</span>
                    <span>
                        <span *ngIf="pnc?.lastName">
                            {{pnc.matricule}} -
                            {{pnc.lastName}}
                            <span class="firstname">{{pnc.firstName}}</span>
                        </span>
                    </span>
                </div>
                <div class="comment-block" *ngIf="isInstructorComment(interviewTheme)">
                    <span *ngIf="professionalInterview?.instructorValidationDate">{{professionalInterview?.instructorValidationDate | date: 'dd/MM/yyyy' : 'UTC'}}</span>
                    <span>
                        <span *ngIf="professionalInterview.instructor?.lastName">
                            {{professionalInterview.instructor.matricule}} -
                            {{professionalInterview.instructor.lastName}}
                            <span class="firstname">{{professionalInterview.instructor.firstName}}</span>
                        </span>
                    </span>
                </div>
            </div>


            <!-- Commentaire PNC-->
            <edospnc-expandable-block *ngIf="canEditPncComment() || professionalInterview.pncComment" class="comment" title="{{'PROFESSIONAL_INTERVIEW.DETAILS.PNC_COMMENT' | translate}}">
                <div>
                    <p *ngIf="!canEditPncComment(); else editPncCommentBlock">{{professionalInterview.pncComment}}</p>
                    <ng-template #editPncCommentBlock>
                        <ion-textarea [(ngModel)]="professionalInterview.pncComment" autocorrect="on"></ion-textarea>
                    </ng-template>
                </div>
            </edospnc-expandable-block>


            <div class="state-block" *ngIf="professionalInterview?.state">
                <div class="w30">
                    <span>
                        <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.STATE.LABEL' | translate }} :</span>
                        <span>
                            <color-status-point [colorClass]="getColorStatusPoint()">
                            </color-status-point>
                            <span class="state-value">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.STATE.' + professionalInterview?.state | translateOrEmpty }}</span>
                        </span>
                    </span>
                </div>
                <span class="date">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.UPDATE_DATE' | translate }} :
                    <span *ngIf="professionalInterview?.lastUpdateDate">{{professionalInterview?.lastUpdateDate | date: 'dd/MM/yyyy' : 'UTC'}}</span>
                </span>
                <div class="w30">
                    <span>
                        <span>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.REDACTOR' | translate }} :</span>
                        <span class="redactor">
                            <span *ngIf="professionalInterview.instructor?.lastName">{{professionalInterview.instructor.lastName}}</span>
                            <span *ngIf="professionalInterview.instructor?.firstName" class="firstname">{{professionalInterview.instructor.firstName}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="information-message align-left" *ngIf="professionalInterview.lastUpdateAuthor">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.EDITED_BY' | translate:{lastName:professionalInterview.lastUpdateAuthor.lastName, firstName:professionalInterview.lastUpdateAuthor.firstName, date:getLastUpdateDate()} }}</div>
        </div>

        <!-- Barre de boutons -->
        <div class="button-bar-right button-bar">
            <ng-container *ngIf="isAdminModeAvailable(); else regularUserActions">
                <!-- Bouton modifier un bilan professionnel -->
                <button ion-button color="blue60" (click)="enterEditMode()" *ngIf="!editionMode">
                    <ion-icon name="md-create" ios="md-create" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.MODIFY' | translate }}
                </button>
                <!-- Bouton annuler la modification d'un bilan professionnel -->
                <button ion-button color="grey14" (click)="cancelEditMode()" *ngIf="editionMode">
                    <ion-icon name="md-close" ios="md-close" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.CANCEL' | translate }}
                </button>
                <!-- Bouton valider les modifications d'un bilan professionnel -->
                <button ion-button color="green50" (click)="saveProfessionalInterview(professionalInterview)" [disabled]="!formHasBeenModified()" *ngIf="editionMode">
                    <ion-icon name="md-checkmark" ios="md-checkmark" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.VALIDATE' | translate }}
                </button>
            </ng-container>
            <ng-template #regularUserActions>
                <!-- Bouton supprimer bilan professionnel en brouillon -->
                <button ion-button color="red70" (click)="confirmDeleteProfessionalInterviewDraft()" *ngIf="canBeDeleted()">
                    <ion-icon name="ios-trash-outline" ios="ios-trash-outline" margin-right></ion-icon>{{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.DELETE_DRAFT' | translate }}
                </button>
                <!-- Bouton sauvegarder objectif en brouillon -->
                <button ion-button color="blue60" (click)="saveProfessionalInterviewDraft()" [disabled]="!annualProfessionalInterviewDateString" *ngIf="canBeSavedInState(ProfessionalInterviewStateEnum.DRAFT)">
                    <ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.SAVE_DRAFT' | translate }}
                </button>
                <!-- Bouton valider bilan professionnel -->
                <button ion-button color="green50" (click)="saveProfessionalInterviewToValidatedStatus()" [disabled]="!isAllIFieldsAreFilled()" *ngIf="canBeSavedInState(ProfessionalInterviewStateEnum.NOT_TAKEN_INTO_ACCOUNT)">
                    <ion-icon name="md-checkmark" ios="md-checkmark" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.VALIDATE' | translate }}
                </button>
                <!-- Bouton prendre en compte bilan professionnel -->
                <button ion-button color="blue60" (click)="takeIntoAccountProfessionalInterview()" *ngIf="canBeTakenIntoAccount()">
                    <ion-icon name="ios-bookmark-outline" ios="ios-bookmark-outline" margin-right></ion-icon> {{ 'PROFESSIONAL_INTERVIEW.DETAILS.BUTTONS.TAKE_INTO_ACCOUNT' | translate }}
                </button>
            </ng-template>
        </div>
        <div class="information-message" *ngIf="canBeSavedInState(ProfessionalInterviewStateEnum.NOT_TAKEN_INTO_ACCOUNT)">{{ 'PROFESSIONAL_INTERVIEW.DETAILS.LEGEND' | translate }}</div>

    </ng-template>
</ion-content>
