hamburger-nav {

    .pnc-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;


        pnc-photo {
            margin-bottom: 10px;
        }

        .pnc-name {
            color: color($colors, primary);
            font-weight: bold;
            font-size: 1.3em;
            margin: 5px 0;
        }

        .pnc-matricule {
            color: color($colors, grey20);
        }
    }

    .label,
    .list ion-item ion-label {
        margin: 0;
        padding-left: 0;
    }


    .button-list {
        border-top: 1px solid color($colors-secondary, grey95);

        button {
            display: flex;
            align-items: center;
            background-color: color($colors, white);
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
            letter-spacing: 1px;
            width: 100%;
            height: 48px;
            line-height: 18px;

            ion-icon {
                text-align: center;
                min-width: 50px;
                font-size: 1.8em;
            }

            &:hover {
                background-color: color($colors-secondary, grey75);
            }

            &.active {
                background-color: color($colors-secondary, grey75);
            }
        }

    }

}
