<ion-content>
    <div class="pnc-info">
        <pnc-photo [pnc]="currentUser" size="100"></pnc-photo>
        <div class="pnc-name">
            <span class="firstname">{{ currentUser.firstName }}</span>&nbsp;<span class="lastname">{{ currentUser.lastName }}</span>
        </div>
        <div class="pnc-matricule">{{ currentUser.matricule }}</div>
    </div>
    <div class="button-list" *ngFor="let pageGroup of pageList">
        <ng-container *ngFor="let page of pageGroup">
            <button *ngIf="page.available" (click)="openPage(page)" [class.active]="isActive(page)">
                <ion-icon name="{{page.icon}}"></ion-icon>{{ page.label | translate }}
            </button>
        </ng-container>
    </div>
</ion-content>
