    <div class="container">
        <p *ngIf="modalType === secretQuestionType.newQuestion" class='title'>
            {{ 'SECRET_QUESTION.TITLE.NEWQUESTION' | translate }}
        </p>
        <div *ngIf="modalType === secretQuestionType.newQuestion">
            <form novalidate [formGroup]="newQuestionForm">
                <ion-item>
                    <ion-label floating>{{ 'SECRET_QUESTION.LABEL.NEWQUESTION' | translate }}</ion-label>
                    <ion-input formControlName="questionControl"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>{{ 'SECRET_QUESTION.LABEL.NEWANSWER' | translate }}</ion-label>
                    <ion-input formControlName="answerControl"></ion-input>
                </ion-item>
                <button ion-button class="validate-question" 
                    (click)="sendData()" 
                    [disabled]="!newQuestionForm.valid">
                        {{ 'SECRET_QUESTION.VALIDATE' | translate }}
                </button>
            </form>    
        </div>
        <p *ngIf="modalType === secretQuestionType.answerToQuestion" class='title'>
            {{ 'SECRET_QUESTION.TITLE.ANSWERTOQUESTION' | translate }}
            <br/>
            {{questionToAnswer}}
        </p>
        <div *ngIf="modalType === secretQuestionType.answerToQuestion">
            <form novalidate [formGroup]="answerQuestionForm">
                <ion-item>
                    <ion-label floating>{{ 'SECRET_QUESTION.LABEL.NEWANSWER' | translate }}</ion-label>
                    <ion-input formControlName="answerControl"></ion-input>
                </ion-item>
                <button ion-button class="validate-question" 
                    (click)="sendData()" 
                    [disabled]="!answerQuestionForm.valid">
                        {{ 'SECRET_QUESTION.VALIDATE' | translate }}
                </button>
            </form>    
        </div>
    </div>   
