$containerWidth : 600;
$containerHeight : 510;
$containerPadding : 30;

$chosenNumberWidth: 130;
$chosenNumberHeight: 130;

$pinNumberWidth: 76;
$pinNumberHeight: 76;

$colorBright : white;
$colorDark: grey;

secret-question {

    .title{
        color: $colorDark;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .container{
        position: absolute;
        width: $containerWidth+px;
        height: $containerHeight+px;
        color: $colorBright;
        top: calc(50% - #{$containerWidth/2}px);
        left: calc(50% - #{$containerHeight/1.7}px);
        padding: $containerPadding+px;
    }
    
   .validate-question{
        background: color($colors, green60);
        width: calc(100%);
        margin-top: 30px;
    }


}