logbook-event-create {

    $ion-textarea-row-margin: 25px;

    .scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-grid {
        display: flex;
        /* autoprefixer: off */
        height: fill-available;
        height: stretch;
        height: -webkit-fill-available;
        height: -moz-available;
        max-height: -webkit-fill-available;
        max-height: -moz-available;
        max-height: stretch;
    }
    .item-md.item-block .item-inner {
        border-bottom: initial;
    }

    .item-ios.item-block .item-inner {
        border-bottom: initial;
    }

    .horizontal-items-in-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        ion-item {
            width: auto;
        }

        .event-date {
            flex-grow: 4;
            ion-label {
                flex: initial;
            }
        }
        .event-checkbox {
            flex-grow: 1;
            text-align: end;
        }

        .item.item-md .checkbox-md {
            position: static;
            display: block;
            margin: 9px 15px 9px 4px;
        }
        .item-md.item-block .item-inner {
            border-bottom: initial;
        }
        .item.item-ios .checkbox-ios {
            position: static;
            display: block;
            margin: 9px 15px 9px 4px;
        }
        .item-ios.item-block .item-inner {
            border-bottom: initial;
        }
    }

    .col {
        padding: 0px;
    }
    .category {
        width: 255px;

        ion-select {
            padding-left: 5px;
        }
    }

    .title-row {
        margin-top: $ion-textarea-row-margin !important;
    }

    .event-title {
        display: flex;
        height: fit-content;
    }
    .event-length {
        width: 100%;
        font-size: smaller;
        align-content: flex-end;
        text-align: right;
    }

    .description-row {
        margin-top: $ion-textarea-row-margin !important;
        ion-textarea.big-textarea {
            align-items: stretch;
            /* autoprefixer: off */
            height: fill-available;
            height: stretch;
            height: -webkit-fill-available;
            height: -moz-available;
            max-height: -webkit-fill-available;
            max-height: -moz-available;
            max-height: stretch;
            display: flex;
            textarea {
                align-items: stretch;
            }
        }
    }
}

.popover-md .popover-content {
    width: 255px;
}

.popover-ios .popover-content {
    width: 255px;
}