<ion-card class="career-objective-card clickable elevation-1">
    <offline-indicator [object]="careerObjective" type="CAREER_OBJECTIVE"></offline-indicator>
    <ion-card-content class="ion-no-padding">
        <span class="value career-objective-date">{{careerObjective.creationDate | date : 'dd/MM/yyyy' : 'UTC'}}</span>
        <span class="value career-objective-title">{{ careerObjective.title }}</span>
        <span class="value career-objective-category">{{ careerObjective.category.label }}</span>
        <span *ngIf="displayMode !== CareerObjectiveDisplayModeEnum.REDACTIONS" class="value career-objective-date">{{careerObjective.encounterDate | date : 'dd/MM/yyyy' : 'UTC'}}</span>
        <span *ngIf="displayMode === CareerObjectiveDisplayModeEnum.REDACTIONS" class="value career-objective-pnc">{{careerObjective.pnc.lastName}}
            <div class="firstname">{{careerObjective.pnc.firstName}}</div>
        </span>
        <span class="value career-objective-date">{{careerObjective.nextEncounterDate | date : 'dd/MM/yyyy' : 'UTC'}}</span>
        <div class="large-device value career-objective-status-for-large-container">
            <span class="career-objective-status-dot" [ngClass]="getStatusCssClass(careerObjective.careerObjectiveStatus)"></span>
            {{'CAREER_OBJECTIVE_LIST.STATUS.' + careerObjective?.careerObjectiveStatus | translateOrEmpty}}
        </div>
        <div class="small-device value career-objective-status-for-small-container">
            <span class="career-objective-status-dot" [ngClass]="getStatusCssClass(careerObjective.careerObjectiveStatus)"></span>
        </div>
        <span class="value career-objective-icone">
            <span class="edospnc-flag" *ngIf="careerObjective.prioritized"></span>
            <span class="edospnc-pnc" *ngIf="careerObjective.initiator === PncRole.PNC"></span>
        </span>
    </ion-card-content>
</ion-card>
