<ion-header>
    <ion-navbar>
        <ion-title>{{ 'SETTINGS.TITLE' | translate }}</ion-title>
        <edossier-indicators [showSettingsIcon]="false"></edossier-indicators>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-item>
        <label>{{ 'SETTINGS.INIT_CACHE.BUTTON' | translate }}</label>

        <button ion-fab mini icon-only item-end class="init-cache-button" *ngIf="connected" (click)="confirmDeleteCareerObjectiveDraft()">
            <ion-icon name="trash" *ngIf="!initInProgress"></ion-icon>  
            <ion-spinner *ngIf="initInProgress"></ion-spinner>
        </button>
    </ion-item>
</ion-content>
