<ion-header>
    <ion-toolbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            {{ 'HR_DOCUMENT.DETAIL.PAGE_TITLE' | translate }}
        </page-header>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <hr-document-card #hrDocumentDetail [mode]="mode" [hrDocument]="hrDocument"></hr-document-card>
        </ng-template>
    </div>
</ion-content>