page-upcoming-flight-list {
    .rotation-list > h3 {
        font-weight: normal;
        padding: 15px 10px;
        font-size: 1.2em;
        color: color($colors, primary);
        border-radius: 5px
    }

    .last-performed-rotations {
        ion-card-header {
            background: #d5d9de;
            color: #888;
        }
    }

    .upcoming-rotations {
        ion-card-header {
            background: color($colors, primary-light);
            color: color($colors, white);
        }
    }
}
