<ion-header>
    <ion-toolbar>
        <page-header (refreshPage)="initPage()" [showRefreshIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc">
                {{ 'GLOBAL.UPCOMING_FLIGHT' | isMyPage:pnc | translate }}
            </span>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.UPCOMING_FLIGHT_LIST_PAGE"></pnc-edossier-header>
</ion-header>

<ion-content>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>

        <mat-sidenav-container *ngIf="rotationList.length>0; else noDataBlock">
            <mat-sidenav [(opened)]="isMenuOpened" mode="side">
                <rotation-list [rotationList]="rotationList" (activeRotationChange)="updateActiveRotation($event)"></rotation-list>
            </mat-sidenav>

            <mat-sidenav-content>
                <div class="page-container" @selectRotationAnimation *ngIf="isDeleteAnimationOver">
                    <h4>
                        <span class=" rotation-date suffix-tu">{{ activeRotation.departureDate | date : 'dd/MM/yyyy' : 'UTC' }}</span> - <span class="rotation-number">{{ activeRotation.number }}</span>
                    </h4>

                    <div class="flight-card-container">
                        <flight-card *ngFor="let flight of activeRotation.legs" [flight]="flight" (click)="goToFlightCrewListPage(flight)" [class.active]="isFlightActive(flight)" [isFlightActive]="isFlightActive(flight)"></flight-card>
                    </div>
                </div>
            </mat-sidenav-content>
        </mat-sidenav-container>

        <ng-template #noDataBlock>
            <div class="no-flight">
                <ion-icon name="jet"></ion-icon>
                <span>{{ 'UPCOMING_FLIGHT_LIST.NO_FLIGHT' | translate }}</span>
            </div>
        </ng-template>

    </ng-template>
</ion-content>
