    <div class="container">
        <p class='title'>{{pinTitle}}</p>
        <p class='errorText'>{{errorText}}</p>
        <div class="chosenNumber" *ngFor="let inputValue of inputValueArray">
            <div>
                <div class="roundPad" [ngClass]="{'fullRound' : inputValue != padValueDefault}"></div>
            </div>
        </div>
        <div class="padNumberContainer">
            <div 
                class="padNumber" 
                *ngFor="let value of listOfNumberPossible; let i = index" 
                (click)="addToInput((i+1)%10)">
                <span>{{(i+1)%10}}</span>
            </div>
        </div>    
        <p *ngIf="pinType === pinPadType.openingApp" class='forgottenPin' (click)="manageForgotten();">{{'PIN_PAD.FORGOTTEN' | translate}}</p>
        <p *ngIf="pinType === pinPadType.pinChangeStage1" class='forgottenPin' (click)="manageCancel();">{{'PIN_PAD.CANCEL' | translate}}</p>
    </div>   
