$containerWidth : 600;
$containerHeight : 510;
$containerPadding : 30;

$chosenNumberWidth: 130;
$chosenNumberHeight: 130;

$pinNumberWidth: 76;
$pinNumberHeight: 76;

$colorBright : white;
$colorDark: grey;

pin-pad {

    .title{
        color: $colorDark;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .forgottenPin{
        color: $colorDark;
        font-weight: bold;
        text-align: right;
        cursor: pointer;
    }

    .container{
        position: absolute;
        width: $containerWidth+px;
        height: $containerHeight+px;
        color: $colorBright;
        top: calc(50% - #{$containerWidth/2}px);
        left: calc(50% - #{$containerHeight/1.7}px);
        padding: $containerPadding+px;
    }
    
    .chosenNumber{
        display: inline-flex;
        width: $chosenNumberWidth+px;
        height: $chosenNumberHeight+px; 
        
        margin: 2px;
        font-size: 35px;
        padding-top: 50px;

        span{
            width:100%;
            text-align:center;
        }
        
    }
    
    .padNumber{
        display: inline-flex;
        width: $pinNumberWidth+px;
        height: $pinNumberHeight+px;
        cursor: pointer;
        color: $colorDark;
        background-color:$colorBright;
        border: solid 2px $colorBright;
        border-radius: $pinNumberWidth+px;
        margin: 16px;
        font-weight: bold;
        font-size: 20px;
        padding-left : $pinNumberWidth/2.5+px;
        padding-top: $pinNumberHeight/3.5+px;
    }


}