$containerWidth : 400;
$containerHeight : 310;
$containerPadding : 30;

$chosenNumberWidth: 80;
$chosenNumberHeight: 80;

$pinNumberWidth: 45;
$pinNumberHeight: 45;

$colorBright : white;
$colorDark: grey;

pin-pad {

    .title{
        color: $colorDark;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }

    .container{
        position: absolute;
        width: $containerWidth+px;
        height: $containerHeight+px;
        color: $colorBright;
        top: calc(50% - #{$containerWidth/2}px);
        left: calc(50% - #{$containerHeight/1.7}px);
        padding: $containerPadding+px;
    }
    
    .chosenNumber{
        display: inline-flex;
        width: $chosenNumberWidth+px;
        height: $chosenNumberHeight+px; 
        
        margin: 2px;
        font-size: 35px;

        span{
            width:100%;
            text-align:center;
        }
        
    }
    
    .padNumber{
        display: inline-flex;
        width: $pinNumberWidth+px;
        height: $pinNumberHeight+px;
        cursor: pointer;
        color: $colorDark;
        background-color:$colorBright;
        border: solid 2px $colorBright;
        border-radius: $pinNumberWidth+px;
        margin: 10px;
        font-weight: bold;
        font-size: 20px;
        padding-left : $pinNumberWidth/3+px;
        padding-top: $pinNumberHeight/5+px;
    }

    .fullScreenBlack{
        position: absolute;
        top: 0px;
        left: 0px;
        width:100%;
        height:100%;
        background-color: black;
        opacity: 0.9;
    }   


}