admin-home {

    ion-content > .scroll-content {
        width: 100% !important;
        margin: auto;
    }

    .list ion-item ion-label {
        padding: 0px;
    }

    .label-md {
        margin: 0;
        padding: 0;
    }

    .page {
        text-align: left;
        background-color: white;
        padding-left: 16px;
        width: 100%;
        height: 48px;
    }

    .active-link {
        background-color: color($colors, grey72);
    }
}
