<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="false">
            {{ 'SETTINGS.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
    <!-- Paramètres accessibles uniquement en mobile -->
    <ng-container *ngIf="isApp">
        <ion-item>
            <label>{{ 'SETTINGS.INIT_CACHE.LABEL' | translate }}</label>
            <button ion-fab mini icon-only item-end (click)="confirmClearAndInitCache()" [disabled]="!connected">
                <ion-icon name="trash" *ngIf="!initInProgress"></ion-icon>
                <ion-spinner *ngIf="initInProgress"></ion-spinner>
            </button>
        </ion-item>
        <ion-item>
            <label>{{ 'SETTINGS.FORCE_SYNCHRONIZATION.LABEL' | translate }}</label>
            <button ion-fab mini icon-only item-end (click)="forceSynchronizeOfflineData()" [disabled]="!connected">
                <ion-icon name="sync" *ngIf="!synchronizationInProgress"></ion-icon>
                <ion-spinner *ngIf="synchronizationInProgress"></ion-spinner>
            </button>
        </ion-item>
        <ion-item>
            <label>{{ 'SETTINGS.REVOKE_CERTIFICATE.BUTTON' | translate }}</label>
            <button ion-fab mini icon-only item-end class="parameter-button" (click)="confirmRevokeCertificate()">
                <ion-icon name="log-out" *ngIf="!revokationInProgress"></ion-icon>
                <ion-spinner *ngIf="revokationInProgress"></ion-spinner>
            </button>
        </ion-item>
        <ion-item>
            <label>{{ 'SETTINGS.CHANGE_PIN_CODE.LABEL' | translate }}</label>
            <button ion-fab mini icon-only item-end (click)="changePinCode()" [disabled]="!connected">
                <ion-icon name="key"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
            <label>{{ 'SETTINGS.CHANGE_SECRET_QUESTION.LABEL' | translate }}</label>
            <button ion-fab mini icon-only item-end (click)="changeSecretQuestion()" [disabled]="!connected">
                <ion-icon name="key"></ion-icon>
            </button>
        </ion-item>
    </ng-container>
    <!-- Paramètres accessibles dans les 2 modes (web et mobile) -->
    <ng-container>
        <ion-item *ngIf="isRealUserAdmin()">
            <label>{{ 'SETTINGS.IMPERSONATE_USER.LABEL' | translate }}</label>
            <button ion-fab mini icon-only item-end (click)="impersonateNewUser()" [disabled]="!connected">
                <ion-icon name="contacts" ios="md-contacts"></ion-icon>
            </button>
        </ion-item>
        <ion-item *ngIf="isAdmin()">
            <label>{{ 'SETTINGS.ADMIN_ACCESS.BUTTON' | translate }}</label>
            <button ion-fab mini icon-only item-end class="parameter-button" (click)="goToAdminPage()" [disabled]="!connected">
                <ion-icon name="key"></ion-icon>
            </button>
        </ion-item>
    </ng-container>
    <ng-container>
        <div class="version-panel">
            <div *ngIf="frontVersion">{{ 'GLOBAL.APP_VERSION.FRONT' | translate }} : {{frontVersion}}</div>
            <div *ngIf="backVersion && connected"> - {{ 'GLOBAL.APP_VERSION.BACK' | translate }} : {{backVersion}}</div>
        </div>
    </ng-container>
</ion-content>
