<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="false">
            <ng-container slot="center">{{ 'SETTINGS.TITLE' | translate }}</ng-container>
        </page-header>
    </ion-toolbar>
</ion-header>


<ion-content no-bounce>
    <div class="page-container">
        <!-- Paramètres accessibles uniquement en mobile -->
        <ng-container *ngIf="isApp">
            <ion-item>
                <ion-label color="grey50">{{ 'SETTINGS.INIT_CACHE.LABEL' | translate }}</ion-label>
                <ion-fab-button size="small" color="secondary" (click)="confirmClearAndInitCache()" [disabled]="!connected">
                    <ion-icon name="trash" *ngIf="!initInProgress"></ion-icon>
                    <ion-spinner *ngIf="initInProgress"></ion-spinner>
                </ion-fab-button>
            </ion-item>
            <ion-item>
                <ion-label color="grey50">{{ 'SETTINGS.FORCE_SYNCHRONIZATION.LABEL' | translate }}</ion-label>
                <ion-fab-button size="small" color="secondary" (click)="forceSynchronizeOfflineData()" [disabled]="!connected">
                    <ion-icon name="sync" *ngIf="!synchronizationInProgress"></ion-icon>
                    <ion-spinner *ngIf="synchronizationInProgress"></ion-spinner>
                </ion-fab-button>
            </ion-item>
            <ion-item>
                <ion-label color="grey50">{{ 'SETTINGS.CHANGE_PIN_CODE.LABEL' | translate }}</ion-label>
                <ion-fab-button size="small" color="secondary" (click)="changePinCode()" [disabled]="!connected">
                    <ion-icon name="key"></ion-icon>
                </ion-fab-button>
            </ion-item>
            <ion-item>
                <ion-label color="grey50">{{ 'SETTINGS.CHANGE_SECRET_QUESTION.LABEL' | translate }}</ion-label>
                <ion-fab-button size="small" color="secondary" (click)="changeSecretQuestion()" [disabled]="!connected">
                    <ion-icon name="key"></ion-icon>
                </ion-fab-button>
            </ion-item>
            <ion-item *ngIf="isAdmin()">
                <ion-label color="grey50">{{ 'SETTINGS.REVOKE_CERTIFICATE.BUTTON' | translate }}</ion-label>
                <ion-fab-button size="small" color="secondary" class="parameter-button" (click)="confirmRevokeCertificate()">
                    <ion-icon name="log-out" *ngIf="!revokationInProgress"></ion-icon>
                    <ion-spinner *ngIf="revokationInProgress"></ion-spinner>
                </ion-fab-button>
            </ion-item>
        </ng-container>
        <!-- Paramètres accessibles dans les 2 modes (web et mobile) -->
        <ion-item>
            <ion-label color="grey50">{{ 'SETTINGS.APP_VERSION.LABEL' | translate }}</ion-label>
            <ion-fab-button size="small" color="secondary" (click)="goToAppVersionHistory()" [disabled]="!connected">
                <ion-icon name="ios-archive"></ion-icon>
            </ion-fab-button>
        </ion-item>
        <ion-item>
            <ion-label color="grey50">{{ 'SETTINGS.LEGAL_TERMS.LABEL' | translate }}</ion-label>
            <ion-fab-button size="small" color="secondary" (click)="goToLegalTerms()">
                <ion-icon name="document" ios="md-document"></ion-icon>
            </ion-fab-button>
        </ion-item>
        <ion-item *ngIf="isRealUserAdmin()">
            <ion-label color="grey50">{{ 'SETTINGS.IMPERSONATE_USER.LABEL' | translate }}</ion-label>
            <ion-fab-button size="small" color="secondary" (click)="impersonateNewUser()" [disabled]="!connected">
                <ion-icon name="contacts" ios="md-contacts"></ion-icon>
            </ion-fab-button>
        </ion-item>
        <div class="version-panel">
            <div *ngIf="frontVersion">{{ 'GLOBAL.APP_VERSION.FRONT' | translate }} : {{frontVersion}}</div>
            <div *ngIf="backVersion && connected"> - {{ 'GLOBAL.APP_VERSION.BACK' | translate }} : {{backVersion}}</div>
        </div>
    </div>
</ion-content>
