/* Largeur auto pour l'autocomplétion */

.mat-autocomplete-panel,
.cdk-overlay-pane {
    background: color($colors, white);
    width: auto !important;
    max-width: none !important;
}

.cdk-overlay-pane {
    max-height: none !important;
}    

.mat-autocomplete-panel{
    max-height: 300px !important;
}
