ion-button {
    --border-radius: 4px;
    text-transform: none;

    ion-icon {
        font-size: 1.5em;
    }

    &.button-disabled {
        --ion-color-base: var(--ion-color-grey50) !important;
    }
}
