.button-bar,
.button-bar-right {
    display: flex;

    & > button:not(:first-child),
    ion-button:not(:first-child) {
        margin-left: 10px;
    }

    button,
    ion-button {

        label,
        ion-label {
            margin-left: 8px;
        }
    }
}

.button-bar-right {
    justify-content: flex-end;
}
