$colors: (primary: #00818E,
    secondary: #AB004D,
    primary-dark:#005461,
    primary-light: #25B1BE,
    secondary-dark:#750026,
    secondary-light:#E31A79,
    orange55: #F4B65B,
    green50:#27b899,
    green65:#aec46c,
    grey20: #585858,
    grey50: #94959A,
    white:#fff,
    blue60:#25b5d6,
    blue65:#417496,
    blue70:#3b7ae2,
    blue76:#41436A,
    red14:#A53279,
    red20:#DD586F,
    red70:#e24c4c);

$colors-secondary:(blue55:#7cc3cc,
    blue68:#5f9aaa,
    blue77:#67abb7,
    grey10:#333,
    grey12:#38393a,
    grey40:#888,
    grey60:#8B7D72,
    grey70:#D5D9DE,
    grey72:#D8D8D8,
    grey75:#e8e5e5,
    grey95:#F1F1F1,
    grey98:#FAFBFB,
    green45:#3CAF90,
    green60:#5BC7A9,
    green70:#71D18A,
    red15:#D6457C,
    red80:#E53A40,
    bluegrey10:#66A7B7,
    bluegrey30:#5d727A,
    bluegrey40:#677A89,
    bluegrey50:#556775,
    yellow10:#F5D359);

/**
* @param palette la palette à utiliser : primary, accent, warn, custom
* @param variant la variante de la couleur : lighter, default, darker, lighter-contrast, default-contrast, darker-contrast
* @return une couleur de la palette et de la variante demandée
*/
@function color($palette, $variant : default) {
    @return map-get($palette, $variant);
}