@font-face {
    font-family: "edospnc";
    src: url("/assets/fonts/edospnc/edospnc.ttf?c45cb1da65b176e71c196b076210140f") format("truetype"),
        url("/assets/fonts/edospnc/edospnc.woff?c45cb1da65b176e71c196b076210140f") format("woff"),
        url("/assets/fonts/edospnc/edospnc.woff2?c45cb1da65b176e71c196b076210140f") format("woff2");
}

span[class^="edospnc-"]:before,
span[class*=" edospnc-"]:before {
    font-family: edospnc !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.edospnc-archive:before {
    content: "\f101";
}

.edospnc-customer-review:before {
    content: "\f102";
}

.edospnc-development-program:before {
    content: "\f103";
}

.edospnc-fix-recipient:before {
    content: "\f104";
}

.edospnc-flag:before {
    content: "\f105";
}

.edospnc-flag2:before {
    content: "\f106";
}

.edospnc-important:before {
    content: "\f107";
}

.edospnc-memo:before {
    content: "\f108";
}

.edospnc-pdf:before {
    content: "\f109";
}

.edospnc-pnc:before {
    content: "\f10a";
}

.edospnc-speech-bubble:before {
    content: "\f10b";
}

.edospnc-writing:before {
    content: "\f10c";
}
