@font-face {
    font-family: 'edospnc';
    src: url('../assets/fonts/edospnc/edospnc.eot?k7kokd');
    src: url('../assets/fonts/edospnc/edospnc.eot?k7kokd#iefix') format('embedded-opentype'),
        url('../assets/fonts/edospnc/edospnc.ttf?k7kokd') format('truetype'),
        url('../assets/fonts/edospnc/edospnc.woff?k7kokd') format('woff'),
        url('../assets/fonts/edospnc/edospnc.svg?k7kokd#edospnc') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"],
[class^="ion-icon"],
[class*="ion-icon"],
[class^="ion-ios-icon"],
[class*="ion-ios-icon"],
[class^="ion-md-icon"],
[class*="ion-md-icon"],
[class*="edospnc-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'edospnc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {

    .edospnc-#{$arg}:before,
    .ion-ios-edospnc-#{$arg}:before,
    .ion-ios-edospnc-#{$arg}-outline:before,
    .ion-md-edospnc-#{$arg}:before,
    .ion-md-edospnc-#{$arg}-outline:before,
    .icon-edospnc-#{$arg}:before {
        content: $val;
        font-size: 36px;
    }
}

@include makeIcon(home, '\e900');
@include makeIcon(developmentProgram, '\e901');
@include makeIcon(helpCenter, '\e902');
@include makeIcon(myBoard, '\e903');
@include makeIcon(pnc, '\e904');
@include makeIcon(pncTeam, '\e905');
@include makeIcon(professionalLevel, '\e906');
@include makeIcon(statutoryCertificate, '\e907');
@include makeIcon(summarySheet, '\e908');
@include makeIcon(upcomingFlight, '\e909');
@include makeIcon(speechBubble, '\e90a');
@include makeIcon(plus, '\e90b');
@include makeIcon(calendar, '\e90c');
