ion-datetime {
    padding: 8px 10px !important;
    width: 120px;
}

div.mat-input-infix,
div.mat-form-field-infix,
ion-datetime.input-like,
ion-input {
    background: var(--ion-color-white) !important;
    border-radius: 4px;
    border: 1px solid var(--ion-color-grey50);
    margin-top: 10px;

    &:focus-within {
        border-color: var(--ion-color-primary);
    }

    &.ng-dirty.ng-invalid {
        border-color: var(--ion-color-red80);
    }
}

div.mat-input-infix,
div.mat-form-field-infix {
    padding: 5px !important;

    input {
        padding: 5px 0 !important;
    }
}

ion-datetime.input-like,
ion-input {

    input {
        padding: 10px 5px !important;
    }
}

.input-md,
ion-datetime.input-like,
.mat-input-infix {
    background-color: var(--ion-color-white);
}

.mat-input-infix.mat-form-field-infix {
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center
}
