ion-input.input,
div.mat-input-infix,
div.mat-form-field-infix {
    border-radius: 4px;
    border: 1px solid color($colors, grey50);

    &:focus-within {
        border-color: color($colors, primary);
    }

    &.ng-dirty.ng-invalid {
        border-color: color($colors-secondary, red80);
    }
}

.input-md {
    background-color: white;
}
