label {
    color: var(--ion-color-grey50);
}

.required::after {
    content: "*";
    padding-left: 5px;
    color: var(--ion-color-red80);
}

.value {
    font-weight: bold;
}

.lastname {
    text-transform: uppercase;
}

.firstname {
    display: inline-block;
    text-transform: lowercase;
}

.firstname::first-letter {
    text-transform: uppercase;
}

.no-data-found {
    display: block;
    text-align: center;
    font-size: 1.3em;
    padding: 20px 0;
    color: var(--ion-color-grey50);
}

.information-message {
    color: var(--ion-color-grey20);
    text-align: right;
    padding-top: 5px;
}

.information-message:before {
    content: '* ';
}

.align-left {
    text-align: left;
}
