 label {
     color: color($colors, grey50);
 }

 ion-label.required::after {
     content: "*";
     padding-left: 5px;
     color: color($colors, red80);
 }

 .value {
     font-weight: bold;
 }

 .lastname {
     text-transform: uppercase;
 }

 .firstname {
     display: inline-block;
     text-transform: lowercase;
 }

 .firstname:first-letter {
     text-transform: uppercase;
 }

 .no-data-found {
     text-align: center;
     font-size: 1.3em;
     padding: 20px 0;
     color: color($colors, grey50);
 }

 .information-message {
     color: color($colors, grey20);
     text-align: right;
     padding-top: 5px;
 }

 .information-message:before {
     content: '* ';
 }

 .align-left {
     text-align: left;
 }
