 label {
     color: color($colors, grey60);
 }

 ion-label.required {
     color: color($colors, secondary) !important;
 }

 ion-label.required:after {
     content: ' *';
 }

 .value {
     font-weight: bold;
 }
