$loading-md-spinner-color: color($colors, grey70);
$loading-md-background: transparent;
$loading-md-box-shadow: 0;

$loading-ios-spinner-color: color($colors, grey70);
$loading-ios-background: transparent;
$loading-ios-box-shadow: 0;

$loading-wp-spinner-color: color($colors, grey70);
$loading-wp-background: transparent;
$loading-wp-box-shadow: 0;
