@import './colors.scss';

$loading-md-spinner-color: var(--ion-color-white);
$loading-md-background: transparent;
$loading-md-box-shadow: 0;

$loading-ios-spinner-color: var(--ion-color-white);
$loading-ios-background: transparent;
$loading-ios-box-shadow: 0;

.loading-spinner ion-spinner * {
    width: 200px;
    height: 200px;
    margin-left: -100px;
}