$colorPointSize: 12px;

.status-dot {
    min-height: $colorPointSize;
    min-width: $colorPointSize;
    border-radius: 100%;
    margin-right: 5px;
}

.green {
    background: color($colors-secondary, green70);
}

.yellow {
    background: color($colors-secondary, yellow10);
}

.orange {
    background: color($colors, orange55);
}

.red {
    background: color($colors-secondary, red15);
}

.selection-dot {
    background: color($colors, primary-light);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
