$colorPointSize: 12px;

.status-dot {
    min-height: $colorPointSize;
    min-width: $colorPointSize;
    border-radius: 100%;
    margin-right: 5px;
}

.green {
    background: color($colors, 'green70');
}

.yellow {
    background: #F5D359;
}

.orange {
    background: #EF9E67;
}

.red {
    background: #D6457C;
}

.selection-dot {
    background: #4cc3cc;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
