ion-select {
    background: var(--ion-color-white);
    border-radius: 4px;
    border: 1px solid var(--ion-color-grey50);
    margin-top: 10px;
    padding: 8px 5px;

    &:focus-within {
        border-color: var(--ion-color-primary);
    }
}

.mat-select-trigger {
    height: 36px !important;

    .mat-select-value {
        padding: 10px 5px !important;
    }
}

mat-option {
    background: var(--ion-color-white) !important;

    mat-pseudo-checkbox {
        border-color: var(--ion-color-secondary) !important;

        &::after {
            color: var(--ion-color-secondary)
        }
    }

    .mat-option-text {
        font-family: var(--ion-font-family, inherit);
    }
}

.mat-select-panel-wrap {
    flex-basis: 80% !important;
}

.mat-select-panel {
    border: 1px solid var(--ion-color-grey75);
    min-width: 285px !important;
}

.mat-select-placeholder {
    color: var(--ion-color-grey40)
}
