ion-select {
    background: var(--ion-color-white);
    border-radius: 4px;
    border: 1px solid var(--ion-color-grey50);
    margin-top: 10px;
    padding: 8px 5px;

    &:focus-within {
        border-color: var(--ion-color-primary);
    }
}

.mat-select-trigger {
    height: 36px !important;

    .mat-select-value {
        padding: 10px 5px !important;
    }
}

mat-option {
    background: var(--ion-color-white) !important;
}

.mat-select-panel {
    border: 1px solid var(--ion-color-grey75)
}

.mat-select-placeholder {
    color: var(--ion-color-grey40)
}
