$colorPointSize: 12px;

.draft,
.registered,
.validated,
.abandoned {
    border-radius: 10px;
    width: 100px;
}

.draft {
    background: var(--ion-color-grey50);
    color: var(--ion-color-white);
}

.registered {
    background: var(--ion-color-orange55);
    color: var(--ion-color-white);

}

.validated {
    background: var(--ion-color-green50);
    color: var(--ion-color-white);

}

.abandoned {
    background: var(--ion-color-grey95);
    color: var(--ion-color-grey50);
}

.career-objective-status-dot {
    min-height: $colorPointSize;
    min-width: $colorPointSize;
    border-radius: 100%;
    margin-right: 15px;
    display: inline-flex;
}

.draft-dot {
    background: var(--ion-color-grey72);
}

.registered-dot {
    background: var(--ion-color-orange55);
}

.validated-dot {
    background: var(--ion-color-green70);
}

.abandoned-dot {
    background: var(--ion-color-red15);
}
