$colorPointSize: 12px;

.draft,
.registered,
.validated,
.abandoned {
    border-radius: 10px;
    width: 100px;
}

.draft {
    background: color($colors, grey50);
    color: color($colors, white);
}

.registered {
    background: color($colors, orange60);
    color: color($colors, white);

}

.validated {
    background: color($colors, green60);
    color: color($colors, white);

}

.abandoned {
    background: color($colors, grey90);
    color: color($colors, grey50);
}

.career-objective-status-dot {
    height: $colorPointSize;
    width: $colorPointSize;
    border-radius: 100%;
    margin-right: 15px;
    display: inline-flex;
}

.draft-dot {
    background: color($colors, grey72);
}

.registered-dot {
    background: color($colors, orange55);
}

.validated-dot {
    background: color($colors, green70);
}

.abandoned-dot {
    background: color($colors, red15);
}
