$colorPointSize: 12px;

.draft,
.registered,
.validated,
.abandoned {
    border-radius: 10px;
    width: 100px;
}

.draft {
    background: color($colors, grey50);
    color: color($colors, white);
}

.registered {
    background: #F5A623;
    color: color($colors, white);

}

.validated {
    background: #5BC7A9;
    color: color($colors, white);

}

.abandoned {
    background: #F1F1F1;
    color: color($colors, grey50);
}

.career-objective-status-dot {
    min-height: $colorPointSize;
    min-width: $colorPointSize;
    border-radius: 100%;
    margin-right: 15px;
    display: inline-flex;
}

.draft-dot {
    background: #D8D8D8;
}

.registered-dot {
    background: color($colors, orange55);
}

.validated-dot {
    background: color($colors, green70);
}

.abandoned-dot {
    background: color($colors, red15);
}
