ion-toast.error .toast-container {
    background: #E53A40;
}

ion-toast.success .toast-container {
    background: #71D18A;
}

ion-toast.info .toast-container {
    background: #89D8FB;
}

ion-toast.warning .toast-container {
    background: #F5A623;
}
