@import './colors.scss';

ion-toast.error .toast-container {
    background: color($colors-secondary, red80);
}

ion-toast.success .toast-container {
    background: color($colors-secondary, green70);
}

ion-toast.info .toast-container {
    background: var(--ion-color-blue60);
}

ion-toast.warning .toast-container {
    background: var(--ion-color-orange55);
}