ion-toast.error .toast-container {
    background: var(--ion-color-danger);
}

ion-toast.success .toast-container {
    background: var(--ion-color-green70);
}

ion-toast.info .toast-container {
    background: var(--ion-color-blue60);
}

ion-toast.warning .toast-container {
    background: var(--ion-color-orange55);
}
