// Défini à partir de daisy.airfrance.fr

.mat-display-4 {
    font-size: 5.375em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-display-3 {
    font-size: 3.75em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-display-2 {
    font-size: 2.5em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-display-1 {
    font-size: 2.25em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-headline {
    font-size: 1.625em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-title {
    font-size: 1.5em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: bold;
}

.mat-h3 {
    font-size: 1.25em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: bold;
}

.mat-h4 {
    font-size: 1em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: bold;
}

.mat-body-1 {
    font-size: 1.25em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-body-2 {
    font-size: 1em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}

.mat-button {
    font-size: 1em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: bold;
}

.mat-caption {
    font-size: 0.875em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: bold;
}

.mat-overline {
    font-size: 0.75em;
    font-family: Excellence, OpenSans, Arial;
    font-weight: normal;
}
