// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (primary: #2c2e34,
secondary: #9BAEC8,
tertiary:#E53A40,
orange50:#EA9252,
orange60:#F5A623,
orange80:#ff9b06,
orange90:#EF9E67,
green40:#18a854,
green45:#3CAF90,
green50:#27b899,
green60:#5BC7A9,
green70: #71D18A,
grey10:#333333,
grey11:#2c3440,
grey12:#38393a,
grey15:#717171,
grey20: #585858,
grey40:#888,
grey50: #94959A,
grey60:#8B7D72,
grey70:#d5d9de,
grey75:#ededed,
grey90: #F1F1F1,
grey95:#fafbfb,
white:#fff,
yellow1: #F5D359,
bluegrey:#66A7B7,
bluegrey2:#5FA1AF,
bluegrey3:#5d727A,
blue50:#5AD9F6,
blue55:#7cc3cc,
blue58:#2DD1D4,
blue60:#25b5d6,
blue65:#417496,
blue68:#5f9aaa,
blue70:#3b7ae2,
blue75:#255271,
blue77:#67abb7,
blue80:#89D8FB,
blue81:#4cc3cc,
blue85:#4CC2CC,
blue90:#268671,
red20:#772f3f,
red13:#98647E,
red15:#D6457C,
red70:#e24c4c,
red80:#E53A40,
red90:#C0504D);
$text-color:color($colors, grey10);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
@import 'loading-spinner.scss';


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionicons";


// Fonts
// --------------------------------------------------
@font-face {
    font-family: 'SanFrancisco-old';
    src: url('/assets/fonts/sanfranciscodisplay-ultralight-webfont.woff') format('woff');
}

// Fonts
// --------------------------------------------------
@font-face {
    font-family: 'SanFrancisco';
    src: url('/assets/fonts/san-francisco/SF-Pro-Display-Regular.otf') format('otf');
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: SanFrancisco, Arial, Helvetica, sans-serif;
}

h3 {
    color: color($colors, grey20);
    font-weight: bold;
}

h4 {
    color: color($colors, grey50);
}

.toolbar {

    .toolbar-title,
    .bar-buttons {
        color: #ffffff;
    }

    .toolbar-background {
        background: color($colors, primary, base);
    }
}

ion-card {
    border-radius: 0px !important;

    .card-header {
        color: black;
        background-color: lightgray;
        font-family: SanFrancisco, Arial, Helvetica, sans-serif;
        font-size: 1.4em;
    }

    .card-header + .card-content {
        padding-top: 13px;
    }
}

.button-outline {
    border-width: 2px !important;
}

ion-select.select {
    padding: 8px;
}

.input,
ion-select {
    border: 2px solid lightgray;
    padding-left: 8px;
    width: 100%;
    height: 40px;

    .text-input {
        margin: 6px 8px;
    }

    .text-input {
        margin-left: 0px !important;
        font-size: 16px !important;
    }
}

.item-input-has-focus .input,
.input:focus-within {
    border: 2px solid gray !important;
}

$text-input-md-show-focus-highlight: false;


.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary {
    color: #999 !important;
}

.item-inner {
    padding-right: 0px !important;

    .label[floating] {
        -webkit-transform: translate3d(8px, 30px, 0);
        transform: translate3d(8px, 30px, 0);
        margin-top: 3px !important;
    }
}

ion-item.item {
    padding-left: 0px;
}

.content-md {
    background-color: transparent;
}

.ion-page > .content {
    background-color: color($colors, grey95);
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10 & 11 */
    .click-block {
        // IE doesn't like this click-block, so hide it
        display: none;
    }

    input,
    ion-label {
        min-height: 20px;
    }

    ion-input,
    ion-textarea {
        min-height: 40px;
    }

    .toolbar {
        min-height: auto !important;
    }
}

ion-badge {
    font-size: 1.2rem !important;
}
