// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (primary: #00818E,
    secondary: #AB004D,
    orange55: #F4B65B,
    green50:#27b899,
    green55:#31A29A,
    green65:#aec46c,
    grey14:#626c75,
    grey20: #585858,
    grey50: #94959A,
    white:#fff,
    blue60:#25b5d6,
    blue65:#417496,
    blue70:#3b7ae2,
    blue76:#41436A,
    red13:#98647E,
    red14:#A53279,
    red20:#DD586F,
    red70:#e24c4c);

// Couleur par défaut du texte
$text-color:#333333;

// Checkbox
$checkbox-ios-icon-background-color-on:color($colors, secondary);
$checkbox-ios-icon-border-color-on:color($colors, secondary);

$checkbox-md-icon-background-color-on:color($colors, secondary);
$checkbox-md-icon-border-color-on:color($colors, secondary);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
@import 'loading-spinner.scss';


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionicons";


// Fonts
// --------------------------------------------------
@font-face {
    font-family: 'SanFrancisco-old';
    src: url('/assets/fonts/sanfranciscodisplay-ultralight-webfont.woff') format('woff');
}

// Fonts
// --------------------------------------------------
@font-face {
    font-family: 'SanFrancisco';
    src: url('/assets/fonts/san-francisco/SF-Pro-Display-Regular.otf') format('otf');
}

div,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: SanFrancisco, Arial, Helvetica, sans-serif;
}

h3 {
    color: color($colors, grey20);
    font-weight: bold;
}

h4 {
    color: color($colors, grey50);
}

.toolbar {

    .toolbar-title,
    .bar-buttons {
        color: #ffffff;
    }

    .toolbar-background {
        background: color($colors, primary, base);
    }
}

ion-card {
    border-radius: 0px !important;

    .card-header {
        color: black;
        background-color: lightgray;
        font-family: SanFrancisco, Arial, Helvetica, sans-serif;
        font-size: 1.4em;
    }

    .card-header + .card-content {
        padding-top: 13px;
    }
}

.button-outline {
    border-width: 2px !important;
}

ion-select.select {
    padding: 8px;
}

.input,
ion-select {
    border: 2px solid lightgray;
    padding-left: 8px;
    width: 100%;
    height: 40px;

    .text-input {
        margin: 6px 8px;
    }

    .text-input {
        margin-left: 0px !important;
        font-size: 16px !important;
    }
}

$text-input-md-show-focus-highlight: false;


.label-md-primary,
.item-input .label-md-primary,
.item-select .label-md-primary,
.item-datetime .label-md-primary {
    color: #999 !important;
}

.item-inner {
    padding-right: 0px !important;

    .label[floating] {
        -webkit-transform: translate3d(8px, 30px, 0);
        transform: translate3d(8px, 30px, 0);
        margin-top: 3px !important;
    }
}

ion-item.item {
    padding-left: 0px;
}

.content-md {
    background-color: transparent;
}

.ion-page > .content {
    background-color: #FAFBFB;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10 & 11 */
    .click-block {
        // IE doesn't like this click-block, so hide it
        display: none;
    }

    input,
    ion-label {
        min-height: 20px;
    }

    ion-input,
    ion-textarea {
        min-height: 40px;
    }

    .toolbar {
        min-height: auto !important;
    }
}

ion-badge {
    font-size: 1.2rem !important;
}



.flex {
    display: flex !important;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.w100 {
    width: 100%;
}


/* Marges */
.margin-top-10 {
    margin-top: 10px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}
