// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// ATTENTION !!! Limiter les couleurs de cette map aux couleurs du thème de l'appli, celles utilisées dans les composants ionic
// Ajouter trop de couleurs à cette map ralentit considérablement la génération CSS
$colors: (primary: #00818E,
    secondary: #AB004D,
    primary-dark:#005461,
    primary-light: #25B1BE,
    secondary-dark:#750026,
    secondary-light:#E31A79,
    orange55: #F4B65B,
    green50:#27b899,
    green65:#aec46c,
    grey20: #585858,
    grey50: #94959A,
    white:#fff,
    blue60:#25b5d6,
    blue65:#417496,
    blue70:#3b7ae2,
    blue76:#41436A,
    red14:#A53279,
    red20:#DD586F,
    red70:#e24c4c);

$colors-secondary:(blue55:#7cc3cc,
    blue68:#5f9aaa,
    blue77:#67abb7,
    grey10:#333,
    grey12:#38393a,
    grey40:#888,
    grey60:#8B7D72,
    grey70:#d5d9de,
    grey72:#D8D8D8,
    grey75:#ededed,
    grey95:#F1F1F1,
    grey98:#FAFBFB,
    green45:#3CAF90,
    green60:#5BC7A9,
    green70:#71D18A,
    red15:#D6457C,
    red80:#E53A40,
    bluegrey10:#66A7B7,
    bluegrey30:#5d727A,
    bluegrey40:#677A89,
    bluegrey50:#556775,
    yellow10:#F5D359);



// Couleur par défaut du texte
$text-color:color($colors-secondary, grey10);

// Radio
$radio-ios-color-on:color($colors, secondary);
$radio-md-color-on:$radio-ios-color-on;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
@import 'loading-spinner.scss';


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/
@import "ionicons";


// Fonts
// Excellence in motion
@font-face {
    font-family: 'Excellence';
    src: url('/assets/fonts/excellence/Regular/ExcellenceInMotionScreen-Regular.woff') format('woff');
}

// Open Sans
@font-face {
    font-family: 'OpenSans';
    src: url('/assets/fonts/open-sans/Regular/OpenSans-Regular.woff') format('woff');
}

h3 {
    color: color($colors, grey20);
    font-weight: bold;
}

h4 {
    color: color($colors, grey50);
}

.toolbar {

    .toolbar-title,
    .bar-buttons {
        color: #ffffff;
    }

    .toolbar-background {
        background: color($colors, primary, base);
    }
}

ion-card {
    .card-header {
        color: black;
        background-color: lightgray;
        font-size: 1.4em;
    }

    .card-header + .card-content {
        padding-top: 13px;
    }
}

.button-outline {
    border-width: 2px !important;
}

ion-select.select {
    padding: 8px;
}

.input,
ion-select {
    border: 2px solid lightgray;
    padding-left: 8px;
    width: 100%;
    height: 40px;

    .text-input {
        margin: 6px 8px;
    }

    .text-input {
        margin-left: 0px !important;
        font-size: 16px !important;
    }
}

$text-input-md-show-focus-highlight: false;

.item-inner {
    padding-right: 0px !important;

    .label[floating] {
        -webkit-transform: translate3d(8px, 30px, 0);
        transform: translate3d(8px, 30px, 0);
        margin-top: 3px !important;
    }
}

ion-item.item {
    padding-left: 0px;
}

.content-md {
    background-color: transparent;
}

.ion-page > .content {
    background-color: color($colors-secondary, grey98);
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

    /* IE10 & 11 */
    .click-block {
        // IE doesn't like this click-block, so hide it
        display: none;
    }

    input,
    ion-label {
        min-height: 20px;
    }

    ion-input,
    ion-textarea {
        min-height: 40px;
    }

    .toolbar {
        min-height: auto !important;
    }
}

ion-badge {
    font-size: 1.2rem !important;
}



.flex {
    display: flex !important;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.w100 {
    width: 100%;
}


/* Marges */
.margin-top-10 {
    margin-top: 10px;
}

.no-margin-top {
    margin-top: 0px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}
