ion-card {
    background: var(--ion-color-white);

    .notification-infos {
        display: flex;
        justify-content: space-between;

        .date-item {
            width: 100px;
        }

        .document-type-item {
            width: 100px;
            display: flex;
            justify-content: flex-end;
        }

    }

    .notification-title {
        font-weight: bold;
    }



}

// Background des types de document
// la classe est égale à l'enum en miniscule
@mixin set-bg-color($color) {
    background-color: $color !important;
}

.logbook {
    @include set-bg-color(var(--ion-color-primary))
}

.eobs {
    @include set-bg-color(var(--ion-color-medium-tint))
}

.congratulation_letter {
    @include set-bg-color(var(--ion-color-secondary-tint))
}

.career_objective {
    @include set-bg-color(var(--ion-color-tertiary-tint))
}

.waypoint {
    @include set-bg-color(var(--ion-color-success-tint))
}

.professional_interview {
    @include set-bg-color(var(--ion-color-dark-tint))
}

.hr_document {
    @include set-bg-color(var(--ion-color-green50-tint))
}
