color-number-dot {

    span {
        width: 1.8em;
        height: 1.8em;
        color: color($colors, white);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .number-dot-1 {
        background-color: color($colors-secondary, red80);
    }

    .number-dot-2 {
        background-color: color($colors, orange55);
    }

    .number-dot-3 {
        background-color: color($colors-secondary, green70);
    }

    .number-dot-4 {
        background-color: color($colors, blue70);
    }

    .number-dot-default {
        background-color: color($colors, grey50);
    }

}
