color-number-dot {

    @mixin color-dot($color) {
        width: 1.8em;
        height: 1.8em;
        background-color: $color;
        border-radius: 50%;
        color: color($colors, white);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .number-dot-1 {
        @include color-dot (#E53A40);
    }

    .number-dot-2 {
        @include color-dot (#ff9b06);
    }

    .number-dot-3 {
        @include color-dot (#71D18A);
    }

    .number-dot-4 {
        @include color-dot (#3b7ae2);
    }

    .number-dot-default {
        @include color-dot (#94959A);
    }

}
