$containerWidth : 340;
$containerHeight : 510;

$chosenNumberWidth: 80;
$chosenNumberHeight: 31;

:host {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--ion-color-grey10);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.error-text {
    text-align: center;
    color: var(--ion-color-danger);
}

.forgotten-pin {
    position: absolute;
    color: var(--ion-color-grey10);
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;
    margin-right: 35px;
    text-decoration: underline;
}

.container {
    width: $containerWidth+px;
    height: $containerHeight+px;
    color: var(--ion-color-grey95);
}

.chosen-number {
    display: inline-flex;
    width: $chosenNumberWidth+px;
    height: $chosenNumberHeight+px;

    margin: 2px;

    .round-pad-container {
        width: 100%;
        text-align: center;
        margin: auto;

        .round-pad {
            width: 15px;
            height: 15px;
            border: solid 2px var(--ion-color-primary);
            border-radius: 100%;
            display: inline-block;
        }

        .full-round {
            background: var(--ion-color-primary);
        }

    }

}

.pad-number-container {

    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .pad-number,
    .erase-pin {
        --box-shadow: none;
        color: var(--ion-color-grey10);
        margin: 10px;
    }

    .pad-number {
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;

        &:nth-child(10) {
            margin-left: 86px;
        }
    }

    .erase-pin {
        font-weight: bold;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: underline;
        padding-left: 8px;

        &.invisible {
            opacity: 0;
            cursor: default;
        }

    }

}
