<span [ngClass]="{'viewer': true, 'visible': isImageType()}" (click)="closeDocumentViewer()">
    <span class="close-viewer-button">
        <ion-icon name="close-circle"></ion-icon>
    </span>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <span class="document" #imageViewer>
            <img class="document-image" *ngIf="type === DocumentTypeEnum.IMAGE" [src]="base64FileContentAndType" />
        </span>
    </ng-template>
</span>
