.document-viewer-popover .popover-content {
    background-color: rgba(167, 167, 167, 0);
    justify-content: center;
    display: contents;
    transform-origin: left top;
    height: 100%;
    width: 100%;
    min-height: 100px;
    min-width: 100px;
    max-height: 90%;
    max-width: 90%;
}

:host {
    .document-viewer-popover {
        .popover-content {
            width: 100%;
            height: 100%;
            display: contents;
        }

        .popover-content.sc-ion-popover-md {
            display: contents;
        }
    }
}

.document-viewer-popover .popover-viewport {
    width: 100%;
    height: 100%;
}

.viewer {
    cursor: pointer;
    justify-content: center;
    display: flex;
    visibility: hidden;
    z-index: 1100;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    @media (max-width: 1100px) {
        max-width: 80%;
    }

    @media (max-width: 800px) {
        max-width: 90%;
    }
}

span {
    width: 100%;
    height: 100%;
}

.invisible {
    display: none;
    visibility: hidden;
}

.visible {
    display: flex;
    visibility: visible;
}

.close-viewer-button {
    display: flex;
    z-index: 3000;
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
}

.document {
    display: block;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;

    .document-image {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
