<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <ng-container slot="center"> {{ 'LOGBOOK.EDIT.EVENT_CREATION' | translate }}</ng-container>
        </page-header>
    </ion-toolbar>
</ion-header>
<ion-content no-bounce>
    <div class="page-container">
        <logbook-event #logbookEventCreate [mode]="LogbookEventModeEnum.CREATION"></logbook-event>
    </div>
</ion-content>
