<ion-header>
    <ion-navbar>
        <ion-title>{{ 'GLOBAL.UPCOMING_FLIGHT' | translate }}</ion-title>
        <edossier-indicators></edossier-indicators>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div class="rotation-list" margin-top>
            <h3>{{ 'UPCOMING_FLIGHT_LIST.LAST_FLIGHT' | translate }}</h3>
            <div class="no-data-found" *ngIf="!lastPerformedRotation">{{ 'UPCOMING_FLIGHT_LIST.NO_FLIGHTS' | translate }}</div>
            <rotation-card [rotation]="lastPerformedRotation" *ngIf="lastPerformedRotation" class="last-performed-rotation"></rotation-card>
            <h3>{{ 'UPCOMING_FLIGHT_LIST.UPCOMING_FLIGHTS' | translate }}</h3>
            <rotation-card *ngFor=" let rotation of upcomingRotations " [rotation]="rotation " class="upcoming-rotations"></rotation-card>
            <div class="no-data-found" *ngIf="noUpcomingRotations()">{{ 'UPCOMING_FLIGHT_LIST.NO_FLIGHTS' | translate }}</div>
        </div>
    </ng-template>
</ion-content>
