<ion-header>

    <ion-navbar>
        <ion-title>{{ 'GLOBAL.UPCOMING_FLIGHT' | translate }}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h3>{{ 'UPCOMING_FLIGHT_LIST.TITLE' | translate }}</h3>

    <div class="rotation-list" margin-top>
        <ion-card *ngFor="let rotation of upcomingRotations" class="rotation">
            <ion-card-header (click)="toggleRotation(rotation)">
                <span>{{ rotation.departureDate | date : 'dd/MM/yyyy' }}</span>
                <ion-spinner *ngIf="rotation.loading"></ion-spinner>
                <span>{{ rotation.number }}</span>
            </ion-card-header>
            <ion-card-content [hidden]="!rotation.opened">
                <div class="leg" *ngFor="let leg of rotation.legs">
                    <span>{{ leg.company }}{{ leg.number }}</span>
                    <span>{{ leg.departureDate | date : 'dd/MM/yyyy HH:mm' }}</span>
                    <span>{{ leg.departureStation }} - {{ leg.arrivalStation }}</span>
                    <span>{{ leg.aircraftType }}</span>
                </div>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
