:host {
    flex: 1;
    display: flex;
    align-items: center;
    color: var(--ion-color-white);

    .title {
        flex: 1;

        h1 {
            padding: 0;
            margin: 0;
            font-size: 1.2em;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .active-user {
            font-weight: normal;
            font-size: 1em;
        }
    }

    edossier-indicators {
        position: absolute;
        right: 0;
    }

    ::ng-deep ion-fab-button {
        --box-shadow: none !important;
    }

}
