<ion-header>
        <ion-toolbar>
            <ion-back-button color="white" slot="start"></ion-back-button>
            <page-header  [showSettingsIcon]="true" [pnc]="pnc">
                <span *ngIf="pnc"> {{ 'GLOBAL.BUSINESS_INDICATORS' | isMyPage: pnc | translate }}</span>
            </page-header>
        </ion-toolbar>
        <pnc-edossier-header [activeTab]="TabHeaderEnum.BUSINESS_INDICATORS_PAGE"></pnc-edossier-header>
    </ion-header>
    <ion-content>
        <div class="page-container">
            <span> {{'GLOBAL.NO_DATA' | translate}} </span>
        </div>
    </ion-content>