<ion-header>
        <ion-toolbar>
            <ion-back-button color="white" slot="start"></ion-back-button>
            <page-header  [showSettingsIcon]="true" [pnc]="pnc">
                <span *ngIf="pnc"> {{ 'GLOBAL.BUSINESS_INDICATORS' | isMyPage: pnc | translate }}</span>
            </page-header>
        </ion-toolbar>
        <pnc-edossier-header [activeTab]="TabHeaderEnum.BUSINESS_INDICATORS_PAGE"></pnc-edossier-header>
    </ion-header>
    <ion-content>
        <div class="page-container">
            <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
            <ng-template #pageBlock>
                <h3 class="average-title">{{ 'BUSINESS_INDICATORS.6_MONTHS_TITLE' | translate}}</h3>
                <mat-card>
                    <mat-card-content  class="average">
                        <span class="escore">
                            <img class="file-icon" width="100" src="assets/imgs/happy-customer.png" />
                            {{ 'BUSINESS_INDICATORS.ESCORE_AVERAGE' | translate}}
                            <span class="average-number">{{businessIndicator?.averageEscore | number : '1.0-1'}}</span>
                        </span>
                        <span class="actions-aboard">
                            <img class="file-icon" width="100" src="assets/imgs/pnc_aboard.png" />
                            {{ 'BUSINESS_INDICATORS.ABOARD_ACTIONS_AVERAGE' | translate}}
                            <span class="average-number">{{businessIndicator?.averageActionsAboard | number : '1.0-1'}}</span>
                        </span>
                    </mat-card-content>
                </mat-card>
            </ng-template>
        </div>
    </ion-content>