:host {
    ion-col > label {
        color: var(--ion-color-grey10);
        margin-right: 10px;
    }

    .flight-date-label {
        margin-top: 10px;
    }

    .flight-date {
        ion-datetime {
            height: 40px;
            width: 120px;
            font-size: initial;
            padding: 0 15px;
            display: flex;
            align-items: center;
        }
    }

    .flight-number-label {
        margin-top: 10px;
    }

    .flight-airline {
        width: 60px;
        flex: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .flight-number {
        width: 100px;
        flex: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .letter-type-col {
        @media(min-width: 800px) {
            justify-content: flex-end;
        }
    }

    .redactor-label {
        margin-top: -15px;
    }

    .redactor-autocomplete {
        width: 350px;
        font-size: initial;

        ion-spinner {
            margin-right: 5px;
        }

        ::ng-deep .mat-form-field-infix {
            display: flex !important;
            align-items: center;
            padding: 5px 5px;

            ion-icon {
                font-size: 1.5em !important;
            }
        }

        ::ng-deep .mat-form-field-label-wrapper {
            margin-top: -5px;

            label {
                padding: 10px 10px;
            }
        }
    }

    ion-icon[name="checkmark"] {
        font-size: 2em;
        font-weight: bold;
        margin-left: 10px;
    }

    ion-list.list-md,
    ion-list.list-ios {
        margin: 0;
    }

    .collective-warning {
        color: var(--ion-color-danger);
        font-size: 1.1em;
    }

    ::ng-deep text-editor {

        .ql-container {
            border: 1px solid var(--ion-color-grey72) !important;
            padding: 0 10px;
            border-radius: 3px;
            background: var(--ion-color-white);
            min-height: 100px;
        }

        .ql-editor {
            white-space: pre-line;
        }
    }

    .verbatim-info-message {
        font-weight: bold;
        color: var(--ion-color-danger);
    }
}
