<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'CONGRATULATION_LETTER_CREATE.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
    <edossier-spinner *ngIf="!pageLoadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <form novalidate [formGroup]="creationForm">
            <ion-grid>
                <ion-row>
                    <ion-col col-lg-3 col-md-6 class="flex align-center">
                        <label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.FLIGHT_DATE' | translate }}</label>
                        <ion-datetime class="input-like flight-date" formControlName="flightDateControl" displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" [pickerOptions]="flightDateTimeOptions" [(ngModel)]="congratulationLetter.flight.theoricalDate" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')" [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')" [monthNames]="monthsNames"></ion-datetime>
                    </ion-col>
                    <ion-col col-lg-3 col-md-6 class="flex align-center">
                        <label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.FLIGHT_NUMBER' | translate }}</label>
                        <ion-input class="flight-airline" type="text" [(ngModel)]="congratulationLetter.flight.airline" formControlName="flightAirlineControl" maxlength="2"></ion-input>
                        <ion-input class="flight-number" type="text" [(ngModel)]="congratulationLetter.flight.number" formControlName="flightNumberControl" maxlength="5"></ion-input>
                    </ion-col>
                    <ion-col col-lg-6 col-md-12 class="flex align-center letter-type-col">
                        <label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.LETTER_TYPE.LABEL' | translate }}</label>
                        <ion-list class="horizontal" radio-group [(ngModel)]="congratulationLetter.collective" formControlName="letterTypeControl">
                            <ion-item>
                                <ion-label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.LETTER_TYPE.INDIVIDUAL' | translate }}</ion-label>
                                <ion-radio value="false"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.LETTER_TYPE.COLLECTIVE' | translate }}</ion-label>
                                <ion-radio value="true"></ion-radio>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="flex align-center">
                        <label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.LABEL' | translate }}</label>
                        <ion-list class="horizontal" [(ngModel)]="congratulationLetter.redactorType" formControlName="redactorTypeControl" radio-group>
                            <ion-item>
                                <ion-label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.PNC' | translate }}</ion-label>
                                <ion-radio value="{{CongratulationLetterRedactorTypeEnum.PNC}}"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.PAX' | translate }}</ion-label>
                                <ion-radio value="{{CongratulationLetterRedactorTypeEnum.PAX}}"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.PNT' | translate }}</ion-label>
                                <ion-radio value="{{CongratulationLetterRedactorTypeEnum.PNT}}"></ion-radio>
                            </ion-item>
                            <ion-item>
                                <ion-label>{{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.OTHER' | translate }}</ion-label>
                                <ion-radio value="{{CongratulationLetterRedactorTypeEnum.OTHER}}"></ion-radio>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="displayPncSelection">
                    <ion-col class="flex align-center">
                        <label for="redactorAutoComplete">{{'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.REDACTOR_AUTOCOMPLETE' | translate}}</label>
                        <mat-form-field class="redactor-autocomplete" floatLabel="never">
                            <input #redactorAutoComplete name="redactorAutoComplete" formControlName="redactorAutoCompleteControl" placeholder="{{'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.REDACTOR_AUTOCOMPLETE_PLACEHOLDER' | translate}}" [(ngModel)]="selectedRedactor" type="text" matInput (keyup)="searchAutoComplete(redactorAutoComplete.value)" [matAutocomplete]="auto" autocomplete="off" />
                            <ion-icon name="backspace" class="clickable" (click)="clearPncSearch()"></ion-icon>
                        </mat-form-field>
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayPnc" (optionSelected)="selectPncRedactor($event.option.value)">
                            <mat-option *ngFor="let pnc of redactorSearchList | async" [value]="pnc">
                                {{ pnc.lastName + ' ' + pnc.firstName + ' (' + pnc.matricule + ')'}}
                            </mat-option>
                        </mat-autocomplete>
                        <ion-icon name="checkmark" ios="md-checkmark" *ngIf="congratulationLetter.redactor" color="secondary"></ion-icon>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label fixed>{{ 'CONGRATULATION_LETTER_CREATE.FORM.VERBATIM' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="congratulationLetter.verbatim" formControlName="verbatimControl" autocorrect="on"></ion-textarea>
                        <div class="information-message align-left" *ngIf="congratulationLetter.lastUpdateAuthor">{{ 'CONGRATULATION_LETTER_CREATE.UPDATED_BY' | translate:{lastName:congratulationLetter.lastUpdateAuthor.lastName, firstName:congratulationLetter.lastUpdateAuthor.firstName, date:getLastUpdateDate()} }}</div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="button-bar button-bar-right">
                            <button ion-button outline (click)="cancelCreation()">{{ 'CONGRATULATION_LETTER_CREATE.BUTTONS.CANCEL' | translate }}</button>
                            <button ion-button [disabled]="!isFormValid() && formHasBeenModified()" (click)="submitLetter()">{{ 'CONGRATULATION_LETTER_CREATE.BUTTONS.SUBMIT' | translate }}</button>
                        </div>
                        <div class="information-message align-right">{{ 'CONGRATULATION_LETTER_CREATE.ALL_FIELDS_ARE_MANDATORY' | translate }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ng-template>
</ion-content>
