<ion-tabs #tabs *ngIf="pnc" tabsHighlight="true" tabsPlacement="bottom">
    <ion-tab [root]="pncHomePage"  [rootParams]="matriculeParams" [tabTitle]="translate.instant('PNC_HOME.TITLE')" tabIcon="home"></ion-tab>
    <ion-tab [root]="careerObjectiveListPage" [rootParams]="matriculeParams" *ngIf="pnc && pnc?.speciality !== Speciality.CAD" [tabTitle]="translate.instant('GLOBAL.DEVELOPMENT_PROGRAM')" tabIcon="flash"></ion-tab>
    <ion-tab [root]="summarySheetPage" [rootParams]="matriculeParams" *ngIf="pnc && pnc?.speciality !== Speciality.CAD" [tabTitle]="translate.instant('GLOBAL.PNC_SUMMARY_SHEET')" tabIcon="ios-paper"></ion-tab>
    <ion-tab [root]="pncSearchPage" *ngIf="pnc && pnc?.speciality === Speciality.CAD" [tabTitle]="translate.instant('GLOBAL.PNC_TEAM')" tabIcon="contact"></ion-tab>
    <ion-tab [root]="upcomingFlightListPage" *ngIf="pnc && pnc?.speciality === Speciality.CAD" [tabTitle]="translate.instant('GLOBAL.UPCOMING_FLIGHT')" tabIcon="ios-plane"></ion-tab>
    <ion-tab [root]="helpAssetListPage" *ngIf="pnc" [rootParams]="roleParams" [tabTitle]="translate.instant('GLOBAL.HELP_CENTRE')" tabIcon="ios-help"></ion-tab>
</ion-tabs>