<ion-tabs #tabs *ngIf="pnc" tabsPlacement="bottom" (ionChange)="eventTest($event)">
    <ion-tab [root]="pncHomePage" [rootParams]="matriculeParams" [tabTitle]="tabObject.pncHome.title" tabIcon="edospnc-home"></ion-tab>
    <ion-tab [root]="careerObjectiveListPage" [rootParams]="matriculeParams" *ngIf="pnc && pnc?.speciality !== Speciality.CAD" [tabTitle]="tabObject.developementProgram.title" tabIcon="edospnc-developmentProgram"></ion-tab>
    <ion-tab [root]="summarySheetPage" [rootParams]="matriculeParams" *ngIf="pnc && pnc?.speciality !== Speciality.CAD" [tabTitle]="tabObject.pncSummarySheet.title" tabIcon="edospnc-summarySheet"></ion-tab>
    <ion-tab [root]="pncSearchPage" *ngIf="pnc && pnc?.speciality === Speciality.CAD" [tabTitle]="tabObject.pncTeam.title" tabIcon="edospnc-pncTeam"></ion-tab>
    <ion-tab [root]="upcomingFlightListPage" *ngIf="pnc && pnc?.speciality === Speciality.CAD" [tabTitle]="tabObject.upcomingFlight.title" tabIcon="edospnc-upcomingFlight"></ion-tab>
    <ion-tab [root]="helpAssetListPage" *ngIf="pnc" [rootParams]="roleParams" [tabTitle]="tabObject.helpCenter.title" tabIcon="edospnc-helpCenter"></ion-tab>
    <ion-tab [root]="statutoryCertificatePage" *ngIf="pnc" [rootParams]="matriculeParams" [tabTitle]="tabObject.statutoryCertificate.title" tabIcon="edospnc-statutoryCertificate"></ion-tab>
    <ion-tab [root]="professionalLevelPage" *ngIf="pnc" [tabTitle]="tabObject.professionalLevel.title" tabIcon="md-briefcase"></ion-tab>
</ion-tabs>
