tab-nav {

  $menu-icon-size: 52px;
  $tabs-ios-tab-icon-size	: 50px;
  $tabs-md-tab-icon-size	: 50px;

  ion-icon {
    font-size: $menu-icon-size;
  }

  .tabs-md .tab-button[aria-selected=false] .icon {  
    color: color($colors, white) !important;
    background: color($colors, primary) !important;
  }
  
  .tabs-md .tab-button[aria-selected=false] {  
    color: color($colors, white) !important;
    background: color($colors, primary) !important;
  }
  
  .tabs-md .tab-button[aria-selected=true] .icon {
    color: color($colors, white) !important;
    background: color($colors, grey20) !important;
  }

  .tabs-md .tab-button[aria-selected=true] {
    color: color($colors, white) !important;
    background: color($colors, grey20) !important;
  }

  .tabs-ios .tab-button[aria-selected=false] .icon {  
    color: color($colors, white) !important;
    background: color($colors, primary) !important;
  }
  
  .tabs-ios .tab-button[aria-selected=false] {  
    color: color($colors, white) !important;
    background: color($colors, primary) !important;
  }
  
  .tabs-ios .tab-button[aria-selected=true] .icon {
    color: color($colors, white) !important;
    background: color($colors, grey20) !important;
  }

  .tabs-ios .tab-button[aria-selected=true] {
    color: color($colors, white) !important;
    background: color($colors, grey20) !important;
  }
}
