// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../theme/toast.scss';
@import '../theme/label.scss';
@import '../theme/input.scss';
@import '../theme/checkbox.scss';
@import '../theme/textarea.scss';
@import '../theme/select.scss';
@import '../theme/button-bar.scss';
@import '../theme/button.scss';
@import '../theme/status.scss';
@import '../theme/icon.scss';
@import '../theme/modal.scss';
@import '../node_modules/@angular/material/_theming.scss';
@import '../theme/auto-complete.scss';
@import '../theme/professional-level.scss';
@import '../theme/navbar.scss';
@import '../theme/typography.scss';
@import '../theme/elevation.scss';

// webfonts/icons
@import '../theme/edospnc-icons.scss';
@import '../theme/betty-icons.min.scss';

@include mat-core();

// A utiliser sur les éléments cliquables (les labels ont un style contraire, on est obligé de les surcharger) */
.clickable,
.clickable label {
    cursor: pointer;
}

.selectable {
    user-select: text;
}

// Pour ajouter une valeur "nulle" (un tiret)
.no-value:after {
    content: '-';
}

// Spinner utilisé au chargement de l'appli
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h1 {
        color: color($colors, primary);
        font-weight: bold;
        font-size: 3em;
        margin: 30px;
    }

    .app-loader {
        border: 16px solid color($colors-secondary, grey70);
        border-top: 16px solid color($colors, primary);

        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

.back-button {
    color: color($colors, white);
}

body,
.app-root,
.nav-decor {
    // Pour surcharger le fond sur ipad
    background-color: color($colors-secondary, grey98) !important;
    font-size: 1em;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

ion-app.md,
ion-app.ios {
    background-color: color($colors-secondary, grey98) !important;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

ion-textarea,
ion-input {
    background-color: color($colors, white);
}

ion-content > .scroll-content {
    max-width: 1200px;
    margin: auto;
}

.content {
    background-color: transparent;
}

.item {
    background-color: transparent;
}

.hidden {
    visibility: hidden;
}

.scroll-content {
    overflow-y: auto !important;
}

.blur {
    filter: blur(100px);
}

.back-button.show-back-button {
    padding-right: 50px;
}

// Pour ajouter TU après les dateTime en TU
.suffix-tu:after {
    content: ' TU';
    vertical-align: super;
    font-size: smaller;
}

.toolbar-content {
    display: flex;
    align-items: center;
}

// Impersonification
.impersonation .toolbar .toolbar-background {
    background: color($colors, red20) !important;
}

// Toast de notification
.simple-notification-wrapper.top {
    top: 80px !important;
}

.sort-icon {
    padding-left: 5px;
}

ion-badge[outline],
ion-badge[outline][color="primary"] {
    color: color($colors, primary);
    border: solid 1px color($colors, primary);
    background: none;
}

ion-badge[outline][color="secondary"] {
    color: color($colors, secondary);
    border: solid 1px color($colors, secondary);
    background: none;
}

ion-badge[outline][color="secondary"] {
    color: color($colors, secondary);
    border: solid 1px color($colors, secondary);
    background: none;
}

@mixin truncate-text($nbLines) {

    display: -webkit-box;
    -webkit-line-clamp: $nbLines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}