@import '../../../../../theme/colors.scss';

.state-block {
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: color($colors-secondary, bluegrey30);
    color: var(--ion-color-white);
    border-radius: 5px;

    span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5px;
        padding-left: 5px;
    }

    .state-value {
        padding-left: 10px;
    }

    color-status-point {
        padding-right: 5px;
        padding-left: 5px;
    }
}

ul.state-radio-button-list {
    display: flex;
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        margin: 0 10px;

        label {
            color: var(--ion-color-white);
        }

        input {
            margin-right: 10px;
            background: var(--ion-color-white);
        }
    }
}