<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="false">{{ 'GLOBAL.APP_NAME' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
    <div style="text-align: center; font-size: 1.8rem; margin-top: 100px ">
        <ion-icon name="warning" color="red80"></ion-icon>
        <div>{{ 'GLOBAL.APPLICATION_UNSUPPORTED.TITLE' | translate }}</div>
        <div>{{ 'GLOBAL.APPLICATION_UNSUPPORTED.MESSAGE' | translate }}</div>
        <div>{{ 'GLOBAL.APPLICATION_UNSUPPORTED.MENTION' | translate }}</div>
    </div>
</ion-content>
