<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <ng-container slot="center">
                <span *ngIf="pnc">{{ 'ACTIVITY.TITLE' | isMyPage: pnc | translate }}</span>
            </ng-container>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.ACTIVITY_PAGE"></pnc-edossier-header>
</ion-header>

<ion-content>
    <ng-container *ngIf="isConnected(); else offlineBlock">
        <div class="page-container">
            <nav class="tabs">
                <button [ngClass]="{'active': activeTab == ActivityTabEnum.REGULARITY }" (click)="switchActiveTab(ActivityTabEnum.REGULARITY)">{{'ACTIVITY.REGULARITY' | translate}}</button>
                <button [ngClass]="{'active':  activeTab == ActivityTabEnum.MILESTONE}" (click)="switchActiveTab(ActivityTabEnum.MILESTONE)">{{'ACTIVITY.MILESTONE' | translate}}</button>
            </nav>
            <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>

            <ng-template #pageBlock>
                <div class="selectable">
                    <tab-regularity *ngIf="isTabActive(ActivityTabEnum.REGULARITY)">
                    </tab-regularity>
                    <tab-milestone *ngIf="isTabActive(ActivityTabEnum.MILESTONE)">
                    </tab-milestone>
                </div>
            </ng-template>
        </div>
    </ng-container>
    <ng-template #offlineBlock>
        <div class="no-data-splash">
            <ion-icon name="cloud-offline"></ion-icon>
            <span>{{ 'GLOBAL.UNAIVALABLE_OFFLINE' | translate }}</span>
        </div>
    </ng-template>
</ion-content>
