<ion-card class="rotation">
    <ion-card-header (click)="toggleRotation(rotation)">
        <div class="rotation-panel">
            <span class="rotation-infos">
                <span class="rotation-date suffix-tu">{{ rotation.departureDate | date : 'dd/MM/yyyy' : 'UTC' }}</span>
                <span class="rotation-number">{{ rotation.number }}</span>
            </span>
        </div>
    </ion-card-header>
    <ion-card-content [ngClass]="{'opened' : rotation.opened}">
        <flight-card [leg]="leg" *ngFor="let leg of rotation.legs" (click)="goToFlightCrewListPage(leg)"></flight-card>
    </ion-card-content>
</ion-card>
