<span *ngIf="isOffline(); else historyDataBlock">
    {{ 'STATUTORY_CERTIFICATE.HISTORY.UNAIVALABLE_OFFLINE' | translate }}
</span>
<ng-template #historyDataBlock>
    <statutory-certificate-data [statutoryCertificateData]="assignmentData" title="{{ 'STATUTORY_CERTIFICATE.HISTORY.ASSIGNMENT.TITLE' | translate}}" [displayType]="StatutoryCertificateDisplayTypeEnum.TAB">
    </statutory-certificate-data>
    <statutory-certificate-data [statutoryCertificateData]="employmentLevelData" title="{{ 'STATUTORY_CERTIFICATE.HISTORY.EMPLOYMENT_LEVEL.TITLE' | translate}}" [displayType]="StatutoryCertificateDisplayTypeEnum.TAB">
    </statutory-certificate-data>
    <statutory-certificate-data [statutoryCertificateData]="instrumentData" title="{{ 'STATUTORY_CERTIFICATE.HISTORY.INSTRUMENT.TITLE' | translate}}" [displayType]="StatutoryCertificateDisplayTypeEnum.TAB">
    </statutory-certificate-data>
    <statutory-certificate-data [statutoryCertificateData]="seniorityDateData" title="{{ 'STATUTORY_CERTIFICATE.HISTORY.SENIORITY_DATE.TITLE' | translate}}" [displayType]="StatutoryCertificateDisplayTypeEnum.TAB">
    </statutory-certificate-data>
    <statutory-certificate-data [statutoryCertificateData]="examData" title="{{ 'STATUTORY_CERTIFICATE.HISTORY.EXAM_DATE.TITLE' | translate}}" [displayType]="StatutoryCertificateDisplayTypeEnum.TAB">
    </statutory-certificate-data>
    <training-history [trainingHistory]="history.trainingsAndLabels"></training-history>
</ng-template>
<career-history *ngIf="isBrowser()"></career-history>
