<div class="flex pnc-info-box selectable">
    <offline-indicator [object]="pnc" type="PNC"></offline-indicator>
    <pnc-photo [pnc]="pnc" [size]="90"></pnc-photo>
    <div class="pnc-info-container">
        <div class="pnc-info-title">
            <span class="value">{{ pnc.lastName }}</span>
            <span class="value firstname">{{ pnc.firstName }}</span>
            <span class="value">{{ pnc.matricule }}</span>
            <span class="referent-instructor">
                <span *ngIf="!pnc.manager">
                    <span>{{ 'PNC_IDENTITY.REFERENT_INSTRUCTOR' | translate }} : </span>
                    <span [ngClass]="{'no-value' : !pnc.pncInstructor}">{{pnc?.pncInstructor?.lastName}}</span> <span class="firstname">{{pnc?.pncInstructor?.firstName}}</span>
                </span>
            </span>
        </div>
        <div class="pnc-info-detail">
            <div class="flex1">
                <div class="pnc-info-data-title">{{ 'PNC_IDENTITY.GENDER' | translate }}</div>
                <div class="pnc-info-data">{{ pnc.gender}}</div>
            </div>
            <div class="flex1">
                <div class="pnc-info-data-title">{{ 'PNC_IDENTITY.SPECIALITY' | translate }}</div>
                <div class="pnc-info-data" [ngClass]="{'no-value' : !formatedSpeciality }"> {{ formatedSpeciality }}</div>
            </div>
            <div class="flex1">
                <div class="pnc-info-data-title">{{ 'PNC_IDENTITY.WORKRATE' | translate }}</div>
                <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.workRate }">{{ pnc.workRate }} <span *ngIf="pnc.workRate">%</span></div>
            </div>
            <div class="flex2">
                <div class="pnc-info-data-title">{{ 'PNC_IDENTITY.QUALIFICATION' | translate }}</div>
                <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.aircraftSkillsLabel }">
                    <span *ngFor="let label of pnc.aircraftSkillsLabel; index as i; last as l">{{label}}<span *ngIf="!l">,</span>
                    </span>
                </div>
            </div>
            <div class="flex1">
                <div class="pnc-info-data-title">{{ 'PNC_IDENTITY.RELAY' | translate }}</div>
                <div class="pnc-info-data" [ngClass]="{'no-value' : !pnc.relays[0] }">
                    <span *ngFor="let relay of pnc.relays; index as i; last as l">{{relay.code}}<span *ngIf="!l">,</span>
                    </span>
                </div>
            </div>
            <div class="flex2">
                <span class="pnc-info-data-title"> {{ 'PNC_IDENTITY.DIVISION' | translate }} / {{ 'PNC_IDENTITY.SECTOR' | translate }} / {{ 'PNC_IDENTITY.GINQ' | translate }}</span>
                <div class="pnc-info-data">
                    <span [ngClass]="{'no-value' : !pnc?.assignment?.division }">{{ pnc?.assignment?.division }} /</span>
                    <span [ngClass]="{'no-value' : !pnc?.assignment?.sector }">{{ pnc?.assignment?.sector }} /</span>
                    <span [ngClass]="{'no-value' : !pnc?.assignment?.ginq }">{{ pnc?.assignment?.ginq }}</span>
                </div>
            </div>
        </div>
    </div>
    <download-button [synchroInProgress]="synchroInProgress" (onDownload)="downloadPncEdossier(pnc.matricule)"></download-button>
</div>
