<ion-grid>
    <ion-row class="title">
        <ion-col>
            {{ 'STATUTORY_CERTIFICATE.CATEGORIES.MANIFEX' | translate }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="this.pncNeverHadManifex(); else manifexBlock">
            <no-data></no-data>
        </ion-col>
        <ng-template #manifexBlock>
            <ion-col class="flex align-center">
                <label>{{ 'STATUTORY_CERTIFICATE.MANIFEX.PNC_AGREEMENT_DATE' | translate }}</label>&nbsp;:&nbsp;{{ this.getManifexPncAgreementDate() | date:'dd/MM/yyyy' }}
            </ion-col>
            <ion-col *ngIf="manifexDeletionDate">
                <label>{{ 'STATUTORY_CERTIFICATE.MANIFEX.MISSION_END_DATE' | translate }}</label>&nbsp;:&nbsp;{{ this.manifexDeletionDate | date:'dd/MM/yyyy' }}
            </ion-col>
            <ion-col class="flex justify-end" *ngIf="manifex && canOpenManifexPdf()">
                <ion-button (click)="openPdfManifex()" [disabled]="loadingPdf" color="primary" fill="outline">
                    <ion-icon name="download"></ion-icon>
                    {{ 'STATUTORY_CERTIFICATE.MANIFEX.CONSULT_MANIFEX' | translate }}
                    <ion-spinner *ngIf="loadingPdf"></ion-spinner>
                </ion-button>
            </ion-col>
        </ng-template>
    </ion-row>
</ion-grid>