<ion-grid>
    <ion-row class="title">
        <ion-col>
            {{ 'STATUTORY_CERTIFICATE.CATEGORIES.MANIFEX' | translate }}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="flex align-center">
            <label>{{ 'STATUTORY_CERTIFICATE.MANIFEX.CREATION_DATE' | translate }}</label>&nbsp;:&nbsp;{{ this.manifex.creationDate | date:'dd/MM/yyyy' }}
        </ion-col>
        <ion-col class="flex justify-end">
            <ion-button (click)="openPdfManifex()" [disabled]="loadingPdf" color="primary" fill="outline" *ngIf="canOpenManifexPdf()">
                <ion-icon name="download"></ion-icon>
                {{ 'STATUTORY_CERTIFICATE.MANIFEX.CONSULT_MANIFEX' | translate }}
                <ion-spinner *ngIf="loadingPdf"></ion-spinner>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
