tab-nav {

    .tab-button[aria-selected=false] .icon,
    .tab-button[aria-selected=false] {
        color: #333;
    }

    .tabs[tabsLayout=icon-top] .has-icon .tab-button-text {
        margin-top: 0px;
        margin-bottom: 4px;
    }

    .tab-button[aria-selected=true] .icon,
    .tab-button[aria-selected=true] {
        background: color($colors, primary);
        color: color($colors, white) !important;
        font-weight: bold;
    }


    .ion-md-briefcase {
        padding: 6px;
    }
}
