tab-nav {

    .tab-button[aria-selected=false] .icon,
    .tab-button[aria-selected=false] {
        color: color($colors, grey50);
    }

    .tab-button[aria-selected=true] .icon,
    .tab-button[aria-selected=true] {
        background: color($colors, primary);
        color: color($colors, white) !important;
        font-weight: bold;
    }

    .tabbar [class*="ion-md"] {
        color: color($colors, grey20) !important;
        font-size: 2em !important;
    }

}
