ion-tabs {

    ion-tab-bar,
    ion-tab-button {
        height: 65px;
    }

    ion-tab-bar {

        ion-tab-button {
            max-width: initial;

            ion-icon {
                font-size: 3em;
            }

            ion-badge {
                font-size: 0.9em;
                border-radius: 100%;
                min-width: 17px;
                padding: 3px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            &.tab-selected {
                background: var(--ion-color-primary);
                --color-selected: var(--ion-color-white);
            }
        }
    }

}
