<div class="icon-container">
    <ion-icon name="airplane"></ion-icon>
</div>
<div>
    <span class="flight-number">{{ flight.company }}{{ flight.number }}</span>
    <span class="flight-stations">{{ flight.departureStation }} - {{ flight.arrivalStation }}</span>
    <span class="aircraft-type">{{ flight.aircraftType }}</span>
</div>
<div>
    <span class="flight-date suffix-tu">{{ flight.departureDate | date : 'dd/MM/yyyy HH:mm' : 'UTC'}}</span>
    <ion-button fill="clear" color="secondarydark">
        <span class="edospnc-pnc"></span>
    </ion-button>
</div>
