<edospnc-expandable-block mini="true" title="{{theme.referentialTheme.label}}" [emptyCondition]="hasItemAndSubThemes()">
    <span *ngIf="hasSubThemes()">
        <span *ngFor="let subTheme of theme.subThemes">
            <div class="sub-theme-label">{{subTheme.referentialTheme.label}}</div>
            <ion-grid>
                <ion-row *ngFor="let eObservationItem of subTheme.eObservationItems">
                    <ion-col col-11 class="item-label"> {{eObservationItem.refItemLevel.item.label}}</ion-col>
                    <ion-col col-1 class="symbol">
                        <color-number-dot [numberText]="getLevelLabel(eObservationItem.refItemLevel.level)">
                        </color-number-dot>
                        <question-symbol (click)="openDescription($event, eObservationItem)">
                        </question-symbol>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </span>
        <div class="comment">
            <label><span class="edospnc-speechBubble"></span>{{ 'EOBSERVATION.DETAIL.COMMENT' | translate }}</label>
            <p *ngIf="!editMode; else editThemeCommentBlock">
                {{theme.eObservationComment.comment}}
            </p>
            <ng-template #editThemeCommentBlock>
                <ion-textarea [(ngModel)]="theme.eObservationComment.comment" (ngModelChange)="updateComment()" autocorrect="on"></ion-textarea>
            </ng-template>
        </div>
    </span>
    <ion-grid *ngIf="!hasSubThemes()">
        <ion-row *ngFor="let eObservationItem of theme.eObservationItems">
            <ion-col col-11 class="item-label"> {{eObservationItem.refItemLevel.item.label}}</ion-col>
            <ion-col col-1 class="symbol">
                <color-number-dot [numberText]="getLevelLabel(eObservationItem.refItemLevel.level)">
                </color-number-dot>
                <question-symbol (click)="openDescription($event, eObservationItem)">
                </question-symbol>
            </ion-col>
        </ion-row>
    </ion-grid>
</edospnc-expandable-block>
