eobs-theme{

    $popover-md-width: 320px;
    $popover-ios-width: 320px;
    $popover-wp-width: 320px;

    ion-row:nth-child(even) {
        background: color($colors, grey90);
    }

    .itemLabel {
       padding-left: 24px;
    }

    .itemLabel:nth-child(even) {
        border-right: 2px solid color($colors, white);
    }
    .itemLabel:nth-child(odd) {
        border-right: 2px solid color($colors, grey75);
    }

}

.description-popover  .popover-content{
    min-width: 500px;
    width: 500px;
    transform: translate(-100%, -5%) !important;
}