<edospnc-expandable-block mini="true" title="{{theme.label}}" [emptyCondition]="hasItemAndSubThemes()">
    <span *ngIf="hasSubThemes()">
        <span *ngFor="let subTheme of theme.subThemes">
            <div class="sub-theme-label">{{subTheme.label}}</div>
            <div class="line" *ngFor="let eObservationItem of subTheme.eobservationItems">
                <span class="column-90 item-label">{{eObservationItem.refItemLevel.item.label}}</span>
                <span class="column-10 symbol">
                    <color-number-dot [numberText]="getLevelLabel(eObservationItem.refItemLevel.level)">
                    </color-number-dot>
                    <question-symbol (click)="openDescription($event, eObservationItem)">
                    </question-symbol>
                </span>
            </div>
        </span>
        <div class="comment">
            <label><span class="edospnc-speechBubble"></span>{{ 'EOBSERVATION.DETAIL.COMMENT' | translate }}</label>
            <p *ngIf="!editMode; else editThemeCommentBlock">{{theme.eobservationComment?.comment}}</p>
            <ng-template #editThemeCommentBlock>
                <ion-textarea [(ngModel)]="theme.eobservationComment.comment" autocorrect="on"></ion-textarea>
            </ng-template>
        </div>
    </span>
    <div *ngIf="!hasSubThemes()">
        <span class="line" *ngFor="let eObservationItem of theme.eobservationItems">
            <span class=" column-90 item-label">{{eObservationItem.refItemLevel.item?.label}}</span>
            <span class="column-10 symbol">
                <ion-select *ngIf="editMode; else viewLevelBlock" interface="popover" [(ngModel)]="eObservationItem.refItemLevel.techId">
                    <ion-select-option *ngFor="let level of sortLevelList(eObservationItem.refItemLevel.item.levels)" [value]="level.techId">
                        {{getLevelLabel(level.level)}}</ion-select-option>
                </ion-select>
                <ng-template #viewLevelBlock>
                    <color-number-dot [numberText]="getLevelLabel(eObservationItem.refItemLevel.level)">
                    </color-number-dot>{{eObservationItem.refItemLevel.level.level}}
                </ng-template>
                <question-symbol (click)="openDescription($event, eObservationItem)" class="clickable">
                </question-symbol>
            </span>
        </span>
    </div>
</edospnc-expandable-block>
