eobs-theme {

    $popover-md-width: 320px;
    $popover-ios-width: 320px;
    $popover-wp-width: 320px;

    .sub-theme-label {
        width: 100%;
        padding-left: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        color: color($colors, blue55);
        border-top: solid color($colors, grey75) 1px;
        border-bottom: solid color($colors, grey75) 1px;
    }

    ion-row:nth-child(even) {
        background: color($colors, grey90);
    }

    .item-label {
        padding-left: 24px;
        display: flex;
        align-items: center;
        white-space: pre-line !important;
    }

    .item-label:nth-child(even) {
        border-right: 2px solid color($colors, white);
    }

    .item-label:nth-child(odd) {
        border-right: 2px solid color($colors, grey75);
    }

    .symbol {
        display: flex;
        align-items: center;

        color-number-dot {
            padding-top: 2px;
        }
    }

    .comment {
        padding-left: 24px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: double color($colors, grey75) 1px;

        .commentTitle {
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            color: color($colors, blue55);

        }

        .edospnc-speechBubble {
            color: color($colors, blue81);
            padding-right: 10px;
        }

        label {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            color: color($colors, grey12);
        }

        p,
        ion-textarea {
            padding: 10px;
            border-radius: 3px;
            background: color($colors, grey95);
            border: 1px solid color($colors, grey70);
            white-space: pre-line;
        }

        ion-textarea {
            min-height: 210px !important;
            padding: 0 !important;
            margin: 0 !important;

            textarea {
                min-height: 190px !important;
                padding: 5px !important;
            }
        }

    }
}

.description-popover .popover-content {
    min-width: 500px;
    width: 500px;
}

.popover-md.description-popover .popover-content {
    transform: translate(-100%, -5%) !important;
}
