eobs-theme{

    $popover-md-width: 320px;
    $popover-ios-width: 320px;
    $popover-wp-width: 320px;

    .subThemeLabel {
        width: 100%;
        padding-left: 24px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        color: color($colors, blue55);
        border-top: solid color($colors, grey75) 1px;
        border-bottom: solid color($colors, grey75) 1px;
    }

    ion-row:nth-child(even) {
        background: color($colors, grey90);
    }

    .item-label {
       padding-left: 24px;
       display: flex;
       align-items: center;
    }

    .item-label:nth-child(even) {
        border-right: 2px solid color($colors, white);
    }
    .item-label:nth-child(odd) {
        border-right: 2px solid color($colors, grey75);
    }
    .symbol {
        display: flex;
        align-items: center;

        color-number-dot {
            padding-top: 2px;
        }
    }
}

.description-popover  .popover-content{
    min-width: 500px;
    width: 500px;
}

.popover-md.description-popover  .popover-content{
    transform: translate(-100%, -5%) !important;
}