<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'GLOBAL.REDACTIONS' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-toolbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.REDACTIONS_PAGE"></pnc-edossier-header>
</ion-header>
<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <h1 class="redactions-title">{{ 'REDACTIONS.REDACTIONS_TITLE' | translate}}</h1>
            <!-- eObservations -->
            <div class="eobservation-block">
                <eobservation-list *ngIf="eObservations && eObservations.length > 0" [eObservations]="eObservations" [eObservationDisplayMode]="EObservationDisplayModeEnum.REDACTIONS"></eobservation-list>
            </div>
            <!-- Priorités -->
            <div class="career-objective-block">
                <career-objective-list *ngIf="careerObjectives && careerObjectives.length > 0" [careerObjectives]="careerObjectives" [displayMode]="CareerObjectiveDisplayModeEnum.REDACTIONS"></career-objective-list>
            </div>
            <!-- Bilans professionnels -->
            <div class="professional-interview-block">
                <professional-interview-list *ngIf="professionalInterviews && professionalInterviews.length > 0" [professionalInterviews]="professionalInterviews" [displayMode]="ProfessionalInterviewDisplayModeEnum.REDACTIONS"></professional-interview-list>
            </div>
            <div class="links-block">
                <edospnc-expandable-block *ngIf="iAmManager()" hideToggle="true" title=" {{ 'REDACTIONS.LINKS_TITLE' | translate }}">
                    <ion-row>
                        <ion-col>
                            <ul class="link-list">
                                <li (click)="goToLink(eformsWrittenUrl)" class="clickable">
                                    <ion-thumbnail>
                                        <ion-icon name="link"></ion-icon>
                                    </ion-thumbnail>
                                    <div class="content">
                                        <h4>{{'REDACTIONS.EFORMS_WRITTEN' | translate }}</h4>
                                    </div>
                                </li>
                                <li (click)="goToLink(cabinReportsWrittenUrl)" class="clickable">
                                    <ion-thumbnail>
                                        <ion-icon name="link"></ion-icon>
                                    </ion-thumbnail>
                                    <div class="content">
                                        <h4>{{'REDACTIONS.CABIN_REPORTS_WRITTEN' | translate }}</h4>
                                    </div>
                                </li>
                            </ul>
                        </ion-col>
                    </ion-row>
                </edospnc-expandable-block>
            </div>
        </ng-template>
    </div>
</ion-content>