<ion-card class="career-objective-card" [ngClass]="{'clickable':!disabled,'disabled':disabled}">
    <offline-indicator [object]="careerObjective" type="CAREER_OBJECTIVE"></offline-indicator>
    <ion-card-content no-padding>
        <header>
            <h4>{{careerObjective.title}}</h4>
            {{careerObjective.offlineAction}} - {{careerObjective.offlineStorageDate}}
            <div class="status-area" float-right>
                <!-- Prioritaire -->
                <div class="icon-container">
                    <ion-icon *ngIf="careerObjective.prioritized" name="flag" ios="md-flag" color="red80"></ion-icon>
                </div>
                <!-- Initiateur -->
                <div class="icon-container">
                    <ion-icon name="bulb" ios="md-bulb" *ngIf="careerObjective.initiator === PncRole.PNC"></ion-icon>
                </div>
                <!-- Statut -->
                <ion-badge class="{{careerObjective.careerObjectiveStatus.toLowerCase()}}" *ngIf="careerObjective.careerObjectiveStatus">
                    {{ 'GLOBAL.CAREER_OBJECTIVE_STATUS.'+careerObjective.careerObjectiveStatus | translate }}
                </ion-badge>
            </div>
        </header>
        <ion-grid class="content">
            <ion-row>
                <ion-col>
                    <label>{{ 'CAREER_OBJECTIVE_LIST.LIST.CREATION_DATE' | translate }}</label>
                    <span class="value" [ngClass]="{'no-value' : !careerObjective.creationDate }">{{ careerObjective.creationDate | date: 'dd/MM/yyyy HH:mm'}}</span>
                </ion-col>
                <ion-col>
                    <label>{{ 'CAREER_OBJECTIVE_LIST.LIST.ENCOUNTER_DATE' | translate }}</label>
                    <span class="value" [ngClass]="{'no-value' : !careerObjective.encounterDate }">{{careerObjective.encounterDate | date: 'dd/MM/yyyy'}}</span>
                </ion-col>
                <ion-col>
                    <label>{{ 'CAREER_OBJECTIVE_LIST.LIST.NEXT_ENCOUNTER_DATE' | translate }}</label>
                    <span class="value" [ngClass]="{'no-value' : !careerObjective.nextEncounterDate }">{{careerObjective.nextEncounterDate | date: 'dd/MM/yyyy'}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-content>
</ion-card>
