<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header (refreshPage)="initPage()" [showRefreshIcon]="true">{{ 'FLIGHT_CREW_LIST.TITLE' | translate }}
        </page-header>
    </ion-toolbar>
    <div class="leg" *ngIf="leg">
        <div class="flight-number">
            <ion-icon name="airplane" class="round-icon"></ion-icon>
            <span class="value">{{ leg.company }}{{ leg.number }}</span>
        </div>
        <span class="value suffix-tu">{{ leg.departureDate | date : 'dd/MM/yyyy HH:mm' :'UTC'}}</span>
        <span class="value">{{ leg.departureStation }} - {{ leg.arrivalStation }}</span>
    </div>
</ion-header>

<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <div class="flight-crew-list-container">
                <pnc-card *ngFor="let crewMember of flightCrewList" (click)="openPncHomePage(crewMember.pnc.matricule)"
                    [itemMember]="crewMember" [isCrewMember]="true"></pnc-card>
                <pnc-card *ngIf="connectedCrewMember" [itemMember]="connectedCrewMember" [isCrewMember]="true"
                    [disabled]="true"></pnc-card>
            </div>
        </ng-template>
    </div>
</ion-content>