page-flight-crew-list {
    ion-header {
        height: 126px;
    }

    .leg {
        font-size: 1.3em;
        color: color($colors, secondary);
        max-width: 1200px;
        height: 70px;
        margin: auto;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flight-number {
            display: flex;
            align-items: center;

            ion-icon {
                background: color($colors, secondary);
                color: color($colors, white);
                margin-right: 10px;
            }
        }
    }
}
