<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc">{{ 'GLOBAL.BUSINESS_INDICATORS' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-toolbar>
    <div class="flight-card" *ngIf="businessIndicator && businessIndicator.flight">
        <div class="flight-number">
            <ion-icon name="airplane" class="round-icon"></ion-icon>
            <span class="value">{{'GLOBAL.AF_COMPANY' | translate}}{{ businessIndicator.flight.number }}</span>
        </div>
        <span class="value suffix-tu">{{ getPlannedDepartureDate(businessIndicator) | date : 'dd/MM/yyyy HH:mm' :'UTC'}}</span>
        <span class="value">{{ businessIndicator.flight.departureStation }} - {{ businessIndicator.flight.arrivalStation }}</span>
        <span class="value">
            {{ 'BUSINESS_INDICATORS.LIST.ESCORE' | translate }} :
            <span *ngIf="!businessIndicator.escore; else escoreBlock" class="no-data"></span>
            <ng-template #escoreBlock>{{ businessIndicator.escore | number : '1.0-1' }}</ng-template>
        </span>
        <span class="value">
            {{ 'BUSINESS_INDICATORS.LIST.FLIGHT_ACTIONS' | translate }} :
            <span *ngIf="isCcLc(businessIndicator)" class="not-available"></span>
            <span *ngIf="!isCcLc(businessIndicator)">{{ businessIndicator.flightActionsTotalNumber }}</span>
        </span>
    </div>
</ion-header>
<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>

            <!-- Infos vol -->
            <edospnc-expandable-block mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.LIST.FLIGHT_INFORMATIONS' | translate}}">
                <div class="content">
                    <div class="item-list">
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.AIRCRAFT_TYPE' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flight.aircraftType }} </span>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.EXPLOITATION_VERSION' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flight.exploitationVersion }} </span>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.PAX_VERSION' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flight.carriedClientVersion }} </span>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.PEQ' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flight.compoPeq }} </span>
                        </div>
                    </div>
                </div>
            </edospnc-expandable-block>

            <!-- PerfOps -->
            <edospnc-expandable-block *ngIf="businessIndicator.flight.operatingPerformance" mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.TITLE' | translate}}" [legendComponent]="BusinessIndicatorPerfopsLegendComponent">
                <div class="content">
                    <div class="item-list">
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.SHUTTLE_DEPARTURE_PN' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/shuttle-departure-d0.svg" />
                                <span *ngIf="!exists(getShuttleDepartureD0()); else shuttleDepartureBlock" [class.no-data]="!exists(getShuttleDepartureD0())"></span>
                                <ng-template #shuttleDepartureBlock>
                                    <span *ngIf="isOnTime(getShuttleDepartureD0()); else shuttleDepartureLateBlock" class="on-time value">
                                        {{ 'BUSINESS_INDICATORS.DETAIL.H_MINUS' | translate:{minuteCount:absoluteValue(getShuttleDepartureD0())} }}
                                    </span>
                                    <ng-template #shuttleDepartureLateBlock>
                                        <span class="late value">{{ 'BUSINESS_INDICATORS.DETAIL.H_PLUS' | translate:{minuteCount:getShuttleDepartureD0()} }}</span>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.SHUTTLE_ARRIVAL' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/shuttle-arrival.svg" />
                                <span *ngIf="!exists(businessIndicator.flight.operatingPerformance.airplaneArrival); else shuttleArrivalBlock" [class.no-data]="!exists(businessIndicator.flight.operatingPerformance.airplaneArrival)"></span>
                                <ng-template #shuttleArrivalBlock>
                                    <span *ngIf="isOnTime(businessIndicator.flight.operatingPerformance.airplaneArrival); else shuttleArrivalLateBlock" class="on-time value">
                                        {{ 'BUSINESS_INDICATORS.DETAIL.H_MINUS' | translate:{minuteCount:absoluteValue(businessIndicator.flight.operatingPerformance.airplaneArrival)} }}
                                    </span>
                                    <ng-template #shuttleArrivalLateBlock>
                                        <span class="late value">{{ 'BUSINESS_INDICATORS.DETAIL.H_PLUS' | translate:{minuteCount:businessIndicator.flight.operatingPerformance.airplaneArrival} }}</span>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.D0' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/d0.svg" />
                                <span *ngIf="!exists(businessIndicator.flight.d0); else d0Block" [class.no-data]="!exists(businessIndicator.flight.d0)"></span>
                                <ng-template #d0Block>
                                    <span *ngIf="isOnTime(businessIndicator.flight.d0); else d0LateBlock" class="on-time value">
                                        {{ 'BUSINESS_INDICATORS.DETAIL.H_MINUS' | translate:{minuteCount:absoluteValue(businessIndicator.flight.d0)} }}
                                    </span>
                                    <ng-template #d0LateBlock>
                                        <span class="late value">{{ 'BUSINESS_INDICATORS.DETAIL.H_PLUS' | translate:{minuteCount:businessIndicator.flight.d0} }}</span>
                                    </ng-template>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </edospnc-expandable-block>

            <!-- Actions à bord -->
            <edospnc-expandable-block *ngIf="!isCcLc()" mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.LIST.FLIGHT_ACTIONS' | translate}}">
                <div class="content">
                    <div class="item-list">
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.ERC' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/erc.svg" />
                                <span class="value" [class.no-data]="isEmptyOrZero(businessIndicator.erc)"> {{ businessIndicator.erc }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.CUSTOMER_CONTINUITY' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/customer-continuity.svg" />
                                <span class="value" [class.no-data]="isEmptyOrZero(businessIndicator.clientContinuity)"> {{ businessIndicator.clientContinuity }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.FLYING_BLUE_ENROLMENT' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/flying-blue-card.svg" />
                                <span class="value" [class.no-data]="isEmptyOrZero(businessIndicator.flyingBlueEnrolment)"> {{ businessIndicator.flyingBlueEnrolment }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.GIFT_FOR_CARE' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/gift-for-care.svg" />
                                <span class="value" [class.no-data]="isEmptyOrZero(businessIndicator.giftForCare)"> {{ businessIndicator.giftForCare }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.UPGRADE' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/upgrade-black.svg" />
                                <span class="value" [class.no-data]="isEmptyOrZero(businessIndicator.upgrade)"> {{ businessIndicator.upgrade }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.KDO' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/kdo.svg" />
                                <span class="value" [class.no-data]="isEmptyOrZero(businessIndicator.kdo)"> {{ businessIndicator.kdo }} </span>
                            </div>
                        </div>
                    </div>
                    <legend>{{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.LEGEND' | translate }}</legend>
                </div>
            </edospnc-expandable-block>

            <!-- Graphique d'eScore -->
            <edospnc-expandable-block mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_SUMMARY.TITLE' | translate}}">
                <escore-chart [businessIndicator]="businessIndicator"></escore-chart>
            </edospnc-expandable-block>

            <!-- Commentaire eScore -->
            <h3>
                <ng-container *ngIf="!isCcLc(); else escoreCommentTitleCcLc">
                    {{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.TITLE_CCP_CC_MC' | translate }}
                </ng-container>
                <ng-template #escoreCommentTitleCcLc>
                    {{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.TITLE_CC_LC' | translate }}
                </ng-template>
            </h3>
            <span *ngIf="escoreCommentsDataSource && escoreCommentsDataSource.data.length <= 0 ">
                <table class="escore-comment-table mat-table">
                    <thead>
                        <tr class="mat-header-row">
                            <th class="rating mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.RATING' | translate }}</th>
                            <th class="positive-feedback-reason mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.POSITIVE_FEEDBACK' | translate }}</th>
                            <th class="negative-feedback-reason mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.NEGATIVE_FEEDBACK' | translate }}</th>
                            <th class="suggestions  mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.SUGGESTIONS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="mat-row">
                            <td class="mat-cell" colspan="4">
                                <no-data></no-data>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </span>
            <span *ngIf="escoreCommentsDataSource && escoreCommentsDataSource.data.length > 0 ">
                <table mat-table [dataSource]="escoreCommentsDataSource" class="escore-comment-table">
                    <ng-container matColumnDef="rating">
                        <th mat-header-cell *matHeaderCellDef class="escore-rating">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.RATING' | translate }}</th>
                        <td mat-cell *matCellDef="let escoreComment" class="escore-rating"> <img class="file-icon" [src]="getEscoreCommentRatingImagePath(escoreComment.rating)" /></td>
                    </ng-container>
                    <ng-container matColumnDef="positiveFeedbackReason">
                        <th mat-header-cell *matHeaderCellDef class="positive-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.POSITIVE_FEEDBACK' | translate }}</th>
                        <td mat-cell *matCellDef="let escoreComment" class="positive-feedback-reason">
                            <truncated-text [inputText]="escoreComment.positivePersonalFeedbackReason"></truncated-text>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="negativeFeedbackReason">
                        <th mat-header-cell *matHeaderCellDef class="negative-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.NEGATIVE_FEEDBACK' | translate }}</th>
                        <td mat-cell *matCellDef="let escoreComment" class="negative-feedback-reason">
                            <truncated-text [inputText]="escoreComment.negativePersonalFeedbackReason"></truncated-text>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="suggestions">
                        <th mat-header-cell *matHeaderCellDef class="suggestions">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.SUGGESTIONS' | translate }}</th>
                        <td mat-cell *matCellDef="let escoreComment" class="suggestions">
                            <truncated-text [inputText]="escoreComment.suggestions"></truncated-text>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="escoreCommentColumns"></tr>
                    <tr mat-row *matRowDef="let escoreComment; columns: escoreCommentColumns;"></tr>
                </table>
            </span>

            <!-- Commentaire boucle courte -->
            <ng-container *ngIf="!isCcLc()">
                <h3>{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.TITLE' | translate }}</h3>
                <span *ngIf="shortLoopCommentsDataSource && shortLoopCommentsDataSource.data.length <= 0 ">
                    <table class="short-loop-comment-table mat-table">
                        <thead>
                            <tr class="mat-header-row">
                                <th class="short-loop-rating mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.RATING' | translate }}</th>
                                <th class="positive-feedback-reason mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.APPRECIATED_POINTS' | translate }}</th>
                                <th class="negative-feedback-reason mat-header-cell">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.POINTS_TO_IMPROVE' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mat-row">
                                <td class="mat-cell" colspan="3">
                                    <no-data></no-data>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </span>
                <span *ngIf="shortLoopCommentsDataSource && shortLoopCommentsDataSource.data.length > 0 ">
                    <table *ngIf="canDisplayShortLoopComment() && shortLoopCommentsDataSource && shortLoopCommentsDataSource.data.length > 0 " mat-table [dataSource]="shortLoopCommentsDataSource" class="short-loop-comment-table">
                        <ng-container matColumnDef="rating">
                            <th mat-header-cell *matHeaderCellDef class="short-loop-rating">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.RATING' | translate }}</th>
                            <td mat-cell *matCellDef="let shortLoopComment" class="short-loop-rating"><img *ngFor="let ratingItem of getRatingArray(shortLoopComment.rating)" class="file-icon" src="assets/imgs/business-indicators/star.svg" /></td>
                        </ng-container>
                        <ng-container matColumnDef="positiveFeedbackReason">
                            <th mat-header-cell *matHeaderCellDef class="positive-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.APPRECIATED_POINTS' | translate }}</th>
                            <td mat-cell *matCellDef="let shortLoopComment" class="positive-feedback-reason">
                                <truncated-text [inputText]="shortLoopComment.appreciatedPoints"></truncated-text>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="negativeFeedbackReason">
                            <th mat-header-cell *matHeaderCellDef class="negative-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.POINTS_TO_IMPROVE' | translate }}</th>
                            <td mat-cell *matCellDef="let shortLoopComment" class="negative-feedback-reason">
                                <truncated-text [inputText]="shortLoopComment.pointsToImprove"></truncated-text>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="shortLoopCommentColumns"></tr>
                        <tr mat-row *matRowDef="let shortLoopComment; columns: shortLoopCommentColumns;"></tr>
                    </table>
                </span>
            </ng-container>

        </ng-template>
    </div>
</ion-content>
