.flight-card {
    font-size: 1.3em;
    color: var(--ion-color-secondary);
    max-width: 1200px;
    height: 70px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .flight-number {
        display: flex;
        align-items: center;

        ion-icon {
            background: var(--ion-color-secondary);
            color: var(--ion-color-white);
            margin-right: 10px;
        }
    }
}

edospnc-expandable-block {
    .content {
        margin: 15px 0px;

        .item-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .item {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                div {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 40px;
                        margin-right: 10px;
                    }
                }

                label {
                    color: var(--ion-color-primarylight);
                    font-weight: bold;
                    margin-bottom: 10px;
                    flex: 1;
                }

                .value {
                    font-weight: normal;
                }
            }

        }

        legend {
            margin-top: 15px;
            color: var(--ion-color-grey20);
            text-align: center;
            font-style: italic;
        }
    }

}

.no-data {
    visibility: hidden;

    &:after {
        content: '-';
        visibility: visible;
    }
}
