<ion-header>
    <ion-toolbar>
        <ion-back-button color="white" slot="start"></ion-back-button>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc">{{ 'GLOBAL.BUSINESS_INDICATORS' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-toolbar>
    <div class="flight-card" *ngIf="businessIndicator && businessIndicator.flightDetailsCard">
        <div class="flight-number">
            <ion-icon name="airplane" class="round-icon"></ion-icon>
            <span class="value">{{'GLOBAL.AF_COMPANY' | translate}}{{ businessIndicator.flightDetailsCard.flightNumber }}</span>
        </div>
        <span class="value suffix-tu">{{ getPlannedDepartureDate(businessIndicator) | date : 'dd/MM/yyyy HH:mm' :'UTC'}}</span>
        <span class="value">{{ businessIndicator.flightDetailsCard.departureStation }} - {{ businessIndicator.flightDetailsCard.arrivalStation }}</span>
        <span class="value">{{ 'BUSINESS_INDICATORS.ESCORE' | translate }} : {{ businessIndicator.flightDetailsCard.escore | number : '1.0-1' }}</span>
        <span class="value">{{ 'BUSINESS_INDICATORS.FLIGHT_ACTIONS' | translate }} : {{ businessIndicator.flightDetailsCard.flightActionsTotalNumber }}</span>
    </div>
</ion-header>
<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>

            <!-- Infos vol -->
            <edospnc-expandable-block mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.FLIGHT_INFORMATIONS' | translate}}">
                <div class="content">
                    <div class="item-list">
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.AIRCRAFT_TYPE' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flightDetailsCard.aircraftType }} </span>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.EXPLOITATION_VERSION' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flightDetailsCard.exploitationVersion }} </span>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.PAX_VERSION' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flightDetailsCard.carriedClientVersion }} </span>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.FLIGHT_INFO.PEQ' | translate}} </label>
                            <span class="value"> {{ businessIndicator.flightDetailsCard.peq }} </span>
                        </div>
                    </div>
                </div>
            </edospnc-expandable-block>

            <!-- PerfOps -->
            <edospnc-expandable-block mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.TITLE' | translate}}">
                <div class="content">
                    <div class="item-list">
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.SHUTTLE_DEPARTURE_D0' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/shuttle-departure-d0.svg" />
                                <span class="value signed" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.operatingPerformances.shuttleDeparture)" [class.on-time]="isOnTime(getShuttleDepartureD0())">{{ getShuttleDepartureD0() }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.SHUTTLE_ARRIVAL' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/shuttle-arrival.svg" />
                                <span class="value signed" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.operatingPerformances.shuttleDeparture)" [class.on-time]="isOnTime(businessIndicator.flightDetailsCard.operatingPerformances.shuttleDeparture)">{{ businessIndicator.flightDetailsCard.operatingPerformances.shuttleDeparture }}</span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.D0' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/d0.svg" />
                                <span class="value signed" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.d0)" [class.on-time]="isOnTime(businessIndicator.flightDetailsCard.d0)">{{ businessIndicator.flightDetailsCard.d0 }}</span>
                            </div>
                        </div>
                    </div>
                    <legend>{{ 'BUSINESS_INDICATORS.DETAIL.PERF_OPS.LEGEND' | translate }}</legend>
                </div>
            </edospnc-expandable-block>

            <!-- Actions à bord -->
            <edospnc-expandable-block *ngIf="isOnBoardActionsAvailable()" mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.FLIGHT_ACTIONS' | translate}}">
                <div class="content">
                    <div class="item-list">
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.ERC' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/erc.svg" />
                                <span class="value" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.erc)"> {{ businessIndicator.flightDetailsCard.erc }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.CUSTOMER_CONTINUITY' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/customer-continuity.svg" />
                                <span class="value" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.clientContinuity)"> {{ businessIndicator.flightDetailsCard.clientContinuity }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.FLYING_BLUE_ENROLMENT' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/flying-blue-card.svg" />
                                <span class="value" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.flyingBlueEnrolment)"> {{ businessIndicator.flightDetailsCard.flyingBlueEnrolment }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.GIFT_FOR_CARE' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/gift-for-care.svg" />
                                <span class="value" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.giftForCare)"> {{ businessIndicator.flightDetailsCard.giftForCare }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.UPGRADE' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/upgrade-black.svg" />
                                <span class="value" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.upgrade)"> {{ businessIndicator.flightDetailsCard.upgrade }} </span>
                            </div>
                        </div>
                        <div class="item">
                            <label> {{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.KDO' | translate}} </label>
                            <div>
                                <img src="assets/imgs/business-indicators/kdo.svg" />
                                <span class="value" [class.no-data]="isEmpty(businessIndicator.flightDetailsCard.kdo)"> {{ businessIndicator.flightDetailsCard.kdo }} </span>
                            </div>
                        </div>
                    </div>
                    <legend>{{ 'BUSINESS_INDICATORS.DETAIL.ONBOARD_ACTIONS.LEGEND' | translate }}</legend>
                </div>
            </edospnc-expandable-block>

            <!-- Graphique d'eScore -->
            <edospnc-expandable-block mini="true" hideToggle="true" title="{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_SUMMARY.TITLE' | translate}}">
                <div class="content">
                    <escore-chart [businessIndicator]="businessIndicator"></escore-chart>
                </div>
            </edospnc-expandable-block>

            <!-- Commentaire eScore -->
            <table mat-table [dataSource]="escoreCommentsDataSource" class="escore-comment-table">
                <ng-container matColumnDef="notation">
                    <th mat-header-cell *matHeaderCellDef class="notation">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.NOTATION' | translate }}</th>
                    <td mat-cell *matCellDef="let escoreComment"  class="notation"> <img class="file-icon" width="25" height="25" [src]="getEscoreCommentNotationImagePath(escoreComment.notation)" /></td>
                </ng-container>
                <ng-container matColumnDef="positiveFeedbackReason">
                    <th mat-header-cell *matHeaderCellDef class="positive-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.POSITIVE_FEEDBACK_REASON' | translate }}</th>
                    <td mat-cell *matCellDef="let escoreComment" class="positive-feedback-reason">{{ escoreComment.appreciatedPoints }}</td>
                </ng-container>
                <ng-container matColumnDef="negativeFeedbackReason">
                    <th mat-header-cell *matHeaderCellDef class="negative-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.NEGATIVE_FEEDBACK_REASON' | translate }}</th>
                    <td mat-cell *matCellDef="let escoreComment" class="negative-feedback-reason">{{ escoreComment.pointsToImprove }}</td>
                </ng-container>
                <ng-container matColumnDef="suggestions">
                    <th mat-header-cell *matHeaderCellDef class="suggestions">{{ 'BUSINESS_INDICATORS.DETAIL.ESCORE_COMMENT.SUGGESTIONS' | translate }}</th>
                    <td mat-cell *matCellDef="let escoreComment" class="suggestions">{{ escoreComment.suggestions }}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="escoreCommentColumns"></tr>
                <tr mat-row *matRowDef="let escoreComment; columns: escoreCommentColumns;"></tr>
            </table>

            <!-- Commentaire boucle courte -->
            <table *ngIf="canDisplayShortLoopComment()" mat-table [dataSource]="shortLoopCommentsDataSource" class="short-loop-comment-table">
                <ng-container matColumnDef="notation">
                    <th mat-header-cell *matHeaderCellDef class="notation">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.NOTATION' | translate }}</th>
                    <td mat-cell *matCellDef="let shortLoopComment"  class="notation"><img *ngFor="let notationItem of getNotationArray(shortLoopComment.notation)" class="file-icon" width="25" height="25" src="assets/imgs/business-indicators/star.svg" /></td>
                </ng-container>
                <ng-container matColumnDef="positiveFeedbackReason">
                    <th mat-header-cell *matHeaderCellDef class="positive-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.APPRECIATED_POINTS' | translate }}</th>
                    <td mat-cell *matCellDef="let shortLoopComment" class="positive-feedback-reason">{{ shortLoopComment.appreciatedPoints }}</td>
                </ng-container>
                <ng-container matColumnDef="negativeFeedbackReason">
                    <th mat-header-cell *matHeaderCellDef class="negative-feedback-reason">{{ 'BUSINESS_INDICATORS.DETAIL.SHORT_LOOP_COMMENT.POINTS_TO_IMPROVE' | translate }}</th>
                    <td mat-cell *matCellDef="let shortLoopComment" class="negative-feedback-reason">{{ shortLoopComment.pointsToImprove }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="shortLoopCommentColumns"></tr>
                <tr mat-row *matRowDef="let shortLoopComment; columns: shortLoopCommentColumns;"></tr>
            </table>
        </ng-template>
    </div>
</ion-content>
