<ion-item>
  <ion-label>{{ datePlaceholder }}</ion-label>

  <!-- Ion-input to display formatted date -->
  <ion-input
    [value]="displayValue || datePlaceholder"
    (click)="openDatePickerModal()"
    readonly="true"
    [disabled]="disabled">
  </ion-input>

  <!-- Modal to show ion-datetime -->
  <ion-modal [(isOpen)]="isDatePickerOpen">
    <ng-template>
      <ion-content>
        <ion-datetime
          #datetime
          [min]="minStartDate"
          [max]="'2099-12-31'"
          [presentation]="'date'">
        </ion-datetime>

        <!-- Buttons to control the date picker -->
        <ion-buttons class="datepicker-buttons" style="display: flex; justify-content: space-between; padding: 10px;">
          <ion-button   (click)="clearDate()">{{ 'GLOBAL.DATEPICKER.CLEAR' | translate }}</ion-button>
          <ion-button  (click)="cancelDate()">{{ 'GLOBAL.DATEPICKER.CANCEL' | translate }}</ion-button>
          <ion-button  (click)="confirmDate()">{{ 'GLOBAL.DATEPICKER.DONE' | translate }}</ion-button>
        </ion-buttons>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-item>
