<div #viewerContainer
class="viewer-container">
<div #viewer
    class="viewer">
   <ng-container #pagesContainer>
        <div class="page-and-buttons">
            <div #pageContainer
                    class="page"
                    [style.width.px]="pageContainerUnique.width"
                    [style.height.px]="pageContainerUnique.height">

                <div class="canvas-wrapper"
                        #canvasWrapper>
                    <canvas class="page-canvas"
                            #canvas></canvas>

                </div>
                <div #textContainer
                        class="text-layer selectable">
                </div>

            </div>
            <div class="pdf-actions">
                    <span class="previous-button-block"><span *ngIf="!isFirstPage()" (click)="openPreviousPage()"><ion-icon name="arrow-back"></ion-icon></span></span>
                    <span class="nb-pages-block">{{currentPageNumber}} / {{nbPages}}</span>
                    <span class="next-button-block"><span *ngIf="!isLastPage()" (click)="openNextPage()"><ion-icon name="arrow-forward"></ion-icon></span></span>
            </div>
        </div>
   </ng-container>
</div>
</div>