<ion-header>
    <ion-navbar>
        <ion-title>{{ 'GLOBAL.DEVELOPMENT_PROGRAM' | translate }}</ion-title>
        <connectivity-indicator></connectivity-indicator>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!careerObjectiveLoadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <h3 *ngIf="isCreationMode(); else editTitleBlock">{{ 'CAREER_OBJECTIVE_CREATE.CREATE_TITLE' | translate }}</h3>
        <ng-template #editTitleBlock>
            <h3>{{ 'CAREER_OBJECTIVE_CREATE.EDIT_TITLE' | translate }}</h3>
        </ng-template>

        <!-- Barre de statut -->
        <ion-badge class="{{careerObjective.careerObjectiveStatus.toLowerCase()}}" *ngIf="careerObjective.careerObjectiveStatus">
            {{ 'GLOBAL.CAREER_OBJECTIVE_STATUS.'+careerObjective.careerObjectiveStatus | translate }}
        </ion-badge>

        <form novalidate [formGroup]="creationForm">
            <ion-grid>
                <ion-row>
                    <ion-col col-9>
                        <ion-row>
                            <ion-col col-12>
                                <!-- Titre -->
                                <ion-item>
                                    <ion-label floating class="required">{{ 'CAREER_OBJECTIVE_CREATE.FORM.TITLE' | translate }}</ion-label>
                                    <ion-input type="text" [(ngModel)]="careerObjective.title" formControlName="titleControl" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <!-- Contexte -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.CONTEXT' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.context" formControlName="contextControl" name="context" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-12>
                                <!-- Plan d'action -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.ACTION_PLAN' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.actionPlan" formControlName="actionPlanControl" name="actionPlan" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <!-- Commentaire cadre -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.MANAGER_COMMENT' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.managerComment" formControlName="managerCommentControl" name="managerComment" [readonly]="readOnlyByUserConnected()" [ngClass]="getCssClassForReadOnlyIfNeeded()"></ion-textarea>
                                </ion-item>
                            </ion-col>
                            <ion-col col-6>
                                <!-- Commentaire PNC -->
                                <ion-item>
                                    <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.PNC_COMMENT' | translate }}</ion-label>
                                    <ion-textarea [(ngModel)]="careerObjective.pncComment" formControlName="pncCommentControl" name="pncComment"></ion-textarea>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <!-- Bouton création point d'étape -->
                    <ion-col col-3>
                        <edossier-spinner *ngIf="!waypointsLoadingIsOver(); else waypointsBlock"></edossier-spinner>
                        <ng-template #waypointsBlock>
                            <h3>{{ 'CAREER_OBJECTIVE_CREATE.WAYPOINT_LIST_TITLE' | translate }}</h3>
                            <!--liste des point d'étape-->
                            <ion-content class="waypoint-list">
                                <button (click)="goToWaypointCreate()" class="add-waypoint clickable" *ngIf="careerObjective.careerObjectiveStatus === CareerObjectiveStatus.REGISTERED">
                                    <ion-icon name="add"></ion-icon>
                                </button>
                                <ion-card class="waypoint clickable" *ngFor="let waypoint of waypointList" (click)="openWaypoint(waypoint.techId)">
                                    <offline-indicator [object]="waypoint"></offline-indicator>
                                    <ion-card-content>
                                        <!--Si une date de rencontre existe, on l'affiche, sinon on affiche la date de création -->
                                        <header>
                                            <ion-icon name="create" ios="md-create" *ngIf="waypoint.waypointStatus === WaypointStatus.DRAFT" float-right></ion-icon>
                                            <div class="value" *ngIf="waypoint.encounterDate; else creationDateBlock">
                                                {{ waypoint.encounterDate | date: 'dd/MM/yyyy'}}
                                            </div>
                                            <ng-template #creationDateBlock>
                                                <div class="value">{{ waypoint.creationDate | date: 'dd/MM/yyyy'}}</div>
                                            </ng-template>
                                        </header>
                                        <h4>{{ waypoint.context }}</h4>
                                    </ion-card-content>
                                </ion-card>
                            </ion-content>
                        </ng-template>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-6>
                        <!-- Initiateur -->
                        <ion-label stacked class="required">{{ 'CAREER_OBJECTIVE_CREATE.FORM.INITIATOR' | translate }}</ion-label>
                        <ion-list radio-group [(ngModel)]="careerObjective.initiator" formControlName="initiatorControl">
                            <ion-item>
                                <ion-label>{{ 'GLOBAL.PNC_ROLE.MANAGER' | translate }}</ion-label>
                                <ion-radio [disabled]="readOnlyByUserConnected()" value="MANAGER"></ion-radio>
                            </ion-item>

                            <ion-item>
                                <ion-label>{{ 'GLOBAL.PNC_ROLE.PNC' | translate }}</ion-label>
                                <ion-radio [disabled]="readOnlyByUserConnected()" value="PNC"></ion-radio>
                            </ion-item>
                        </ion-list>
                        <!-- Prioritaire -->
                        <ion-item>
                            <ion-label fixed>{{ 'CAREER_OBJECTIVE_CREATE.FORM.PRIORITIZED' | translate }}</ion-label>
                            <ion-checkbox [disabled]="readOnlyByUserConnected()" [(ngModel)]="careerObjective.prioritized" checked="{{careerObjective.prioritized}}" formControlName="prioritizedControl"></ion-checkbox>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <!-- Prochaine rencontre -->
                        <ion-label stacked>{{ 'CAREER_OBJECTIVE_CREATE.FORM.NEXT_ENCOUNTER_DATE' | translate }}</ion-label>
                        <ion-item>
                            <ion-label>
                                <ion-icon name="calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime [disabled]="readOnlyByUserConnected()" displayFormat="DD/MM/YYYY" [(ngModel)]="careerObjective.nextEncounterDate" formControlName="nextEncounterDateControl" [pickerOptions]="nextEncounterDateTimeOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')"
                                [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')"></ion-datetime>
                        </ion-item>
                        <!-- Date de rencontre -->
                        <ion-label stacked [ngClass]="{'required' : requiredOnEncounterDay  || isEncounterDateRequired() }">{{ 'CAREER_OBJECTIVE_CREATE.FORM.ENCOUNTER_DATE' | translate }}<span *ngIf="requiredOnEncounterDay">{{ 'CAREER_OBJECTIVE_CREATE.FORM.REQUIRED_ON_ENCOUNTER_DAY' | translate }}</span></ion-label>
                        <ion-item>
                            <ion-label>
                                <ion-icon name="calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime [disabled]="readOnlyByUserConnected()" displayFormat="DD/MM/YYYY" [(ngModel)]="careerObjective.encounterDate" formControlName="encounterDateControl" [pickerOptions]="encounterDateTimeOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')"
                                [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <!-- Barre de boutons -->
                <ion-row>
                    <ion-col class="button-bar-right">
                        <!-- Bouton sauvegarder objectif en brouillon -->
                        <button ion-button color="primary" (click)="saveCareerObjectiveDraft()" [disabled]="creationForm.invalid" *ngIf="careerObjectiveStatusProvider.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.DRAFT)">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE_DRAFT' | translate }}
                    </button>
                        <!-- Bouton supprimer objectif en brouillon -->
                        <button ion-button color="tertiary" (click)="confirmDeleteCareerObjectiveDraft()" [disabled]="deletionInProgress" *ngIf="careerObjective.careerObjectiveStatus === CareerObjectiveStatus.DRAFT">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.DELETE_DRAFT' | translate }}
                    </button>
                        <!-- Bouton sauvegarder objectif -->
                        <button ion-button color="primary" (click)="saveCareerObjectiveToRegisteredStatus()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && careerObjectiveStatusProvider.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.REGISTERED)">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE' | translate }}
                    </button>
                        <!-- Bouton sauvegarder commentaire pnc -->
                        <button ion-button color="primary" (click)="saveCareerObjectiveAndUpdatePncComment()" [disabled]="creationForm.invalid" *ngIf="canPncCommentBeModifiedByPnc()">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE' | translate }}
                    </button>
                        <!-- Bouton valider objectif -->
                        <button ion-button color="primary" (click)="saveCareerObjectiveToValidatedStatus()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && careerObjectiveStatusProvider.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.VALIDATED)">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.VALIDATE' | translate }}
                    </button>
                        <!-- bouton abandonner objectif  -->
                        <button ion-button color="primary" (click)="saveCareerObjectiveToAbandonedStatus()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && careerObjectiveStatusProvider.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.ABANDONED)">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.ABANDON' | translate }}
                    </button>
                        <!-- bouton annuler statut validé d'un objectif  -->
                        <button ion-button color="primary" (click)="cancelCareerObjectiveValidation()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && careerObjective.careerObjectiveStatus === CareerObjectiveStatus.VALIDATED">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.CANCEL_VALIDATION' | translate }}
                    </button>
                        <!-- bouton annuler statut abandonné d'un objectif  -->
                        <button ion-button color="primary" (click)="resumeAbandonedCareerObjective()" [disabled]="creationForm.invalid" *ngIf="securityProvider.isManager() && careerObjective.careerObjectiveStatus === CareerObjectiveStatus.ABANDONED">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.RESUME' | translate }}
                    </button>
                        <button ion-button color="primary" (click)="confirmCreateInstructorRequest()" *ngIf="!securityProvider.isManager() && careerObjective.careerObjectiveStatus !== undefined ">
                        {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.CREATE_INSTRUCTOR_REQUEST' | translate }}
                    </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>
    </ng-template>
</ion-content>
