page-career-objective-create {
    ion-textarea {
        min-height: 210px !important;
        padding: 0 !important;
        margin: 0 !important;
        textarea {
            min-height: 190px !important;
            padding: 5px !important;
        }
    }

    .hidden-button{
    height: 100%;
    width: 100%;
    background: transparent;
    color: #000000;
    box-shadow: none;
    -webkit-box-shadow: none;    
 }
}

