<ion-header>
    <ion-navbar>
        <ion-title>{{ 'GLOBAL.DEVELOPMENT_PROGRAM' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <h3 *ngIf="isCreationMode()">{{ 'CAREER_OBJECTIVE_CREATE.CREATE_TITLE' | translate }}</h3>
    <h3 *ngIf="!isCreationMode()">{{ 'CAREER_OBJECTIVE_CREATE.EDIT_TITLE' | translate }}</h3>

    <form novalidate [formGroup]="creationForm">
        <ion-grid>
            <!-- Barre de statut -->
            <ion-row>
                <ion-col col-12>
                    <ion-chip color="{{careerObjective.careerObjectiveStatus.toLowerCase()}}" *ngIf="careerObjective.careerObjectiveStatus" float-right>
                        <ion-label>{{ 'GLOBAL.CAREER_OBJECTIVE_STATUS.'+careerObjective.careerObjectiveStatus | translate }}</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <!-- Titre -->
                    <ion-item>
                        <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.TITLE' | translate }}</ion-label>
                        <ion-input type="text" [(ngModel)]="careerObjective.title" formControlName="titleControl"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <!-- Contexte -->
                    <ion-item>
                        <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.CONTEXT' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="careerObjective.context" formControlName="contextControl" name="context"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <!-- Plan d'action -->
                    <ion-item>
                        <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.ACTION_PLAN' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="careerObjective.actionPlan" formControlName="actionPlanControl" name="actionPlan"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <!-- Commentaire cadre -->
                    <ion-item>
                        <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.MANAGER_COMMENT' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="careerObjective.managerComment" formControlName="managerCommentControl" name="managerComment"></ion-textarea>
                    </ion-item>
                </ion-col>
                <ion-col col-6>
                    <!-- Commentaire PNC -->
                    <ion-item>
                        <ion-label floating>{{ 'CAREER_OBJECTIVE_CREATE.FORM.PNC_COMMENT' | translate }}</ion-label>
                        <ion-textarea [(ngModel)]="careerObjective.pncComment" formControlName="pncCommentControl" name="pncComment"></ion-textarea>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <!-- Initiateur -->
                    <ion-label stacked>{{ 'CAREER_OBJECTIVE_CREATE.FORM.INITIATOR' | translate }}</ion-label>
                    <ion-list radio-group [(ngModel)]="careerObjective.initiator" formControlName="initiatorControl">
                        <ion-item>
                            <ion-label>{{ 'GLOBAL.PNC_ROLE.MANAGER' | translate }}</ion-label>
                            <ion-radio value="MANAGER"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>{{ 'GLOBAL.PNC_ROLE.PNC' | translate }}</ion-label>
                            <ion-radio value="PNC"></ion-radio>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col col-6>
                    <!-- Prochaine rencontre -->
                    <ion-label stacked>{{ 'CAREER_OBJECTIVE_CREATE.FORM.NEXT_ENCOUNTER_DATE' | translate }}</ion-label>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="calendar"></ion-icon>
                        </ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="careerObjective.nextEncounterDate" formControlName="nextEncounterDateControl" [pickerOptions]="customDateTimeOptions" [doneText]="translateService.instant('GLOBAL.DATEPICKER.DONE')" [cancelText]="translateService.instant('GLOBAL.DATEPICKER.CANCEL')"></ion-datetime>
                    </ion-item>
                    <!-- Prioritaire -->
                    <ion-item>
                        <ion-label fixed>{{ 'CAREER_OBJECTIVE_CREATE.FORM.PRIORITIZED' | translate }}</ion-label>
                        <ion-checkbox [(ngModel)]="careerObjective.prioritized" formControlName="prioritizedControl"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>

            <!-- Barre de boutons -->
            <ion-row>
                <ion-col>
                    <button ion-button (click)="saveCareerObjectiveToRegisteredStatus()" [disabled]="creationForm.invalid || saveInProgress" *ngIf="securityProvider.isManager() && careerObjectiveStatusProvider.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.REGISTERED)"
                        color="primary">
                      {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE' | translate }}
                      <ion-spinner *ngIf="saveInProgress"></ion-spinner>
                    </button>
                    <button ion-button (click)="saveCareerObjectiveDraft()" [disabled]="creationForm.invalid || saveInProgress" *ngIf="careerObjectiveStatusProvider.isTransitionOk(careerObjective.careerObjectiveStatus,CareerObjectiveStatus.DRAFT)" color="primary">
                      {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.SAVE_DRAFT' | translate }}
                      <ion-spinner *ngIf="saveInProgress"></ion-spinner>
                    </button>
                    <button ion-button (click)="confirmDeleteCareerObjectiveDraft()" [disabled]="deletionInProgress" *ngIf="careerObjective.careerObjectiveStatus === CareerObjectiveStatus.DRAFT" color="primary">
                      {{ 'CAREER_OBJECTIVE_CREATE.BUTTONS.DELETE_DRAFT' | translate }}
                      <ion-spinner *ngIf="deletionInProgress"></ion-spinner>
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
