hr-documents {
    $nbLinesMaxOnRow: 2;

    ion-content {
        .scroll-content {
            display: flex;
            flex-direction: column;
            padding-top: 40px !important;
        }
    }

    .hr-document-grid {
        ion-row {
            border: none;
        }

        ion-row.hr-document-row:nth-child(even) {
            background: color($colors-secondary, grey95);
        }

        ion-row.hr-document-row:nth-child(odd) {
            background: color($colors, white);
        }

        ion-row.headers {
            font-size: 12px;
            background: color($colors, white) !important;
            border-bottom: 1px solid color($colors-secondary, grey95);

            ion-col {
                font-weight: bold;
            }
        }

        .column-title {
            display: block;
            width: 100%;
        }

        .truncate-text {
            @include truncate-text($nbLinesMaxOnRow);
        }

        .column-category {
            flex: 0 0 120px !important;
        }

        .column-redactor {
            min-width: 80px;
            max-width: 160px;
        }

        .action-placeholder {
            min-width: 80px;
            max-width: 80px;
        }

        .column-date {
            flex: 0 0 150px !important;
            min-width: 160px;
            max-width: 160px;
        }

        .column-specific {
            flex: 0 0 20px !important;
            min-width: 20px;
            max-width: 20px;
        }

        .category-label {
            flex: 1;
            background-color: color($colors, primary);
            color: color($colors, white);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            text-align: center;
        }

        button.detail-button {
            background: color($colors, primary-light);
            color: color($colors, white);
            width: 30px;
            height: 30px;
            box-shadow: none;
        }

        .user-actions {
            min-width: 80px;
            max-width: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button.detail-button {
                background: color($colors, primary-light);
                color: color($colors, white);
                width: 30px;
                height: 30px;
                box-shadow: none;

                span:before {
                    font-size: 20px;
                }
            }
        }

        .button-bar {
            margin-bottom: 10px;

            ion-icon {
                margin-right: 10px;
            }
        }
    }

}
