<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        <label class="e-obs-date">
            <!-- <ion-icon class="edospnc-calendar" name="edospnc-calendar"></ion-icon> -->
            {{ "EOBSERVATION.LIST.HEADER.ROTATION_DATE" | translate }}
        </label>
        <label class="e-obs-type"> {{ "EOBSERVATION.LIST.HEADER.TYPE"| translate }} </label>
        <label class="e-obs-writer"> {{ "EOBSERVATION.LIST.HEADER.REDACTOR" | translate }} </label>
    </mat-expansion-panel-header>
    <div *ngIf="eObservations.length === 0; else eObservationsDataBlock">
        <no-data></no-data>
    </div>
    <ng-template #eObservationsDataBlock>
        <e-observation *ngFor="let eObs of eObservations" [eObs]="eObs">
        </e-observation>
    </ng-template>
</mat-expansion-panel>
<div *ngIf="eObservations.length > 0">
    <div class="information-message" *ngIf="!isOlderThan3Years">{{ 'EOBSERVATION.LIST.LEGEND.LESS_THAN_3_YEARS' | translate }}</div>
    <div class="information-message" *ngIf="isOlderThan3Years">{{ 'EOBSERVATION.LIST.LEGEND.MORE_THAN_3_YEARS' | translate }}</div>
</div>
