e-observations {
    mat-expansion-panel {
        border-radius: 5px;

        mat-expansion-panel-header {
            display: flex;
            background-color: color($colors, blue68);
            border-radius: 5px;
            color: color($colors, white);
            text-align: left;
            cursor: pointer;

            & > .mat-expansion-indicator {
                display: flex;
                transition: all linear 200ms;
            }

            &.mat-expansion-panel-header {
                padding: 6px 20px 6px 10px;
            }

            &.mat-expanded:hover,
            &.mat-expanded:focus {
                background-color: color($colors, blue68) !important;
            }

            .mat-content > label {
                font-size: 18px;
                color: color($colors, white);
            }

            .e-obs-date {
                width: 30%;
            }

            .e-obs-type {
                width: 30%;
            }

            .e-obs-writer {
                width: 40%;
            }
        }

        .mat-expansion-panel-body {
            padding: 0;
            margin: 0;

            e-observation:first-child > .e-observa tion {
                border-radius: 5px 5px 0 0;
            }

            e-observation:last-child > .e-observation {
                border-radius: 0 0 5px 5px;
            }
        }
    }
}
