<mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        <label class="e-obs-date">{{ "EOBSERVATION.LIST.HEADER.DATE" | translate }} </label>
        <label class="e-obs-type"> {{ "EOBSERVATION.LIST.HEADER.TYPE"| translate }} </label>
        <label class="e-obs-writer"> {{ "EOBSERVATION.LIST.HEADER.WRITER" | translate }} </label>
    </mat-expansion-panel-header>
    <div *ngIf="eObservations.length === 0; else eObservationsDataBlock">
        <no-data></no-data>
    </div>
    <ng-template #eObservationsDataBlock>
        <e-observation *ngFor="let eObs of eObservations" [eObs]="eObs">
        </e-observation>
    </ng-template>
</mat-expansion-panel>
