<ion-header>

    <ion-navbar>
        <ion-title>{{ 'GLOBAL.PNC_TEAM' | translate }}</ion-title>
        <connectivity-indicator></connectivity-indicator>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <form novalidate [formGroup]="searchForm">
        <ion-card class="pnc-search-card">
            <ion-card-header class="header-container" (click)="toggleFilter()">
                <ion-icon [name]="pncFilter.icone"></ion-icon>
            </ion-card-header>
            <ion-card-content no-padding [ngClass]="{'opened' : pncFilter.showFilter}">
                <ion-grid>
                    <span>
                    <!--ion-row>
                        <ion-col>
                            <ion-item>
                                <div>
                                    <mat-form-field>
                                        <input #pncMatricule type="text" matInput placeholder="{{'PNC_SEARCH.CRITERIA.PNC_MATRICULE' | translate}}" formControlName="pncMatriculeControl"
                                            (keyup)="search(pncMatricule.value)" [matAutocomplete]="auto" [(ngModel)]="selectedPnc" autocomplete="off" [disabled]="this.areFiltersDisabled()">
                                        <mat-hint *ngIf="pncMatriculeControl.touched && pncMatriculeControl.invalid" class="eDossier-error">
                                            <span *ngIf="pncMatriculeControl.hasError('minlength')">{{'MESSAGES.ERROR.MATRICULE_WRONG_SIZE' | translate}}</span>
                    <span *ngIf="pncMatriculeControl.hasError('maxlength')">{{'MESSAGES.ERROR.MATRICULE_WRONG_SIZE' | translate}}</span>
                    </mat-hint>
                    </mat-form-field>

                    <mat-autocomplete class="mat-autocomplete" #auto="matAutocomplete" [displayWith]="displayPnc" (optionSelected)="openPncHomePage($event.option.value)">
                        <mat-option *ngFor="let pnc of pncList | async" [value]="pnc">
                            {{ pnc.firstName + ' ' + pnc.lastName + ' (' + pnc.matricule + ')'}}
                        </mat-option>
                    </mat-autocomplete>
                    </div>
                    </ion-item>
                    </ion-col>
                    </ion-row-->
                    <ion-row>
                        <ion-col col-4>
                            <!-- Division -->
                            <ion-item>
                                <ion-label floating>{{ 'PNC_SEARCH.CRITERIA.DIVISION' | translate }}</ion-label>
                                <ion-select [(ngModel)]="pncFilter.division" [compareWith]="compareFn" formControlName="divisionControl" #division (ionChange)="getSectorList(division.value)" [disabled]="this.areFiltersDisabled()">
                                    <ion-option value="ALL">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate }}</ion-option>
                                    <ion-option *ngFor="let divisionKey of divisionList" [value]="divisionKey">{{divisionKey}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-4>
                            <!-- Secteur -->
                            <ion-item>
                                <ion-label floating>{{ 'PNC_SEARCH.CRITERIA.SECTOR' | translate }}</ion-label>
                                <ion-select [(ngModel)]="pncFilter.sector" [compareWith]="compareFn" formControlName="sectorControl" #sector (ionChange)="getGinqList(sector.value)" [disabled]="this.areFiltersDisabled()">
                                    <ion-option value="ALL">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate }}</ion-option>
                                    <ion-option *ngFor="let sectorKey of sectorList" [value]="sectorKey">{{sectorKey}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-4>
                            <!-- Ginq -->
                            <ion-item>
                                <ion-label floating>{{ 'PNC_SEARCH.CRITERIA.GINQ' | translate }}</ion-label>
                                <ion-select [(ngModel)]="pncFilter.ginq" [compareWith]="compareFn" formControlName="ginqControl" [disabled]="this.areFiltersDisabled()">
                                    <ion-option value="ALL">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate }}</ion-option>
                                    <ion-option *ngFor="let ginqKey of ginqList" [value]="ginqKey">{{ginqKey}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>
                            <!-- Grade -->
                            <ion-item>
                                <ion-label floating>{{ 'PNC_SEARCH.CRITERIA.SPECIALITY' | translate }}</ion-label>
                                <ion-select [(ngModel)]="pncFilter.speciality" [compareWith]="compareFn" formControlName="specialityControl" [disabled]="this.areFiltersDisabled()">
                                    <ion-option value="ALL">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate }}</ion-option>
                                    <ion-option *ngFor="let specialityKey of specialityList" [value]="specialityKey">{{specialityKey}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-4>
                            <!-- spécification machine -->
                            <ion-item>
                                <ion-label floating>{{ 'PNC_SEARCH.CRITERIA.AIRCRAFT_SKILL' | translate }}</ion-label>
                                <ion-select [(ngModel)]="pncFilter.aircraftSkill" [compareWith]="compareFn" formControlName="aircraftSkillControl" [disabled]="this.areFiltersDisabled()">
                                    <ion-option value="ALL">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_F' | translate }}</ion-option>
                                    <ion-option *ngFor="let aircraftSkillKey of aircraftSkillList" [value]="aircraftSkillKey">{{aircraftSkillKey}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-4>
                            <!-- Relais -->
                            <ion-item>
                                <ion-label floating>{{ 'PNC_SEARCH.CRITERIA.RELAY' | translate }}</ion-label>
                                <ion-select [(ngModel)]="pncFilter.relay" [compareWith]="compareFn" formControlName="relayControl" [disabled]="this.areFiltersDisabled()">
                                    <ion-option value="ALL">{{ 'PNC_SEARCH.DEFAULT_DATA.ALL_M' | translate }}</ion-option>
                                    <ion-option *ngFor="let relayKey of relayList" [value]="relayKey">{{relayKey}}</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    </span>
                    <ion-row class="label-inactive-filters">
                        <ion-col col-12 [ngClass]="inactiveFiltersLabelClass()">* Filtres inactifs hors connexion</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <button (click)="searchPncs()" class="search-pnc">
                              <ion-icon name="search"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </form>

    <ion-content class="filtered-pnc-list-container">
        <div *ngIf="searchInProgress" class="spinner-container">
            <ion-spinner class="loading-spinner"></ion-spinner>
        </div>
        <span *ngIf="!searchInProgress"><pnc-card *ngFor="let pnc of filteredPncs" [crewMember]="createCrewMemberObjectFromPnc(pnc)"></pnc-card></span>

    </ion-content>
</ion-content>
