<ion-header>
    <ion-navbar>
        <page-header>{{ 'GLOBAL.PNC_TEAM' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <pnc-search-filter (onSearch)="searchPncs()"></pnc-search-filter>

    <ion-scroll class="filtered-pnc-list-container">
        <edossier-spinner *ngIf="searchInProgress"></edossier-spinner>

        <span *ngIf="!searchInProgress">
            <div *ngIf="filteredPncs && filteredPncs.length == 0" class="no-data-found">
                {{ 'PNC_SEARCH.NO_PNC_FOUND' | translate }}
            </div>
            <pnc-card *ngFor="let pnc of filteredPncs" [crewMember]="createCrewMemberObjectFromPnc(pnc)" (click)="openPncHomePage(pnc)"></pnc-card>
        </span>

        <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite($event))">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-scroll>
</ion-content>
