page-pnc-search {
    .pnc-search-content {
        background: color($colors, grey90);
        height: 100%;
        padding: $page-padding;
        padding-top: $navbar-height; // taille de la barre de navigation
        display: flex;
        flex-direction: column;

        .filtered-pnc-list-container {
            flex: 1;
        }
    }

}