page-help-asset-list {

    .spinner-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;

        ion-spinner * {
            width: 80px;
            height: 80px !important;
        }
    }

    ion-icon {
        font-size: 3em;
    }

    ion-thumbnail {
        font-size: 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ion-item:hover {
        cursor: pointer;
        background-color: color($colors, primary);
        color: color($colors, white);
    }

    .no-help-asset {
        text-align: center;
        font-size: 1.5em;
        margin-top: 100px;
        color: color($colors, grey50);
    }
}
