page-help-asset-list {

    .item-md ion-thumbnail[item-left],
    .item-md ion-thumbnail[item-start] {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    ion-icon {
        font-size: 3em;
    }

    ion-item:hover {
        cursor: pointer;
        background-color: color($colors, primary);
        color: color($colors, white);
    }

    .no-help-assets {
        text-align: center;
        font-size: 1.5em;
        margin-top: 100px;
        color: color($colors, grey50);
    }
}
