<ion-header>

    <ion-navbar>
        <ion-title>{{'HELP_ASSET_LIST.TITLE' | translate}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <div *ngIf="resources">
            <ion-item *ngFor="let resource of resources" (click)="openTab(resource.linkFile)">
                <ion-thumbnail item-start>
                    <ion-icon name="document"></ion-icon>
                </ion-thumbnail>
                <h2>{{resource.nom}}</h2>
                {{resource.lastUpdate | date: 'dd/MM/yyyy HH:MM'}}
            </ion-item>
        </div>
    </ion-list>

</ion-content>
