.scroll-content {
    padding-top: 40px !important;
}

.app-version-block {
    margin-bottom: 10px;
}

.app-version-block h3 {
    color: var(--ion-color-primarylight);
}

h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-version {
    width: 300px;

    ion-icon {
        margin-right: 10px;
    }

    label {
        color: var(--ion-color-white);
    }
}
