<no-data *ngIf="!hasEscoreToDisplay(); else chartBlock"></no-data>
<ng-template #chartBlock>
    <legend [class.mobile]="isMobile()">
        <img src="assets/imgs/business-indicators/smiley-note-100.svg">
        <img src="assets/imgs/business-indicators/smiley-note-75.svg">
        <img src="assets/imgs/business-indicators/smiley-note-50.svg">
        <img src="assets/imgs/business-indicators/smiley-note-25.svg">
        <img src="assets/imgs/business-indicators/smiley-note-0.svg">
    </legend>
    <div class="chart-container" *ngIf="currentOrientation != '' else test">
        <ngx-charts-bar-horizontal (select)="detectOrientation()" [results]="data" [customColors]="getBarColor" [xAxis]="true" [yAxis]="true" [showDataLabel]="true" [showXAxisLabel]="true" [xAxisLabel]="xAxisLabel" [xAxisTickFormatting]="formatXAxisTick">
        </ngx-charts-bar-horizontal>
    </div>
    <ng-template #test>
        <div class="chart-container">
            <ngx-charts-bar-horizontal (select)="detectOrientation()" [results]="data" [customColors]="getBarColor" [xAxis]="true" [yAxis]="true" [showDataLabel]="true" [showXAxisLabel]="true" [xAxisLabel]="xAxisLabel" [xAxisTickFormatting]="formatXAxisTick">
            </ngx-charts-bar-horizontal>
        </div>
    </ng-template>
</ng-template>
