:host {
    display: flex;

    legend {
        display: flex;
        flex-direction: column;
        padding-top: 6px;

        img {
            width: 25px;
            height: 25px;
            margin: 6px 5px 6px 16px;
        }
    }

    .chart-container {
        height: 250px;
        width: calc(100% - 30px);

        ::ng-deep ngx-charts-bar-horizontal {
            .textDataLabel {
                font-size: 1.3em;
            }
        }
    }

}
