.draw-ligne {
    margin: 22px 10px;
    border-top: 1px solid var(--ion-color-grey70);
    flex: 5;
}

.hr-document-card {
    padding: 10px 20px;
    display: flex;

    pnc-photo {
        margin: 10px 20px;
    }

    .hr-document-info-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .hr-document-top-container {
            display: flex;
            justify-content: space-between;

            .redactor {
                padding: 10px 0px;
                color: var(--ion-color-grey50);
            }

            .category-label {
                padding: 10px 0px;

                span {
                    height: 30px;
                    background-color: var(--ion-color-grey70);
                    border-radius: 4px;
                    padding: 5px 10px;
                    font-weight: normal;
                    white-space: nowrap;
                }
            }
        }

        .title {
            margin: 6px 0px;

            span {
                font-size: 1.2em;
                color: var(--ion-color-blue70);
            }
        }

        .hr-document-button-bar {
            width: 100%;

            button {
                height: 50px;
                font-size: 14px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.29;
                letter-spacing: 0.7px;
                text-align: center;
                background-color: transparent;
                color: var(--ion-color-grey10);
                box-shadow: none;
            }
        }
    }
}
