<ion-card>
    <div class="hr-document-card">
        <pnc-photo [pnc]="hrDocument.redactor" [size]="50"></pnc-photo>
        <div class="hr-document-info-container">
            <div class="hr-document-top-container">
                <div class="redactor">
                    {{ 'HR_DOCUMENT.DETAILS.CREATED_BY_THE' | translate:{lastName:hrDocument.redactor?.lastName,
                    firstName:hrDocument.redactor?.firstName, creationDate:hrDocument.creationDate | date:'dd/MM/yyyy'}
                    }}
                </div>
                <div class="category-label">
                    <span>{{ hrDocument.category?.label }}</span>
                </div>
            </div>
            <div class="title">
                <span class="value">{{ hrDocument.title }}</span>
            </div>
            <div *ngIf="hrDocument.content">
                <text-editor [mode]="TextEditorModeEnum.READ_ONLY" [ngModel]="hrDocument.content"></text-editor>
            </div>
            <document-manager [documents]="hrDocument.attachmentFiles" [readonly]="true"></document-manager>
            <div class="information-message" *ngIf="showInformationMessage()">
                {{ 'HR_DOCUMENT.DETAILS.EDITED_BY' | translate:{lastName:hrDocument.lastUpdateAuthor.lastName, firstName:hrDocument.lastUpdateAuthor.firstName,
                                    date:getLastUpdateDate()} }}
            </div>
            <div *ngIf="isManager()">
                <div class="hr-document-button-bar button-bar button-bar-right ">
                    <!-- Bouton supprimer -->
                    <div *hasPermission="'DELETE_HR_DOCUMENT'">
                        <button ion-button color="primary" (click)="confirmDeleteDocument()">
                            <ion-icon name="ios-trash-outline" ios="ios-trash-outline" margin-right></ion-icon>{{ 'LOGBOOK.BUTTONS.DELETE' |
                            translate }}
                        </button>
                    </div>
                    <!-- Bouton modifier -->
                    <button ion-button color="primary" (click)="editHrDocument()">
                        {{ 'HR_DOCUMENT.BUTTONS.MODIFY' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</ion-card>
