<ion-header>
    <ion-toolbar>
        <page-header [showSettingsIcon]="false">
            <span> {{ 'ADMIN.USER_MESSAGE_MANAGEMENT.TITLE' | translate }}</span>
        </page-header>
    </ion-toolbar>
    <tab-header [mode]="TabHeaderModeEnum.ADMIN" [activeTab]="TabHeaderEnum.USER_MESSAGE_MANAGEMENT_PAGE"></tab-header>
</ion-header>

<ion-content>
    <div class="page-container">
        <edossier-spinner *ngIf="!isLoadingOver(); else pageBlock"></edossier-spinner>
        <ng-template #pageBlock>
            <ion-grid>
                <ion-row>
                    <ion-col size="4">
                        <ion-list>
                            <ion-item button="true" *ngFor="let userMessage of userMessages"
                                (click)="editUserMessage(userMessage)">
                                <div class="flex column">
                                    <ion-label class="user-message-label">{{ userMessage.label }}</ion-label>
                                    <span
                                        class="user-message-last-update">{{ userMessage.lastUpdateDate | date:'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                    <ion-col size="8">
                        <div *ngIf="!selectedUserMessage; else editUserMessageBlock" class="no-data-found">
                            {{ 'ADMIN.USER_MESSAGE_MANAGEMENT.NO_USER_MESSAGE_SELECTED' | translate }}</div>
                        <ng-template #editUserMessageBlock>
                            <form #form="ngForm" [formGroup]="userMessageForm">
                                <ion-item>
                                    <ion-label position="floating">
                                        {{ 'ADMIN.USER_MESSAGE_MANAGEMENT.LABELS.TITLE' | translate }}
                                    </ion-label>
                                    <ion-input formControlName="title" [(ngModel)]="selectedUserMessage.title"
                                        type="text" maxlength="255"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <text-editor class="text-editor" [mode]="TextEditorModeEnum.FULL"
                                        [(ngModel)]="selectedUserMessage.content" [ngModelOptions]="{standalone: true}"
                                        [placeholder]="'ADMIN.USER_MESSAGE_MANAGEMENT.LABELS.CONTENT' | translate"
                                        [parentForm]="userMessageForm" [controlForm]="'content'"></text-editor>
                                </ion-item>
                                <ion-item>
                                    <ion-label>{{ 'ADMIN.USER_MESSAGE_MANAGEMENT.LABELS.ACTIVE' | translate }}
                                    </ion-label>
                                    <ion-checkbox formControlName="active" [(ngModel)]="selectedUserMessage.active"
                                        [checked]="selectedUserMessage.active"></ion-checkbox>
                                </ion-item>
                                <ion-button color="primary" (click)="updateUserMessage()"
                                    [disabled]="userMessageForm.invalid">
                                    <ion-icon name="md-create" ios="md-create"></ion-icon>
                                    {{ 'ADMIN.USER_MESSAGE_MANAGEMENT.BUTTONS.UPDATE' | translate }}
                                </ion-button>
                                <ion-button color="orange55" (click)="displayOverview()">
                                    <ion-icon ios="ios-search" md="md-search" class="ion-margin-end"></ion-icon>
                                    {{ 'ADMIN.USER_MESSAGE_MANAGEMENT.BUTTONS.OVERVIEW' | translate }}
                                </ion-button>
                            </form>
                        </ng-template>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ng-template>
    </div>
</ion-content>