page-user-message-management {

    .user-message-label {
        font-size: 1.1em;
        margin-bottom: 5px;
        display: block;
    }

    .active {
        background: #ededed;
    }

    ion-textarea {
        min-height: 210px !important;
        padding: 0 !important;
        margin: 0 !important;

        textarea {
            min-height: 190px !important;
            padding: 5px !important;
        }
    }

    ion-col:first-child {
        border-right: 2px solid #d5d9de;
    }

    ion-icon[name=md-create] {
        margin-right: 10px;
    }
}
