.user-message-label {
    font-size: 1.1em;
    margin-bottom: 5px;
    display: block;
}

ion-col:first-child {
    border-right: 2px solid var(--ion-color-grey70);
}

ion-icon[name=md-create] {
    margin-right: 10px;
}

.label-md {
    margin-right: 0px;
}

.text-editor {
    width: 100%;
}