<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true">
            {{ 'STATUTORY_CERTIFICATE.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div margin-top>
            <h3 class="ss-title">{{ 'STATUTORY_CERTIFICATE.TITLE' | translate }}</h3>
            <div class="fonction-informations">
                <span [ngClass]="{'no-value' : !pncSpeciality }">
                    {{ pncSpeciality }}
                </span>
                <span *ngIf="statutoryCertificate">
                    <span *ngFor="let aircraftSkill of statutoryCertificate.aircraftSkills | reverse" class="plane-qualif">
                        {{ aircraftSkill }}
                    </span>
                </span>
            </div>
        </div>
        <mat-accordion [multi]=true>
            <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    {{ 'STATUTORY_CERTIFICATE.CATEGORIES.GENERALITY_SKILLS' | translate }}
                </mat-expansion-panel-header>
                <generality-skills [generalitySkillsData]="statutoryCertificate?.generalitySkills"></generality-skills>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    {{ 'STATUTORY_CERTIFICATE.CATEGORIES.PLANE_SKILLS' | translate }}
                </mat-expansion-panel-header>
                <plane-skills [planeSkillsData]="statutoryCertificate?.planeSkills"></plane-skills>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    {{ 'STATUTORY_CERTIFICATE.CATEGORIES.FAMILIARIZATION_FLIGHT' | translate }}
                </mat-expansion-panel-header>
                <familiarization-flight [familiarizationFlightData]="statutoryCertificate?.familiarizationFlights"></familiarization-flight>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="statutoryCertificate?.annualElearning">
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    {{ 'STATUTORY_CERTIFICATE.CATEGORIES.ANNUAL_ELEARNING' | translate }}
                </mat-expansion-panel-header>
                This the expansion 4 content
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    {{ 'STATUTORY_CERTIFICATE.CATEGORIES.MASTERING_QUALIFICATION' | translate }}
                </mat-expansion-panel-header>
                <mastering-qualification [masteringQualificationData]="statutoryCertificate?.masteringQualification"></mastering-qualification>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header [expandedHeight]="'48px'">
                    {{ 'STATUTORY_CERTIFICATE.CATEGORIES.VAM' | translate }}
                </mat-expansion-panel-header>
                <statutory-certificate-vam [vamData]="statutoryCertificate?.vam"></statutory-certificate-vam>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-template>
</ion-content>
