<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [showRefreshIcon]="false">
            {{ 'STATUTORY_CERTIFICATE.TITLE' | translate }}
        </page-header>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div margin-top>
        <div class="fonction-informations">
            <span [ngClass]="{'no-value' : !pnc?.speciality }">
                {{ pnc?.speciality }}
            </span>
            <span *ngFor="let qualif of planeQualif | reverse" class="plane-qualif">
                {{qualif}}
            </span>
        </div>
    </div>
    <mat-accordion [multi]=true>
        <mat-expansion-panel  *ngIf="statutoryCertificate?.generalitySkills">
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                {{ 'STATUTORY_CERTIFICATE.CATEGORIES.GENERALITY_SKILLS' | translate }}
            </mat-expansion-panel-header>      
            <generality-skills *ngIf="statutoryCertificate" [generalitySkillsData]="statutoryCertificate.generalitySkills"></generality-skills>
        </mat-expansion-panel>
      
        <mat-expansion-panel  *ngIf="statutoryCertificate?.planeSkills">
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                {{ 'STATUTORY_CERTIFICATE.CATEGORIES.PLANE_SKILLS' | translate }}
            </mat-expansion-panel-header>      
            <plane-skills *ngIf="statutoryCertificate" [planeSkillsData]="statutoryCertificate.planeSkills"></plane-skills>    
        </mat-expansion-panel>

        <mat-expansion-panel  *ngIf="statutoryCertificate?.familiarizationFlights">
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                {{ 'STATUTORY_CERTIFICATE.CATEGORIES.FAMILIARIZATION_FLIGHT' | translate }}
            </mat-expansion-panel-header>      
            This the expansion 3 content      
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="statutoryCertificate?.annualElearning">
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                {{ 'STATUTORY_CERTIFICATE.CATEGORIES.ANNUAL_ELEARNING' | translate }}
            </mat-expansion-panel-header>      
            This the expansion 4 content      
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="statutoryCertificate?.masteringQualification">
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                {{ 'STATUTORY_CERTIFICATE.CATEGORIES.MASTERING_QUALIFICATION' | translate }}
            </mat-expansion-panel-header>      
            This the expansion 5 content      
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="statutoryCertificate?.vam">
            <mat-expansion-panel-header [expandedHeight]="'48px'">
                {{ 'STATUTORY_CERTIFICATE.CATEGORIES.VAM' | translate }}
            </mat-expansion-panel-header>      
            <statutory-certificate-vam [vam]="statutoryCertificate?.vam"></statutory-certificate-vam>      
        </mat-expansion-panel>

    </mat-accordion>
</ion-content>
