form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .app-version-container {
        display: flex;
        flex: 1;

        ion-scroll > .scroll-content {
            padding: 0 !important;
        }

        .app-version-form {
            flex: 3;

            .version-number {
                .item-inner {
                    border-bottom: none;
                }
            }

            ion-textarea {
                min-height: 210px !important;
                padding: 0 !important;
                margin: 0 !important;

                textarea {
                    min-height: 190px !important;
                    padding: 5px !important;
                }
            }

            .ion-textarea-read-only {
                background-color: var(--ion-color-grey95);
            }

            .details {
                margin-top: 10px;
            }
        }

        .label-md {
            margin: 0;
        }
    }
}
