<ion-header>
    <ion-navbar>
        <ion-title>
            <div class="leg" *ngIf="leg">
                <div class="flight-number">
                    <ion-icon name="plane" class="round-icon"></ion-icon>
                    <span class="value">{{ leg.company }}{{ leg.number }}</span>
                </div>
                <span class="value">{{ leg.departureDate | date : 'dd/MM/yyyy HH:mm' }}</span>
                <span class="value">{{ leg.departureStation }} - {{ leg.arrivalStation }}</span>
            </div>
        </ion-title>
        <connectivity-indicator></connectivity-indicator>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <div class="flight-crew-list-container">
            <pnc-card *ngFor="let crewMember of flightCrewList" (click)="openPncHomePage(crewMember.pnc.matricule)" [itemMember]="crewMember"
                [isCrewMember]="true"></pnc-card>
            <pnc-card *ngIf="connectedCrewMember" [itemMember]="connectedCrewMember" [isCrewMember]="true" [disabled]="true"></pnc-card>
        </div>
    </ng-template>
</ion-content>