page-flight-crew-list {

    .leg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 1.5em;

        ion-icon {
            color: color($colors, primary);
        }
    }
}
