page-flight-crew-list {

    .flight-crew-card {

        img {
            width: 70px;
        }

        .content {
            display: flex;
            flex-direction: column;

            ion-row {
                flex: 1;
            }

            .primary-info {
                font-size: 1.0em;
            }

            .primary-value {
                margin-left: 10px;
            }

            .pnc-info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }


        }
    }

    .go-to-edossier {
        margin-right: 10px;
        display: flex;

        button {
            margin-top: 43px;
        }
    }

    #nav-tile-grid {

        button {
            height: 300px;
            width: 100%;
            margin: 0;
            font-size: 1.5em;
        }

        .development-program {
            background: color($colors, development-program);
        }
    }

}
