page-flight-crew-list {
    .flight-crew-card {

        img {
            width: 80px;
            border-radius: 100%;
        }
    }

    .spinner-container {
        margin-top: 100px;
        display: flex;
        justify-content: center;

        ion-spinner * {
            width: 80px;
            height: 80px !important;
        }
    }

    .leg {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: 1.5em;

        ion-icon {
            color: color($colors, primary);
        }
    }
}
