<ion-header>
    <ion-navbar>
        <ion-title>{{ 'GLOBAL.CREW_MEMBERS' | translate }}</ion-title>
        <connectivity-indicator></connectivity-indicator>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card color="primary">
        <ion-card-content>
            <div class="leg">
                <ion-icon name="plane" class="round-icon"></ion-icon>
                <span class="value">{{ leg?.company }}{{ leg?.number }}</span>
                <span class="value">{{ leg?.departureDate | date : 'dd/MM/yyyy HH:mm' }}</span>
                <span class="value">{{ leg?.departureStation }} - {{ leg?.arrivalStation }}</span>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-content class="flight-crew-list-container">
        <div *ngIf="!flightCrewList" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div>
        <pnc-card *ngFor="let crewMember of flightCrewList" [crewMember]="crewMember" [isCrewMember]="true"></pnc-card>
    </ion-content>
</ion-content>
