professional-level-stage {
    mat-expansion-panel {
        border-radius: 5px;

        mat-expansion-panel-header {
            display: flex;
            background-color: color($colors, bluegrey);
            border-radius: 5px;
            color: color($colors, white);
            cursor: pointer;

            & > .mat-expansion-indicator {
                display: flex;
                transition: all linear 200ms;
            }

            &.mat-expansion-panel-header {
                padding: 6px 20px 6px 10px;
            }

            &.mat-expanded:hover,
            &.mat-expanded:focus {
                background-color: color($colors, bluegrey) !important;
            }

            .mat-content > label {
                font-size: 18px;
                color: color($colors, white);
            }

            .stage-date {
                width: 120px;
            }

            .stage-code {
                width: 90px;
            }

            .stage-label {
                flex: 1;
            }

            .stage-result {
                width: 200px;
            }
        }

        .mat-expansion-panel-body {
            padding: 0;
            margin: 0;

            module-card:not(:last-child) > .module-card {
                border-bottom: 1px solid color($colors, grey70);
            }

            module-card:last-child > .module-card {
                border-radius: 0 0 5px 5px;
            }

            module-card:nth-child(odd) > .module-card {
                background: color($colors, grey95);
            }
        }
    }

}
