<mat-expansion-panel *ngFor="let stage of _stages">
    <mat-expansion-panel-header [expandedHeight]="matPanelHeaderHeight" [collapsedHeight]="matPanelHeaderHeight" hideToggle="true">
        <label class="stage-date">{{ stage.date | date: 'dd/MM/yyyy' }} </label>
        <label class="stage-code"> {{ stage.code }} </label>
        <label class="stage-label"> {{ stage.label }} </label>
        <label class="stage-result"></label>
    </mat-expansion-panel-header>
    <div *ngIf="stage.modules === null  || stage.modules.length === 0; else professionalLevelDataBlock">
        <no-data></no-data>
    </div>
    <ng-template #professionalLevelDataBlock>
        <module-card *ngFor="let module of stage.modules" [module]="module" [matricule]="stage?.matricule"></module-card>
    </ng-template>
</mat-expansion-panel>
