@import '../../../../../theme/colors.scss';

::ng-deep mat-expansion-panel {
    margin-bottom: 5px !important;
    border-radius: 5px;

    mat-expansion-panel-header {
        display: flex;
        background-color: var(--ion-color-bluegrey10);
        border-radius: 5px;
        color: var(--ion-color-white);
        cursor: pointer;
        padding: 5px 0;

        &>.mat-expansion-indicator {
            display: flex;
            transition: all linear 200ms;
        }

        &.professional-level-stage {
            padding: 6px 20px 6px 10px;
        }

        &.mat-expanded {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &.mat-expanded:hover,
        &.mat-expanded:focus {
            background-color: var(--ion-color-bluegrey10) !important;
        }

        .mat-content>label {
            font-size: 18px;
            color: var(--ion-color-white) !important;
            display: flex;
            align-items: center;
        }

        .stage-date {
            width: 120px;
        }

        .stage-code {
            width: 90px;
            overflow: hidden;
            padding-right: 15px;
        }

        .stage-label {
            flex: 1;
        }

        .stage-result {
            width: 163px;
            display: flex;
            align-items: center;
        }
    }

    .mat-expansion-panel-body {
        padding: 0;
        margin: 0;

        module-card:not(:last-child)>.module-card {
            border-bottom: 1px solid var(--ion-color-grey70);
        }

        module-card:last-child>.module-card {
            border-radius: 0 0 5px 5px;
        }

        module-card:nth-child(odd)>.module-card {
            background: color($colors-secondary, grey95);
        }
    }
}