professional-level-stage {

    .mat-expansion-panel {
        padding-left: 0px;
        margin-bottom: 5px;
        margin-top: 0px;
        border-radius: 5px;
        padding-left: 0px;
        height:auto;

        .card-content-md {
            padding: 0px;
        }

        .grid {
            padding: 0px;         
        }
    }

    mat-expansion-panel-header {
        background-color: color($colors, bluegrey);
        color: color($colors, white);
        font-weight: bolder !important;
        font-size: 18px !important;
        border-radius: 5px;
        height: auto;

        &.mat-expanded:hover,
        &.mat-expanded:focus {
            background-color: color($colors, bluegrey) !important;
            height: auto;
        }
    }

    .mat-expansion-panel-header {
        height: auto;
        padding: 0px 10px 0px 0px;
    }

    .mat-expansion-panel-body {

        padding: 0px;
        padding-left: 0px;
        ion-card.card-md,
        ion-card.card-ios,
        ion-card-content.card-content-ios {
            margin: 0px;
            width: 100%;
            margin-bottom: 10px;
            padding: 0px 18px 0px 0px;
        }
    }
    .col {
        padding : 5px 5px 5px 5px;
    }
    .border-col {
        border-right: 1px solid color($colors, bluegrey2);
    }

    .important-label {
        font-weight: bold;
    }

    .very-important-label {
        font-weight: bold;
        text-decoration: underline;
    }

    
    .normal-label {
        font-weight: lighter;
        font-size: 14px !important;
    }

    $colorPointSize: 12px;

    @mixin makeColorPoint($className, $pointColor) {
        .#{$className} {
            display: inline-block;
            height: $colorPointSize;
            width: $colorPointSize;
            line-height: $colorPointSize;
            text-align: center;
            font-size: 0.1em;
            border-radius: $colorPointSize;
            color: #fff;
            background:color($colors, #{$pointColor});
            position: relative;
            right: 8px;
            padding-left: 5px;
        }
    }

    @include makeColorPoint('red-point', 'tertiary');
    @include makeColorPoint('orange-point', 'orange50');
    @include makeColorPoint('yellow-point', 'yellow1');
    @include makeColorPoint('green-point', 'green70');
}
