:host {
    background-color: var(--ion-color-white);
    display: inline-block;
    text-align: justify;
    width: 100%;

    div {
        padding: 10px;
        display: flex;
        align-items: center;
    }

}