<ul class="link-list">
    <li (click)="goToLink(eformsWrittenUrl)" class="clickable">
        <ion-thumbnail>
            <ion-icon name="link"></ion-icon>
        </ion-thumbnail>
        <div class="content">
            <h4>{{'REDACTIONS.EFORMS_WRITTEN' | translate }}</h4>
        </div>
    </li>
    <li (click)="goToLink(cabinReportsWrittenUrl)" class="clickable">
        <ion-thumbnail>
            <ion-icon name="link"></ion-icon>
        </ion-thumbnail>
        <div class="content">
            <h4>{{'REDACTIONS.CABIN_REPORTS_WRITTEN' | translate }}</h4>
        </div>
    </li>
</ul>
