<span class="flight">{{ 'CONGRATULATION_LETTERS.VALUE.FLIGHT' | translate:{airline:congratulationLetter.flight.airline, flightNumber:congratulationLetter.flight.number, flightDate:getFormatedFlightDate(congratulationLetter.flight)} }}</span>
<span class="type">
    <ng-container *ngIf="congratulationLetter.collective; else individualLabel">{{ 'CONGRATULATION_LETTERS.TYPE.COLLECTIVE' | translate }}</ng-container>
    <ng-template #individualLabel>{{ 'CONGRATULATION_LETTERS.TYPE.INDIVIDUAL' | translate }}</ng-template>
</span>
<span class="redactor" *ngIf="isMode(CongratulationLetterModeEnum.RECEIVED)"><span class="last-name">{{ congratulationLetter.redactor.lastName }}</span> <span class="first-name">{{ congratulationLetter.redactor.firstName }}</span> <span class="current-speciality">({{ congratulationLetter.redactorSpeciality }})</span></span>
<button ion-fab class="detail-button" color="white" (click)="goToCongratulationLetterDetail(congratulationLetter)">
    <span class="edospnc-memo"></span>
</button>

<span class="actions" *ngIf="isManager()">
    <div class="clickable" (click)="openActionsMenu($event, congratulationLetter)">
        <ion-icon ios="md-more" md="md-more">
        </ion-icon>
    </div>
</span>
