<div class="congratulation-letter elevation-1">
    <span class="flight suffix-tu">{{ 'CONGRATULATION_LETTERS.VALUE.FLIGHT' | translate:{airline:congratulationLetter.flight.airline, flightNumber:congratulationLetter.flight.number, flightDate:getFormatedFlightDate(congratulationLetter.flight)} }}</span>
    <span class="type">
        <ng-container *ngIf="congratulationLetter.collective; else individualLabel">{{ 'CONGRATULATION_LETTERS.TYPE.COLLECTIVE' | translate }}</ng-container>
        <ng-template #individualLabel>{{ 'CONGRATULATION_LETTERS.TYPE.INDIVIDUAL' | translate }}</ng-template>
        <ion-icon class="attach-icon" name="attach" *ngIf="congratulationLetter.documents.length > 0"></ion-icon>
    </span>
    <span class="redactor" *ngIf="isMode(CongratulationLetterModeEnum.RECEIVED)">
        <ng-container *ngIf="congratulationLetter.redactorType === CongratulationLetterRedactorTypeEnum.PNC; else notPncRedactorBlock">
            <span class="last-name">{{ congratulationLetter.redactor?.lastName }}</span> <span class="first-name">{{ congratulationLetter.redactor?.firstName }}</span> <span class="current-speciality">({{ congratulationLetter.redactorSpeciality }})</span>
        </ng-container>
        <ng-template #notPncRedactorBlock>
            {{ 'CONGRATULATION_LETTER_CREATE.FORM.REDACTOR.' + congratulationLetter.redactorType | translate }}
        </ng-template>
    </span>
    <span class="user-actions">
        <button ion-fab class="detail-button" (click)="goToCongratulationLetterDetail(congratulationLetter)">
            <span class="edospnc-memo"></span>
        </button>
        <button ion-fab class="actions-button" (click)="openActionsMenu($event, congratulationLetter, matricule)" *ngIf="isManager() && isConnected()">
            <ion-icon ios="md-more" md="md-more"></ion-icon>
        </button>
    </span>
</div>
