<span class="creation-date">{{ congratulationLetter.creationDate | date:'dd/MM/yyyy' }}</span>
<span class="flight">{{ congratulationLetter.flight.airline }}{{ congratulationLetter.flight.number }}</span>
<span class="type">
    <ng-container *ngIf="congratulationLetter.collective; else individualLabel">{{ 'CONGRATULATION_LETTERS.TYPE.COLLECTIVE' | translate }}</ng-container>
    <ng-template #individualLabel>{{ 'CONGRATULATION_LETTERS.TYPE.INDIVIDUAL' | translate }}</ng-template>
</span>
<span class="redactor" *ngIf="isMode(CongratulationLetterModeEnum.RECEIVED)"><span class="lastname">{{ congratulationLetter.redactor.lastName }}</span> <span class="firstname">{{ congratulationLetter.redactor.firstName }}</span> <span class="currentspeciality">({{ congratulationLetter.redactorSpeciality }})</span></span>
<button ion-fab class="detail-button" color="white" (click)="goToCongratulationLetterDetail(congratulationLetter)">
    <span class="edospnc-memo"></span>
</button>
