congratulation-letter-card {

    .congratulation-letter {
        display: flex;
        align-items: center;
        background: color($colors, white);
        color: color($colors, primary-light);
        margin-bottom: 5px;
        height: 40px;
        padding: 5px 10px;
        border-radius: 5px;

        .flight {
            flex: 1;
        }

        .type {
            flex: 1;
        }

        .redactor {
            flex: 2;
        }

        .actions {
            width: 30px;
            text-align: center;
        }

        button.detail-button {
            background: color($colors, primary-light);
            color: color($colors, white);
            width: 30px;
            height: 30px;
            box-shadow: none;

            span:before {
                font-size: 20px;
            }
        }
    }
}
