@import '../../../../../theme/colors.scss';

.congratulation-letter {
    display: flex;
    align-items: center;
    background: var(--ion-color-white);
    color: var(--ion-color-primarylight);
    margin-bottom: 5px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;

    .flight {
        flex: 1;
    }

    .type {
        flex: 1;
        display: flex;
        align-items: center;

        .attach-icon {
            margin-left: 10px;
            font-size: 1.8em;
        }
    }

    .redactor {
        flex: 2;
    }


    .user-actions {
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &>* {
            margin-left: 10px;
        }

        ion-fab-button {
            --box-shadow: none;
        }

        .detail-button {
            width: 30px;
            height: 30px;

            span:before {
                font-size: 20px;
            }
        }

        .actions-button {
            width: 30px;
            height: 30px;

            ion-icon {
                font-size: 2em;
            }
        }

    }
}