career-objective {

    .career-objective-card {
        background-color: #5BC7A9;
        display: flex;
        border-radius: 5px !important;
        color: color($colors, white);
        text-align: left;
        cursor: pointer;
        margin: 5px 0px;
        width: 100%;


        ion-card-content {
            width: 100%;
            padding-left: 5px;
            display: flex;
            height: 40px;

            span {
                display: flex;
                align-items: center;
            }

            .value {
                font-size: 1.2em !important;
                font-weight: 400;
            }

            .career-objective-date {
                min-width: 120px;
            }

            .career-objective-label {
                flex: 1;
            }

            .career-objective-icone {
                min-width: 110px;
                display: flex;
                justify-content: flex-end;
                padding: 3px 10px;

                span:not(:last-child) {
                    margin-right: 5px;
                }

                .edospnc-flag:before,
                .edospnc-pnc:before {
                    background: color($colors, white);
                    border-radius: 100%;
                    border-style: solid;
                    font-size: 30px;
                }

                .edospnc-flag:before {
                    color: #D6457C;
                    border-color: #D6457C;
                }

                .edospnc-pnc:before {
                    color: #5f9aaa;
                    border-color: #5f9aaa;
                }
            }

            .career-objective-status {
                min-width: 120px;
                display: flex;
            }
        }
    }

}
