h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 16px 0;
    color: var(--ion-color-secondary);
}

h3 {
    color: var(--ion-color-secondary);
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid var(--ion-color-grey70);
    font-size: 1em;
}

.reinit-button {
    width: 100%;
    margin: 10px 0;
}

::ng-deep .mat-select-panel {
    max-height: none !important;
}
