h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
    margin: 0;
    padding: 16px 0;
    color: var(--ion-color-secondary);

    .reinit-button {
        --box-shadow: none;

        ion-label {
            color: var(--ion-color-primary);
        }
    }
}

.filter-container {
    margin-bottom: 16px;
}

.filter-dual {
    display: flex;
    justify-content: space-between;
}

::ng-deep .mat-select-panel {
    max-height: none !important;
}

::ng-deep edospnc-datetime {
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;

        ion-datetime.input-like {
            margin-top: 0;
            width: 130px;
        }
    }
}

.archived-filter {
    ion-label {
        margin-left: 10px;
        flex: 1;
        display: flex;
        justify-content: space-between;

        .item-count {
            font-weight: bold;
        }
    }
}

ion-item {
    --padding-start: 0;
    border-top: 1px solid var(--ion-color-grey72);

    ion-checkbox {
        margin-left: 10px;
    }
}

.form-error {
    color: var(--ion-color-secondary);
}
