h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 16px 0;
    color: var(--ion-color-secondary);
}

.filter {
    margin-bottom: 10px;
}

.filter-dual {
    display: flex;
    justify-content: space-between;
}

.reinit-button {
    width: 100%;
    margin: 10px 0;

    ion-label {
        margin-left: 10px;
    }
}

::ng-deep .mat-select-panel {
    max-height: none !important;
}

::ng-deep edospnc-datetime {
    ion-item {
        --padding-start: 0;
        --inner-padding-end: 0;

        ion-datetime.input-like {
            margin-top: 0;
            width: 110px;
        }
    }
}

.date-filter {
    margin-top: 24px;
}

.archived-filter {
    ion-label {
        margin-left: 10px;
    }
}

ion-item {
    --padding-start: 0;
}
