<ion-header>
    <ion-navbar>
        <page-header (refreshPage)="initPage()">
            <ng-container>{{ 'PNC_HOME.MY_TITLE' | translate }}</ng-container>
        </page-header>
    </ion-navbar>
    <pnc-edossier-header></pnc-edossier-header>
</ion-header>

<ion-content padding no-bounce>
    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <ion-grid>
            <ion-row id="nav-tile-grid" *ngIf="pnc">
                <ion-col>
                    <!--  Niveau professionnel -->
                    <div class="button-parent" *hasPermission="'VIEW_PROFESSIONAL_LEVEL'">
                        <button (click)="goToProfessionalLevel()" class="professional-level">
                            {{ 'GLOBAL.PROFESSIONAL_LEVEL' | translate }}
                        </button>
                    </div>
                    <!--  Attestation réglementaire -->
                    <div class="button-parent" *hasPermission="'VIEW_STATUTORY_CERTIFICATE'">
                        <button (click)="goToStatutoryCertificate()" class="statutory-certificate">
                            {{ 'GLOBAL.STATUTORY_CERTIFICATE' | translate }}
                        </button>
                    </div>
                    <!--  Lettres de félicitation -->
                    <div class="button-parent">
                        <button (click)="goToCongratulationLetters()" class="congratulation-letters">
                            {{ 'GLOBAL.CONGRATULATION_LETTERS' | translate }}
                        </button>
                    </div>
                    <!-- Ressource d'aide -->
                    <div class="button-parent">
                        <button (click)="goToHelpAssetList()" class="help-center">
                            {{ 'GLOBAL.HELP_CENTER' | translate }}
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>
