page-pnc-home {

    .grid {
        height: 100%;
    }

    #nav-tile-grid {
        flex: 1;

        ion-col {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;

            .button-parent {
                width: 50%;
                padding: 20px;
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 2.8rem;
                    font-family: Excellence, OpenSans, Arial;
                    font-weight: bold;
                    padding: 5px 5px;
                    margin-bottom: 20px;

                }

                button {
                    display: flex;
                    flex-direction: column;
                    font-size: 3vmin;
                    width: 100%;
                    flex: 1;
                    border-radius: 10px;
                    white-space: normal;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: color($colors, white);
                    box-shadow: 0 5px 8px 0 rgba(37, 177, 190, 0.2);

                    ion-icon {
                        font-size: 3em;
                        color: color($colors, primary-light);
                    }

                    .icon-af-B-digital-presse {
                        font-size: 2.3em;
                        color: color($colors, primary-light);

                    }

                    .icon-af-C-metier-niv-pro {
                        font-size: 3em;
                        color: color($colors, primary-light);
                    }
                }

            }
        }
    }

}
