.page-container {
    height: 100%;

    #nav-tile-grid {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .button-parent {
            width: 33%;
            min-height: 50%;
            display: flex;
            padding: 20px;

            @media (max-width:800px) {
                width: 50%;
                min-height: 33%;
            }

            .button {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 10px;
                padding: 20px;
                background: var(--ion-color-white);
                box-shadow: 0 5px 8px 0 rgba(37, 177, 190, 0.2);

                .icon-container {
                    flex: 1;
                    display: flex;
                    align-items: flex-end;
                    margin: auto;

                    ion-icon {
                        @media (max-width: 800px) {
                            font-size: 4rem;
                        }

                        @media (min-width: 800px) {
                            font-size: 6rem;
                        }

                        color: var(--ion-color-primarylight);
                    }

                    .icon-af-C-metier-niv-pro {


                        @media (max-width: 800px) {
                            font-size: 4rem;
                            margin: 8px;
                        }

                        @media (min-width: 800px) {
                            font-size: 5rem;
                            margin: 0.5rem;

                        }

                        color: var(--ion-color-primarylight);
                    }

                    .edospnc-customer-review {

                        @media (max-width: 800px) {
                            margin: 8px;
                        }

                        @media (max-width: 800px) {}

                        @media (min-width: 800px) {
                            margin: 13px;
                        }


                        &:before {
                            color: var(--ion-color-primarylight);

                            @media (max-width: 800px) {
                                font-size: 43.2px;
                            }

                            @media (min-width: 800px) {
                                font-size: 60px;
                            }
                        }

                    }

                    .edospnc-writing {

                        @media (max-width: 800px) {
                            margin: 8px;
                        }

                        @media (min-width: 800px) {
                            margin: 10px;
                        }

                        &:before {
                            color: var(--ion-color-primarylight);

                            @media (max-width: 800px) {
                                font-size: 50px;
                            }

                            @media (min-width: 800px) {
                                font-size: 70px;
                            }
                        }
                    }
                }

                .title-container {
                    flex: 1;
                    margin: auto;
                    height: 50%;

                    h3 {
                        font-size: 2rem;
                        font-family: Excellence, OpenSans, Arial;
                        font-weight: bold;
                        text-align: center;

                        @media (max-width: 800px) {
                            margin: 8px 0px 0px 0px;
                        }

                        @media (min-width: 800px) {
                            margin: 10px 0px 0px 0px;
                        }

                    }
                }
            }
        }
    }
}
