page-pnc-home {

    .grid {
        height: 100%;
    }

    #nav-tile-grid {
        flex: 1;

        ion-col {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0;

            .button-parent {
                width: 50%;
                padding: 20px;
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 2.8rem;
                    font-family: Excellence, OpenSans, Arial;
                    font-weight: bold;
                    padding: 5px 5px;
                    margin-bottom: 20px;
                    border-bottom: 2px solid color($colors-secondary, grey75);

                    &:after {
                        content: ' ';
                        display: block;
                        position: relative;
                        left: -5px;
                        bottom: -11px;
                        width: 30px;
                        height: 6px;
                        background: color($colors, primary-dark);
                    }
                }

                button {
                    font-size: 3vmin;
                    width: 100%;
                    flex: 1;
                    border-radius: 10px;
                    white-space: normal;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: color($colors, white);

                    ion-icon {
                        font-size: 3em;
                        color: color($colors, primary-light);
                    }

                    .icon-af-B-digital-presse {
                        font-size: 2.3em;
                        color: color($colors, primary-light);

                    }

                    .icon-af-C-metier-niv-pro {
                        font-size: 3em;
                        color: color($colors, primary-light);
                    }
                }

            }
        }
    }

}
