<edospnc-expandable-block mini="true" [title]="getTitle()" [emptyCondition]="isEmpty()" *ngIf="eObservation">
    <div class="comment-container">
        <!-- Manager -->
        <ng-container *ngIf="isManagerComment(); else pncCommentBlock">
            <div class="redactor-comment-container">
                <!-- Points forts -->
                <div *ngIf="editMode || eObservation?.strongPoints" class="comment">
                    <label><span class="edospnc-speechBubble"></span>{{ 'EOBSERVATION.DETAIL.STRONG_POINTS' | translate }}</label>
                    <p *ngIf="!editMode; else editStrongPointsBlock">{{eObservation.strongPoints}}</p>
                    <ng-template #editStrongPointsBlock>
                        <ion-textarea [(ngModel)]="eObservation.strongPoints" autocorrect="on"></ion-textarea>
                    </ng-template>
                </div>
                <!-- Axes de travail -->
                <div *ngIf="editMode || eObservation?.workingAxes" class="comment">
                    <label><span class="edospnc-speechBubble"></span>{{ 'EOBSERVATION.DETAIL.WORKING_AXES' | translate }}</label>
                    <p *ngIf="!editMode; else editWorkingAxesBlock">{{eObservation.workingAxes}}</p>
                    <ng-template #editWorkingAxesBlock>
                        <ion-textarea [(ngModel)]="eObservation.workingAxes" autocorrect="on"></ion-textarea>
                    </ng-template>
                </div>
                <!-- Commentaire rédacteur -->
                <div *ngIf="editMode || eObservation.redactorComment" class="comment">
                    <label><span class="edospnc-speechBubble"></span>{{ 'EOBSERVATION.DETAIL.COMMENT' | translate }}</label>
                    <p *ngIf="!editMode; else editRedactorCommentBlock">{{eObservation.redactorComment}}</p>
                    <ng-template #editRedactorCommentBlock>
                        <ion-textarea [(ngModel)]="eObservation.redactorComment" autocorrect="on" maxlength="8000"></ion-textarea>
                    </ng-template>
                </div>
            </div>
        </ng-container>
        <!-- PNC -->
        <ng-template #pncCommentBlock>
            <div class="pnc-comment-container comment">
                <label><span class="edospnc-speechBubble"></span>{{ 'EOBSERVATION.DETAIL.COMMENT' | translate }}</label>
                <p *ngIf="!canEditPncComment && !editMode; else editPncCommentBlock">{{eObservation.pncComment}}</p>
                <ng-template #editPncCommentBlock>
                    <ion-textarea [(ngModel)]="eObservation.pncComment" autocorrect="on" maxlength="maxCommentLength"></ion-textarea>
                    <span class="comment-length">{{eObservation.pncComment.length}}/{{maxCommentLength}}</span>
                    <div class="button-bar button-bar-right margin-top" *ngIf="canEditPncComment">
                        <!-- Bouton valider commentaire pnc -->
                        <button ion-button color="green50" (click)="confirmValidatePncComment()" [disabled]="this.eObservation.pncComment === '' || this.eObservation.pncComment === 'undefined' || (this.eObservation.pncComment && this.eObservation.pncComment.length > maxCommentLength)">
                            <ion-icon name="md-checkmark" ios="md-checkmark" margin-right></ion-icon> {{ 'EOBSERVATION.BUTTONS.VALIDATE_PNC_COMMENT' | translate }}
                        </button>
                    </div>
                </ng-template>
            </div>
        </ng-template>
    </div>
    <div class="comment-footer">
        <span *ngIf="eObservation?.commentDate">{{eObservation?.commentDate | date: 'dd/MM/yyyy' : 'UTC'}}</span>
        <span>{{getAuthorSpeciality()}}</span>
        <span>{{getCommentAuthor()?.lastName}} <span class="firstname">{{getCommentAuthor()?.firstName}}</span></span>
    </div>
</edospnc-expandable-block>
