eobs-comment {

    .redactor-comment-container div:first-child {
        padding: 0px;
    }

    .redactor-comment-container,
    .pnc-comment-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .comment-container {

        box-shadow: 0px 0px 5px color($colors, grey70);
        background: color($colors, white);
        border-radius: 3px;

        label {
            display: flex;
            align-items: center;
            color: color($colors, grey12);
            font-size: 1.1em;

            span {
                color: color($colors, blue81);
                margin-right: 10px;
            }
        }

        div {
            padding-top: 15px;
        }

        .comment {

            label {
                margin-bottom: 10px;
            }

            p,
            ion-textarea {
                padding: 10px;
                border-radius: 3px;
                background: color($colors, grey95);
                border: 1px solid color($colors, grey70);
            }

            ion-textarea {
                min-height: 210px !important;
                padding: 0 !important;
                margin: 0 !important;

                textarea {
                    min-height: 190px !important;
                    padding: 5px !important;
                }
            }
        }

    }

    .comment-footer {
        height: 48px;
        background-color: color($colors, blue68);
        color: color($colors, white);
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }

}
