<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'CONGRATULATION_LETTERS.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
</ion-header>
<ion-content padding no-bounce>
    <nav class="tabs">
        <button (click)="displayReceivedLetters()" [ngClass]="{'active': isTabActive(CongratulationLetterModeEnum.RECEIVED)}">
            {{ 'CONGRATULATION_LETTERS.TABS.RECEIVED_LETTERS' | translate }}
        </button>
        <button (click)="displayWrittenLetters()" [ngClass]="{'active': isTabActive(CongratulationLetterModeEnum.WRITTEN)}">
            {{ 'CONGRATULATION_LETTERS.TABS.WRITTEN_LETTERS' | translate }}
        </button>
    </nav>

    <!-- Lettres reçues -->
    <congratulation-letter-list [hidden]="!isTabActive(CongratulationLetterModeEnum.RECEIVED)" [mode]="CongratulationLetterModeEnum.RECEIVED" [congratulationLetters]="receivedCongratulationLetters" [matricule]="matricule"></congratulation-letter-list>

    <!-- Lettres rédigées -->
    <congratulation-letter-list [hidden]="!isTabActive(CongratulationLetterModeEnum.WRITTEN)" [mode]="CongratulationLetterModeEnum.WRITTEN" [congratulationLetters]="writtenCongratulationLetters" [matricule]="matricule"></congratulation-letter-list>
</ion-content>
