<ion-header>
    <ion-navbar>
        <page-header [showSettingsIcon]="true" [pnc]="pnc">
            <span *ngIf="pnc"> {{ 'CONGRATULATION_LETTERS.TITLE' | isMyPage: pnc | translate }}</span>
        </page-header>
    </ion-navbar>
    <pnc-edossier-header [activeTab]="TabHeaderEnum.CONGRATULATION_LETTERS_PAGE"></pnc-edossier-header>
</ion-header>
<ion-content padding no-bounce>
    <nav class="tabs">
        <button (click)="displayReceivedLetters()" [ngClass]="{'active': isTabActive(CongratulationLetterModeEnum.RECEIVED)}">
            {{ 'CONGRATULATION_LETTERS.TABS.RECEIVED_LETTERS' | translate }}
        </button>
        <button (click)="displayWrittenLetters()" [ngClass]="{'active': isTabActive(CongratulationLetterModeEnum.WRITTEN)}">
            {{ 'CONGRATULATION_LETTERS.TABS.WRITTEN_LETTERS' | translate }}
        </button>
    </nav>

    <edossier-spinner *ngIf="!loadingIsOver(); else pageBlock"></edossier-spinner>
    <ng-template #pageBlock>
        <warning-text></warning-text>

        <div class="button-bar button-bar-right" *ngIf="canCreateLetter() && isTabActive(CongratulationLetterModeEnum.RECEIVED)">
            <button ion-button (click)="createNewLetter()" color="primary-light">
                <ion-icon name="md-add" ios="md-add"></ion-icon>{{ 'CONGRATULATION_LETTERS.BUTTONS.CREATE_NEW_LETTER' | translate }}
            </button>
        </div>

        <!-- Lettres reçues -->
        <congratulation-letter-list [hidden]="!isTabActive(CongratulationLetterModeEnum.RECEIVED)" [mode]="CongratulationLetterModeEnum.RECEIVED" [congratulationLetters]="receivedCongratulationLetters" [pnc]="pnc"></congratulation-letter-list>

        <!-- Lettres rédigées -->
        <congratulation-letter-list [hidden]="!isTabActive(CongratulationLetterModeEnum.WRITTEN)" [mode]="CongratulationLetterModeEnum.WRITTEN" [congratulationLetters]="writtenCongratulationLetters" [pnc]="pnc"></congratulation-letter-list>
    </ng-template>
</ion-content>
